{% load get_api %}
<div id="first">
    {% get_api_object as menu menutree menu 124 code %}
    {{menu}}
    <ul id='nav' class='sf-vertical'>
        <li class="last-featured"></li>
    </ul>
    <ul id='nav' class='sf-vertical'>
        {% if not user.is_anonymous %}
        <li><a href="/forms/accounts/logout/?next={{request.path}}">Logout</a></li>
        {% if user.is_superuser %}
        <li><a href="/forms/admin/">Administration</a></li>
        {% endif %}
        {% else %}
        <li><a href="/forms/accounts/login/?next={{request.path}}">Login</a></li>
        {% endif %}
    </ul>
</div>
