<div id="first">
    <ul id='nav' class='sf-vertical'>
        <li><a href="http://www.carthage.edu/character-quest/">Character Quest</a></li>
        <li><a href="http://www.carthage.edu/character-quest/purpose/">Purpose</a></li>
        <li><a href="http://www.carthage.edu/character-quest/requirements/">Program Requirements</a></li>
        <li><a href="http://www.carthage.edu/character-quest/application/">Apply Online</a></li>
        <li><a href="http://www.carthage.edu/character-quest/student-voices/">Student Voices</a></li>
        <li class="last-featured"><a href="http://www.carthage.edu/character-quest/contact/">Contact Us</a></li>
        {% if not user.is_anonymous %}
        <li><a href="/forms/accounts/logout/?next={{request.path}}">Logout</a></li>
        {% if user.is_superuser %}
        <li><a href="/forms/admin/">Administration</a></li>
        {% endif %}
        {% else %}
        <li><a href="/forms/accounts/login/?next={{request.path}}">Login</a></li>
        {% endif %}
    </ul>
</div>
