{% extends "base.html" %}
{% load get_api %}
{% block title %}Registration &mdash; Model United Nations &mdash; Political Science &mdash; Carthage College{% endblock %}
{% block columns %}<link href="http://www.carthage.edu/media/css/douglasfir/2_column.css" rel="stylesheet" type="text/css" />{% endblock %}
{% block extra_style %}
    <style type="text/css">
    #profile h2.fheader {background-color:#CCCCCC;border:1px solid #888888;color:#880000;padding:8px;}
    #second ol {margin:0;}
    #second li { margin: 0 0 0.5em 0;
}
    .criteria ul.bullets li{list-style:disc outside;margin-left:30px;}
    .criteria p {margin-bottom:20px;}
    #doop_master {display: none;}
    .criterion {width:250px;float:right;}
    .ctrlcx {width:36px;float:right;}
    #duplicates .wac-description {width:294px;height:150px;}
    div.growlUI { background: url(/media/img/ico/information.png) no-repeat 10px 10px; height:90px; }
    div.growlUI h1, div.growlUI h2 {
        font-size: 1.4em; color: white; padding: 5px 5px 5px 75px; text-align: left
    }
    .form input {width: 350px !important; }
    </style>
{% endblock %}
{% block left_nav %}
    {% include "polisci/mun/left_nav.html" %}
{% endblock %}
{% block content %}
{% get_api_object as header cms snippet 161 code %}
{{header}}
<div class="buffer">
    <h1>Registration Form</h1>
    <p class="help">Fields marked with <img src="http://www.carthage.edu/assets/img/ico/silk/icons/asterisk_orange.png" /> are required.</p>
    {% if form.errors %}
    <p class="error">There were errors with the data submitted, see below.</p>
    {% endif %}
    <form method="post" action="." class="form" id="profile">{% csrf_token %}
        <fieldset class="blockLabels">
            <ol>
                {% for field in form %}
                    <li class="ctrlHolder">
                    {% if field.name != "school_address2" %}
                    <h3{% if field.field.required %} class="required"{% endif %}>{{ field.label_tag }}</h3>
                    {% endif %}
                    {% if field.errors %}
                        <div class="warning">
                        <span class="error-message">{{ field.errors|join:", "}}</span>
                    {% else %}
                        <div>
                    {% endif %}
                    {% if field.help_text %}
                        <p class="help">{{field.help_text}}</p>
                    {% endif %}
                    {{field}}
                    </div>
                    </li>
                    {% if field.name == "number_of_stu" %}
                    <li class="ctrlHolder buffer-top">
                        {% get_api_object as ga_mem cms snippet 1409 code %}
                        {{ga_mem}}
                        <div id="delegation1" class="fleft">
                        <h5 style="text-align:center;">Delegation 1</h5>
                        <ol>
                        <li>{{c_form.d1c1}}</li>
                        <li>{{c_form.d1c2}}</li>
                        <li>{{c_form.d1c3}}</li>
                        <li>{{c_form.d1c4}}</li>
                        <li>{{c_form.d1c5}}</li>
                        </ol>
                        </div>
                        <div id="delegation2" class="fleft" style="margin-left:5px;">
                        <h5 style="text-align:center;">Delegation 2</h5>
                        <ol>
                        <li>{{c_form.d2c1}}</li>
                        <li>{{c_form.d2c2}}</li>
                        <li>{{c_form.d2c3}}</li>
                        <li>{{c_form.d2c4}}</li>
                        <li>{{c_form.d2c5}}</li>
                        </ol>
                        </div>
                        <div id="delegation3" class="fleft" style="margin-left:5px;">
                        <h5 style="text-align:center;">Delegation 3</h5>
                        <ol>
                        <li>{{c_form.d3c1}}</li>
                        <li>{{c_form.d3c2}}</li>
                        <li>{{c_form.d3c3}}</li>
                        <li>{{c_form.d3c4}}</li>
                        <li>{{c_form.d3c5}}</li>
                        </ol>
                        </div>
                        <div id="delegation4" class="fleft" style="margin-left:5px;">
                        <h5 style="text-align:center;">Delegation 4</h5>
                        <ol>
                        <li>{{c_form.d4c1}}</li>
                        <li>{{c_form.d4c2}}</li>
                        <li>{{c_form.d4c3}}</li>
                        <li>{{c_form.d4c4}}</li>
                        <li>{{c_form.d4c5}}</li>
                        </ol>
                        </div>
                        <div id="delegation5" class="fleft" style="margin-left:5px;">
                        <h5 style="text-align:center;">Delegation 5</h5>
                        <ol>
                        <li>{{c_form.d5c1}}</li>
                        <li>{{c_form.d5c2}}</li>
                        <li>{{c_form.d5c3}}</li>
                        <li>{{c_form.d5c4}}</li>
                        <li>{{c_form.d5c5}}</li>
                        </ol>
                        </div>
                        <p class="clear"><strong>NOTE</strong>: *Designates Security Council membership.</p>
                    </li>
                    {% endif %}
                {% endfor %}
            </ol>
        </fieldset>
        <fieldset class="blockLabels">
            <ol>
                <li>
                    {% get_api_object as ga_fees cms snippet 1410 code %}
                    {{ga_fees}}
                </li>
                <li class="btnHolder">
                    <label for="id_submit">&nbsp;&nbsp;</label>
                    <input type="submit" value="Submit" class="button" />
                </li>
                <li class="btnHolder">
                    <p>If you have further questions please contact:</p>
                    <blockquote>
                        <p><strong>Dr. Jeffrey L. Roberg<br>
                                   Carthage College<br>
                                   2001 Alford Park Drive<br>
                                   Kenosha, WI 53140</strong></p>
                        <p>Email: <a href="mailto:jroberg@carthage.edu">jroberg@carthage.edu</a></p>
                    </blockquote>
                </li>
            </ol>
        </fieldset>
    </form>
</div>
{% endblock %}
