{% extends "base.html" %}
{% block title %}LIS Interlibrary Loan {{type|capfirst}} Request{% endblock %}
{% block extra_javascript %}
    <script src="http://www.carthage.edu/assets/js/jquery/ui/ui.datepicker.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
        $("#id_exp_date").datepicker({firstDay:0,appendText:"(format mm/dd/yyyy)",changeFirstDay:false,dateFormat:"mm/dd/yy",showOn:"both",buttonImage: "http://www.carthage.edu/assets/img/ico/calendar.gif",buttonImageOnly:true});
        });
    </script>
{% endblock %}
{% block columns %}<link href="http://www.carthage.edu/media/css/douglasfir/3_column.css" rel="stylesheet" type="text/css" />{% endblock %}
{% block left_nav %}
    {% include "lis/left_nav.html" %}
{% endblock %}
{% block content %}
<div class="buffer">
    <h1>Interlibrary Loan {{type|capfirst}} Request</h1>
    {% ifequal type "eric" %}<p><strong>This form is only for Eric Documents (ED).  Use the <a href="/lis/ill/request/eric/">Article Request Form</a> when requesting ERIC Journals (EJ).</strong></p>{% endifequal %}
    <p>Have you checked the <a href="http://carthage.kohalibrary.com/">Carthage Library Catalog </a>or <a href="http://atoz.ebsco.com/home.asp?Id=carcole">EBSCO A-Z</a> before submitting your Interlibrary Loan request?</p>
    {% if form.errors %}
    <h2 style="color: red;">Please correct the error{{ form.errors|pluralize }} below.</h2>
    {% endif %}
    <form method="POST" action="." class="form" id="profile">{% csrf_token %}
        <input type="hidden" id="id_next" name="next" value="{{ redirect }}" />
        <fieldset class="blockLabels">
            <ol>
                {% for field in form %}
                    <li class="ctrlHolder">
                    <h3{% if field.field.required %} class="required"{% endif %}>{{ field.label_tag }}</h3>
                    {% if field.errors %}
                        <div class="warning">
                        <span class="error-message">{{ field.errors|join:", "}}</span>
                    {% else %}
                        <div>
                    {% endif %}
                    {% if field.help_text %}
                        <p class="help">{{field.help_text}}</p>
                    {% endif %}
                    {{field}}
                    </div>
                </li>
                {% endfor %}
                <li class="btnHolder">
                    <label for="id_submit">&nbsp;&nbsp;</label>
                    <input type="submit" value="Submit Request" class="button" />
                </li>
            </ol>
        </fieldset>
    </form>
</div>
{% endblock %}
{% block sidebar %}
    {% include "lis/side_bar.html" %}
{% endblock %}
