<h4>Model United Nations Registration</h4>
<pre style="font-size:1em;">
School...................... {{data.object.school_name}}
Advisor..................... {{data.object.first_name}} {{data.object.last_name}}
Address..................... {{data.object.address1}}
       ..................... {{data.object.address2}}
City........................ {{data.object.city}}
State....................... {{data.object.state}}
Postal Code................. {{data.object.postal_code}}
Office...................... {{data.object.office}}
Phone....................... {{data.object.phone}}
Number of delegations....... {{data.object.number_of_del}}
Number of students.......... {{data.object.number_of_stu}}
Email....................... {{data.object.email}}
Crisis simulation........... {{data.object.missle_crisis}}
</pre>

<h4>Delegation Countries</h4>

<h5>Delegation 1</h5>
<ol>
<li>{{data.dele.d1c1}}</li>
<li>{{data.dele.d1c2}}</li>
<li>{{data.dele.d1c3}}</li>
<li>{{data.dele.d1c4}}</li>
<li>{{data.dele.d1c5}}</li>
</ol>
<h5>Delegation 2</h5>
<ol>
<li>{{data.dele.d2c1}}</li>
<li>{{data.dele.d2c2}}</li>
<li>{{data.dele.d2c3}}</li>
<li>{{data.dele.d2c4}}</li>
<li>{{data.dele.d2c5}}</li>
</ol>
<h5>Delegation 3</h5>
<ol>
<li>{{data.dele.d3c1}}</li>
<li>{{data.dele.d3c2}}</li>
<li>{{data.dele.d3c3}}</li>
<li>{{data.dele.d3c4}}</li>
<li>{{data.dele.d3c5}}</li>
</ol>
<h5>Delegation 4</h5>
<ol>
<li>{{data.dele.d4c1}}</li>
<li>{{data.dele.d4c2}}</li>
<li>{{data.dele.d4c3}}</li>
<li>{{data.dele.d4c4}}</li>
<li>{{data.dele.d4c5}}</li>
</ol>
<h5>Delegation 5</h5>
<ol>
<li>{{data.dele.d5c1}}</li>
<li>{{data.dele.d5c2}}</li>
<li>{{data.dele.d5c3}}</li>
<li>{{data.dele.d5c4}}</li>
<li>{{data.dele.d5c5}}</li>
</ol>
<h4>Comments</h4>
{{data.object.comments}}

