{% extends "polisci/base.html" %}
{% load livewhale_api %}
{% block title %}
    Registration &mdash;
    Model United Nations &mdash;
    Political Science &mdash;
    Carthage College
{% endblock %}
{% block extra_style %}
{{block.super}}
<style>
.form .delegation select {
    width: 130px;
    margin-bottom:5px;
}
.delegation {margin-left:5px;margin-bottom:10px;}
#id_cont-number_of_del,
#id_cont-number_of_stu {width:70px;}
</style>
{% endblock %}
{% block group_name %}Model United Nations{% endblock %}
{% block content_head %}
<h1>Registration Form</h1>
{% endblock %}
{% block page_sidebar %}{% endblock %}
{% block content %}
<div class="d-flex justify-content-center">
  <div class="forms-container">
    {% include "includes/required_text.html" %}
    {% include "includes/errors_text.html" %}
    <form method="post" action="." class="form">
        {% csrf_token %}
        <fieldset class="blockLabels">
            <ol>
                {% for field in form_cont %}
                    {% include "form_field.inc.html" %}
                    {% if field.name == "number_of_stu" %}
                    <li class="ctrlHolder delegation">
                        {% get_lw_content as ga_mem blurbs 1788 %}
                        {{ga_mem.body|safe}}
                        <div id="delegation1" class="fleft">
                        <h4 style="text-align:center;">Delegation 1</h4>
                        <ol>
                        <li>{{form_pais.d1c1|safe}}</li>
                        <li>{{form_pais.d1c2|safe}}</li>
                        <li>{{form_pais.d1c3|safe}}</li>
                        <li>{{form_pais.d1c4|safe}}</li>
                        <li>{{form_pais.d1c5|safe}}</li>
                        </ol>
                        </div>
                        <div id="delegation2" class="fleft" style="margin-left:5px;">
                        <h4 style="text-align:center;">Delegation 2</h4>
                        <ol>
                        <li>{{form_pais.d2c1|safe}}</li>
                        <li>{{form_pais.d2c2|safe}}</li>
                        <li>{{form_pais.d2c3|safe}}</li>
                        <li>{{form_pais.d2c4|safe}}</li>
                        <li>{{form_pais.d2c5|safe}}</li>
                        </ol>
                        </div>
                        <div id="delegation3" class="fleft" style="margin-left:5px;">
                        <h4 style="text-align:center;">Delegation 3</h4>
                        <ol>
                        <li>{{form_pais.d3c1|safe}}</li>
                        <li>{{form_pais.d3c2|safe}}</li>
                        <li>{{form_pais.d3c3|safe}}</li>
                        <li>{{form_pais.d3c4|safe}}</li>
                        <li>{{form_pais.d3c5|safe}}</li>
                        </ol>
                        </div>
                        <div id="delegation4" class="fleft" style="margin-left:5px;">
                        <h4 style="text-align:center;">Delegation 4</h4>
                        <ol>
                        <li>{{form_pais.d4c1|safe}}</li>
                        <li>{{form_pais.d4c2|safe}}</li>
                        <li>{{form_pais.d4c3|safe}}</li>
                        <li>{{form_pais.d4c4|safe}}</li>
                        <li>{{form_pais.d4c5|safe}}</li>
                        </ol>
                        </div>
                        <div id="delegation5" class="fleft" style="margin-left:5px;">
                        <h4 style="text-align:center;">Delegation 5</h4>
                        <ol>
                        <li>{{form_pais.d5c1|safe}}</li>
                        <li>{{form_pais.d5c2|safe}}</li>
                        <li>{{form_pais.d5c3|safe}}</li>
                        <li>{{form_pais.d5c4|safe}}</li>
                        <li>{{form_pais.d5c5|safe}}</li>
                        </ol>
                        </div>
                    </li>
                    {% endif %}
                {% endfor %}
            </ol>
        </fieldset>
        <fieldset class="blockLabels">
            <ol>
                <li>
                    {% get_lw_content as ga_fees blurbs 1789 %}
                    {{ga_fees.body|safe}}
                </li>
            </ol>
        </fieldset>
        {% include "form_submit.inc.html" %}
        <fieldset class="blockLabels">
            <ol>
                <li>
                    {% get_lw_content as contact blurbs 1787 %}
                    {{contact.body|safe}}
                </li>
            </ol>
        </fieldset>
    </form>
  </div>
</div>
{% endblock %}
