{% extends "base.html" %}
{% load livewhale_api %}
{% block title %}
    Registration &mdash;
    Model United Nations &mdash;
    Political Science &mdash;
    Carthage College
{% endblock %}
{% block left_nav %}
    {% include "polisci/mun/left_nav.html" %}
{% endblock %}
{% block content_head %}
    <h1 id="page_title">
        Registration Form
        <span id="secondary-dropdown"></span>
    </h1>
{% endblock %}
{% block content %}
<div class="forms-container">
    {% include "includes/required_text.html" %}
    {% include "includes/errors_text.html" %}
    <form method="post" action="." class="form">
        {% csrf_token %}
        <fieldset class="blockLabels">
            <ol>
                {% for field in form %}
                    {% include "form_field.inc.html" %}
                    {% if field.name == "number_of_stu" %}
                    <li class="ctrlHolder buffer-top">
                        {% get_lw_content as ga_mem blurbs 1788 %}
                        {{ga_mem.body}}
                        <div id="delegation1" class="fleft">
                        <h4 style="text-align:center;">Delegation 1</h4>
                        <ol>
                        <li>{{c_form.d1c1}}</li>
                        <li>{{c_form.d1c2}}</li>
                        <li>{{c_form.d1c3}}</li>
                        <li>{{c_form.d1c4}}</li>
                        <li>{{c_form.d1c5}}</li>
                        </ol>
                        </div>
                        <div id="delegation2" class="fleft" style="margin-left:5px;">
                        <h4 style="text-align:center;">Delegation 2</h4>
                        <ol>
                        <li>{{c_form.d2c1}}</li>
                        <li>{{c_form.d2c2}}</li>
                        <li>{{c_form.d2c3}}</li>
                        <li>{{c_form.d2c4}}</li>
                        <li>{{c_form.d2c5}}</li>
                        </ol>
                        </div>
                        <div id="delegation3" class="fleft" style="margin-left:5px;">
                        <h4 style="text-align:center;">Delegation 3</h4>
                        <ol>
                        <li>{{c_form.d3c1}}</li>
                        <li>{{c_form.d3c2}}</li>
                        <li>{{c_form.d3c3}}</li>
                        <li>{{c_form.d3c4}}</li>
                        <li>{{c_form.d3c5}}</li>
                        </ol>
                        </div>
                        <div id="delegation4" class="fleft" style="margin-left:5px;">
                        <h4 style="text-align:center;">Delegation 4</h4>
                        <ol>
                        <li>{{c_form.d4c1}}</li>
                        <li>{{c_form.d4c2}}</li>
                        <li>{{c_form.d4c3}}</li>
                        <li>{{c_form.d4c4}}</li>
                        <li>{{c_form.d4c5}}</li>
                        </ol>
                        </div>
                        <div id="delegation5" class="fleft" style="margin-left:5px;">
                        <h4 style="text-align:center;">Delegation 5</h4>
                        <ol>
                        <li>{{c_form.d5c1}}</li>
                        <li>{{c_form.d5c2}}</li>
                        <li>{{c_form.d5c3}}</li>
                        <li>{{c_form.d5c4}}</li>
                        <li>{{c_form.d5c5}}</li>
                        </ol>
                        </div>
                        <div class="cf">
                        {% get_lw_content as mun_note blurbs 1787 %}
                        {{mun_note.body}}
                        </div>
                    </li>
                    {% endif %}
                {% endfor %}
            </ol>
        </fieldset>
        <fieldset class="blockLabels">
            <ol>
                <li>
                    {% get_lw_content as ga_fees blurbs 1789 %}
                    {{ga_fees.body}}
                </li>
            </ol>
        </fieldset>
        {% include "form_submit.inc.html" %}
        <fieldset class="blockLabels">
            <ol>
                <li class="btnHolder">
                    <p>If you have further questions please contact:</p>
                    <blockquote>
                        <p><strong>Dr. Jeffrey L. Roberg<br>
                                   Carthage College<br>
                                   2001 Alford Park Drive<br>
                                   Kenosha, WI 53140</strong></p>
                        <p>Email: <a href="mailto:jroberg@carthage.edu">jroberg@carthage.edu</a></p>
                    </blockquote>
                </li>
            </ol>
        </fieldset>
    </form>
</div>
{% endblock %}
