{% extends "base.html" %}
{% block title %}
    Schedule an admissions and scholarship interview in China &mdash;
    Admissions &mdash; Carthage College
{% endblock %}
{% block left_nav %}
    {% include "admissions/left_nav.html" %}
{% endblock %}
{% block sidebar %}
    {% include "admissions/side_bar.html" %}
    {{block.super}}
{% endblock %}
{% block content_head %}
    <h1 id="page_title">
        Schedule an admissions and scholarship interview in China
        <span id="secondary-dropdown"></span>
    </h1>
{% endblock %}
{% block content %}
<div class="forms-container">
    {% include "includes/generic_form.html" %}
</div>
{% endblock %}
