{% extends "base.html" %}
{% load get_api %}
{% block title %} China Interest &mdash; Admissions &mdash; Carthage College{% endblock %}
{% block columns %}<link href="http://www.carthage.edu/media/css/douglasfir/3_column.css" rel="stylesheet" type="text/css" />{% endblock %}
{% block left_nav %}
    {% include "admissions/left_nav.html" %}
{% endblock %}
{% block content %}
{% get_api_object as header cms snippet 342 code %}
{{header}}
{% get_api_object as title cms snippet 1153 code %}
{{title}}
<div class="buffer">
    <h1>Success</h1>
    <p>Thank you for your interest in Carthage. We will respond to your inquiry within 5-7 days.</p>
    <p>You will receive an email confirmation presently.</p>
</div>
{% endblock %}
{% block sidebar %}
    {% include "admissions/side_bar.html" %}
{% endblock %}

