<h2>Student Information for Study Abroad</h2>
<pre style="font-size:1.5em;">
Name........................ {{data.user.first_name}} {{data.user.last_name}}
Email....................... {{data.user.email}}
Phone....................... {{data.phone}}
Campus box.................. {{data.campus_box}}
Majors...................... {{data.majors}}
Minors...................... {{data.minors}}
Parent name................. {{data.parent_name}}
Parent phone................ {{data.parent_phone}}
</pre>
<h3>Parent address</h3>
<pre style="font-size:1.5em;">
{{data.parent_address}}

Health Insurance............ {{data.health_insurance}}
Preferred language.......... {{data.preferred_language}}
Recent language course...... {{data.recent_course}}
</pre>
<h3>Country (or countries) under consideration</h3>
<p>
    {{data.desired_country}}
</p>
<h3>University/School Program abroad</h3>
<p>
    {{data.school_program}}
</p>
<h3>Field of study while abroad</h3>
<p>
    {{data.abroad_field}}
</p>
<pre style="font-size:1.5em;">
Target year/term............ {{data.abroad_year}}
Current year in college..... {{data.current_year}}
Previous travel abroad...... {{data.previous_travel}}
If yes, where?.............. {{data.traveled_places}}
Has current passport?....... {{data.passport}}
Expiration date............. {{data.passport_expiration}}
Housing preferred........... {{data.housing}}
</pre>
