{% extends "base.html" %}
{% block title %}Student Information Form for Study Abroad{% endblock %}
{% block left_nav %}
  {% include "languages/studyabroad/left_nav.html" %}
{% endblock %}
{% block content_head %}
  <h1>Student Information Form for Study Abroad</h1>
{% endblock %}
{% block breadcrumb %}
  <li><a href="/academics/">Academics</a></li>
  <li><a href="/academics/study-abroad/" aria-current="page">Study Abroad</a></li>
{% endblock %}
{% block content %}
<div class="forms-container">
  {% include "includes/generic_form.html" %}
</div>
{% endblock %}
