{% extends "base.html" %}
{% block title %}Student Information Form for Study Abroad{% endblock %}
{% block columns %}<link href="http://www.carthage.edu/media/css/douglasfir/2_column.css" rel="stylesheet" type="text/css" />{% endblock %}
{% block extra_style %}
<link href="http://www.carthage.edu/assets/css/jquery/ui/ui.core.css" rel="stylesheet" type="text/css" />
<link href="http://www.carthage.edu/assets/css/jquery/ui/ui.theme.css" rel="stylesheet" type="text/css" />
<style>
#profile textarea {
    width:600px;
    height:125px;
}
</style>
{% endblock %}
{% block left_nav %}
    {% include "languages/studyabroad/left_nav.html" %}
{% endblock %}
{% block content %}
<div class="buffer">
    <h1>Student Information Form for Study Abroad</h1>
    {% include "includes/generic_form.html" %}
</div>
{% endblock %}
