{% extends "base.html" %}
{% block title %}Parking Violation Appeal Request Form{% endblock %}
{% block columns %}<link href="http://www.carthage.edu/media/css/douglasfir/2_column.css" rel="stylesheet" type="text/css" />{% endblock %}
{% block extra_style %}
<style type="text/css">
    #bulletList li
    {
      list-style-type:circle;
      font-size:1.25em;
    }
</style>
{% endblock %}
{% block left_nav %}
    {% include "security/left_nav.html" %}
{% endblock %}
{% block content %}
<div class="buffer">
    <h1>Parking Violation Appeal Request Form</h1>
    <h3><b>Before appealing your citation, bear in mind the following:</b></h3>
    <ul id="bulletList">
        <li>When you became a student, or accepted a position with Carthage College, you agreed to abide by the rules and regulations of the College.  The policies on motor vehicle registration and use are a part of these regulations.
        <li>Permit holders are not guaranteed a space nearest classes, residence halls or place of work.</li>
        <li>If an emergency or other extenuating circumstance is being used as an excuse, documented proof must be forwarded to the Security Director as part of your appeal.</li>
        <li>Not knowing the regulations is not a valid excuse.</li>
        <li>Your past parking record will be a factor in the decision process.</li>
    </ul>
    <form method="POST" action="." class="form">{% csrf_token %}
        <input type="hidden" id="id_next" name="next" value="{{ redirect }}" />
        <fieldset class="blockLabels">
            <ol>
                {% for field in form %}
                    {% include "form_field.inc.html" %}
                {% endfor %}
                {% if not request.user.get_profile.phone %}
                <li class="ctrlHolder">
                <h3>{{profile_form.phone.label_tag}}</h3>
                {% if profile_form.phone.errors %}
                <div class="warning">
                <span class="error-message">{{ profile_form.phone.errors|join:", "}}</span>
                {% else %}
                <div>
                {% endif %}
                {{profile_form.phone}}
                {% if profile_form.phone.help_text %}
                <p class="help">{{profile_form.phone.help_text}}</p>
                {% endif %}
                </div>
                </li>
                {% else %}
                <li><input type="hidden" name="profile-phone" value="{{request.user.get_profile.phone}}" /></li>
                {% endif %}
                <li class="btnHolder">
                <label for="id_submit">&nbsp;&nbsp;</label>
                <input type="submit" value="Submit Request" class="button" />
                </li>
            </ol>
        </fieldset>
    </form>
</div>
{% endblock %}
