<!DOCTYPE html>
<html class="yui3-js-enabled js flexbox canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop no-websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms no-csstransforms3d csstransitions fontface video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths" xmlns:og="http://opengraphprotocol.org/schema/" itemtype="http://schema.org/Article" lang="en-US">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta property="og:site_name" content="Forecasting Next Generation Libraries">
    <meta property="og:title" content="Registration">
    <meta itemprop="name" content="Registration">
    <meta property="og:type" content="article">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <link href="https://www.carthage.edu/static/vendor/bootstrap/current/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://www.carthage.edu/static/vendor/squarspace/css/css.css">
    <!--[if gte IE 9]> <!-- --> <link rel="stylesheet" type="text/css" href="https://www.carthage.edu/static/vendor/squarspace/css/site.css"><!-- <![endif]-->
    <!--[if lt IE 9]><script src="https://static.squarespace.com/universal/scripts-thirdparty/html5/html5-shiv.js"></script><link rel="stylesheet" type="text/css" href="https://www.carthage.edu/static/vendor/squarspace/css/site.css?tid=500589fc84aed5ec11c2b672&r=294&t=1364334491038&noMedia=true"/><![endif]-->
    <script src="https://www.carthage.edu/static/vendor/squarspace/js/shrink.js"></script>
    <script type="text/javascript" src="https://www.carthage.edu/static/vendor/squarspace/js/site.js"></script>
    <script type="text/javascript">
        $(function() {
            // disable submit button after users clicks it
            $('form#profile').submit(function(){
                $(this).children('input[type=submit]').attr('disabled', 'disabled');
            });
            // click to reveal guest fields
            {% if not guest %}
            $("#guest-toggle").hide();
            {% endif %}
            $('#id_attender-guest').bind("change", function() {
                $('#guest-toggle').toggle();
            });
        });
    </script>
    {% block extra_javascript %}{% endblock %}
    <!-- OJO: move to ecommerce.css file except for squarespace specific styles -->
    <style type="text/css">
    /* bootstrap overrides */
    .form-horizontal .controls {margin-left: 220px;}
    .form-horizontal .control-group {margin-bottom: 7px;}
    .form-horizontal ul { list-style: none outside none; margin:-1px; }
    .form-horizontal ul li label { padding-right:20px; }
    .help-block {width:380px;}
    .form-horizontal input {padding:5px; font-size:1.3em;}
    /* squarespace overrides */
    #wrapper {padding: 40px 45px;}
    /* misc */
    .form-horizontal .required, span.required { background-color:#ffc; border: 2px solid #F0DDDD; }
    input[type="radio"]{outline:2px solid #FFC;background-color:#FFC;margin-right:9px;}
    label { font-size: 1.24em; color:#696969; float: left; padding-top: 5px; text-align: right; width: 200px; }
    ul label { width: auto; }
    fieldset {width:100%;}
    #security {color:#000099;padding:5px;float:right;}
    input:invalid, textarea:invalid {background-color: #FFC;}
    /* Success, error & notice boxes for messages and errors. */
    .warning, .notice, .success {padding: .3em; margin-bottom: 1em; border: 2px solid #ddd;}
    .warning {background: #FBE3E4; color: #8a1f11; border-color: #FBC2C4;}
    .notice {background: #FFF6BF; color: #514721; border-color: #FFD324;}
    .success {background: #E6EFC2; color: #264409; border-color: #C6D880;}
    </style>
    {% block extra_style %}{% endblock %}
</head>
<body{% block body_tag %}{% endblock %}>
    <div id="mobileNav">
        <div class="wrapper">
            <div id="topNav">
                <nav class="main-nav mobile-nav">
                    <ul>
                        <li class="page-collection"><a href="http://nextgenlibraries.org/">Home</a></li>
                        <li class="page-collection"><a href="http://nextgenlibraries.org/presenters/">Student panel</a></li>
                        <li class="page-collection"><a href="http://nextgenlibraries.org/higher-education/">Higher Education</a></li>
                        <li class="page-collection"><a href="http://nextgenlibraries.org/libraries/">Libraries</a></li>
                        <li class="page-collection"><a href="http://nextgenlibraries.org/technology/">Technology</a></li>
                        <li class="page-collection"><a href="http://nextgenlibraries.org/publishers/">Publishers</a></li>
                        <li class="page-collection"><a href="http://nextgenlibraries.org/calendar/">Calendar</a></li>
                        <li class="page-collection active-link"><a href="http://nextgenlibraries.org/registration/">Registration</a></li>
                        <li class="page-collection"><a href="http://nextgenlibraries.org/exhibit/">Virtual Exhibit Hall</a></li>
                        <li class="page-collection"><a href="http://nextgenlibraries.org/about/">About</a></li>
                        <li class="page-collection"><a href="http://nextgenlibraries.org/sponsors/">Sponsors</a></li>
                        <li class="page-collection"><a href="http://nextgenlibraries.org/sponsor/">Become a Sponsor</a></li>
                        <li class="page-collection"><a href="http://nextgenlibraries.org/partners/">Partners</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div id="bannerImage" class="default-background"></div>  
    <header id="header">
        <div id="topNav">
            <nav class="main-nav dropdown-hover desktop-nav">
                <ul>
                    <li class="page-collection" id="513f4dc0e4b022a7a499be43"><a href="http://nextgenlibraries.org/">Home</a></li>
                    <li class="folder-collection folder" id="515053dde4b04c6ad18880de"><a href="http://nextgenlibraries.org/speakers/">Speakers</a>
                        <div class="notch"></div>
                        <div style="margin-left: -91.5px;" class="subnav">
                            <ul>
                                <li class="page-collection">
                                <a href="http://nextgenlibraries.org/presenters/">Student panel</a>
                                </li>
                                <li class="page-collection">
                                <a href="http://nextgenlibraries.org/higher-education/">Higher Education</a>
                                </li>
                                <li class="page-collection">
                                <a href="http://nextgenlibraries.org/libraries/">Libraries</a>
                                </li>
                                <li class="page-collection">
                                <a href="http://nextgenlibraries.org/technology/">Technology</a>
                                </li>
                                <li class="page-collection">
                                <a href="http://nextgenlibraries.org/publishers/">Publishers</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="page-collection" id="514b25cce4b0199d10414abb"><a href="http://nextgenlibraries.org/calendar/">Calendar</a></li>
                    <li class="page-collection active-link" id="514b2cd8e4b06fc64d309f43"><a href="http://nextgenlibraries.org/registration/">Registration</a></li>
                    <li class="page-collection" id="5150b7e2e4b0e340ec52a747"><a href="http://nextgenlibraries.org/exhibit/">Virtual Exhibit Hall</a></li>
                    <li class="page-collection" id="513f4dc0e4b022a7a499be49"><a href="http://nextgenlibraries.org/about/">About</a></li>
                    <li class="folder-collection folder" id="5151c1a0e4b0b4f3e8fe97aa">
                        <a href="http://nextgenlibraries.org/new-folder-1/">Sponsors</a>
                        <div class="notch"></div>
                        <div style="margin-left: -94px;" class="subnav">
                            <ul>
                                <li class="page-collection">
                                <a href="http://nextgenlibraries.org/sponsors/">Sponsors</a>
                                </li>
                                <li class="page-collection"><a href="http://nextgenlibraries.org/sponsor/">Become a Sponsor</a></li>
                                <li class="page-collection"><a href="http://nextgenlibraries.org/partners/">Partners</a></li>
                            </ul>
                        </div>
                    </li>
                    <li id="mobileMenuLink"><a>Menu</a></li>
                </ul>
            </nav>
        </div>
        <div id="logo" data-content-field="site-title">
            <div class="wrapper">
                <h1 data-shrink-original-size="36" data-shrink-original-spacing="8" class="logo"><a href="http://nextgenlibraries.org/">Forecasting Next Generation Libraries</a></h1>
                <div class="logo-subtitle">A Virtual Course-ference July - August 2013</div>
            </div>
        </div>
    </header>
    <div id="canvas"><div id="wrapper">
        <section id="page" role="main">
        <header class="page-title"><h1>{% block page_title %}{% endblock %}</h1></header>
        {% block content %}{% endblock %}
        </section>
    </div>
    <div class="page-divider"></div>
    <footer id="footer"></footer>
</body></html>
