<dl {{dl_detail}}>
    {% if data.your_name %}
    <dt {{dl_dt}}>Your name:</dt>
    <dd {{dl_dd}}>{{ data.your_name }}</dd>
    {% endif %}
    <dt {{dl_dt}}>Student name:</dt>
    <dd {{dl_dd}}>{{ data.student_name }}</dd>
    <dt {{dl_dt}}>Hometown:</dt>
    <dd {{dl_dd}}>{{ data.hometown }}</dd>
</dl>
<br>
<h3>How has {{data.student_name}} changed since their freshman year?</h3>
<div>{{ data.how_changed }}</div>
<br>
<h3>Comments</h3>
<div>{{ data.comments }}</div>
{% if data.photos %}
    <br>
    <h3>Photos</h3>
    {% for photo in data.photos.all %}
        <p>
            <a rel="popupfoto" class="popupfoto"
                href="https://{{server_url}}{{photo.original.url}}">
                <img src="{{ photo.thumbnail.url }}"
                    alt="{{ photo.title }}" />
            </a>
        </p>
        <p>{{ photo.caption }}</p>
    {% endfor %}
{% endif %}
