{% extends "giving/campaigns/giving-day/donation_form.html" %}
{% block content_head %}
    <h1 id="page_title">
        {{campaign.title}}
    </h1>
{% endblock %}
{% block designation %}
<li class="ctrlHolder">
    <h3><label for="id_or-comments">Designation</label></h3>
    {% if or_form.comments.errors %}
    <div class="required warning">
      <span class="error-message">
        {{ or_form.comments.errors|join:", "}}
      </span>
    {% else %}
    <div class="required">
    {% endif %}
      <select name="or-comments">
        <option value="">----Select----</option>
        <option value="Accounting and Finance"{% if or_form.comments.value == 'Accounting and Finance' %} selected{% endif %}>
          Accounting and Finance
        </option>
        <option value="Allied Health Science and Athletic Training"{% if or_form.comments.value == 'Allied Health Science and Athletic Training' %} selected{% endif %}>
          Allied Health Science and Athletic Training
        </option>
        <option value="Education Program"{% if or_form.comments.value == 'Education Program' %} selected{% endif %}>
          Education Program
        </option>
        <option value="Exercise and Sport Science"{% if or_form.comments.value == 'Exercise and Sport Science' %} selected{% endif %}>
          Exercise and Sport Science
        </option>
        <option value="Management and Marketing"{% if or_form.comments.value == 'Management and Marketing' %} selected{% endif %}>
          Management and Marketing
        </option>
        <option value="Master of Science in Business"{% if or_form.comments.value == 'Master of Science in Business' %} selected{% endif %}>
          Master of Science in Business
        </option>
        <option value="Nursing Program"{% if or_form.comments.value == 'Nursing Program' %} selected{% endif %}>
          Nursing Program
        </option>
        <option value="Marketing"{% if or_form.comments.value == 'Marketing' %} selected{% endif %}>
          Marketing
        </option>
        <option value="Social Work"{% if or_form.comments.value == 'Social Work' %} selected{% endif %}>
          Social Work
        </option>
        <option value="Other"{% if or_form.comments.value == 'Other' %} selected{% endif %}>
          Other
        </option>
      </select>
      <p class="help">
        Please choose a designation.
      </p>
    </div>
    <div id="designation-other" style="display:none;">
      <h3><label for="id_or-comments_other">Other designation</label></h3>
      {% if or_form.comments_other.errors %}
      <div class="required warning">
        <span class="error-message">
          {{ or_form.comments_other.errors|join:", "}}
        </span>
      {% else %}
      <div class="required">
      {% endif %}
        <input type="text" name="or-comments_other" maxlength="254" id="id_or-comments_other" value="{{or_form.comments_other.value|default:''}}">
      </div>
      <p class="help">
        If you have choosen "Other" for designation, please include the name of the scholarship fund.
      </p>
    </div>
</li>
{% endblock %}
