{% extends "base.html" %}
{% block title %}
    Green Pledge &mdash;
    Sustainability &mdash;
    Carthage College
{% endblock %}
{% block columns %}
<link href="//www.carthage.edu/media/css/douglasfir/3_column.css"
    rel="stylesheet" type="text/css" />
{% endblock %}
{% block left_nav %}
    {% include "sustainability/left_nav.html" %}
{% endblock %}
{% block content %}
<div class="buffer">
<h1>Success</h1>
<p>Thank you for your pledge. We appreciate your support.</p>
<p>
    <a href="{% url 'pledge_archives' %}">
        View the list of those in the Carthage
        community who have also taken the pledge
    </a>.
</p>
</div>
{% endblock %}
{% block sidebar %}
    {% include "sustainability/side_bar.html" %}
{% endblock %}
