<h4>Contact Info</h4><pre style="font-size:.9em;">
First Name.................. {{event.user.first_name}}
Last Name................... {{event.user.last_name}}
Email....................... {{event.user.email}}
Extension................... {{event.extension}}
</pre><h4>Event Info</h4><pre style="font-size:.9em;">
Name........................ {{event.event_name}}
Date........................ {{event.event_date|date:"l"}}, {{event.event_date}}
Start at.................... {{event.event_start}}
End at...................... {{event.event_end}}
Building.................... {{event.building}}
Room number/location........ {{event.room_number}}
Sponsoring department....... {{event.department}}
Coordinator................. {{event.coordinator}}
Purpose of event............ {{event.purpose}}
Dept. Acct. #............... {{event.account_number}}
Open to..................... {% for item in event.open_to.all %}{{item}}{% if not forloop.last %}, {% endif %}{% endfor %}
Facility attendance......... {{event.facility_att}}
Housing attendance.......... {{event.housing_att}}
</pre><h4>Room Set Up</h4><pre style="font-size:.9em;">
Room set-up................. {% for item in event.room_set_up.all %}{{item}}{% if not forloop.last %}, {% endif %}{% endfor %}
Room set-up other........... {% if event.room_set_other %}<a href="http://www.carthage.edu/assets/{{event.room_set_other}}">Download file</a>{% endif %}
Round tables................ {{event.rounds}}
8 foot rectangle tables..... {{event.eight_rect}}
6 foot rectangle tables..... {{event.six_rect}}
Table cloth................. {{event.table_cloth}}
Breakout tables............. {{event.breakout}}
Registration tables......... {{event.registration}}
Table skirting.............. {{event.skirting}}
Head tables................. {{event.head}}
Other tables................ {{event.other_table}}
</pre><h4>Dining Requirements</h4><pre style="font-size:.9em;">
Dining attendance........... {{event.dining_att}}
Service start time.......... {{event.service_start}}
Service end time............ {{event.service_end}}
Program start time.......... {{event.program_start}}
Program end time............ {{event.program_end}}
Meal service................ {{event.meal_service}}
Menu description............ {{event.menu_desc}}
Other requirements.......... {{event.other_reqs}}
</pre><h4>Equipment</h4><pre style="font-size:.9em;">
Slide projector............. {{event.slide}}
Data projector.............. {{event.data_proj}}
Overhead projector.......... {{event.overhead}}
TV/DVD...................... {{event.tv_dvd}}
Cordless mic................ {{event.cordless_mic}}
Fixed mic................... {{event.fixed_mic}}
Flip chart.................. {{event.flip_chart}}
Coat rack................... {{event.coat_rack}}
Chalkboard.................. {{event.chalkboard}}
Laptop...................... {{event.laptop}}
Podium (table top).......... {{event.table_podium}}
Podium (free standing)...... {{event.free_podium}}
Portable screen............. {{event.screen}}
Other....................... {{event.other_equip}}
</pre>
