{% extends "catering/event_base.html" %}
{% block extra_javascript %}
<script type="text/javascript">
$(function() {
    $('#print-link h2').prepend('<a href="#print">Print</a>');
    $('#print-link h2 a').click(function() {
        window.print();
        return false;
    });
});
</script>
{% endblock %}
{% block content_head %}
    <h1 id="page_title">
        Catering Event Request Detail
    </h1>
{% endblock %}
{% block content %}
<div class="buffer">
    <div id="print-link"><h2></h2></div>
    {% include "catering/event_email.html" %}
</div>
{% endblock %}
