<h4>Contact Info</h4><pre style="font-size:.9em;">
First Name.................. {{data.event.user.first_name}}
Last Name................... {{data.event.user.last_name}}
Email....................... {{data.event.user.email}}
Extension................... {{data.event.extension}}
</pre><h4>Event Info</h4><pre style="font-size:.9em;">
Name........................ {{data.event.event_name}}
Date........................ {{data.event.event_date|date:"l"}}, {{data.event.event_date}}
Start at.................... {{data.event.event_start}}
End at...................... {{data.event.event_end}}
Building.................... {{data.event.building}}
Room number/location........ {{data.event.room_number}}
Sponsoring department....... {{data.event.department}}
Coordinator................. {{data.event.coordinator}}
Purpose of event............ {{data.event.purpose}}
Dept. Acct. #............... {{data.event.account_number}}
Open to..................... {% for item in data.event.open_to.all %}{{item}}{% if not forloop.last %}, {% endif %}{% endfor %}
Facility attendance......... {{data.event.facility_att}}
Housing attendance.......... {{data.event.housing_att}}
</pre><h4>Room Set Up</h4><pre style="font-size:.9em;">
Room set-up................. {% for item in data.event.room_set_up.all %}{{item}}{% if not forloop.last %}, {% endif %}{% endfor %}
Room set-up other........... {% if data.event.room_set_other %}<a href="https://{{server_url}}/assets/{{data.event.room_set_other}}">Download file</a>{% endif %}
Round tables................ {{data.event.rounds}}
8 foot rectangle tables..... {{data.event.eight_rect}}
6 foot rectangle tables..... {{data.event.six_rect}}
Table cloth................. {{data.event.table_cloth}}
Breakout tables............. {{data.event.breakout}}
Registration tables......... {{data.event.registration}}
Table skirting.............. {{data.event.skirting}}
Head tables................. {{data.event.head}}
Other tables................ {{data.event.other_table}}
</pre><h4>Dining Requirements</h4><pre style="font-size:.9em;">
Dining attendance........... {{data.event.dining_att}}
Service start time.......... {{data.event.service_start}}
Service end time............ {{data.event.service_end}}
Program start time.......... {{data.event.program_start}}
Program end time............ {{data.event.program_end}}
Meal service................ {{data.event.meal_service}}
Menu description............ {{data.event.menu_desc}}
Other requirements.......... {{data.event.other_reqs}}
</pre><h4>Equipment</h4><pre style="font-size:.9em;">
Slide projector............. {{data.event.slide}}
Data projector.............. {{data.event.data_proj}}
Overhead projector.......... {{data.event.overhead}}
TV/DVD...................... {{data.event.tv_dvd}}
Cordless mic................ {{data.event.cordless_mic}}
Fixed mic................... {{data.event.fixed_mic}}
Flip chart.................. {{data.event.flip_chart}}
Coat rack................... {{data.event.coat_rack}}
Chalkboard.................. {{data.event.chalkboard}}
Laptop...................... {{data.event.laptop}}
Podium (table top).......... {{data.event.table_podium}}
Podium (free standing)...... {{data.event.free_podium}}
Portable screen............. {{data.event.screen}}
Other....................... {{data.event.other_equip}}
</pre>
