{% extends "catering/event_base.html" %}
{% block content_head %}
    <h1 id="page_title">
        Catering Event Request Archives
    </h1>
{% endblock %}
{% block content %}
    {% for event in events %}
        <div style="float:right;">
            <h3>
                <a href="{{event.get_absolute_url}}">View Event</a>
            </h3>
        </div>
        <div style="padding-bottom:10px;margin-bottom:10px; border-bottom: 1px #000 solid;">
            <dl>
                <dt>Contact name</dt>
                <dd>
                    <a href="mailto:{{event.user.email}}">
                        {{event.user.first_name}}
                        {{event.user.last_name}}
                    </a> &mdash; Phone: {{event.extension}}
                </dd>
                <dt>Event name</dt>
                <dd>{{event.event_name}}</dd>
                <dt>Date</dt>
                <dd>{{event.event_date|date:"l"}}, {{event.event_date}}</dd>
            </dl>
        </div>
    {% endfor %}
{% endblock %}
