{% extends "base.html" %}
{% load get_api %}
{% block title %}Event Request Form &mdash; Dining & Catering &mdash; Carthage College{% endblock %}
{% block extra_javascript %}
    <script src="http://www.carthage.edu/assets/js/jquery/ui/ui.datepicker.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://www.carthage.edu/assets/js/jquery/plugins/jquery.ptTimeSelect.js" type="text/javascript"></script>
    <script src="http://www.carthage.edu/assets/js/jquery/plugins/jquery.bgiframe.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function() {
            $("#id_event_date").datepicker({firstDay:0,appendText:"(format yyyy-mm-dd)",changeFirstDay:false,dateFormat:"yy-mm-dd",showOn:"both",buttonImage: "http://www.carthage.edu/assets/img/ico/calendar.gif",buttonImageOnly:true});
            $('#id_event_start').ptTimeSelect();
            $('#id_event_end').ptTimeSelect();
            $('#id_service_start').ptTimeSelect();
            $('#id_service_end').ptTimeSelect();
            $('#id_program_start').ptTimeSelect();
            $('#id_program_end').ptTimeSelect();
        });
    </script>
{% endblock %}
{% block extra_style %}
    <link href="http://www.carthage.edu/assets/css/jquery/ui/datepicker/ui.datepicker.css" rel="stylesheet" type="text/css" />
    <link href="http://www.carthage.edu/assets/css/jquery/plugins/jquery.ptTimeSelect.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
    .form input[type=text] {width: 350px !important; }
    #ptTimeSelectCntr {color: #303030;background: #ebebeb;font: .74em Arial, Verdana, sans-serif;text-align: center;line-height: 1.6em;margin: 2.5em 0;}
    .tab_content_container { width: 705px; }
    li.ctrlHolder div ul li {display: inherit; padding-right:3px;}
    </style>
{% endblock %}
{% block columns %}<link href="http://www.carthage.edu/media/css/douglasfir/3_column.css" rel="stylesheet" type="text/css" />{% endblock %}
{% block left_nav %}
    {% include "dining/left_nav.html" %}
{% endblock %}
{% block content %}
{% get_api_object as header cms snippet 1239 code %}
{{header}}
<div class="buffer">
    <h1>Event Request Form</h1>
    <p class="help">Fields marked with <img src="http://www.carthage.edu/assets/img/ico/silk/icons/asterisk_orange.png" /> are required.</p>
    {% include "includes/generic_form.html" %}
</div>
{% endblock %}
{% block sidebar %}
    {% include "dining/side_bar.html" %}
{% endblock %}
