<h2>Data from Parking Violation Appeal form submission</h2>

<pre style="font-size:1.5em;">
First name.................. {{data.first_name}}
Last name................... {{data.last_name}}
Email....................... {{data.email}}
Carthage ID................. {{data.college_id}}
Residency status............ {{data.residency_status.name}}
Vehicle make................ {{data.vehicle_make}}
Vehicle model............... {{data.vehicle_model}}
License plate............... {{data.license_plate}}
State....................... {{data.state}}
Permit type................. {{data.permit_type.name}}
Permit number............... {{data.permit_number}}
Citation number............. {{data.citation_number}}
Citation date............... {{data.citation_date}}
Towed....................... {{data.towed}}
</pre>
<h3>Appeal Comments</h3>
<p>
{{data.appeal_box}}
</p>
