#page-body > .modal {opacity: inherit !important; visibility: inherit !important;}
.modal-backdrop {position: inherit;}
#contactModal .modal-dialog {
  height: 90%; /* = 90% of the .modal-backdrop block = %90 of the screen */
}
#contactModal .modal-content {
  height: 100%; /* = 100% of the .modal-dialog block */
}
