{% extends "base.html" %}
{% block title %}Distinguished Teaching Award &mdash; Faculty &mdash; Academics &mdash; Carthage College{% endblock %}
{% block columns %}<link href="http://www.carthage.edu/media/css/douglasfir/3_column.css" rel="stylesheet" type="text/css" />{% endblock %}
{% block left_nav %}
    {% include "academics/left_nav.html" %}
{% endblock %}
{% block content %}
<div id="sitetitle">{% now "Y" %} Distinguished Teaching Award</div>
<div class="buffer">
    <p>Students and faculty are invited to complete this form and submit it to the Office of the Provost by March 28, {% now "Y" %}. The recipient of the teaching award will be honored at the Honors Convocation on Friday, April 26, {% now "Y" %}.</p>
    <p>In your nomination essay, please describe how you have known and appreciated your nominee's efforts&mdash;as your advisor, mentor, teacher, and list the courses (if any) you have taken with the nominee. Be as specific as you can regarding the special qualities and attributes that make this person a distinguished teacher.</p>
    <p class="help"><strong>All fields are required.</strong></p>
    {% include "includes/generic_form.html" %}
</div>
{% endblock %}
{% block sidebar %}
    {% include "academics/side_bar.html" %}
{% endblock %}
