{% extends "base.html" %}
{% block title %}The Green Pledge &mdash; Sustainability &mdash; Carthage College{% endblock %}
{% block columns %}<link href="http://www.carthage.edu/media/css/douglasfir/3_column.css" rel="stylesheet" type="text/css" />{% endblock %}
{% block extra_style %}
    {% include "includes/extra_form_style.html" %}
{% endblock %}
{% block left_nav %}
    {% include "sustainability/left_nav.html" %}
{% endblock %}
{% block content %}
<div class="buffer">
    <h1 style="color:green;">The Green Pledge</h1>
    {% if pledge %}
        <p class="notice">Thank you for your commitment to the Green Pledge. <a href="{% url pledge_archives %}">View others who have made the pledge as well</a>.</p>
    {% endif %}
    {% if anon %}
        <p><a href="/forms/accounts/login/?next={{request.path}}">Please login</a> so that you can show your support by completing our form.</p>
    {% endif %}
    <p>I{% if not anon %}, <strong style="color:green;">{{user.first_name}} {{user.last_name}}</strong>,{% endif %} pledge to preserve, conserve, and protect the world’s natural resources to the best of my ability.  Specifically, I will follow the three Rs of Reduce, Reuse, and Recycle in my local environment by doing as many of the following as I can, and I will encourage others to do so.</p>
    <h2 style="color:green;">Reduce</h2>
    <ul class="bullets">
    <li>Turn off any lights or power-consuming devices when they are not in use</li>
    <li>Use Print Preview and other measures to make sure that I print only what I need and use as little paper as I can</lie>
    <li>Drive or consume fuel only when necessary</li>
    <li>Be conscientious of the water I consume, including turning off the faucet when I don’t need it to be open</li>
    <li>Cut down on the amount of waste I generate by taking only the food I can consume, buying only what I need, looking for items made from renewable and/or compostable materials, and buying items with minimal and/or environmentally friendly packaging whenever possible</li>
    <li>Reduce my usage of hazardous chemicals by using environmentally friendly products whenever possible, including cleaning, automotive, and personal care products</li>
    </ul>
    <h2 style="color:green;">Reuse</h2>
    <ul class="bullets"><li>Utilize re-usable items instead of disposable ones whenever possible (e.g. mugs, re-usable water bottles, re-usable grocery bags)</li></ul>

    <h2 style="color:green;">Recycle</h2>
    <ul class="bullets">
    <li>Place recyclable items into proper receptacles, even if I have to walk a distance to do so</li>
    <li>Keep trash out of recycling containers</li>
    <li>Take special items like batteries, ink cartridges, and electronics to appropriate recycling venues</li>
    <li>Purchase items made of recycled materials whenever possible</li>
    </ul>
    {% if not pledge and not anon %}
        {% include "includes/generic_form.html" %}
        <p>Once you click "submit", your name will appear in <a href="/sustainability/green/pledge/archives/">the list of those are now dedicated to the green initiative at Carthage and beyond</a>.</a>
    {% endif %}
    {% if anon %}
        <p><a href="/forms/accounts/login/?next={{request.path}}">Please login in order to  make the pledge</a>.</p>
    {% endif %}
    <p class="small">This pledge began at Carthage College, Kenosha, WI, in October 2010.  It is intended to serve as a model for college and university students and everyone else.  Please feel free modify the text to fit your group or community and pass it along.</p>
</div>
{% endblock %}
{% block sidebar %}
    {% include "sustainability/side_bar.html" %}
{% endblock %}

