django==4.2.11
django-bootstrap-form
django-countries
django-formtools
django-honeypot
django-imagekit
django-localflavor
django-loginas
python-magic
django-recaptcha
django-simple-captcha
django-summernote
django-taggit
mysqlclient
Pillow
pymemcache
python-ldap
requests
