django==3.2.21
django-bootstrap-form
django-countries
django-recaptcha
django-imagekit
django-simple-captcha
Pillow
mysqlclient
python-memcached
python-ldap
requests
django-summernote
django-taggit
python-magic
django-localflavor
django-loginas
django-formtools
django-honeypot
