<!DOCTYPE html>
{% spaceless %}
<html>
<head>
    <title>Celebration of Scholars</title>
    <link href="https://www.carthage.edu/static/forms/css/pdf.css" rel="stylesheet" />
</head>
<body>
    {% for p in presentations %}
        <span style="width:500px;">{{p.pres.title}}</span>|<span style="width:25px;">{% if p.stu %}{% for s in p.stu %}{{s.name}}{% if not forloop.last %}; {% endif %}{% endfor %}{% endif %}{% if p.fac %}{% for f in p.fac %}{{f.name}}{% if not forloop.last %}; {% endif %}{% endfor %}{% endif %}</span><br />
    {% endfor %}
</body>
</html>
{% endspaceless %}
