<!DOCTYPE html>
{% spaceless %}
<html>
<head>
    <title>Celebration of Scholars</title>
    <link href="https://www.carthage.edu/static/forms/css/pdf.css" rel="stylesheet" />
</head>
<body>
    {% for p in presentations %}
        <span style="width:20px;text-alight:right;">
        {{forloop.counter}})
        </span>
        <span style="width:50px;left-margin:7px;">
        {% for s in p.get_presenters_print %}
        {{s.last_name}}, {{s.first_name}};&nbsp;
        {% endfor %}
        </span>
        <br />
    {% endfor %}
</body>
</html>
{% endspaceless %}
