{% autoescape off %}
<!DOCTYPE html>
<html>
<head>
    <title>Celebration of Scholars Print PDF</title>
    <link href="https://www.carthage.edu/static/forms/css/scholars/print.css" rel="stylesheet" />
</head>
<body>
    {% for p in presentations %}
        <div class="presentation">
            {% for s in p.presenters.all %}
                {% if s.mugshot %}<img class="mugshot" src="/assets/{{s.mugshot}}" width="145" />{% endif %}
                {% if forloop.first %}
                <p><strong>{{p.title}}</strong></p>
                {% endif %}
                <div class="person">
                    <p>
                        {% if s.prez_type == "Student" %}
                            <strong>{{s.first_name}} {{s.last_name}}, {{s.year}}</strong><br />
                            <em>Major: {{s.major}}</em><br />
                            <em>Hometown: {{s.hometown}}</em><br />
                            <em>Faculty Sponsor: {{s.sponsor}}</em><br />
                        {% else %}
                            <strong>{{s.first_name}} {{s.last_name}}</strong><br />
                            <em>Department: {{s.department}}</em><br />
                        {% endif %}
                    </p>
                </div>
                {% if not forloop.last %}
                <div style="clear:both;"></div>
                {% endif %}
            {% endfor %}
            <div class="abstract">
            {{p.abstract_text}}
            </div>
            {% if p.funding %}
            <div class="funding">
            <em>Funding source: {{p.funding}}</em>
            {% endif %}
            </div>
        </div>
        <div style="clear:both;margin-top:30px;">&nbsp;</div>
    {% endfor %}
</body>
</html>
{% endautoescape %}
