<!DOCTYPE html>
<html>
<head>
    <title>Celebration of Scholars Print PDF</title>
    <style type="text/css" media="screen, projection">
    .pres_sort {margin: 0px 15px 0 0px;}
    .block-placeholder {border:2px dashed #999; width:100%;}
    .pres_sort, .block-placeholder {margin:0px 15px 0 0px;}
    .pres_sort div {cursor:move;}
    div.growlUI { background: url(http://www.carthage.edu/assets/img/ico/information.png) no-repeat;}
    div.growlUI h1, div.growlUI h2 {color:white;padding:5px;font-size:1.4em;}
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
    <script src="http://www.carthage.edu/assets/js/jquery/ui/ui.core.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://www.carthage.edu/assets/js/jquery/plugins/jquery.blockUI.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://www.carthage.edu/assets/js/jquery/plugins/jquery.bgiframe.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://www.carthage.edu/assets/js/jquery/plugins/jquery.dimensions.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://www.carthage.edu/assets/js/jquery/ui/ui.sortable.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
    $(function() {
        $('.pres_sort').sortable({
            delay: 100,
            opacity: 0.8,
            placeholder: 'block-placeholder',
            forcePlaceholderSize: true,
            containment: 'document',
            update: function(event, ui){
                url = '/scholars/celebration/sortable/';
                var data = $(this).sortable('serialize');
                $.blockUI({ message: "<h2>Saving...</h2>" });
                $.post(url, { pres_items:data }, function(response){ $.unblockUI();})
            }
        });
    });
    </script>
</head>
<body>
    <div id="container">
    <div class="pres_sort">
    {% for p in presentations %}
        <div class="presentation" id="pres_{{p.pres.id}}">
            <h1>{{p.pres.title}}</h1>
            {% if p.stu %}
                <h2>Student Presenters</h2>
                {% for s in p.stu %}
                    <div class="person">
                        <p>
                            {% if s.picture %}<img class="headshot" src="/scholars/assets/{{s.picture}}" />{% endif %}
                            <strong>Name</strong>: {{s.name}}, {{s.year}}<br />
                            <strong>Major</strong>: {{s.major}}<br />
                            <strong>Hometown</strong>: {{s.hometown}}<br />
                            <strong>Faculty Sponsor</strong>: {{s.sponsor}}<br />
                        </p>
                    </div>
                    <div style="clear:both;"></div>
                {% endfor %}
            {% endif %}
            {% if p.fac %}
                <h2>Faculty Presenters</h2>
                {% for f in p.fac %}
                    <div class="person">
                        <p>
                            {% if f.picture %}<img class="headshot" src="/scholars/assets/{{f.picture}}" />{% endif %}
                            <strong>Name</strong>: {{f.name}}<br />
                            <strong>Department</strong>: {{f.department}}<br />
                        </p>
                    </div>
                    <div style="clear:both;"></div>
                {% endfor %}
            {% endif %}
            <h2>Abstract</h2>
            <div class="abstract">
            {{p.pres.abstract}}
            </div>
            {% if p.pres.funding %}
            <h2>Funding</h2>
            <div class="funding">
            {{p.pres.funding}}
            </div>
            {% endif %}
        </div>
    {% endfor %}
    </div>
    </div>
</body>
</html>
