{% extends "base.html" %}
{% block title %}
    Target Language Expert {{type|capfirst}}
{% endblock %}
{% block extra_javascript %}
    <script src="//www.carthage.edu/static/vendor/jquery/ui/datepicker/js/jquery-ui-1.10.4.custom.min.js"
        type="text/javascript" charset="utf-8"></script>
    <script src="//www.carthage.edu/static/vendor/jquery/plugins/jquery-dynamic-form/jquery-dynamic-form.js"
        type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        $(function() {
            $("#id_dob").datepicker({
                firstDay:0,appendText:"(format yyyy-mm-dd)",
                changeFirstDay:false,dateFormat:"yy-mm-dd",
                showOn:"both",
                buttonImage:"//www.carthage.edu/themes/shared/img/ico/calendar.gif",
                buttonImageOnly:true
            });
            {% if type == "masters" %}
            $("#universities").dynamicForm(
                "#plus", "#minus", {
                limit:5, createColor: 'yellow',removeColor: 'red'
            });
            {% endif %}
        });
    </script>
{% endblock %}
{% block extra_style %}
    <link href="//www.carthage.edu/static/vendor/jquery/ui/datepicker/css/smoothness/jquery-ui-1.10.4.custom.min.css"
        rel="stylesheet" type="text/css" />
{% endblock %}
{% block left_nav %}
    {% include "languages/tle/left_nav.html" %}
{% endblock %}
{% block content_head %}
    <h1 id="page_title">
        Target Language Expert
        <span id="secondary-dropdown"></span>
    </h1>
{% endblock %}
{% block content %}
<div class="forms-container">
    <h2>
        {% if type == "application" %}
            Program Application
        {% else %}
            Master of Education or Advanced Certification Programs
        {% endif %}
    </h2>
    {% include "includes/required_text.html" %}
    {% include "includes/errors_text.html" %}
    <form method="post" action="." class="form" id="tle_form">
        {% csrf_token %}
        <input type="hidden" id="id_next" name="next" value="{{ redirect }}" />
        <fieldset class="blockLabels">
            <legend>Personal Information</legend>
            <ol>
                {% for field in form %}
                    {% if field.name == "birth_city" %}
                    </ol></fieldset>
                    <fieldset class="blockLabels">
                        <legend>Place of Birth</legend>
                        <ol>
                    {% endif %}
                    {% if field.name == "education" %}
                    </ol></fieldset>
                    <fieldset class="blockLabels">
                        <legend>Experience &amp; Aptitude</legend>
                        <ol>
                    {% endif %}
                    {% if field.name == "marital_status" %}
                    </ol></fieldset>
                    <fieldset class="blockLabels">
                        <legend>Optional</legend>
                        <ol>
                    {% endif %}
                    {% if field.name == "entry_semester" %}
                    </ol></fieldset>
                    <fieldset class="blockLabels">
                        <legend>Enrollment</legend>
                        <ol>
                    {% endif %}
                    {% include "form_field.inc.html" %}
                {% endfor %}
                {% if type == "masters" %}
                <li class="ctrlHolder">
                    <h2>
                        List all colleges or universities attended,
                        beginning with the most recent:
                    </h2>
                    {% if not education and length == 1 %}
                        <p class="help padding-left">
                            Click on the "plus" sign below to add another
                            college. Use the "minus" sign to remove one.
                        </p>
                    {% endif %}
                </li>
                </ol>
                <ol id="universities">
                {% if not education %}
                <li class="ctrlHolder">
                    <h3>University Name</h3>
                    <input type="text" name="university[]" />
                </li>
                <li class="ctrlHolder">
                    <h3>Country</h3>
                    <input type="text" name="country[]" />
                </li>
                <li class="ctrlHolder">
                    <h3>From</h3>
                    <select name="from_month[]">
                    {% for v,m in months.items %}
                    <option value="{{m}}">{{m}}</option>
                    {% endfor %}
                    </select>
                    Year <input type="text" name="from_year[]" class="small" />
                </li>
                <li class="ctrlHolder">
                    <h3>To</h3>
                    <select name="to_month[]">
                    {% for v,m in months.items %}
                    <option value="{{m}}">{{m}}</option>
                    {% endfor %}
                    </select>
                    Year <input type="text" name="to_year[]" class="small" />
                </li>
                <li class="ctrlHolder">
                    <h3>Diploma/Degree</h3>
                    <input type="text" name="degree[]" />
                </li>
                <li class="ctrlHolder">
                    <hr />
                </li>
                <li class="ctrlHolder">
                <p>
                    <div>
                        <a id="minus" href="#">
                            <i class="fa fa-minus"></i>
                        </a>
                        <a id="plus" href="#">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </p>
                </li>
                {% else %}{{length}}
                    {{education}}
                {% endif %}
                </ol>
                <ol>
                {% endif %}
                <li class="btnHolder">
                    <p>
                        By sending this form, you are certifying that the
                        above information is true and complete to the best of
                        your knowledge.
                    </p>
                </li>
                </ol>
        </fieldset>
        {% include "form_submit.inc.html" %}
    </form>
</div>
{% endblock %}
