{% load humanize %}
<dl style="margin-bottom:5px;">
    <dt style="background:#5f9be3; color:#fff; float:left; font-weight:bold; margin-right:10px; padding:5px; width:200px;">
        First name
    </dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.contact.first_name}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; font-weight:bold; margin-right:10px; padding:5px; width:200px;">
        Last name
    </dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.contact.last_name}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; margin-right:10px; padding:5px; width:200px;">
        Address
    </dt>
    <dd style="margin:2px 0; padding:5px 0;">
        {{data.contact.address1}} {{data.contact.address2|default:"&nbsp;"}}
    </dd>
    <dt style="background:#5f9be3; color:#fff; float:left; margin-right:10px; padding:5px; width:200px;">
        City
    </dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.contact.city}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; margin-right:10px; padding:5px; width:200px;">
        Provence
    </dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.contact.state}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; margin-right:10px; padding:5px; width:200px;">
        Postal code
    </dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.contact.postal_code}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; margin-right:10px; padding:5px; width:200px;">
        Country
    </dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.contact.country}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; margin-right:10px; padding:5px; width:200px;">
        Email
    </dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.contact.email}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; margin-right:10px; padding:5px; width:200px;">
        Phone
    </dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.contact.phone}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; margin-right:10px; padding:5px; width:200px;">
        Date of birth
    </dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.reg.dob}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; margin-right:10px; padding:5px; width:200px;">
        Gender
    </dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.reg.gender}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; margin-right:10px; padding:5px; width:200px;">
        Voice type
    </dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.reg.voice_type}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; margin-right:10px; padding:5px; width:200px;">
        School or university
    </dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.reg.school}}</dd>

    <dt style="background:#5f9be3; color:#fff; float:left; margin-right:10px; padding:5px; width:200px;">
        How hear?
    </dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.reg.how_hear}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; margin-right:10px; padding:5px; width:200px;">
        Registration fee
    </dt>
    <dd style="margin:2px 0; padding:5px 0;">${{data.total}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; margin-right:10px; padding:5px; width:200px;">
        Payment method
    </dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.reg.payment_method}}</dd>
    {% if data.transid %}
    <dt style="background:#5f9be3; color:#fff; float:left; margin-right:10px; padding:5px; width:200px;">
        Name on Card
    </dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.cc_name}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; margin-right:10px; padding:5px; width:200px;">
        Card ending with
    </dt>
    <dd style="margin:2px 0; padding:5px 0;">x{{data.cc_4_digits}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; margin-right:10px; padding:5px; width:200px;">
        Transaction ID
    </dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.transid}}</dd>
    {% endif %}
</dl>
