<div id="third">
    <div class="buffer">
        <h1 style="font-size:18px;">Conference Housing</h1>
        <p><a href="http://www.carthage.edu/campus-life/residence-life/oaks/"><img src="http://www.carthage.edu/assets/mediaman/campus-life/residence-halls/OaksWest-200x153.jpg" width="235" /></a></p>
        <p>
        Conference housing is in the <a href="http://www.carthage.edu/campus-life/residence-life/oaks/">Oaks Village</a>,
        a single-person housing complex comprised of six buildings. Each room
        has its own bathroom and is air-conditioned. Each floor features a shared living
        room with a couch, chairs, television, study tables and a kitchenette with a sink,
        microwave, and refrigerator. The Oaks sits in a wooded area on the shores of
        Lake Michigan.
        </p>
        <p><a href="http://www.carthage.edu/oaks/"><img src="http://www.carthage.edu/assets/mediaman/campus-life/LakeWide_350.jpg" width="235" /></a></p>
        <p><a href="http://www.carthage.edu/oaks/">Take a virtual tour of the Oaks</a></p>
    </div>
</div>

