{% extends "subpage.html" %}
{% load humanize %}
{% block title %}Email Validation{% endblock %}
{% block content %}

{% if account %}
<h2>Email Validated! Thank you.</h2>
<p>Thanks for signing up.</p>

<p><a href="/profile/update/">Click here</a>
to complete your registration.</p>
{% else %}
<h2>Invalid Activation Key</h2>
<p>Either you have already activated this account,
or the activation key for your account has expired. Activation keys are only
valid for {{ expiration_days|apnumber }} days after registration.</p>
{% endif %}
{% endblock %}
