{% extends "editor/base.html" %}
{% load i18n %}
{% block title %}{% trans 'Change your password' %}{% endblock %}
{% block content_tab_panel %}
activeTab: 0,items:[{contentEl:'content_form',title:'User Manager',autoScroll:true}]
{% endblock %}
{% block css %}
{% include "includes/css/bodhi-core.html" %}
{% endblock %}
{# required to block tree view stuff #}
{% block jquery_ready %}{% endblock %}
{% block content %}
<div id="content_form">
    <div class="tab_content_container">
    <br />
    {% if error_message %}
        <p class="error-message">{{ error_message }}</p>
    {% endif %}
    <form action="." method="post" class="form">
    <input type="hidden" id="id_updated_by" name="updated_by" value="{{user.id}}" />
    <fieldset class="blockLabels">
        <legend>Change Password</legend>
        <p><br /><strong>User:</strong> <span class="help">{{user.first_name}} {{user.last_name}} ({{user.email}})</span><br /></p>
        <ol>
        <li class="ctrlHolder">
            <h3><label for="id_value">{% trans 'Password' %}</label></h3>
            {% if form.password1.errors %}
            <div class="warning">
            <span class="error-message">{{ form.password1.errors|join:", " }}</span>
            {% else %}
            <div>
            {% endif %}
            {{form.password1}}
            </div>
        </li>
        <li class="ctrlHolder">
            <h3><label for="id_value">{% trans 'Password (again)' %}</label></h3>
            {% if form.password2.errors %}
            <div class="warning">
            <span class="error-message">{{ form.password2.errors|join:", " }}</span>
            {% else %}
            <div>
            {% endif %}
            {{form.password2}}
            </div>
            <span class="help">Enter the password again for verification.</span>
        </li>
        <li class="btnHolder">
            <label for="id_submit">&nbsp;&nbsp;</label>
            <input type="submit" name="submit" value="Change password" class="button" />&nbsp;&nbsp;
            <input type="button" name="cancel" value="Cancel" class="button" onclick="location.href='/editor/'" />
        </li>
    </fieldset>
    </form>
    </div>
</div>
{% endblock %}