{% extends "base.html" %}
{% block title %}You have logged out.{% endblock %}
{% block extra_style%}
<link rel="stylesheet" href="/djassets/forms.css" type="text/css" />
<link rel="stylesheet" href="http://carthage.edu/assets/current/css/plugins/forms.css" type="text/css" />
<link rel="stylesheet" href="http://carthage.edu/assets/current/css/overrides/forms.css" type="text/css" />
<link rel="stylesheet" href="http://carthage.edu/assets/current/css/overrides/forms.bridge.css" type="text/css" />
{% endblock %}
{% block left_nav %}
<div id="first">
    <ul id="about">
        {% if not user.is_anonymous %}
            <li><a href="/forms/accounts/logout/">Logout</a></li>
        {% else %}
            <li>
                <a href="/forms/accounts/login/">Login</a>
            </li>
        {% endif %}
        {% if user.is_superuser %}
            <li><a href="/forms/admin/">Administration</a></li>
        {% endif %}
    </ul>
</div>
{% endblock %}
{% block content %}
<div id="second">
    <div class="buffer">
<h1>Log out successful</h1>

<p>You are now logged out.</p>

<p><a href="/forms/accounts/login/">Log in again</a></p>
<br /><br /><br />
</div></div>
{% endblock %}
