{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block extra_style%}
<link rel="stylesheet" href="/assets/forms.css" type="text/css" />
<link rel="stylesheet" href="http://carthage.edu/assets/current/css/plugins/forms.css" type="text/css" />
<link rel="stylesheet" href="http://carthage.edu/assets/current/css/overrides/forms.css" type="text/css" />
<link rel="stylesheet" href="http://carthage.edu/assets/current/css/overrides/forms.bridge.css" type="text/css" />
{% endblock %}
{% block left_nav %}
<div id="first">
    <ul id="about">
        {% if not user.is_anonymous %}
            <li><a href="/forms/accounts/logout/">Logout</a></li>
        {% else %}
            <li>
                <a href="/forms/accounts/login/">Login</a>
            </li>
        {% endif %}
    </ul>
</div>
{% endblock %}
{% block content %}
<div id="second">
    <div class="buffer">
        {% if user.is_anonymous %}
            <h1>Login</h1>
            <p>Please use your Novell login.</p><p>If your password does not work, you can reset it at <a href="http://www.carthage.edu/password" target="_blank">carthage.edu/password</a>.</p>
            {% if form.errors %}
                <p class="error">
                Please enter a correct username and password. Both fields are case-sensitive.<br /><br />  NOTE: Your password expires every 6 months, so if you have not used your Novell account in over 6 months, you will have to <a href="http://www.carthage.edu/password" target="_blank">change your password</a>.</p>
            {% endif %}
            <form name="djauth" method="post" action="." class="form">{% csrf_token %}
                <input type="hidden" name="next" value="{% if next %}{{ next }}{% endif %}" />
                    <ol>
                        <li class="ctrlHolder">
                            <label for="id_username"><h3>Username</h3></label>
                            {% if form.username.errors %}
                                <span class="error-message">{{ form.username.errors|join:", " }}</span>
                            {% endif %}
                            <input type="text" id="id_username" name="username" class="textInput required" size="15" value="{{form.data.username}}" maxlength="30" />
                        </li>
                        <li class="ctrlHolder">
                            <label for="id_password"><h3>Password</h3></label>
                            {% if form.password.errors %}
                                <span class="error-message">{{ form.password.errors|join:", " }}</span>
                            {% endif %}
                            <input type="password" id="id_password" class="vPasswordField required" name="password" size="15" value="{{form.data.password}}" maxlength="30" />
                        </li>
                        <li class="btnHolder">
                            <label>&nbsp;</label>
                            <input id="id_submit" type="submit" class="button" value="Log in" />
                        </li>
                    </ol>
            </form>
        {% else %}
            <h2>You are already logged in</h2>
            <p><a href="/forms/accounts/logout/">Do you want to log out and log in as a new user?</a></p>
        {% endif %}
    </div>
</div>
{% endblock %}
