{% extends "subpage.html" %}
{% load i18n %}
{% block title %}{% trans 'Change your password' %}{% endblock %}

{% block content %}
<h2>{% trans 'Change your password' %}</h2>
<p>{% trans "For the sake of security, please enter your old password, and then enter your new password twice." %}</p>

<form action="" method="post" class="form">
<fieldset>
    <p>
    {% if form.old_password.errors %}
        {{ form.old_password.html_error_list }}
    {% endif %}
    <label for="id_old_password">{% trans 'Old password:' %}</label>
    {{ form.old_password }}
    </p>
    <p>
    {% if form.new_password1.errors %}
        {{ form.new_password1.html_error_list }}
    {% endif %}
    <label for="id_new_password1">{% trans 'New password:' %}</label>
    {{ form.new_password1 }}
    </p>
    <p>
    {% if form.new_password2.errors %}
        {{ form.new_password2.html_error_list }}
    {% endif %}
    <label for="id_new_password2">{% trans 'Confirm new password:' %}</label>
    {{ form.new_password2 }}
    </p>
</fieldset>
<fieldset>
    <input type="submit" value="{% trans 'Change password' %}" />
</fieldset>
</form>

{% endblock %}