{% extends "subpage.html" %}
{% load i18n %}
{% block title %}{% trans "Password reset" %}{% endblock %}
{% block extra_style %}
<link rel="stylesheet" href="{{bodhi_media_url}}css/bodhi.forms.css" type="text/css" />
{% endblock %}
{% block content %}
<h2>{% trans "Password Reset" %}</h2>
<p>{% trans "Did you forget your password? We can email your password to the address we have on file." %}</p>
<form action="" method="post" class="form">
    <fieldset class="blockLabels">
        <ol>
            <li class="ctrlHolder">
                <h4><label for="id_email">{% trans 'Email' %}</label></h4>
                {% if form.email.errors %}
                <div class="warning">
                <span class="error-message">*** {{ form.email.errors|join:", "}}</span>
                {% else %}
                <div>
                {% endif %}
                {{form.email}}
                </div>
            </li>
            <li class="btnHolder">
                <label for="id_submit">&nbsp;&nbsp;</label>
                <input id="id_submit" type="submit" class="button" value="{% trans 'Reset my password' %}" /> &nbsp;&nbsp;
                <input type="button" class="button" name="cancel" value="Cancel" onclick="location.href='/accounts/login//'" />
            </li>
        </ol>
    </fieldset>
</form>
<p><a href="/accounts/login/">{% trans 'Go back to the login page' %}</a></p>
{% endblock %}
