{% extends "subpage.html" %}
{% load humanize %}
{% block title %}Validate your E-mail address{% endblock %}
{% block content %}
<h2>Validate your E-mail address</h2>

<p><strong>Thank you for creating an account.</strong></p>

<p>A confirmation email has just been sent to your email address
along with instructions for activating your account. Please wait for a moment,
then click the link in the email you have received.</p>

{% endblock %}
{% block sidebar %}
<h2>Didn't receive it?</h2>>
Be sure to check in your spam folder as well.
{% endblock%}
