{% extends "editor/base.html" %}
{% load i18n %}
{% block title %}{% trans "User Editor" %}{% endblock %}
{% block content_tab_panel %}
activeTab: 0,items:[{contentEl:'content_form',title:'User Editor',autoScroll:true}]
{% endblock %}
{% block css %}
{% include "includes/css/bodhi-core.html" %}
{% endblock %}
{# required to block page tree code #}
{% block jquery_ready %}{% endblock %}
{% block content %}
<div id="content_form">
    <div class="tab_content_container">
        {% if not user_object.is_superuser %}
        {% if error_message %}
        <p class="error-message">{{ error_message }}</p>
        {% endif %}
        {% include "accounts/user_form.html" %}
        {% else %}
        <h1>You do not have permission to edit this user.</h1>
        {% endif %}
    </div>
</div>
{% endblock %}