{% load i18n %}
<form action="" method="post" class="form">
<fieldset class="blockLabels">
<legend>Edit User</legend>
    <ol>
        <li class="ctrlHolder">
            <h3><label for="id_email">{% trans 'Email:' %}</label></h3>
            {% if form.email.errors %}
            <div class="warning">
            <span class="error-message">*** {{ form.email.errors|join:", "}}</span>
            {% else %}
            <div>
            {% endif %}
            {{form.email}}
            </div>
        </li>
        <li class="ctrlHolder">
            <h3><label for="id_first_name">{% trans 'First name:' %}</label></h3>
            {% if form.first_name.errors %}
            <div class="warning">
            <span class="error-message">*** {{ form.first_name.errors|join:", "}}</span>
            {% else %}
            <div>
            {% endif %}
            {{form.first_name}}
            </div>
        </li>
        <li class="ctrlHolder">
            <h3><label for="id_last_name">{% trans 'Last name:' %}</label></h3>
            {% if form.last_name.errors %}
            <div class="warning">
            <span class="error-message">*** {{ form.last_name.errors|join:", "}}</span>
            {% else %}
            <div>
            {% endif %}
            {{form.last_name}}
            </div>
        </li>
        {% if bridge %}
            {% ifnotequal form.data.username request.user.username %}
            <li class="ctrlHolder">
                <label>&nbsp;</label>
                {{form.is_active}}
                <span>{% trans 'Is this user active?' %}</span>
                {% if form.is_active.errors %}
                <span class="error-message">{{ form.is_active.errors|join:", " }}</span>
                {% endif %}
                {{form.is_staff}}
                <span>{% trans 'Is this user staff?' %}</span>
                {% if form.is_staff.errors %}
                <span class="error-message">{{ form.is_staff.errors|join:", " }}</span>
                {% endif %}
                {% if user.is_superuser %}
                    {{form.is_superuser}}
                    <span>{% trans 'Superuser account?' %}</span>
                    {% if form.is_superuser.errors %}
                    <span class="error-message">{{ form.is_superuser.errors|join:", " }}</span>
                    {% endif %}
                {% endif %}
                {{form.has_vault_perms}}
                <span>{% trans 'Can this user enter the secure vault section?' %}</span>
                {% if form.has_vault_perms.errors %}
                <span class="error-message">{{ form.has_vault_perms.errors|join:", " }}</span>
                {% endif %}
            </li>
            {% endifnotequal %}
        {% endif %}
        <li class="btnHolder">
            <label for="id_submit">&nbsp;&nbsp;</label>
            <input type="submit" value="Save user" class="button" /> &nbsp;&nbsp;
            <input type="button" class="button" name="delete" value="Delete user" onclick="location.href='/auth/user/{{object.id}}/delete/recursive/'" /> &nbsp;&nbsp;
            <input type="button" class="button" name="cancel" value="Cancel" onclick="location.href='/editor/'" />
        </li>
    </ol>
</fieldset>
</form>
