{% extends "base.html" %}
{% load get_api %}
{% block title %}Writing Intensive Course Proposal Form{% endblock %}
{% block columns %}<link href="http://www.carthage.edu/media/css/douglasfir/3_column.css" rel="stylesheet" type="text/css" />{% endblock %}
{% block left_nav %}
    {% include "writingcurriculum/left_nav.html" %}
{% endblock %}
{% block content %}
{% get_api_object as banner cms snippet 252 code %}
{{banner}}
{% get_api_object as title cms snippet 223 code %}
{{title}}
<div class="buffer">
<h1>Success</h1>
<p>Your information has been submited.</p>
</div>
{% endblock %}
{% block sidebar %}
    {% include "writingcurriculum/side_bar.html" %}
{% endblock %}

