<div id="first">
    <ul id="nav" class="sf-vertical">
        <li><a href="http://www.carthage.edu/academics/committees/wac/">WAC Blog</a></li>
        <li><a href="http://www.carthage.edu/academics/writing/">Overview</a></li>
        <li><a href="http://www.carthage.edu/academics/writing/contact/">Director</a></li>
        <li><a href="http://www.carthage.edu/academics/writing/guidelines/">Guidelines</a></li>
        <li><a href="http://www.carthage.edu/writingcurriculum/">Course Proposal Form</a></li>
    </ul>
</div>
