{% extends "includes/generic_form_multi.html" %}
{% block extra_fields %}
<li class="ctrlHolder">
    <div id="doop_master" class="presenter">
        <input type="button" value="X" title="Remove Presenter" class="destroy_school button fright" />
        {% include "scholars/presenters.html" %}
    </div>
    <h3><label>Presenters</label></h3>
    <div class="presenter">
        {% with presentation.leader.department as department %}{% with presentation.leader.major as major %}{% with presentation.leader.hometown as hometown %}{% with presentation.leader.sponsor as sponsor %}{% with user as leader %}
                {% include "scholars/presenters.html" %}
        {% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endwith %}
    </div>
</li>
<li style="margin-top:10px;">Click on the "plus" symbol to add more presenters, and use the "minus" symbol to remove presenters.
    <div class="ctrlcx">
        <img id="clone" src="http://www.carthage.edu/assets/img/ico/silk/icons/add.png" />
        <img id="destroy" src="http://www.carthage.edu/assets/img/ico/silk/icons/delete.png" />
    </div>
</li>
<li class="ctrlHolder" id="duplicates">
    {% for p in presenters %}
    <div id="doop_{{forloop.counter}}" class="presenter">
        {% with p.department as department %}{% with p.major as major %}{% with p.hometown as hometown %}{% with p.sponsor as sponsor %}
                <input type="button" value="X" title="Remove Presenter" class="destroy_school button fright" />
                {% include "scholars/presenters.html" %}
        {% endwith %}{% endwith %}{% endwith %}{% endwith %}
    </div>
    {% endfor %}
</li>
{% endblock %}
