{% load get_api %}
<div id="first">
    <ul id="about" class="sf-vertical">
        {% if perms.scholars.manage_presentation %}
        <li><a href="{% url scholars.views.presentation.manager %}">Manage Presentations</a></li>
        <li><a href="{% url scholars.views.presentation.archives 'presenters' 'screen' %}">List Presenters</a></li>
        <li><a href="{% url scholars.views.presentation.email_presenters %}">Email Presenters</a></li>
        {% endif %}
        {% if user.is_superuser %}
            <li><a href="/forms/admin/">Administration</a></li>
        {% endif %}
        {% if not perms.scholars.manage_presentation %}<li><a href="{% url scholars.views.presentation.form %}">My Presentation</a></li>{% endif %}
        <li><a href="{% url scholars.views.presentation.archives 'presentation' 'screen' %}">Archives</a></li>
        {% if not user.is_anonymous %}
        <li><a href="/forms/accounts/logout/?next={% url scholars.views.presentation.archives 'presentation' 'screen' %}">Logout</a></li>
        {% else %}
        <li><a href="/forms/accounts/login/?next={{request.path}}">Login</a></li>
        {% endif %}
    </ul>
    {% get_api_object as menu menutree menu 81 code %}
    {{menu}}
</div>
