<input type="button" value="X" title="Remove Presenter" class="destroy_school button fright" />
<dl class="fleft">
    <dt>First name</dt>
    <dd><input class="medium" type="text" name="first_name[]" value="{{p.first_name}}" /></dd>
    <dt>Last name</dt>
    <dd><input class="medium" type="text" name="last_name[]" value="{{p.last_name}}" /></dd>
    <dt style="margin-top:9px;font-weight:normal;">
        <input type="radio" name="prez_type[]" value="Student" /> Student
        <input type="radio" name="prez_type[]" value="Faculty" /> Faculty
        <input type="radio" name="prez_type[]" value="Staff" /> Staff
    </dt>
    <dt class="hidden">Department</dt>
    <dd class="hidden"><input type="text" value="{{p.department}}" name="department[]" /></dd>
</dl>
<dl class="fright">
    <dt>Shirt</dt>
    <dd>
        <select name="shirt[]">
            {% for n,v in shirts %}
                <option value="{{n}}">{{v}}</option>
            {% endfor %}
        </select>
    </dd>
    <dt>Photo</dt><dd><input type="file" name="mugshot[]"></dd>
</dl>
<div class="clear">&nbsp;</div>
