{% extends "base.html" %}
{% load get_api %}
{% block title %}Donations Form &mdash; Giving &mdash; Carthage College{% endblock %}
{% block extra_style %}
    <style type="text/css">
    .form input[type=text] {width: 350px; }
    #profile h2 {margin:7px 0 7px 5px;font-size:1.6em;background-color:#cacaca;padding:3px 0 3px 5px;width:99%;}
    li.ctrlHolder div ul li {display: inherit; padding-right:3px;}
    #id_cc-security_code{width:35px;}
    </style>
{% endblock %}
{% block columns %}<link href="https://www.carthage.edu/media/css/douglasfir/3_column.css" rel="stylesheet" type="text/css" />{% endblock %}
{% block left_nav %}
    {% include "giving/left_nav.html" %}
{% endblock %}
{% block content %}
{% get_api_object as banner cms snippet 398 code %}
{{banner}}
{% get_api_object as header cms snippet 283 code %}
{{header}}
<div class="buffer">
    <h1>{{campaign.title|default:"Donation"}}</h1>
    <p>{{campaign.thank_you|default:"Thank you for donating to Carthage College."}}</p>
</div>
{% endblock %}
{% block sidebar %}
    {% include "giving/side_bar.html" %}
{% endblock %}
