{% extends "base.html" %}
{% load get_api %}
{% block title %}{{campaign.title|default:"Multi-year Pledge Donations"}} Form &mdash; Giving &mdash; Carthage College{% endblock %}
{% block extra_javascript %}
    <script src="https://www.carthage.edu/assets/js/jquery/ui/ui.datepicker.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://www.carthage.edu/assets/js/jquery/plugins/jquery.bgiframe.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function() {
            $("#id_or-start_date").datepicker({firstDay:0,appendText:"(format yyyy-mm-dd)",changeFirstDay:false,dateFormat:"yy-mm-dd",showOn:"both",buttonImage: "https://www.carthage.edu/assets/img/ico/calendar.gif",buttonImageOnly:true});
        });
    </script>
{% endblock %}
{% block extra_style %}
    <link href="https://www.carthage.edu/assets/css/jquery/ui/datepicker/ui.datepicker.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
    .form input[type=text] {width: 350px; }
    #profile h2 {margin:7px 0 7px 5px;font-size:1.6em;background-color:#cacaca;padding:3px 0 3px 5px;width:99%;}
    li.ctrlHolder div ul li {display: inherit; padding-right:3px;}
    #id_cc-security_code{width:35px;}
    #id_or-start_date, #id_ct-postal_code, #id_or-total {width:100px;}
    </style>
{% endblock %}
{% block columns %}<link href="https://www.carthage.edu/media/css/douglasfir/3_column.css" rel="stylesheet" type="text/css" />{% endblock %}
{% block left_nav %}
    {% include "giving/left_nav.html" %}
{% endblock %}
{% block content %}
{% get_api_object as banner cms snippet 252 code %}
{{banner}}
{% get_api_object as header cms snippet 283 code %}
{{header}}
<div class="buffer">
    <h1>{{campaign.title|default:"Multi-year Pledge Donations"}}</h1>
    <div class="content">{{campaign.description}}</div>
    {% if not campaign.description %}
    <p>Would you rather make a one-time gift?
    <a href="https://www.carthage.edu/giving/donations/">Click here</a>.</p>
    {% endif %}
    {% if cc_form.errors or or_form.errors or ct_form.errors %}
        <p class="error">There were errors with the data submitted, see below.</p>
    {% endif %}
    <p class="help">Fields marked with <img src="https://www.carthage.edu/assets/img/ico/silk/icons/asterisk_orange.png" /> are required.</p>
    <form method="post" action="." class="form" id="profile"{% block extra_form_tag %}{% endblock%}>{% csrf_token %}
        {% for hidden in or_form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        <fieldset class="blockLabels">
            <ol>
            <h2>Pledge Information</h2>
                {% for field in or_form.visible_fields %}
                    <li class="ctrlHolder">
                    <h3{% if field.field.required %} class="required"{% endif %}>{{ field.label_tag }}</h3>
                    {% if field.errors %}
                        <div class="warning">
                        <span class="error-message">{{ field.errors|join:", "}}</span>
                    {% else %}
                        <div>
                    {% endif %}
                    {% if field.help_text %}
                        <p class="help">{{field.help_text}}</p>
                    {% endif %}
                    {{field}}
                    </div>
                    </li>
                {% endfor %}
            </ol>
        </fieldset>
        <fieldset class="blockLabels">
            <h2>Contact Information</h2>
            <ol>
                {% for field in ct_form %}
                    <li class="ctrlHolder">
                    {% if field.name != "address2" %}
                    <h3{% if field.field.required %} class="required"{% endif %}>{{ field.label_tag }}</h3>
                    {% endif %}
                    {% if field.errors %}
                        <div class="warning">
                        <span class="error-message">{{ field.errors|join:", "}}</span>
                    {% else %}
                        <div>
                    {% endif %}
                    {% if field.help_text %}
                        <p class="help">{{field.help_text}}</p>
                    {% endif %}
                    {{field}}
                    </div>
                    </li>
                {% endfor %}
            </ol>
        </fieldset>
        <fieldset class="blockLabels">
            <h2>Billing Information</h2>
            {% if cc_form.errors and status == "decline" %}
                <div style="padding-left:4px;">
                <p class="error">The transaction was declined for the following reason:</p>
                <ul>
                {% for field in cc_form %}
                {% if field.errors %}<li><span class="error-message">{{ field.errors|striptags }}</span></li>{% endif %}
                {% endfor %}
                </ul>
                </div>
            {% endif %}
            <ol>
                {% for field in cc_form %}
                    {% if field.name == "expiration_month" %}
                    <li class="ctrlHolder">
                    <h3 class="required">Expiration Date</h3>
                    <div>{{field}}
                    {% else %}{% if field.name == "expiration_year" %}&mdash;&nbsp;{{field}}</div></li>
                    {% else %}
                    <li class="ctrlHolder">
                    <h3{% if field.field.required %} class="required"{% endif %}>{{ field.label_tag }}</h3>
                    {% if field.errors %}
                        <div class="warning">
                        <span class="error-message">{{ field.errors|join:", "}}</span>
                    {% else %}
                        <div>
                    {% endif %}
                    {% if field.help_text %}
                        <p class="help">{{field.help_text}}</p>
                    {% endif %}
                    {{field}}
                    </div>
                    </li>
                    {% endif %}{% endif %}
                {% endfor %}
                <li class="btnHolder">
                    <label for="id_submit">&nbsp;&nbsp;</label>
                    <input type="submit" value="Submit" class="button" />
                </li>
            </ol>
        </fieldset>
    </form>
</div>
{% endblock %}
{% block sidebar %}
    {% include "giving/side_bar.html" %}
{% endblock %}
