{% extends "base.html" %}
{% load get_api %}
{% block title %}{{campaign.title|default:"Pledge Subscription"}} Form &mdash; Giving &mdash; Carthage College{% endblock %}
{% block extra_javascript %}
    <script src="https://www.carthage.edu/assets/js/jquery/ui/ui.datepicker.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://www.carthage.edu/assets/js/jquery/plugins/jquery.bgiframe.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function() {
            $("#id_or-start_date").datepicker({firstDay:0,appendText:"(format yyyy-mm-dd)",changeFirstDay:false,dateFormat:"yy-mm-dd",showOn:"both",buttonImage: "https://www.carthage.edu/assets/img/ico/calendar.gif",buttonImageOnly:true});
        });
    </script>
{% endblock %}
{% block extra_style %}
    <link href="https://www.carthage.edu/assets/css/jquery/ui/datepicker/ui.datepicker.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://www.carthage.edu/static/satchmo/css/donations.css" type="text/css" />
    <style type="text/css">
    #profile h2 {margin:7px 0 7px 0;font-size:1.6em;background-color:#cacaca;padding:3px 0 3px 5px;width:99%;}
    li.ctrlHolder div ul li {display: inherit; padding-right:3px;}
    #id_cc-security_code{width:35px;}
    #id_or-start_date, #id_ct-postal_code, #id_or-total {width:100px;}
    </style>
{% endblock %}
{% block columns %}<link href="https://www.carthage.edu/media/css/douglasfir/3_column.css" rel="stylesheet" type="text/css" />{% endblock %}
{% block left_nav %}
    {% include "giving/left_nav.html" %}
{% endblock %}
{% block content %}
{% get_api_object as banner cms snippet 252 code %}
{{banner}}
{% get_api_object as header cms snippet 283 code %}
{{header}}
<div class="buffer">
    <div id="security"><div style="margin-left:30px;">
    <a href="https://www.securitymetrics.com/site_certificate.adp?s=72%2e47%2e217%2e18&amp;i=131614" target="_blank" ><img src="https://www.securitymetrics.com/images/sm_ccsafe_wh.gif" alt="SecurityMetrics for PCI Compliance, QSA, IDS, Penetration Testing, Forensics, and Vulnerability Assessment" border="0"></a>
    </div></div>
    <h1>{{campaign.title|default:"Pledge Subscription"}}</h1>
    {% if not campaign.description %}
    <p>Would you rather make a one-time gift?
    <a href="https://www.carthage.edu/giving/donations/">Click here</a>.</p>
    {% endif %}
    <div class="content clear">
        {% if campaign.description %}
            {{campaign.description}}
        {% else %}
            <h2 align="center">
                <span style="font-size: 24px;">
                Seeking Truth, Building Strength,<br />
                Inspiring Service &#8212; Together
                </span><br />
                <em><span style="font-size: 20px;">
                ... such are the aims of Carthage
                </span></em>
            </h2>
            <p>
                Embracing these objectives is made possible in part by the financial support of alumni and friends of the College.  Because of your generosity, we enjoy superb professors, modern facilities, and learning opportunities beyond the classroom. When we look in the mirror, and see what your support has helped us become, we are reminded of the importance of each gift, and of our responsibility to continue the tradition. Please join us in again supporting Carthage College.
            </p>
        {% endif %}
    </div>
    {% if cc_form.errors or or_form.errors or ct_form.errors %}
        <p class="error">There were errors with the data submitted, see below.</p>
    {% endif %}
    <p class="help">Fields marked with <img src="https://www.carthage.edu/assets/img/ico/silk/icons/asterisk_orange.png" /> are required.</p>
    <form method="post" action="." class="form" id="profile"{% block extra_form_tag %}{% endblock%}>{% csrf_token %}
        {% for hidden in or_form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        <fieldset class="blockLabels">
            <ol>
            <h2>Pledge Information</h2>
                {% for field in or_form.visible_fields %}
                    <li class="ctrlHolder">
                    <h3{% if field.field.required %} class="required"{% endif %}>{{ field.label_tag }}</h3>
                    {% if field.errors %}
                        <div class="warning">
                        <span class="error-message">{{ field.errors|join:", "}}</span>
                    {% else %}
                        <div>
                    {% endif %}
                    {% if field.help_text %}
                        <p class="help">{{field.help_text}}</p>
                    {% endif %}
                    {{field}}
                    </div>
                    </li>
                {% endfor %}
            </ol>
        </fieldset>
        <fieldset class="blockLabels">
            <h2>Contact Information</h2>
            <ol>
                {% for field in ct_form %}
                    <li class="ctrlHolder">
                    {% if field.name == "matching_company" or field.name == "thrivent_financial" or field.name == "opt_in" %}
                    {{field}} {{field.label}}<br />
                    {% else %}
                        {% if field.name != "address2" %}
                        <h3{% if field.field.required %} class="required"{% endif %}>{{ field.label_tag }}</h3>
                        {% endif %}
                        {% if field.errors %}
                            <div class="warning">
                            <span class="error-message">{{ field.errors|join:", "}}</span>
                        {% else %}
                            <div>
                        {% endif %}
                        {% if field.help_text %}
                            <p class="help">{{field.help_text}}</p>
                        {% endif %}
                        {{field}}
                        </div>
                        {% if field.name == "postal_code" %}
                        <h3 style="margin-top:9px;">Matching Funds</h3>
                        {% endif %}
                    {% endif %}
                    </li>
                {% endfor %}
            </ol>
        </fieldset>
        <fieldset class="blockLabels">
            <h2>Billing Information</h2>
            {% if cc_form.errors %}
                <div style="padding-left:4px;">
                <p class="error">The transaction was declined for the following reason:{% if status == "baddata" or status == "decline" %} <strong>{{status}}</strong>{% endif %}</p>
                </div>
            {% endif %}
            <ol>
                {% for field in cc_form %}
                    {% if field.name == "expiration_month" %}
                    <li class="ctrlHolder">
                    <h3 class="required">Expiration Date</h3>
                    <div>{{field}}
                    {% else %}{% if field.name == "expiration_year" %}&mdash;&nbsp;{{field}}</div></li>
                    {% else %}
                    <li class="ctrlHolder">
                    <h3{% if field.field.required %} class="required"{% endif %}>{{ field.label_tag }}</h3>
                    {% if field.errors %}
                        <div class="warning">
                        <span class="error-message">{{ field.errors|join:", "}}</span>
                    {% else %}
                        <div>
                    {% endif %}
                    {% if field.help_text %}
                        <p class="help">{{field.help_text}}</p>
                    {% endif %}
                    {{field}}
                    </div>
                    </li>
                    {% endif %}{% endif %}
                {% endfor %}
                <li class="btnHolder">
                    <label for="id_submit">&nbsp;&nbsp;</label>
                    <input type="submit" value="Submit" class="button" />
                </li>
            </ol>
        </fieldset>
    </form>
</div>
{% endblock %}
{% block sidebar %}
    {% include "giving/side_bar.html" %}
{% endblock %}
