{% extends "base.html" %}
{% block title %}LIS Requests{% endblock %}
{% block group_name %}Library &amp; Information Services{% endblock %}
{% block left_nav %}
    {% include "lis/left_nav.html" %}
{% endblock %}
{% block content_head %}
    <h1 id="page_title">
        Request Submitted
    </h1>
{% endblock %}
{% block content %}
<p>Your request has been submited. You will recieve a copy via e-mail</p>
{% endblock %}
{% block sidebar %}
    {% include "lis/side_bar.html" %}
{% endblock %}
