{% load livewhale_api %}
{% autoescape off %}
  {% get_lw_content as donation_email blurbs 2598 %}
  {{donation_email.body}}
{% endautoescape %}
<h3>Donation Information</h3>
<dl style="margin-bottom:30px;">
    <dt style="background:#5f9be3; color:#fff; float:left; font-weight:bold; margin-right:10px; padding:5px; width:220px;">Amount</dt>
    <dd style="margin:2px 0; padding:5px 0;">${{data.order.total}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; font-weight:bold; margin-right:10px; padding:5px; width:220px;">Name on Card</dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.order.cc_name}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; font-weight:bold; margin-right:10px; padding:5px; width:220px;">Card ending with:</dt>
    <dd style="margin:2px 0; padding:5px 0;">x{{data.order.cc_4_digits}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; font-weight:bold; margin-right:10px; padding:5px; width:220px;">Transaction ID</dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.order.transid}}</dd>
</dl>
<hr />
<h3>Contact Information</h3>
<dl style="margin-bottom:30px;">
    <dt style="background:#5f9be3; color:#fff; float:left; font-weight:bold; margin-right:10px; padding:5px; width:220px;">First name</dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.order.contact.first_name}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; font-weight:bold; margin-right:10px; padding:5px; width:220px;">Last name</dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.order.contact.last_name}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; font-weight:bold; margin-right:10px; padding:5px; width:220px;">Email</dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.order.contact.email}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; font-weight:bold; margin-right:10px; padding:5px; width:220px;">Address</dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.order.contact.address1|default:"&nbsp;"}}{% if data.order.contact.address2 %}, {{data.order.contact.address2}}{% endif %}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; font-weight:bold; margin-right:10px; padding:5px; width:220px;">City</dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.order.contact.city|default:"&nbsp;"}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; font-weight:bold; margin-right:10px; padding:5px; width:220px;">State</dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.order.contact.state|default:"&nbsp;"}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; font-weight:bold; margin-right:10px; padding:5px; width:220px;">Zip</dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.order.contact.postal_code|default:"&nbsp;"}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; font-weight:bold; margin-right:10px; padding:5px; width:220px;">Phone</dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.order.contact.phone|default:"&nbsp;"}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; font-weight:bold; margin-right:10px; padding:5px; width:220px;">Class</dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.order.contact.class_of|default:"&nbsp;"}}</dd>
</dl>
<h3>Inscription</h3>
<ol>
    <li>{{data.order.contact.inscription_1}}</li>
    <li>{{data.order.contact.inscription_2}}</li>
    <li>{{data.order.contact.inscription_3}}</li>
    {% if data.order.contact.inscription_4 %}
    <li>{{data.order.contact.inscription_4}}</li>
    {% endif %}
    {% if data.order.contact.inscription_5 %}
    <li>{{data.order.contact.inscription_5}}</li>
    {% endif %}
</ol>

