{% extends "base.html" %}
{% load get_api %}
{% block title %}
    IEA Conference Call for Papers Form &mdash;
    Political Science &mdash;
    Carthage College
{% endblock %}
{% block extra_javascript %}
    {{ block.super }}
    <script src="//www.carthage.edu/static/vendor/jquery/plugins/jHtmlArea/jHtmlArea-0.8.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $("#id_abstract").htmlarea({
                toolbar: [
                    "html","bold", "italic", "underline", "superscript",
                    "subscript", "|", "h1", "h2", "h3", "h4", "|", "indent",
                    "outdent", "horizontalrule", "link", "unlink", "|",
                    "orderedList", "unorderedList"
                ]
            });
        });
    </script>
{% endblock %}
{% block extra_style %}
    <link href="//www.carthage.edu/static/vendor/jquery/plugins/jHtmlArea/jHtmlArea.css"
        rel="stylesheet" />
    <style type="text/css">
    #id_postal_code {width:100px;}
    </style>
{% endblock %}
{% block group_name %}IEA Conference{% endblock %}
{% block left_nav %}{% endblock %}
{% block content_head %}
    <h1 id="page_title">
        Call for Papers
    </h1>
{% endblock %}
{% block content %}
<div class="forms-container">
    {% include "includes/generic_form_multi.html" %}
</div>
{% endblock %}
