{% extends "base.html" %}
{% load get_api %}
{% block title %}Presenters Archives &mdash; Celebration of Scholars &mdash; Carthage College{% endblock %}
{% block extra_style %}
<link href="//www.carthage.edu/static/vendor/jquery/plugins/tablesorter/style.css" type="text/css" rel="stylesheet" />
<style>
table.tablesorter { width: 100%; }
table.tablesorter tbody tr.odd td { background-color: #efefef; }
</style>
{% endblock %}
{% block extra_javascript %}
<script src="//www.carthage.edu/static/vendor/jquery/plugins/tablesorter/jquery.tablesorter.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $(function() {
        $("#presentation_list_table").tablesorter({widgets: ['zebra'],headers:{3:{sorter:false}}});
    });
</script>
{% endblock %}
{% block group_name %}Undergraduate Research{% endblock %}
{% block left_nav %}
    {% include "scholars/left_nav.html" %}
{% endblock %}
{% block content_head %}
    <h1 id="page_title">
        Celebration of Scholars
    </h1>
{% endblock %}
{% block content %}
    <h2>Celebration of Scholars {{year}}</h2>
    <table id="presentation_list_table" class="tablesorter">
        <thead>
        <tr>
            <th style="width:365px;">Name</th>
            <th style="width:200px;">Type</th>
        </tr>
        </thead>
        <tbody>
        {% for p in prez %}
        <tr class="{% cycle 'odd' 'even' %}">
            {% if user.is_anonymous %}
            <td>{{p.last_name}}, {{p.first_name}}</td>
            {% else %}
            <td>{{p.last_name}}, {{p.first_name}}</td>
            {% endif %}
            <td>{{p.prez_type}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block sidebar %}
    {% include "scholars/side_bar.html" %}
{% endblock %}
