{% extends "scholars/presentation/home.html" %}
{% load get_prof %}
{% block title %}
    Email Presenters Form &mdash;
    Celebration of Scholars &mdash;
    Carthage College
{% endblock %}
{% block extra_javascript %}
{{block.super}}
    <script src="//www.carthage.edu/static/vendor/jquery/plugins/jHtmlArea/jHtmlArea-0.8.min.js"
        type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        $(function() {
            $("#id_content").htmlarea({
                toolbar: [
                    "html","bold", "italic", "underline", "superscript",
                    "subscript", "|", "h1", "h2", "h3", "h4", "|", "indent",
                    "outdent", "horizontalrule", "link", "unlink", "|",
                    "orderedList", "unorderedList"
                ]
            });
        });
    </script>
{% endblock %}
{% block extra_style %}
{{block.super}}
    <link href="//www.carthage.edu/static/vendor/jquery/plugins/jHtmlArea/jHtmlArea.css"
        rel="stylesheet" type="text/css" />
    <style type="text/css">
    div.jHtmlArea .ToolBar {width: 470px !important; }
    div.jHtmlArea .ToolBar ul li a.custom_disk_button
    {
        background: url(/static/forms/css/disk.png) no-repeat;
        background-position: 0 0;
    }
    div.jHtmlArea {
        width:480px !important;border: solid 1px #ccc; background: #efefef;
    }
    iframe {
        width:480px !important;height:300px !important;background: #fff;
        border: solid 1px #ccc;
    }
    #second p {line-height: 1.1;margin-bottom: .5em;}
    </style>
{% endblock %}
{% block content %}
    <h3>Email Presenters</h3>
    <p>
        Compose an email to send to the leaders of the following presentation:
    </p>
    <h5>{{p.title}}</h5>
    <p><u>Recipients</u></p>
    {% get_prof as prof p.leader.sponsor_email %}
    <div class="buffer-left">
        <ol>
            <li style="font-weight:bold;">
                {{p.user.first_name}} {{p.user.last_name}}
                [{{p.leader.prez_type}}]
            </li>
            {% if p.leader.sponsor_email %}
            {% get_prof as prof p.leader.sponsor_email %}
            <li style="font-weight:bold;">
                {{prof.firstname}} {{prof.lastname}} [Faculty Sponsor]
            </li>
            {% endif %}
        </ol>
    </div>
    {% if data %}
        <div class="notice">
        <p>
            If you are satisfied with the content below, click on the
            "execute" button, and your email will be sent.
        </p>
        <p>
            If you would like to update the content, click on the "edit" button.
        </p>
        </div>
        <div class="buffer" style="background-color:#efefef;">
        {{data.content}}
        </div>
        <form method="post" action="." class="form"
            id="profile"{% block extra_form_tag %}{% endblock%}>
        {% csrf_token %}
        <div style="display:none;">
        <table>
        {{form}}
        </table>
        </div>
        <p>
            <br />
            <input type="button" name="update" value="Edit"
                class="button fleft" onclick="javascript:history.go(-1)" />
            &nbsp;
            <input type="submit" name="execute" value="Execute"
                class="button fright" />
        </p>
        </form>
    {% else %}
        <form method="post" action="." class="form" id="profile">
          {% csrf_token %}
          <fieldset class="blockLabels">
            <ol>
                <li class="ctrlHolder">
                    <div class="span-12">
                    <textarea id="id_content" rows="10" cols="40" name="content">
                    {% if action == "email" %}
                        {% include "scholars/presenters/email.inc.html" %}
                    {% elif action == "reject" %}
                        {% include "scholars/presenters/rejection.inc.html" %}
                    {% else %}{% endif %}
                    </textarea>
                    </div>
                </li>
            </ol>
          </fieldset>
          {% include "form_submit.inc.html" %}
        </form>
    {% endif %}
{% endblock %}
{% block sidebar %}
    {% include "scholars/side_bar.html" %}
{% endblock %}
