{% extends "giving/donation_form.html" %}
{% block content_head %}
    <h1 id="page_title">
        {{campaign.title}}
    </h1>
{% endblock %}
{% block designation %}
<li class="ctrlHolder">
    <h3><label for="id_or-comments">Designation</label></h3>
    <div>
      <select name="or-comments">
        <option value="">----Select----</option>
        <option value="75 Years of Black Excellence Scholarship"{% if or_form.comments.value == '75 Years of Black Excellence Scholarship' or not or_form.comments.value %} selected{% endif %}>
          75 Years of Black Excellence Scholarship
        <option value="Wiggan-Kenniebrew Experiential Learning Fund"{% if or_form.comments.value == 'Wiggan-Kenniebrew Experiential Learning Fund' %} selected{% endif %}>
          Wiggan-Kenniebrew Experiential Learning Fund
        </option>
        <option value="Wiggan-Kenniebrew Endowed Scholarship"{% if or_form.comments.value == 'Wiggan-Kenniebrew Endowed Scholarship' %} selected{% endif %}>
          Wiggan-Kenniebrew Endowed Scholarship
        </option>
        <option value="Intercultural Center for Equity, Advocacy, and Engagement"{% if or_form.comments.value == 'Intercultural Center for Equity, Advocacy, and Engagement' %} selected{% endif %}>
          Intercultural Center for Equity, Advocacy, and Engagement
        </option>
        <option value="Urban Teacher Prep Program"{% if or_form.comments.value == 'Urban Teacher Prep Program' %} selected{% endif %}>
          Urban Teacher Prep Program
        </option>
      </select>
      <p class="help">
        Please choose a designation.
      </p>
    </div>
</li>
{% endblock %}
