<h4>Model United Nations Registration</h4>
<pre style="font-size:1em;">
School...................... {{data.object.school_name}}
Advisor..................... {{data.object.first_name}} {{data.object.last_name}}
Address..................... {{data.object.address1}}
       ..................... {{data.object.address2}}
City........................ {{data.object.city}}
State....................... {{data.object.state}}
Postal Code................. {{data.object.postal_code}}
Office...................... {{data.object.office}}
Phone....................... {{data.object.phone}}
Number of delegations....... {{data.object.number_of_del}}
Number of students.......... {{data.object.number_of_stu}}
Email....................... {{data.object.email}}
</pre>

<h4>Delegation Countries</h4>

<h5>Delegation 1</h5>
<ul>
<li>{{data.object.delegation_1}}</li>
</ul>
<h5>Delegation 2</h5>
<ul>
<li>{{data.object.delegation_2}}</li>
</ul>
<h5>Delegation 3</h5>
<ul>
<li>{{data.object.delegation_3}}</li>
</ul>
<h5>Delegation 4</h5>
<ul>
<li>{{data.object.delegation_4}}</li>
</ul>
<h5>Delegation 5</h5>
<ul>
<li>{{data.object.delegation_5}}</li>
</ul>
<h4>Comments</h4>
{{data.object.comments}}
