{% extends "base.html" %}
{% load livewhale_api %}
{% block title %}
    Registration &mdash;
    Model United Nations &mdash;
    Political Science &mdash;
    Carthage College
{% endblock %}
{% block extra_javascript %}
    <script type="text/javascript">
        $(function() {
            $('#id_cont-number_of_del').on('change', function(){
                $this = $(this).val();
                $stu = $('#id_cont-number_of_stu').val();
                if (!$stu) {
                    $stu = 3 * $this;
                }
                $('#id_cont-number_of_stu').val($stu);
            });
            /*
            $("select[id^='id_pais-delegation']").on('change', function(){
                $this = $(this).find(":selected").text();
                if ($this.match(/\*$/)) {
                    alert($this);
                }
            });
            */
        });
    </script>
{% endblock %}
{% block extra_style %}
<style>
.form .delegation select {
    width: 130px;
    margin-bottom:5px;
}
.delegation {margin-left:5px;margin-bottom:10px;}
#id_cont-number_of_del,
#id_cont-number_of_stu {width:70px;}
</style>
{% endblock %}
{% block group_name %}Model United Nations{% endblock %}
{% block left_nav %}
    {% include "polisci/model_united_nations/left_nav.html" %}
{% endblock %}
{% block content_head %}
    <h1 id="page_title">
        Registration Form
    </h1>
{% endblock %}
{% block content %}
<div class="forms-container">
    {% include "includes/required_text.html" %}
    {% include "includes/errors_text.html" %}
    <form method="post" action="." class="form">
        {% csrf_token %}
        <fieldset class="blockLabels">
            <ol>
                {% for field in form_cont %}
                    {% include "form_field.inc.html" %}
                    {% if field.name == "number_of_stu" %}
                    <li class="ctrlHolder buffer-top">
                        {% get_lw_content as ga_mem blurbs 1788 %}
                        {{ga_mem.body}}
                        {% if form_pais.errors %}
                            <p class="error">
                                You have choosen the same country in more
                                than one delegation.
                            </p>
                        {% endif %}
                        <div id="delegation_1" class="fleft delegation">
                        <h4 style="text-align:center;">Delegation 1</h4>
                        {{form_pais.delegation_1}}
                        </div>
                        <div id="delegation_2" class="fleft delegation">
                        <h4 style="text-align:center;">Delegation 2</h4>
                        {{form_pais.delegation_2}}
                        </div>
                        <div id="delegation_3" class="fleft delegation">
                        <h4 style="text-align:center;">Delegation 3</h4>
                        {{form_pais.delegation_3}}
                        </div>
                        <div id="delegation_4" class="fleft delegation">
                        <h4 style="text-align:center;">Delegation 4</h4>
                        {{form_pais.delegation_4}}
                        </div>
                        <div id="delegation_5" class="fleft delegation">
                        <h4 style="text-align:center;">Delegation 5</h4>
                        {{form_pais.delegation_5}}
                        </div>
                        <div class="cf">
                        {% get_lw_content as mun_note blurbs 1787 %}
                        {{mun_note.body}}
                        </div>
                    </li>
                    {% endif %}
                {% endfor %}
            </ol>
        </fieldset>
        <fieldset class="blockLabels">
            <ol>
                <li>
                    {% get_lw_content as ga_fees blurbs 1789 %}
                    {{ga_fees.body}}
                </li>
            </ol>
        </fieldset>
        {% include "form_submit.inc.html" %}
        <fieldset class="blockLabels">
            <ol>
                <li class="btnHolder">
                    <p>If you have further questions please contact:</p>
                    <blockquote>
                        <p><strong>Dr. Jeffrey L. Roberg<br>
                                   Carthage College<br>
                                   2001 Alford Park Drive<br>
                                   Kenosha, WI 53140</strong></p>
                        <p>Email: <a href="mailto:jroberg@carthage.edu">jroberg@carthage.edu</a></p>
                    </blockquote>
                </li>
            </ol>
        </fieldset>
    </form>
</div>
{% endblock %}
