{% extends "base.html" %}
{% load livewhale_api %}
{% block title %}
    Registration &mdash;
    Model United Nations &mdash;
    Political Science &mdash;
    Carthage College
{% endblock %}
{% block extra_javascript %}
    <script type="text/javascript">
        $(function() {
            function setTotal(del,stu) {
                $('#id_ordr-total').val(parseInt((del*25)+(stu*7)));
            }

            $('#id_ordr-total').attr('readonly', true);
            $('#id_cont-number_of_del').on('change', function(){
                $this = $(this).val();
                $stu = $('#id_cont-number_of_stu').val();
                if (!$stu) {
                    $stu = 3 * $this;
                }
                setTotal($this,$stu);
                $('#id_cont-number_of_stu').val($stu);
            });
            $('#id_cont-number_of_stu').on('change', function(){
                $this = $(this).val();
                $del = $('#id_cont-number_of_del').val();
                if ($del < 1) {
                    $del = 1;
                }
                setTotal($del,$this);
            });
            $("select[id^='id_pais-delegation']").on('change', function(){
                $this = $(this).find(":selected").text();
                //  $10/student
                if ($this.match(/\*$/)) {
                    alert($this);
                }
            });
        });
    </script>
{% endblock %}
{% block extra_style %}
<style>
.form .delegation select {
    width: 130px;
    margin-bottom:5px;
}
#id_proc-security_code, #id_proc-expiration_month,
#id_proc-expiration_year, #id_cont-number_of_del,
#id_cont-number_of_stu, #id_ordr-total {width:70px;}
</style>
{% endblock %}
{% block left_nav %}
    {% include "polisci/model_united_nations/left_nav.html" %}
{% endblock %}
{% block content_head %}
    <h1 id="page_title">
        Registration Form
        <span id="secondary-dropdown"></span>
    </h1>
{% endblock %}
{% block content %}
<div class="forms-container">
    {% include "includes/required_text.html" %}
    {% include "includes/errors_text.html" %}
    <form method="post" action="." class="form">
        {% csrf_token %}
        <fieldset class="blockLabels">
            <ol>
                {% for field in form_cont %}
                    {% include "form_field.inc.html" %}
                    {% if field.name == "number_of_stu" %}
                    <li class="ctrlHolder buffer-top">
                        {% get_lw_content as ga_mem blurbs 1788 %}
                        {{ga_mem.body}}
                        <div id="delegation_1" class="fleft delegation">
                        <h4 style="text-align:center;">Delegation 1</h4>
                        {{form_pais.delegation_1}}
                        </div>
                        <div id="delegation_2" class="fleft delegation" style="margin-left:5px;">
                        <h4 style="text-align:center;">Delegation 2</h4>
                        {{form_pais.delegation_2}}
                        </div>
                        <div id="delegation_3" class="fleft delegation" style="margin-left:5px;">
                        <h4 style="text-align:center;">Delegation 3</h4>
                        {{form_pais.delegation_3}}
                        </div>
                        <div id="delegation_4" class="fleft delegation" style="margin-left:5px;">
                        <h4 style="text-align:center;">Delegation 4</h4>
                        {{form_pais.delegation_4}}
                        </div>
                        <div id="delegation_5" class="fleft delegation" style="margin-left:5px;">
                        <h4 style="text-align:center;">Delegation 5</h4>
                        {{form_pais.delegation_5}}
                        </div>
                        <div class="cf">
                        {% get_lw_content as mun_note blurbs 1787 %}
                        {{mun_note.body}}
                        </div>
                    </li>
                    {% endif %}
                {% endfor %}
            </ol>
        </fieldset>
        <fieldset class="blockLabels">
            <ol>
                <li>
                    {% get_lw_content as ga_fees blurbs 1789 %}
                    {{ga_fees.body}}
                </li>
            </ol>
        </fieldset>
        <h2>Billing Information</h2>
        <fieldset class="blockLabels">
            {% if form_proc.errors %}
                <div style="padding-left:4px;">
                <p class="error">The transaction failed. Error: <strong>{{status}}</strong></p>
                </div>
            {% endif %}
            <ol>
                {% for field in form_ordr %}
                    {% include "form_field.inc.html" %}
                {% endfor %}
                {% include "form_field_credit_card.inc.html" %}
            </ol>
        </fieldset>
        {% include "form_submit.inc.html" %}
        <fieldset class="blockLabels">
            <ol>
                <li class="btnHolder">
                    <p>If you have further questions please contact:</p>
                    <blockquote>
                        <p><strong>Dr. Jeffrey L. Roberg<br>
                                   Carthage College<br>
                                   2001 Alford Park Drive<br>
                                   Kenosha, WI 53140</strong></p>
                        <p>Email: <a href="mailto:jroberg@carthage.edu">jroberg@carthage.edu</a></p>
                    </blockquote>
                </li>
            </ol>
        </fieldset>
    </form>
</div>
{% endblock %}
