{% extends "base.html" %}
{% block title %}
    Print Request Form
{% endblock %}
{% block left_nav %}
    {% include "admissions/left_nav.html" %}
{% endblock %}
{% block content_head %}
    <h1 id="page_title">
        Print request form
        <span id="secondary-dropdown"></span>
    </h1>
{% endblock %}
{% block content %}
<div class="forms-container large-8 medium-10 small-12">
    {% include "includes/required_text.html" %}
    {% include "includes/errors_text.html" %}
    <form method="post" action="." class="form" id="profile">
        {% csrf_token %}
        <text>test</text>
        <fieldset class="blockLabels">
            <ol>
                {% for field in form %}
                    a
                    {% include "form_field.inc.html" %}
                {% endfor %}
            </ol>
        </fieldset>
        {% include "form_submit.inc.html" %}
    </form>
</div>
<div class="column2 large-4 medium-6 small-12">
    {% include "admissions/side_bar.html" %}
</div>
{% endblock %}