{% extends "base.html" %}
{% load livewhale_api %}
{% block title %}
    Brick Form &mdash; Giving &mdash; Carthage College
{% endblock %}
{% block extra_javascript %}
    <script type="text/javascript">
        $(function() {
            var year = new Date().getFullYear();
            {% if ct_form.brick_type.value != "500" %}
            $("#inscription_4").slideUp(200);
            $("#inscription_5").slideUp(200);
            {% endif %}
            {% if ct_form.class_of.value == year %}
            $('#personal_price').text("$" + (200 + (year-2000)));
            $('#recognition_price').text("$" + (300 + (year-2000)));
            {% endif %}
            $("input[name=ct-brick_type]:radio").change(function () {
                if ($(this).attr("id") == "recognition_brick") {
                    $("#inscription_4").slideDown(200);
                    $("#inscription_5").slideDown(200);
                } else {
                    $("#id_ct-inscription_4").val("");
                    $("#id_ct-inscription_5").val("");
                    $("#inscription_4").slideUp(200);
                    $("#inscription_5").slideUp(200);
                }
            });
            $("#id_ct-class_of").change(function () {
                if ($(this).val() == year) {
                    $('#personal_price').text("$" + (200 + (year-2000)));
                    $('#recognition_price').text("$" + (300 + (year-2000)));
                } else {
                    $('#personal_price').text("$250");
                    $('#recognition_price').text("$500");
                }
            });
            // disable submit button after users clicks it
            $('form#profile').bind('submit', function (e) {
                $('#id_or-total').val( $("input[name=ct-brick_type]:checked").val() );
                $('form#profile input[type=submit]').prop('disabled', true);
                return true;
            });

        });
    </script>
{% endblock %}
{% block extra_style %}
    <style type="text/css">
    #profile h2 {margin:7px 0 7px 0;font-size:1.6em;background-color:#cacaca;
    padding:3px 0 3px 5px;width:99%;}
    #id_cc-security_code, #id_cc-expiration_month,
    #id_cc-expiration_year {width:70px;}
    #id_or-start_date, #id_ct-postal_code, {width:100px;}
    li.ctrlHolder div ul li {display: inherit; padding-right:3px;}
    .cost { color:green !important; }
    </style>
{% endblock %}
{% block group_name %}Giving{% endblock %}
{% block left_nav %}
    {% include "giving/left_nav.html" %}
{% endblock %}
{% block sidebar %}
    {% include "giving/side_bar.html" %}
{% endblock %}
{% block content_head %}
    <h1 id="page_title">
        Mark your place in Carthage history
    </h1>
{% endblock %}
{% block content %}
    {% include "includes/security_metrics.html" %}
    <br />
    <div class="content cf">
        {% get_lw_content as content blurbs 2046 %}
        {{content.body}}
    </div>
    <div class="forms-container large-8 medium-8 small-12">
    {% include "includes/required_text.html" %}
    {% if form_proc.errors or or_form.errors or ct_form.errors %}
        <p class="error">
            There were errors with the data submitted, see below.
        </p>
    {% endif %}
    <form method="post" action="." class="form" id="profile">
        {% csrf_token %}
        {% for hidden in or_form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        <fieldset class="blockLabels">
            <legend>Brick Details</legend>
            <ol>
                <li class="ctrlHolder">
                    <h3>
                        <label for="id_class_of">
                            Class
                        </label>
                    </h3>
                    {{ct_form.class_of}}
                </li>
                <li class="ctrlHolder">
                    {% if ct_form.brick_type.errors %}
                        <div class="required warning">
                            <span class="error-message">
                                {{ ct_form.brick_type.errors|join:", "}}
                            </span>
                        </div>
                    {% endif %}
                    <input type="radio" id="personal_brick" value="250"
                        name="ct-brick_type" class="fleft"
                        {% if ct_form.brick_type.value == "250" %}
                        checked="checked"
                        {% endif %}
                        >
                    <label for="personal_brick" class="cf">
                        <strong>
                            <em>Personal Brick</em>&mdash;
                            <span id="personal_price" class="cost">$250</span>
                        </strong>
                    </label>
                    (4" x 8" - 3 lines)<br>
                </li>
                <li class="ctrlHolder">
                    <input type="radio" id="recognition_brick" class="fleft"
                        name="ct-brick_type" value="500"
                        {% if ct_form.brick_type.value == "500" %}
                        checked="checked"
                        {% endif %}
                        >
                    <label for="recognition_brick">
                        <strong>
                            <em>Recognition Brick</em>&mdash;
                            <span id="recognition_price" class="cost">
                                $500
                            </span>
                        </strong>
                    </label>
                    (8" x 8" - 5 lines or 1 line &amp; logo)<br>
                </li>
                <li class="ctrlHolder">
                    <h3>Inscription (14 characters and spaces per line)</h3>
                </li>
                <li class="ctrlHolder" id="inscription_1">
                    <div>
                        <input type="text" name="ct-inscription_1"
                            placeholder="Line 1"
                            value="{{ct_form.inscription_1.value|default:""}}"
                            maxlength="14" id="id_ct-inscription_1">
                    </div>
                </li>
                <li class="ctrlHolder" id="inscription_2">
                    <div>
                        <input type="text" name="ct-inscription_2"
                            placeholder="Line 2"
                            value="{{ct_form.inscription_2.value|default:""}}"
                            maxlength="14" id="id_ct-inscription_2">
                    </div>
                </li>
                <li class="ctrlHolder" id="inscription_3">
                    <div>
                        <input type="text" name="ct-inscription_3"
                            placeholder="Line 3"
                            value="{{ct_form.inscription_3.value|default:""}}"
                            maxlength="14" id="id_ct-inscription_3">
                    </div>
                </li>
                <li class="ctrlHolder" id="inscription_4">
                    <div>
                        <input type="text" name="ct-inscription_4"
                            placeholder="Line 4"
                            value="{{ct_form.inscription_4.value|default:""}}"
                            maxlength="14" id="id_ct-inscription_4">
                    </div>
                </li>
                <li class="ctrlHolder" id="inscription_5">
                    <div>
                        <input type="text" name="ct-inscription_5"
                            placeholder="Line 5"
                            value="{{ct_form.inscription_5.value|default:""}}"
                            maxlength="14" id="id_ct-inscription_5">
                    </div>
                </li>
            </ol>
        </fieldset>
        <fieldset class="blockLabels">
            <legend>Contact Information</legend>
            <ol>
                {% for field in ct_form %}
                    {% if field.name != "class_of" and field.name != "brick_type" and field.name != "inscription_1" and field.name != "inscription_2" and field.name != "inscription_3" and field.name != "inscription_4" and field.name != "inscription_5" %}
                    <li class="ctrlHolder">
                        {% if field.name != "address2" %}
                        <h3>{{ field.label_tag }}</h3>
                        {% endif %}
                        {% if field.errors %}
                            <div class="required warning">
                            <span class="error-message">
                                {{ field.errors|join:", "}}
                            </span>
                        {% else %}
                            <div{% if field.field.required %}
                                class="required"{% endif %}>
                        {% endif %}
                        {{field}}
                        {% if field.help_text %}
                            <p class="help">{{field.help_text}}</p>
                        {% endif %}
                        </div>
                    </li>
                    {% endif %}
                {% endfor %}
            </ol>
        </fieldset>
        <fieldset class="blockLabels">
            <legend>Billing Information</legend>
            {% if form_proc.errors and status %}
                <div style="padding-left:4px;">
                <p class="error">The transaction failed. Error: <strong>{{status}}</strong></p>
                </div>
            {% endif %}
            <ol>
                {% include "form_field_credit_card.inc.html" %}
            </ol>
        </fieldset>
        {% include "form_submit.inc.html" %}
    </form>
    </div>
{% endblock %}
