{% extends "base.html" %}
{% block title %}
    {{campaign.title|default:"Giving to Carthage"}}
    Form &mdash; Giving &mdash; Carthage College
{% endblock %}
{% block extra_javascript %}
    <script src="//www.carthage.edu/static/vendor/jquery/ui/datepicker/js/jquery-ui-1.10.4.custom.min.js"
        type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        $(function() {
            $("#id_0-event_date").datepicker({
                firstDay:0,appendText:"(format yyyy-mm-dd)",
                changeFirstDay:false,dateFormat:"yy-mm-dd",
                showOn:"both",
                buttonImage:"//www.carthage.edu/themes/shared/img/ico/calendar.gif",
                buttonImageOnly:true
            });
            $('#id_or-total').blur(function() {
                $(this).val($(this).val().replace(/,/g,''));
                $(this).val($(this).val().replace(/\$/g,''));
            });
            // disable submit button after users clicks it
            $('form#profile').submit(function(){
                $(this).children('input[type=submit]').attr('disabled', 'disabled');
            });
        });
    </script>
{% endblock %}
{% block extra_style %}
    <link href="//www.carthage.edu/static/vendor/jquery/ui/datepicker/css/smoothness/jquery-ui-1.10.4.custom.min.css"
        rel="stylesheet" type="text/css" />
    <style type="text/css">
    #profile h2 {margin:7px 0 7px 0;font-size:1.6em;background-color:#cacaca;
    padding:3px 0 3px 5px;width:99%;}
    #id_cc-security_code, #id_cc-expiration_month,
    #id_cc-expiration_year {width:70px;}
    #id_or-start_date, #id_ct-postal_code, #id_or-total {width:100px;}
    li.ctrlHolder div ul li {display: inherit; padding-right:3px;}
    </style>
{% endblock %}
{% block left_nav %}
    {% include "giving/left_nav.html" %}
{% endblock %}
{% block sidebar %}
    {% include "giving/side_bar.html" %}
{% endblock %}
{% block content_head %}
    <h1 id="page_title">
        {{campaign.title|default:"Your Giving Matters"}}
        <span id="secondary-dropdown"></span>
    </h1>
{% endblock %}
{% block content %}
<div class="forms-container{% if campaign.about %}
    large-8 medium-10 small-12"{% endif %}">
    {% include "includes/security_metrics.html" %}
    <br />
    <div class="content clear">
        {% if campaign.description %}
            {{campaign.description}}
        {% else %}
            <h2 align="center">
                <span style="font-size: 24px;">
                Seeking Truth, Building Strength,<br />
                Inspiring Service &#8212; Together
                </span><br />
                <em><span style="font-size: 20px;">
                ... such are the aims of Carthage
                </span></em>
            </h2>
            <p>
                Embracing these objectives is made possible in part by the
                financial support of alumni and friends of the College.
                Because of your generosity, we enjoy superb professors,
                modern facilities, and learning opportunities beyond the
                classroom. When we look in the mirror, and see what your
                support has helped us become, we are reminded of the
                importance of each gift, and of our responsibility to
                continue the tradition. Please join us in again
                supporting Carthage College.
            </p>
        {% endif %}
    </div>
    <p style="font-weight:bold;color:#800;clear:both;">
    Would you rather make a recurring pledge donation?
    {% if not campaign.description %}
        <a href="{% url 'giving_form_generic' 'pledge' %}">
            Use the pledge form
        </a>.
    {% else %}
        <a href="{% url 'giving_form_campaign' 'pledge' campaign.slug %}">
            Use the pledge form
        </a>.
    {% endif %}
    </p>
    <p>
        Fields marked with an asterisk
        <img src="/static/forms/img/icons/red_asterisk.png" alt="asterisk" />
        are required.
    </p>
    {% if form_proc.errors or or_form.errors or ct_form.errors %}
        <p class="error">
            There were errors with the data submitted, see below.
        </p>
    {% endif %}
    <form method="post" action="." class="form" id="profile">
        {% csrf_token %}
        {% for hidden in or_form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        <h2>Donation Information</h2>
        <fieldset class="blockLabels">
            <ol>
                {% for field in or_form.visible_fields %}
                    <li class="ctrlHolder">
                    {% if field.label %}<h3>{{ field.label_tag }}</h3>{% endif %}
                    {% if field.errors %}
                        <div class="required warning">
                        <span class="error-message">
                            {{ field.errors|join:", "}}
                        </span>
                    {% else %}
                        <div{% if field.field.required %}
                            class="required"{% endif %}>
                    {% endif %}
                    {{field}}
                    {% if field.help_text %}
                        <p class="help">{{field.help_text}}</p>
                    {% endif %}
                    </div>
                    </li>
                {% endfor %}
            </ol>
        </fieldset>
        <h2>Contact Information</h2>
        <fieldset class="blockLabels">
            <ol>
                {% for field in ct_form %}
                    <li class="ctrlHolder">
                    {% if field.name == "matching_company" or field.name == "opt_in" %}
                    {{field}} {{field.label}}<br />
                    {% else %}
                        {% if field.name != "address2" %}
                        <h3>{{ field.label_tag }}</h3>
                        {% endif %}
                        {% if field.errors %}
                            <div class="required warning">
                            <span class="error-message">
                                {{ field.errors|join:", "}}
                            </span>
                        {% else %}
                            <div{% if field.field.required %}
                                class="required"{% endif %}>
                        {% endif %}
                        {{field}}
                        {% if field.help_text %}
                            <p class="help">{{field.help_text}}</p>
                        {% endif %}
                        </div>
                        {% if field.name == "postal_code" %}
                        <h3 style="margin-top:9px;">Matching Funds</h3>
                        {% endif %}
                    {% endif %}
                    </li>
                {% endfor %}
                <li>
                    <h3>Thrivent Choice</h3>
                    <p>
                        Thrivent members may allocate their Thrivent Choice
                        dollars to Carthage. Please contact Thrivent or visit
                        <a href="https://www.thrivent.com/thriventchoice/program/dollars_details/index.html"
                            target="_blank">the website</a>
                        for more information.
                    </p>
                </li>
            </ol>
        </fieldset>
        <h2>Billing Information</h2>
        <fieldset class="blockLabels">
            {% if form_proc.errors and status %}
                <div style="padding-left:4px;">
                <p class="error">The transaction failed. Error: <strong>{{status}}</strong></p>
                </div>
            {% endif %}
            <ol>
                {% include "form_field_credit_card.inc.html" %}
            </ol>
        </fieldset>
        {% include "form_submit.inc.html" %}
    </form>
</div>
{% if campaign.about %}
<div class="forms-sidebar large-4 medium-6 small-12">
    {{campaign.about}}
</div>
{% endif %}
{% endblock %}
