{% extends "base.html" %}
{% load livewhale_api %}
{% block title %}
    {{campaign.title|default:"Giving to Carthage"}}
    Form &mdash; Giving &mdash; Carthage College
{% endblock %}
{% block extra_javascript %}
  {{block.super}}
  {% include "giving/donation_form.inc.js" %}
{% endblock %}
{% block extra_style %}
  {{block.super}}
  <style type="text/css">
    #id_security_code, #id_expiration_month,
    #id_expiration_year {width:70px;}
    #id_or-start_date, #id_ct-postal_code, #id_or-total {width:100px;}
    li.ctrlHolder div ul li {display: inherit; padding-right:3px;}
    .cost { font-weight:bold; color:green; }
    .ui-widget button { float: right; }
    #dialog-message{padding:8px;}
    .ui-dialog-title{padding:4px;float:left;}
    main #matching-funds label {display: inline;}
    form p.help {margin:0;}
  </style>
{% endblock %}
{% block group_name %}Giving{% endblock %}
{% block left_nav %}
    {% include "giving/left_nav.html" %}
{% endblock %}
{% block content_head %}
    <h1>{{campaign.title|default:"Your Giving Matters"}}</h1>
{% endblock %}
{% block breadcrumb %}
<li>
  <a href="https://www.carthage.edu/giving/">Giving</a>
</li>
<li>
  <a href="https://www.carthage.edu/giving/give-today/" aria-current="page">Give Today</a>
</li>
{% endblock breadcrumb %}
{% block content %}
<div class="forms-container">
    {% if campaign.description %}
        {{campaign.description|safe}}
    {% endif %}
    <p>
      Fields marked with an asterisk
      <img src="/static/forms/img/icons/red_asterisk.png" alt="asterisk" />
      are required.
    </p>
    {% if form_proc.errors or or_form.errors or ct_form.errors %}
      <p class="error">
        There were errors with the data submitted, see below.
      </p>
    {% endif %}
    <form method="post" action="{{ request.get_full_path }}" class="form">
        {% csrf_token %}
        {% for hidden in or_form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        <h3>Donation Information</h3>
        <fieldset class="blockLabels">
          <div class="large-6 medium-12 small-12 clear cf">
            <ol>
                <li class="ctrlHolder">
                    <h3><label for="id_or-total">Amount</label></h3>
                    {% if or_form.total.errors %}
                    <div class="required warning">
                      <span class="error-message">
                            {{ or_form.total.errors|join:", "}}
                      </span>
                    {% else %}
                    <div class="required">
                    {% endif %}
                      <input type="text" placeholder="$"
                        name="or-total" id="id_or-total" class="required"
                        value="{{or_form.total.value|default:""}}">
                    </div>
                </li>
            </ol>
          </div>
          <div class="column2 large-6 medium-12 small-12">
            <ol>
              {% block designation %}
                <li class="ctrlHolder">
                    <h3><label for="id_or-comments">Designation</label></h3>
                    {% if or_form.comments.errors %}
                    <div class="required warning">
                      <span class="error-message">
                            {{ or_form.comments.errors|join:", "}}
                      </span>
                    {% else %}
                    <div class="required">
                    {% endif %}
                      <input type="text" name="or-comments" id="id_or-comments"
                        value="{{or_form.comments.value|default:""}}">
                    <p class="help">
                      Please indicate if you would like your gift to be
                      directed to a specific area.
                    </p>
                    </div>
                </li>
              {% endblock %}
              {% with ct_form.honouring as field %}
              {% include "form_field.inc.html" %}
              {% endwith %}
            </ol>
          </div>
        </fieldset>
        <h2>Contact Information</h2>
        <fieldset class="blockLabels">
          <div class="large-6 medium-12 small-12 clear cf">
            <ol>
                {% for field in ct_form %}
                  {% if field.name != "honouring" and field.name != "matching_company" and field.name != "opt_in" and field.name != "anonymous" %}
                    <li class="ctrlHolder">
                        <h3>{{ field.label_tag }}</h3>
                        {% if field.errors %}
                            <div class="required warning">
                            <span class="error-message">
                                {{ field.errors|join:", "}}
                            </span>
                        {% else %}
                            <div{% if field.field.required %}
                                class="required"{% endif %}>
                        {% endif %}
                        {{field}}
                        {% if field.help_text %}
                            <p class="help">{{field.help_text}}</p>
                        {% endif %}
                        </div>
                        {% if field.name == "class_of" %}
                        </li></ol></div>
                        <div class="column2 large-6 medium-12 small-12">
                        <ol><li class="ctrlHolder">
                        {% endif %}
                    </li>
                  {% endif %}
                {% endfor %}
            </ol>
          </div>
          <div class="large-12 medium-12 small-12 clear cf">
            <ul id="matching-funds" style="padding-top:12px;">
                <li style="padding:0;">
                    <h3><label>Matching Funds</label></h3>
                </li>
                <li style="padding:0;">
                {% with ct_form.matching_company as field %}
                {{field}} {{field.label_tag}}
                {% endwith %}
                </li>
                <li style="padding:0;">
                {% with ct_form.opt_in as field %}
                {{field}} {{field.label_tag}}
                {% endwith %}
                </li>
                <li style="padding:0;">
                    <h3><label>Thrivent Choice</label></h3>
                    <p>
                        Thrivent members may allocate their Thrivent Choice
                        dollars to Carthage. Please contact Thrivent or visit
                        <a href="https://www.thrivent.com/making-a-difference/living-generously/thrivent-choice/"
                            target="_blank">the website</a>
                        for more information.
                    </p>
                </li>
                <li style="padding:0;">
                    <h3 style="margin-bottom:16px;"><label>Anonymous Giving</label></h3>
                    <input type="checkbox" name="ct-anonymous"
                        {% if ct_form.anonymous.value %}checked{% endif %}
                        id="id_ct-anonymous">
                    <label for="id_ct-anonymous">
                    I would like my gift to remain anonymous,
                    and not be published on any donor list or
                    in the annual report.</label>
                </li>
            </ul>
          </div>
        </fieldset>
        <h2>Billing Information</h2>
        <fieldset class="blockLabels">
          <div class="large-12 medium-12 small-12">
            {% if form_proc.errors and status %}
            <div style="padding-left:4px;">
              <p class="notice">
                The transaction failed.
                {% if status == "baddata" or status == "decline" %}
                Error: <strong>{{status}}</strong>
                {% endif %}
              </p>
            </div>
            {% endif %}

            <div class="large-6 medium-12 small-12 clear cf">
            <ol>
            {% with form_proc.billing_name as field %}
            {% include "form_field.inc.html" %}
            {% endwith %}
            {% with form_proc.card_number as field %}
            {% include "form_field.inc.html" %}
            {% endwith %}
            <li class="ctrlHolder">
              <h3>
                <label for="id_expiration_month">Expiration Date</label>
              </h3>
              <div class="required">
                {{form_proc.expiration_month}}
                <label for="id_expiration_year" style="display:none;">
                Expiration Year
                </label>
                &mdash;&nbsp;
                {{form_proc.expiration_year}}
              </div>
            </li>
            </ol>
            </div>
            <div class="column2 large-6 medium-12 small-12">
            <ol>
            {% with form_proc.security_code as field %}
            {% include "form_field.inc.html" %}
            {% endwith %}
            {% with form_proc.captcha as field %}
            {% include "form_field.inc.html" %}
            {% endwith %}
            </ol>
            </div>
          </div>
        </fieldset>
      {% include "form_submit.inc.html" %}
    </form>
</div>
{% if campaign.about %}
<div class="forms-sidebar large-4 medium-6 small-12">
    {{campaign.about}}
</div>
{% endif %}
{% endblock %}
