<h1>{{campaign|default:"Donation to Carthage"}}</h1>
{% if campaign.slug %}
<p><strong>Campaign ID</strong>: {{campaign.slug}}</p>
{% endif %}
{% if campaign.email_info %}
    <p>{{campaign.email_info}}</p>
{% else %}
    <p>Thank your support and for your donation.</p>
    <p>This email is your confirmation and may be used as a receipt for tax purposes.</p>
    <p>
    If you have any questions, please do not hesitate to
    <a href="mailto:lhansen@carthage.edu">contact us</a>.
    </p>
{% endif %}
<h3>Subscription Donation Information</h3>
<dl style="margin-bottom:30px;">
    <dt style="background:#5f9be3; color:#fff; float:left; font-weight:bold; margin-right:10px; padding:5px; width:200px;">Amount</dt>
    <dd style="margin:2px 0; padding:5px 0;">${{data.order.total}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; font-weight:bold; margin-right:10px; padding:5px; width:200px;">Name on Card</dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.order.cc_name}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; font-weight:bold; margin-right:10px; padding:5px; width:200px;">Card ending with:</dt>
    <dd style="margin:2px 0; padding:5px 0;">x{{data.order.cc_4_digits}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; font-weight:bold; margin-right:10px; padding:5px; width:200px;">Transaction ID</dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.order.transid}}</dd>
</dl>
<hr />
<h3>Contact Information</h3>
<dl style="margin-bottom:30px;">
    <dt style="background:#5f9be3; color:#fff; float:left; font-weight:bold; margin-right:10px; padding:5px; width:200px;">First name</dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.order.contact.first_name}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; font-weight:bold; margin-right:10px; padding:5px; width:200px;">Last name</dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.order.contact.last_name}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; font-weight:bold; margin-right:10px; padding:5px; width:200px;">Email</dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.order.contact.email}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; font-weight:bold; margin-right:10px; padding:5px; width:200px;">Address</dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.order.contact.address1}}{% if data.order.contact.address2 %}, {{data.order.contact.address2}}{% endif %}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; font-weight:bold; margin-right:10px; padding:5px; width:200px;">City</dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.order.contact.city}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; font-weight:bold; margin-right:10px; padding:5px; width:200px;">State</dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.order.contact.state}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; font-weight:bold; margin-right:10px; padding:5px; width:200px;">Zip</dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.order.contact.postal_code}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; font-weight:bold; margin-right:10px; padding:5px; width:200px;">Phone</dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.order.contact.phone}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; font-weight:bold; margin-right:10px; padding:5px; width:200px;">Spouse</dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.order.contact.spouse|default:"&nbsp;"}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; font-weight:bold; margin-right:10px; padding:5px; width:200px;">Relation to Carthage</dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.order.contact.relation}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; font-weight:bold; margin-right:10px; padding:5px; width:200px;">Class</dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.order.contact.class_of|default:"&nbsp;"}}</dd>
</dl>
<h3>Matching Funds</h3>
<ul>
    {% if data.order.contact.matching_company %}
    <li>I/we are employed by a matching gift company.</li>
    {% endif %}
    {% if data.order.contact.thrivent_financial %}
    <li>I/we are eligible for the Thrivent Financial for Lutherans matching gift program.</li>
    {% endif %}
    {% if data.order.contact.opt_in %}
    <li>I would like more information about planned gifts such as charitable trusts, charitable gifts annuities, life insurance, or will inclusions.</li>
    {% endif %}
</ul>
