{% extends "base.html" %}
{% load livewhale_api %}
{% block title %}
    {{campaign.title|default:"Giving to Carthage"}}
    Form &mdash; Giving &mdash; Carthage College
{% endblock %}
{% block extra_javascript %}
    {% include "giving/donation_form.inc.js" %}
{% endblock %}
{% block extra_style %}
    <link href="//www.carthage.edu/static/vendor/jquery/ui/datepicker/css/smoothness/jquery-ui-1.10.4.custom.min.css"
        rel="stylesheet" type="text/css" />
    <style type="text/css">
    #profile h2 {margin:7px 0 7px 0;font-size:1.6em;background-color:#cacaca;
    padding:3px 0 3px 5px;width:99%;}
    #id_security_code, #id_expiration_month,
    #id_expiration_year {width:70px;}
    #id_or-start_date, #id_ct-postal_code, #id_or-total, #pledge_total {width:100px;}
    li.ctrlHolder div ul li {display: inherit; padding-right:3px;}
    .cost, #pledge_total_help { font-weight:bold; color:green; }
    #pledge_total_help { margin-left:9px; }
    #page-content-wrap #pledge-payments p { color:green;font-weight:bold;
      margin-bottom:5px; }
    .ui-widget button { float: right; }
    #dialog-message{padding:8px;}
    .ui-dialog-title{padding:4px;float:left;}
    </style>
{% endblock %}
{% block group_name %}Giving{% endblock %}
{% block left_nav %}
    {% include "giving/left_nav.html" %}
{% endblock %}
{% block content_head %}
    <h1 id="page_title">
        {{campaign.title|default:"Your Giving Matters"}}
    </h1>
{% endblock %}
{% block content %}
<div class="forms-container{% if campaign.about %}
    large-8 medium-10 small-12"{% endif %}">
    <div class="clear">
        {% if campaign.description %}
            {{campaign.description}}
        {% endif %}
    </div>
    <p>
        Fields marked with an asterisk
        <img src="/static/forms/img/icons/red_asterisk.png" alt="asterisk" />
        are required.
    </p>
    {% if form_proc.errors or or_form.errors or ct_form.errors %}
        <p class="error">
            There were errors with the data submitted, see below.
        </p>
    {% endif %}
    <form method="post" action="." class="form" id="profile">
        {% csrf_token %}
        {% for hidden in or_form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        <h2>Donation Information</h2>
        <fieldset class="blockLabels">
          <div class="large-6 medium-12 small-12 clear cf">
            <ol>
                <li class="ctrlHolder">
                    <h3><label for="id_or-total">Amount</label></h3>
                    {% if or_form.total.errors %}
                    <div class="required warning">
                      <span class="error-message">
                            {{ or_form.total.errors|join:", "}}
                      </span>
                    {% else %}
                    <div class="required">
                    {% endif %}
                      <input type="text" placeholder="$"
                        name="or-total" id="id_or-total" class="required"
                        value="{{or_form.total.value|default:""}}">
                    </div>
                </li>
                <li class="ctrlHolder">
                    <div class="fleft">
                        <input type="checkbox" name="pledge" id="pledge">
                    </div>
                    <h3>
                        <label for="pledge">
                            Make my gift recurring
                        </label>
                    </h3>
                    <div class="clear" id="pledge-payments">
                    {% get_lw_content as recurring_warning blurbs 2294 %}
                    {{recurring_warning.body}}
                    </div>
                </li>
            </ol>
          </div>
          <div class="column2 large-6 medium-12 small-12">
            <ol>
              {% block designation %}
                <li class="ctrlHolder">
                    <h3><label for="id_or-comments">Designation</label></h3>
                    <div>
                      <input type="text" name="or-comments" id="id_or-comments"
                        value="{{or_form.comments.value|default:""}}">
                      <p class="help">
                        Please indicate if you would like your gift to be
                        directed to a specific area. If this space is
                        left blank, gifts will be directed to the
                        <a href="/give/carthage-fund/">Carthage Fund</a>.
                      </p>
                    </div>
                </li>
              {% endblock %}
              {% with ct_form.honouring as field %}
              {% include "form_field.inc.html" %}
              {% endwith %}
            </ol>
          </div>
        </fieldset>
        <h2>Contact Information</h2>
        <fieldset class="blockLabels">
          <div class="large-6 medium-12 small-12 clear cf">
            <ol>
                {% for field in ct_form %}
                  {% if field.name != "honouring" and field.name != "matching_company" and field.name != "opt_in" and field.name != "anonymous" %}
                    <li class="ctrlHolder">
                        <h3>{{ field.label_tag }}</h3>
                        {% if field.errors %}
                            <div class="required warning">
                            <span class="error-message">
                                {{ field.errors|join:", "}}
                            </span>
                        {% else %}
                            <div{% if field.field.required %}
                                class="required"{% endif %}>
                        {% endif %}
                        {{field}}
                        {% if field.help_text %}
                            <p class="help">{{field.help_text}}</p>
                        {% endif %}
                        </div>
                        {% if field.name == "class_of" %}
                        </li></ol></div>
                        <div class="column2 large-6 medium-12 small-12">
                        <ol><li class="ctrlHolder">
                        {% endif %}
                    </li>
                  {% endif %}
                {% endfor %}
            </ol>
          </div>
          <div class="large-12 medium-12 small-12 clear cf">
            <ol>
                <li><h3>Matching Funds</h3></li>
                <li class="ctrlHolder">
                {% with ct_form.matching_company as field %}
                {{field}} {{field.label_tag}}
                {% endwith %}
                </li>
                <li class="ctrlHolder">
                {% with ct_form.opt_in as field %}
                {{field}} {{field.label_tag}}
                {% endwith %}
                </li>
                <li>
                    <h3>Thrivent Choice</h3>
                    <p>
                        Thrivent members may allocate their Thrivent Choice
                        dollars to Carthage. Please contact Thrivent or visit
                        <a href="https://www.thrivent.com/making-a-difference/living-generously/thrivent-choice/"
                            target="_blank">the website</a>
                        for more information.
                    </p>
                </li>
                <li>
                    <h3>Anonymous Giving</h3><br>
                    <input type="checkbox" name="ct-anonymous"
                        {% if ct_form.anonymous.value %}checked{% endif %}
                        id="id_ct-anonymous">
                    <label for="id_ct-anonymous">
                    I would like my gift to remain anonymous,
                    and not be published on any donor list or
                    in the annual report.</label>
                </li>
            </ol>
          </div>
        </fieldset>
        <h2>Billing Information</h2>
        <fieldset class="blockLabels">
          <div class="large-12 medium-12 small-12">
            {% if form_proc.errors and status %}
            <div style="padding-left:4px;">
              <p class="notice">
                The transaction failed.
                {% if status == "baddata" or status == "decline" %}
                Error: <strong>{{status}}</strong>
                {% endif %}
              </p>
            </div>
            {% endif %}

            <div class="large-6 medium-12 small-12 clear cf">
            <ol>
            {% with form_proc.billing_name as field %}
            {% include "form_field.inc.html" %}
            {% endwith %}
            {% with form_proc.card_number as field %}
            {% include "form_field.inc.html" %}
            {% endwith %}
            <li class="ctrlHolder">
              <h3>
                <label for="id_expiration_month">Expiration Date</label>
              </h3>
              <div class="required">
                {{form_proc.expiration_month}}
                <label for="id_expiration_year" style="display:none;">
                Expiration Year
                </label>
                &mdash;&nbsp;
                {{form_proc.expiration_year}}
              </div>
            </li>
            </ol>
            </div>
            <div class="column2 large-6 medium-12 small-12">
            <ol>
            {% with form_proc.security_code as field %}
            {% include "form_field.inc.html" %}
            {% endwith %}
            {% with form_proc.captcha as field %}
            {% include "form_field.inc.html" %}
            {% endwith %}
            </ol>
            </div>
          </div>
        </fieldset>
      {% include "form_submit.inc.html" %}
    </form>
</div>
{% if campaign.about %}
<div class="forms-sidebar large-4 medium-6 small-12">
    {{campaign.about}}
</div>
{% endif %}
{% endblock %}
