{% extends "giving/donation_form.html" %}
{% load livewhale_api %}
{% load humanize %}
{% block content_head %}
    <h1 id="page_title">
        Who's Given
    </h1>
{% endblock %}
{% block content %}
{% if promo %}
<h2>
  {{count|intcomma}} Donations to {{promo.title}}
</h2>
{{promo.description}}
{% else %}
<h2>
  ~{{count|intcomma}}
  Donations within the Last Year
</h2>
{% endif %}
<ul>
{% for obj in donors %}
    {% ifchanged obj.last_name and ifchanged obj.first_name %}
        {% ifchanged obj.last_name|lower|slice:":1" %}
            </ul>
            <h3 style="margin-bottom: 2px;">
                {{obj.last_name|slice:":1" }}
            </h3>
            <hr>
            <ul>
        {% endifchanged %}
        <li>
            {{obj.last_name|title}}, {{obj.first_name|title}}
            {% if obj.class_of %}
            {{obj.class_of}}
            {% endif %}
            ({{obj.relation}})
        </li>
    {% endifchanged %}
{% endfor %}
</ul>
{% endblock %}
