<div class="fleft" style="width:60%;">
  <h3>Profile</h3>
  <dl style="margin-bottom:20px;">
    <dt style="background:#efefef; color:#000; float:left; font-weight:bold; margin-right:10px; padding:5px; width:200px;">
        First name
    </dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.created_by.first_name}}</dd>
    <dt style="background:#efefef; color:#000; float:left; font-weight:bold; margin-right:10px; padding:5px; width:200px;">
        Last name
    </dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.created_by.last_name}}</dd>
    <dt style="background:#efefef; color:#000; float:left; margin-right:10px; padding:5px; width:200px;">
        City
    </dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.created_by.userprofile.city|default:'&nbsp;'}}</dd>
    <dt style="background:#efefef; color:#000; float:left; margin-right:10px; padding:5px; width:200px;">
        State
    </dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.created_by.userprofile.state|default:'&nbsp;'}}</dd>
    <dt style="background:#efefef; color:#000; float:left; margin-right:10px; padding:5px; width:200px;">
        Phone
    </dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.created_by.userprofile.phone|default:'&nbsp;'}}</dd>
    <dt style="background:#efefef; color:#000; float:left; margin-right:10px; padding:5px; width:200px;">
        Programs applying
    </dt>
    <dd style="margin:2px 0; padding:5px 0;">{% for p in data.programs_apply.all %}{{p}}{% if not forloop.last%}, {% endif %}{% endfor %}</dd>
    <dt style="background:#efefef; color:#000; float:left; margin-right:10px; padding:5px; width:200px;">
        First generation student
    </dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.first_generation}}</dd>
    <dt style="background:#efefef; color:#000; float:left; margin-right:10px; padding:5px; width:200px;">
        Expected Graduation Date
    </dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.graduation_date}}</dd>
    <dt style="background:#efefef; color:#000; float:left; margin-right:10px; padding:5px; width:200px;">
        Major(s)
    </dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.major}}</dd>
    <dt style="background:#efefef; color:#000; float:left; margin-right:10px; padding:5px; width:200px;">
        Minor(s)
    </dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.minor|default:"&nbsp;"}}</dd>
    <dt style="background:#efefef; color:#000; float:left; margin-right:10px; padding:5px; width:200px;">
        GPA Overall
    </dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.gpa_overall}}</dd>
    <dt style="background:#efefef; color:#000; float:left; margin-right:10px; padding:5px; width:200px;">
        BCPM GPA:
    </dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.gpa_bcpm}}</dd>
    <dt style="background:#efefef; color:#000; float:left; margin-right:10px; padding:5px; width:200px;">
        MCAT/DAT Scores
    </dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.mcat_dat_scores|default:"&nbsp;"}}</dd>
    <dt style="background:#efefef; color:#000; float:left; margin-right:10px; padding:5px; width:200px;">
        Retake MCAT/DAT date
    </dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.mcat_dat_date|default:"&nbsp;"}}</dd>
  </dl>
</div>
<div class="forms-sidebar">
<h3>Files</h3>
<ul class="nobull">
<li><a href="https://{{server_url}}{{data.cv.url}}">CV/Résumé</a></li>
<li><a href="https://{{server_url}}{{data.personal_statements.url}}">Personal Statements</a></li>
<li><a href="https://{{server_url}}{{data.transcripts.url}}">Transcripts</a></li>
<li><a href="https://{{server_url}}{{data.waiver.url}}">Waiver</a></li>
</ul>
<h3>Recommendation Contacts</h3>
<ul class="nobull">
{% for rec in data.prehealth_committee_letter_recommendation_applicant.all %}
    <li>
        <a href="mailto:{{rec.email}}">{{rec.name}}</a>
    </li>
{% endfor %}
</ul>
</div>
{% if not detail %}
<div>
  <h3>Complete Applicantion</h3>
  <p>
    View the <a href="https://{{server_url}}/{{data.get_absolute_url}}">committee letter</a>
    application in full, along with the letters of recommendation from
    the above professors, which will be available after they complete
    their step in the process.
  </p>
</div>
{% endif %}
<h3 style="clear:both;">Evaluations and Recommendations</h3>
{% for data in data.prehealth_committee_letter_evaluation_applicant.all %}
  {% include "prehealth/committee_letter/evaluation/recommendation.inc.html" %}
{% endfor %}
