{% extends "base.html" %}
{% load livewhale_api %}
{% block title %}
Committee Letter Form Success &mdash;
Pre-Health &mdash;
Carthage College
{% endblock %}
{% block left_nav %}
{% get_lw_content as nav blurbs 3211 %}
<ul>
  <li>
    <a href="/academics/majors-minors/" class="fancy-link">Majors &amp; Minors<span class="fancy-link__icon" aria-hidden="true">›</span></a>
    {{nav.body|safe}}
  </li>
</ul>
{% endblock %}
{% block content_head %}
  <h1>Committee Letter Form</h1>
{% endblock %}
{% block breadcrumb %}
  <li><a href="/academics/majors-minors/pre-health/">Pre-Health</a></li>
  <li><a href="/academics/majors-minors/pre-health/contact-us/" aria-current="page">Contact Us</a></li>
{% endblock %}
{% block content %}
  {% get_lw_content as success blurbs 2446 %}
  {{success.body|safe}}
{% endblock %}
