{% load livewhale_api %}
{% autoescape off %}
<p style="margin-bottom:5px;">
  Dear {{data.name}},
</p>
<p style="margin-bottom:5px;">
{{data.created_by.first_name}} {{data.created_by.last_name}}
listed you as a reference for his/her application
for medical or dental school.
</p>
{% get_lw_content as email blurbs 2447 %}
{{email.body}}
<ul style="margin-top:5px">
  <li>
    <a href="https://{{server_url}}{% url 'prehealth_committee_letter_evaluation_form' data.id %}">
      Faculty Evaluation Form
    </a>
  </li>
</ul>
{% endautoescape %}
