{% extends "base.html" %}
{% block title %}Individual Technology Objective &mdash; Libary and Information Services &mdash; Carthage College{% endblock %}
{% block extra_style %}
    {% include "includes/extra_style.html" %}
{% endblock %}
{% block left_nav %}
    {% include "lis/left_nav.html" %}
{% endblock %}
{% block content %}
<div class="buffer">
    <h1>Individual Technology Objective</h1>
    {% if not id %}
    <p>Below is a form to fill regarding your intended Individual Technology Objective. Please note that once you complete this form, you will recieve an email with your answers. This email will also provide you with a URL you can go to if you would like to edit your responses. Please contact <a href="mailto:mmagnuson@carthage.edu">Marta Magnuson</a> if you have any questions or concerns.</p>
    {% else %}
    <p>Use the form below to edit your details. Please contact <a href="mailto:mmagnuson@carthage.edu">Marta Magnuson</a> if you have any questions or concerns.</p>
    {% endif %}
    {% include "includes/generic_form.html" %}
</div>
{% endblock %}
