{% extends "base.html" %}
{% block title %}Individual Technology Objective &mdash; Libary and Information Services &mdash; Carthage College{% endblock %}
{% block css %}
<style type="text/css" media="screen, projection">
/* <![CDATA[ */
    @import url("http://www.carthage.edu/media/css/douglasfir/global.css");
/* ]]> */
/*DL, DT, DD TAGS LIST DATA*/
dl { margin-bottom:10px; }
dl dt { background:#FFF8DC; float:left; font-weight:bold; margin-right:10px; padding:5px; width:100px; }
dl dd { margin:2px 0; padding:5px 0; }
</style>
<link href="http://www.carthage.edu/media/css/douglasfir/3_column.css" rel="stylesheet" type="text/css" />
<!--[if IE]>
    <style type="text/css">#footer {zoom: 1;} #first li {font-size:.9em;}</style>
<![endif]-->
<!--[if IE 6]>
    <style type="text/css">div#first {width:150px;margin-left:7px;}div#fourth {margin-right:-1px;}</style>
<![endif]-->
{% endblock %}
{% block left_nav %}
    {% include "lis/left_nav.html" %}
{% endblock %}
{% block content %}
<div class="buffer">
    <h1>ITO Profiles</h1>
    {% for profile in profiles %}
    <div style="float:right;"><h2><a href="{{profile.get_absolute_url}}">View</a><br />&nbsp;<a href="{{profile.get_update_url}}">edit</a></h2></div>
    <div style="padding-bottom:10px;margin-bottom:10px; border-bottom: 1px #000 solid;">
    <dl>
        <dt>Name</dt>
        <dd><a href="mailto:{{profile.email}}">{{profile.first_name|default_if_none:"&nbsp;"}} {{profile.last_name|default_if_none:"&nbsp;"}}</a></dd>
        <dt>Department</dt>
        <dd>{{profile.department}}</dd>
    </dl>
    </div>
    {% endfor %}
</div>
{% endblock %}
