{% extends "base.html" %}
{% block title %}Individual Technology Objective &mdash; Libary and Information Services &mdash; Carthage College{% endblock %}
{% block extra_style %}
    <link href="http://www.carthage.edu/assets/current/css/plugins/forms.css" rel="stylesheet" type="text/css" />
    <link href="http://www.carthage.edu/assets/current/css/overrides/forms.css" rel="stylesheet" type="text/css" />
    <link href="http://www.carthage.edu/assets/current/css/overrides/forms.bridge.css" rel="stylesheet" type="text/css" />
    <link href="http://www.carthage.edu/assets/css/jquery/plugins/jquery.uniform.css" rel="stylesheet" type="text/css" />
    <link href="http://eua.carthage.edu/static/css/jquery/themes/sunny/jquery-ui.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
    #profile textarea {width:460px;height:150px;}
    #profile h2.fheader {background-color:#CCCCCC;border:1px solid #888888;color:#880000;padding:8px;}
    #second ol {margin:0;}
    li.ctrlHolder div ul li {display: inline;}
    .form .blockLabels label {display: inherit;}
    </style>
{% endblock %}
{% block left_nav %}
    {% include "lis/left_nav.html" %}
{% endblock %}
{% block content %}
<div class="buffer">
    <h1>Individual Technology Objective</h1>
    {% if not id %}
    <p>Below is a form to fill regarding your intended Individual Technology Objective. Please note that once you complete this form, you will recieve an email with your answers. This email will also provide you with a URL you can go to if you would like to edit your responses. Please contact <a href="mailto:mmagnuson@carthage.edu">Marta Magnuson</a> if you have any questions or concerns.</p>
    {% else %}
    <p>Use the form below to edit your details. Please contact <a href="mailto:mmagnuson@carthage.edu">Marta Magnuson</a> if you have any questions or concerns.</p>
    {% endif %}
    <form method="POST" action="." class="form" id="profile">{% csrf_token %}
        <fieldset class="blockLabels">
            <ol>
                {% for field in form %}
                    <li class="ctrlHolder">
                    <h3>{{ field.label_tag }}</h3>
                    {% if field.errors %}
                        <div class="warning">
                        <span class="error-message">{{ field.errors|join:", "}}</span>
                    {% else %}
                        <div>
                    {% endif %}
                    {% if field.help_text %}
                        <p class="help">{{field.help_text}}</p>
                    {% endif %}
                    {{field}}
                    </div>
                </li>
                {% endfor %}
                <li class="btnHolder">
                    <label for="id_submit">&nbsp;&nbsp;</label>
                    <input type="submit" value="Submit" class="button" />
                </li>
            </ol>
        </fieldset>
    </form>
</div>
{% endblock %}
