{% extends "base.html" %}
{% block title %}{{visit_day.title}} &mdash; Admissions &mdash; Carthage College{% endblock %}
{% block extra_javascript %}
<script src="http://www.carthage.edu/assets/js/jquery/plugins/validation/jquery.validationEngine-en.js" type="text/javascript"></script>
<script src="http://www.carthage.edu/assets/js/jquery/plugins/validation/jquery.validationEngine.js" type="text/javascript"></script>
<script type="text/javascript">
$(function() {
    $("#visit_day_form").validationEngine()
    $("#id_date").focus();
});
function ValidateTransfer(){
    if($("#id_entry_as").val() =="Transfer" &&  $("#id_transfer").val() == ""){
        return false;
    }else{
        return true;
    }
}
</script>
{% endblock %}
{% block extra_style %}

    <link href="http://www.carthage.edu/assets/css/jquery/plugins/validation/validationEngine.jquery.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
    #visit_day_form textarea {width:460px;height:150px;}
    #visit_day_form h2.fheader {background-color:#CCCCCC;border:1px solid #888888;color:#880000;padding:8px;width:94%;}
    #second ol {margin:0;}
    </style>
{% endblock %}
{% block columns %}<link href="http://www.carthage.edu/media/css/douglasfir/3_column.css" rel="stylesheet" type="text/css" />{% endblock %}
{% block left_nav %}
    {% include "admissions/left_nav.html" %}
{% endblock %}
{% block content %}
<div class="buffer">
    <h1>{{visit_day.title}}</h1>
    {{visit_day.description|safe}}
    <p><span id="required">Highlighted fields</span> are required.</p>
    {% if cc_form.errors or or_form.errors or ct_form.errors %}
        <p class="error">There were errors with the data submitted, see below.</p>
    {% endif %}
    <form method="POST" action="." class="form" id="visit_day_form">{% csrf_token %}
        <fieldset class="blockLabels">
            <ol>
                {% for field in form %}
                    {% if field.name == "date" %}<li class="ctrlHolder"><h2 class="fheader">Yes, I plan to attend on:</h2></li>{% endif %}
                    {% if field.name == "first_name" %}<li class="ctrlHolder"><h2 class="fheader">Personal Information</h2></li>{% endif %}
                    {% if field.name == "high_school" %}<li class="ctrlHolder"><h2 class="fheader">Educational Background and Plans</h2></li>{% endif %}
                    <li class="ctrlHolder">
                    <h3{% if field.field.required %} class="required"{% endif %}>{{ field.label_tag }}</h3>
                    {% if field.errors %}
                        <div class="required warning">
                        <span class="error-message">{{ field.errors|join:", "}}</span>
                    {% else %}
                        <div{% if field.field.required %} class="required"{% endif %}>
                    {% endif %}
                    {{field}}
                    {% if field.help_text %}
                        <p class="help">{{field.help_text}}</p>
                    {% endif %}
                    </div>
                    </li>
                {% endfor %}
            </ol>
        </fieldset>
        <fieldset class="blockLabels">
            <ol>
                <li><strong>Note:</strong> If you are coming with a friend who is also considering Carthage, please sign them up separately.</li>
                <li class="btnHolder">
                    <label for="id_submit">&nbsp;&nbsp;</label>
                    <input type="submit" value="Submit Request" class="button" />
                </li>
            </ol>
        </fieldset>
    </form>
</div>
{% endblock %}
{% block sidebar %}
<div id="third">
    <div class="buffer">
        {{visit_day.about|safe}}
    </div>
</div>
{% endblock %}
