{% extends "base.html" %}
{% block title %}{{event_type|capfirst}} &mdash; Visit Days Sign Up Form &mdash; Admissions &mdash; Carthage College{% endblock %}
{% block extra_style %}
    <link href="http://www.carthage.edu/assets/css/jquery/ui/ui.core.css" rel="stylesheet" type="text/css" />
    <link href="http://www.carthage.edu/assets/css/jquery/ui/ui.theme.css" rel="stylesheet" type="text/css" />
    <link href="http://www.carthage.edu/assets/current/css/plugins/forms.css" rel="stylesheet" type="text/css" />
    <link href="http://www.carthage.edu/assets/current/css/overrides/forms.css" rel="stylesheet" type="text/css" />
    <link href="http://www.carthage.edu/assets/current/css/overrides/forms.bridge.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
    #second h4 {padding:20px;}
    </style>
{% endblock %}
{% block left_nav %}
    {% include "alumni/left_nav.html" %}
{% endblock %}
{% block content %}
<div class="buffer">
    <h1>Visti Days: {{event_type|capfirst}} Sign-up</h1>
    <form method="POST" action="." class="form" id="visit_day_form">{% csrf_token %}
        <fieldset class="blockLabels">
            <ol>
                {% for field in form %}
                    <li class="ctrlHolder">
                    <h3{% if field.field.required %} class="required"{% endif %}>{{ field.label_tag }}</h3>
                    {% if field.errors %}
                        <div class="warning">
                        <span class="error-message">{{ field.errors|join:", "}}</span>
                    {% else %}
                        <div>
                    {% endif %}
                    {% if field.help_text %}
                        <p class="help">{{field.help_text}}</p>
                    {% endif %}
                    {{field}}
                    </div>
                </li>
                {% endfor %}
            </ol>
        </fieldset>
        <fieldset class="blockLabels">
            <ol>
                <li class="btnHolder">
                    <label for="id_submit">&nbsp;&nbsp;</label>
                    <input type="submit" value="Submit Request" class="button" />
                </li>
            </ol>
        </fieldset>
    </form>
</div>
{% endblock %}
