{% extends "president/inauguration/form.html" %}
{% block content %}
<div class="buffer">
<h1>Success</h1>
<p>
    Thank you for your RSVP. If you have any questions about
    the Inauguration, please contact Mardell Fisher at 262-551-5705 or
    <a href="mailto:inauguration@carthage.edu">Inauguration@carthage.edu</a>.
</p>
<ul>
    <li><a href="/president/inauguration/">Inaugural Weekend Schedule</a></li>
    <li><a href="/president/inauguration/delegates/">Information for Delegates</a></li>
</ul>
</div>
{% endblock %}
