<pre style="font-size:1.5em;">
Institution........... {{data.institution}}
Year founded.......... {{data.year_founded}}
Name.................. {{data.first_name}} {{data.last_name}}
Job title............. {{data.job_title}}
Degree................ {{data.degree}}
Guest's name.......... {{data.cohort}}
Address............... {{data.address1}}{% if data.address2 %}, {{data.address2}}{% endif %}
City.................. {{data.city}}
State................. {{data.state}}
Zip................... {{data.postal_code}}
Phone................. {{data.phone}}
March in procession... {{data.march}}
Attend luncheon....... {{data.attend}}
Guest attend.......... {{data.guest_attend}}
</pre>
