{% extends "base.html" %}
{% load get_api %}
{% block title %}Class Notes Archives &mdash; Alumni &mdash; Carthage College{% endblock %}
{% block columns %}<link href="http://www.carthage.edu/media/css/douglasfir/3_column.css" rel="stylesheet" type="text/css" />{% endblock %}
{% block extra_style %}
<link rel="stylesheet" href="{{media_url}}css/jquery/plugins/wowwindow.css" type="text/css" />
<link rel="stylesheet" href="{{media_url}}css/jquery/plugins/jqModal.css" type="text/css" media="screen" />
{% endblock %}
{% block extra_javascript %}
<script src="{{media_url}}js/jquery/plugins/jqModal.js" type="text/javascript" charset="utf-8"></script>
<script src="{{media_url}}js/jquery/plugins/jquery.wowwindow.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $(function() {
        $('a[rel=popupfoto]').wowwindow({
            draggable: true,
            height: 450,
            width: 800,
            videoIframe: false
        });
        {% include "includes/javascript/jqmodal.html" %}
    });
</script>
{% endblock %}
{% block left_nav %}
    {% include "alumni/left_nav.html" %}
{% endblock %}
{% block content %}
{% get_api_object as header cms snippet 702 code %}
{{header}}
<div id="sitetitle">Alumni Class Notes</div>
<div class="buffer">
{% spaceless %}
    <h1>Class Notes Archive &mdash; {{year}}'s</h1>
    <p><a href="{% url classnotes_form %}">Click here to submit your class note</a></p>
    <p>
    {% for n in notes %}
        {% ifchanged n.classyear %}
            {% if not forloop.first %}&nbsp;|&nbsp;{% endif %}
            <strong><a href="#{{ n.classyear }}">{{ n.classyear }}</a></strong>
        {% endifchanged %}
    {% endfor %}
    </p>
    <hr />
    {% for n in notes %}
        {% ifchanged %}
            <h2 style="color:#880;"><a name="{{ n.classyear }}">{{ n.classyear }}</a></h2>
        {% endifchanged %}
        {% if n.picture %}
        <div style="float:right;padding-left:7px;padding-bottom:7px;">
        <a rel="popupfoto" href="/assets/{{n.picture}}" class="popupfoto">
            <img src="/assets/{{n.picture}}" width="100" />
        </a>
        {% if n.caption %}
        <div style="margin-top:2px;font-size:.8em;color:#000;width:100px;">{{n.caption}}</div>
        {% endif %}
        </div>
        {% endif %}
        <p>
        <strong>{% if n.name %}{{n.name}}{% else %}{{n.first_name}}
        {% if n.second_name %}{{n.second_name}}{% endif %}
        {% if n.previous_name %}({{n.previous_name}}){% endif %}
        {{n.last_name}}
        {% if n.suffix %}, {{n.suffix|default:""}}{% endif %}
        {% endif %}
        {% if n.spousename %}
            &amp; {{n.spousename}}
            {% if n.spousemaidenname %}
                ({{n.spousemaidenname}})
            {% endif %}
            {% if n.spouseyear %}
                {{n.spouseyear}}
            {% endif %}
        {% endif %}
        </strong>
        &mdash;
        {{n.classnote}}
        {% if manager %}
        <a class="jqmodal" href="/forms/admin/classnotes/contact/{{n.id}}/?width=800&height=600&jqmRefresh=true">
            <img src="http://www.carthage.edu/assets/img/ico/silk/icons/pencil.png" alt="edit this note" />
        </a>
        {% endif %}
        </p>
        <div class="clear"></div>
    {% endfor %}
{% endspaceless %}
</div>
{% endblock %}
{% block sidebar %}
    {% include "alumni/classnotes/side_bar.html" %}
{% endblock %}
{% block modal %}
{% include "includes/modal_form.html" %}
{% endblock %}
