<pre style="font-size:1.5em;">
Salutation.................. {{data.salutation}}
First name.................. {{data.first_name}}
Second name................. {{data.second_name}}
Last name................... {{data.last_name}}
Suffix...................... {{data.suffix}}
Previous name............... {{data.previous_name}}
Email....................... {{data.email}}


Class....................... {{data.classyear}}
Spouse...................... {{data.spousename}}
Spouse previous name........ {{data.spousepreviousname}}
Spouse class................ {{data.spouseyear}}
</pre>

<h3>Class note</h3>

<p>{{data.classnote}}</p>

<p><a href="{{data.get_edit_url}}">Manage this class note</a></p>
