{% extends "base.html" %}
{% block title %}Class Notes &mdash; Alumni &mdash; Carthage College{% endblock %}
{% block columns %}<link href="http://www.carthage.edu/media/css/douglasfir/3_column.css" rel="stylesheet" type="text/css" />{% endblock %}
{% block extra_style %}
<link href="/static/forms/css/djforms.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}
{% block jquery %}<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>{% endblock %}
{% block extra_javascript %}
<script src="/static/forms/apps/InFieldLabels/jquery.infieldlabel.min.js" type="text/javascript"></script>
<script type="text/javascript">
$(function() {
    /* simulate html5 placeholder feature for broken-ass browsers */
    jQuery.support.placeholder = false;
    test = document.createElement('input');
    // inFieldLabels plugin adds placeholder feature similar to html5.
    if('placeholder' in test) jQuery.support.placeholder = true;
    if(!$.support.placeholder) {
        $("label").inFieldLabels();
        $("input").attr("autocomplete","off");
    } else {
        $(".placeholder").hide();
    }
    $('#id_picture').change(function(){
        $('#faux_picture').val($(this).val());
    });
});
</script>
{% endblock %}
{% block left_nav %}
    {% include "alumni/left_nav.html" %}
{% endblock %}
{% block content %}
<div id="sitetitle">Alumni Class Notes</div>
<div class="buffer">
    <h1>Submit your Class Note</h1>
    <p><span class="required">Highlighted fields</span> are required.</p>
    <form method="post" action="." class="form" id="profile" enctype="multipart/form-data">{% csrf_token %}
        <fieldset class="blockLabels">
            <ul class="inline">
                <li><h3 class="buffer-left">Contact Information</h3></li>
                <li>
                    <label for="id_salutation" class="placeholder">Salutation</label><br />
                    <input class="small" id="id_salutation" type="text" name="salutation" placeholder="Ms, Mr, Dr" maxlength="16" value="{{form.data.salutation}}" />
                </li>
                <li>
                    <label for="id_first_name" class="placeholder">First name</label><br />
                    <input class="medium required{% if form.first_name.errors %} error{% endif %}" id="id_first_name" type="text" name="first_name" placeholder="First name" maxlength="128" value="{{form.data.first_name}}" {% if not template_debug %}required {% endif %}/></li>
                </li>
                <li>
                    <label for="id_second_name" class="placeholder">Middle name</label><br />
                    <input class="medium" id="id_second_name" type="text" name="second_name" placeholder="Middle name" maxlength="128" value="{{form.data.second_name}}" />
                </li>
            </ul>
            <ul class="inline">
                <li>
                    <label for="id_last_name" class="placeholder">Last name</label><br />
                    <input class="medium required{% if form.last_name.errors %} error{% endif %}" id="id_last_name" type="text" name="last_name" placeholder="Last name" maxlength="128" value="{{form.data.last_name}}" {% if not template_debug %}required {% endif %}/>
                </li>
                <li>
                    <label for="id_previous_name" class="placeholder">Previous name</label><br />
                    <input class="medium" id="id_previous_name" type="text" name="previous_name" placeholder="Previous name" maxlength="128" value="{{form.data.previous_name}}" />
                </li>
                <li>
                    <label for="id_suffix" class="placeholder">Suffix</label><br />
                    <input class="small" id="id_suffix" type="text" name="suffix" placeholder="Ph.D, MD, Jr, Sr" maxlength="16" value="{{form.data.suffix}}" />
                </li>
            </ul>
            <ul class="inline">
                <li>
                    <label for="id_email" class="placeholder">Email</label><br />
                    <input class="large required{% if form.email.errors %} error{% endif %}" id="id_email" type="email" name="email" placeholder="Email" maxlength="75" value="{{form.data.email}}" {% if not template_debug %}required {% endif %}/>
                </li>
                <li>
                    {{form.classyear}}
                    {% if form.classyear.errors %} <span class="error">Required</span>{% endif %}
                </li>
            </ul>
            <ul class="inline">
                <li>
                    <label for="id_spousename" class="placeholder">Spouse&#39;s name</label><br />
                    <input class="medium" id="id_spousename" type="text" name="spousename" placeholder="Spouse&#39;s name" maxlength="128" value="{{form.data.spousename}}" />
                </li>
                <li>
                    <label for="id_spousepreviousname" class="placeholder">Spouse&#39;s previous name</label>
                    <input class="medium" id="id_spousepreviousname" type="text" name="spousepreviousname" placeholder="Spouse&#39;s previous name" maxlength="32" value="{{form.data.spousepreviousname}}" />
                </li>
                <li>
                    {{form.spouseyear}}
                </li>
            </ul>
            <ul class="inline">
                <li>
                    <label for="id_hometown" class="placeholder">Home Town</label><br />
                    <input class="xlarge required{% if form.hometown.errors %} error{% endif%}" id="id_hometown" type="text" name="hometown" placeholder="Hometown" maxlength="128" value="{{form.data.hometown}}" {% if not template_debug %}required {% endif %}/>
                    <div class="help">City and state. Include country, if outside the US.</div>
                </li>
            </ul>
        </fieldset>
        <br />
        <fieldset class="blockLabels">
            <ul>
                <li>
                    <h3><label for="id_classnote">Your message to the Carthage community</label></h3>
                    {% if form.classnote.errors %}<div class="error" style="margin-right:13px;">Please provide a brief bit of text.</div>{% endif %}
                    <textarea class="required" id="id_classnote" rows="10" cols="40" name="classnote">{{form.data.classnote}}</textarea>
                </li>
                <li>
                    <label for="id_picture"><strong>Photo</strong></label>
                    <input type="text" class="file" name="file_info" id="faux_picture" placeholder="Photo" />
                    <div class="file_upload">
                        <input type="file" name="picture" id="id_picture" placeholder="Photo" />
                    </div>
                    <div class="help clear">75 dpi and .jpg only</div>
                </li>
                <li>
                    <label for="id_caption"><strong>Caption for your photo</strong></label>
                    <input id="id_caption" type="text" name="caption" maxlength="255" />
                </li>
            </ul>
        </fieldset>
        <br />
        <fieldset class="blockLabels">
            <ul class="inline">
                <li class="btnHolder">
                    <input type="submit" value="Submit" class="button" />
                </li>
            </ul>
        </fieldset>
    </form>
    {# include "includes/generic_form.html" #}
</div>
{% endblock %}
{% block sidebar %}
    {% include "alumni/classnotes/side_bar.html" %}
{% endblock %}
