{% extends "lis/conferences/mathematica/registration_done.html" %}
{% load filters livewhale_api %}
{% block extra_javascript %}
<script type="text/javascript" charset="utf-8">
$(function() {
    $group_members = $('#id_group_members');
    $group_members_container = $('#group-members');
    {% if form_ord.total.value == "100" %}
        $group_members_container.slideDown(200);
        $('#id_group_members').addClass("required");
    {% else %}
        $group_members_container.slideUp(200);
        $group_members.removeClass("required");
    {% endif %}
    $fees = $('input[type=radio]');
    $fees.change(function() {
        $val = $(this).val();
        if ($val == "100") {
            $group_members_container.slideDown(200);
            $group_members.addClass("required");
        } else {
            $group_members_container.slideUp(200);
            $group_members.removeClass("required");
        }
    });
});
</script>
{% endblock %}
{% block extra_style %}
    <style type="text/css">
    #id_postal_code, #id_security_code,
    #id_expiration_month,#id_expiration_year {width:100px;}
    </style>
{% endblock %}
{% block content %}
    <h3>Registration</h3>
    <div id="security"><div style="margin-left:30px;">
    <a href="https://www.securitymetrics.com/site_certificate.adp?s=carthage.edu&amp;i=131614"
        target="_blank">
        <img src="https://www.securitymetrics.com/images/sm_ccsafe_wh.gif"
            alt="SecurityMetrics" border="0">
    </a>
    </div></div>
    <div class="forms-container clear">
    {% include "includes/required_text.html" %}
    {% if form_proc.errors or form_reg.errors or form_ord.errors %}
        <p class="error">
            There were errors with the data submitted, see below.
        </p>
    {% endif %}
    <form method="post" action="." class="form" id="profile">
        {% csrf_token %}
        {% for hidden in form_ord.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        <fieldset class="blockLabels" id="registration-info">
            <legend>Contact Information</legend>
            <ol class="fleft">
                {% for field in form_reg.visible_fields %}
                    {% if field.name != "group_members" %}
                        {% if forloop.counter|divisibleby:6 %}
                        </ol>
                        <ol class="fleft">
                        {% endif %}
                        {% include "form_field.inc.html" %}
                    {% endif %}
                {% endfor %}
            </ol>
            <ol class="cf clear">
                {% for field in form_ord.visible_fields %}
                    {% include "form_field.inc.html" %}
                {% endfor %}
                <li class="form-group ctrlHolder" id="group-members">
                    <h3>
                        <label for="id_group_members">Group members:</label>
                    </h3>
                    <div>
                        <textarea rows="10" name="group_members" id="id_group_members" cols="40">{{form_reg.group_members.value|default:""}}</textarea>
                        <p class="help">
                            For those choosing the group discount,
                            please include all group members' names,
                            email addresses, and titles.
                        </p>
                    </div>
                </li>
            </ol>
        </fieldset>
        <fieldset class="blockLabels" id="payment-details">
            <legend>Billing Information</legend>
            {% if form_proc.errors %}
                <div style="padding-left:4px;">
                    <p class="notice">
                        The transaction failed.
                        {% if status == "baddata" or status == "decline" %}
                            Error: <strong>{{status}}</strong>
                        {% endif %}
                    </p>
                </div>
            {% endif %}
            <ol>
                {% include "form_field_credit_card.inc.html" %}
            </ol>
        </fieldset>
        {% include "form_submit.inc.html" %}
    </form>
</div>
{% endblock %}
