{% extends "base.html" %}
{% load livewhale_api %}
{% block title %}
Registration Form &mdash;
Mathematica Conference &mdash;
Library &amp; Information Services &mdash;
Carthage College
{% endblock %}
{% block group_name %}Library &amp; Information Services{% endblock %}
{% block left_nav %}
    {% include "lis/left_nav.html" %}
{% endblock %}
{% block content_head %}
<h1 id="page_title">Mathematica Conference</h1>
{% endblock %}
{% block content %}
    <h2>Registration Success</h2>
    {% get_lw_content as success blurbs 2237 %}
    {{success.body}}
{% endblock %}
