{% extends "base.html" %}
{% load livewhale_api %}
{% block title %}
Registration Form &mdash;
Mathematica Conference &mdash;
Library &amp; Information Services &mdash;
Carthage College
{% endblock %}
{% block group_name %}Library &amp; Information Services{% endblock %}
{% block left_nav %}
{% get_lw_content as nav blurbs 2119 %}
{{nav.body}}
{% endblock %}
{% block content_head %}
<h1 id="page_title">Mathematica Conference</h1>
{% endblock %}
{% block content %}
    <h3>Registration Success</h3>
    {% get_lw_content as success blurbs 2120 %}
    {{success.body}}
{% endblock %}
