{% extends "base.html" %}
{% block title %}LIS Room Reservations{% endblock %}
{% block extra_javascript %}
<script src="http://www.carthage.edu/assets/js/jquery/ui/ui.datepicker.min.js"></script>
<script src="http://www.carthage.edu/assets/js/jquery/plugins/jquery.ptTimeSelect.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#id_date").datepicker({firstDay:0,appendText:"(format mm/dd/yyyy)",changeFirstDay:false,dateFormat:"mm/dd/yy",showOn:"both",buttonImage: "http://www.carthage.edu/assets/img/ico/calendar.gif",buttonImageOnly:true});
        $('#id_start_time').ptTimeSelect();
        $('#id_end_time').ptTimeSelect();
    });
</script>
{% endblock %}
{% block extra_style %}
<link href="http://www.carthage.edu/assets/css/jquery/ui/datepicker/ui.datepicker.css" rel="stylesheet" type="text/css" />
<link href="http://www.carthage.edu/assets/css/jquery/ui/ui.core.css" rel="stylesheet" type="text/css" />
<link href="http://www.carthage.edu/assets/css/jquery/ui/ui.theme.css" rel="stylesheet" type="text/css" />
<link href="http://www.carthage.edu/assets/css/jquery/plugins/jquery.ptTimeSelect.css" rel="stylesheet" type="text/css" />
<link href="http://www.carthage.edu/assets/current/css/plugins/forms.css" rel="stylesheet" type="text/css" />
<link href="http://www.carthage.edu/assets/current/css/overrides/forms.css" rel="stylesheet" type="text/css" />
<link href="http://www.carthage.edu/assets/current/css/overrides/forms.bridge.css" rel="stylesheet" type="text/css" />
<style type="text/css">
#ptTimeSelectCntr {color: #303030;background: #ebebeb;font: .74em Arial, Verdana, sans-serif;text-align: center;line-height: 1.6em;margin: 2.5em 0;}
.tab_content_container {
    width: 705px;
}
</style>
{% endblock %}
{% block left_nav %}
    {% include "lis/left_nav.html" %}
{% endblock %}
{% block content %}
<div class="buffer">
<h1>LIS Room Reservations</h1>

<p>This Form is to be used to request <b>occasional or single</b> use of a room.  For semester-long use, please contact the Registrar.</p>
<p>You may view room availabilities by looking at <a href="http://scheduler.carthage.edu/resourcescheduler">Resource Scheduler</a>. The username is guest@carthage.edu, and the password is guest. On the lefthand side of the screen you will then find a +sign next to Carthage. Click on that sign and continue to the building and the room that you are interested in reserving. </p>
<p><a href="http://www.carthage.edu/ais/media/roominstructions.htm">Instructions</a> are available for equipment in these rooms.</p>
<p>To view a table of media<br/>assets in classrooms:<br/> <input type="button" value="view room table" onClick="window.open('http://www.carthage.edu/ais/media/roomtable.cfm');"><br/><br/></p>
{% if form.errors %}
   <h2 style="color: red;">
       Please correct the error{{ form.errors|pluralize }} below.
   </h2>
{% endif %}
<form method="POST" action="." class="form">{% csrf_token %}
    <input type="hidden" id="id_next" name="next" value="{{ redirect }}" />
    <fieldset class="blockLabels">
        <ol>
            {% for field in form %}
            <li class="ctrlHolder">
            <h3{% if field.field.required %} class="required"{% endif %}>{{ field.label_tag }}</h3>
            {% if field.errors %}
            <div class="warning">
            <span class="error-message">{{ field.errors|join:", "}}</span>
            {% else %}
            <div>
            {% endif %}
            {{field}}
            {% if field.help_text %}
            <p class="help">{{field.help_text}}</p>
            {% endif %}
            </div>
            </li>
            {% endfor %}
            <li class="btnHolder">
            <label for="id_submit">&nbsp;&nbsp;</label>
            <p>Submission of a request does NOT GUARANTEE your reservation.  You will receive a confirmation by email when your reservation has been entered.  Requests submitted with less than one full working day's advance notice may not be honored.</p>
            <input type="submit" value="Submit Request" class="button" />
            </li>
        </ol>
    </fieldset>
</form>
</div>
{% endblock %}
