<!DOCTYPE html>
<html>
<head></head>
<body>
<h1>{{data.visit_day.title}}</h1>

{{data.visit_day.description|safe}}

{% if data.visit_day.email_info %}
  {{data.visit_day.email_info|safe}}
{% else %}
  <!--
  <ul>
    <li>
      <a href="https://www.carthage.edu/about/directions/">
        Directions to Carthage
      </a>
    </li>
    <li>
      <a href="https://www.carthage.edu/about/campus-map/">
        Carthage Campus Map
      </a>
    </li>
    <li>
      <a href="https://www.carthage.edu/admissions/visit/lodging/">
        Lodging information
      </a>
    </li>
  </ul>
  -->
  <h2>Yes, I plan to attend on</h2>
  <dl style="margin-bottom:50px;">
    <dt style="background:#5f9be3;color:#fff;float:left;font-weight:bold;margin-right:10px;padding:5px;width:200px;">Date</dt>
    <dd style="margin:2px 0;padding:5px 0;">{{data.profile.date}}</dd>
    {% if data.profile.date_alternate %}
    <dt style="background:#5f9be3;color:#fff;float:left;font-weight:bold;margin-right:10px;padding:5px;width:200px;">Second Choice Date</dt>
    <dd style="margin:2px 0;padding:5px 0;">{{data.profile.date_alternate}}</dd>
    {% endif %}
    {% if data.profile.time_primary %}
    <dt style="background:#5f9be3;color:#fff;float:left;font-weight:bold;margin-right:10px;padding:5px;width:200px;">Time, First Choice</dt>
    <dd style="margin:2px 0;padding:5px 0;">{{data.profile.time_primary}}</dd>
    {% endif %}
    {% if data.profile.time_secondary %}
    <dt style="background:#5f9be3;color:#fff;float:left;font-weight:bold;margin-right:10px;padding:5px;width:200px;">Time, Second Choice</dt>
    <dd style="margin:2px 0;padding:5px 0;">{{data.profile.time_secondary}}</dd>
    {% endif %}
    {% if data.profile.meeting_format %}
    <dt style="background:#5f9be3;color:#fff;float:left;font-weight:bold;margin-right:10px;padding:5px;width:200px;">Meeting Format</dt>
    <dd style="margin:2px 0;padding:5px 0;">{{data.profile.meeting_format}}</dd>
    {% endif %}
    {% if data.profile.meeting_request.all %}
    <dt style="background:#5f9be3;color:#fff;float:left;font-weight:bold;margin-right:10px;padding:5px;width:200px;">Meeting Requests</dt>
    <dd style="margin:2px 0;padding:5px 0;">
    {% for mr in data.profile.meeting_request.all %}
    {{mr}}{% if not forloop.last %}, &nbsp;{% endif %}
    {% endfor %}
    </dd>
    {% endif %}
    {% if data.profile.number_attend %}
    <dt style="background:#5f9be3;color:#fff;float:left;font-weight:bold;margin-right:10px;padding:5px;width:200px;">Number Attending</dt>
    <dd style="margin:2px 0;padding:5px 0;">{{data.profile.number_attend}}</dd>
    {% endif %}
  </dl>
  <h2>Personal Information</h2>
  <dl style="margin-bottom:50px;">
    <dt style="background:#5f9be3;color:#fff;float:left;font-weight:bold;margin-right:10px;padding:5px;width:200px;">First Name</dt>
    <dd style="margin:2px 0;padding:5px 0;">{{data.profile.first_name}}</dd>
    <dt style="background:#5f9be3;color:#fff;float:left;font-weight:bold;margin-right:10px;padding:5px;width:200px;">Last Name</dt>
    <dd style="margin:2px 0;padding:5px 0;">{{data.profile.last_name}}</dd>
    <dt style="background:#5f9be3;color:#fff;float:left;font-weight:bold;margin-right:10px;padding:5px;width:200px;">Email</dt>
    <dd style="margin:2px 0;padding:5px 0;">{{data.profile.email}}</dd>
    {% if data.profile.guardian_email %}
    <dt style="background:#5f9be3;color:#fff;float:left;font-weight:bold;margin-right:10px;padding:5px;width:200px;">Parent Email</dt>
    <dd style="margin:2px 0;padding:5px 0;">{{data.profile.guardian_email}}</dd>
    {% endif %}
    {% if data.profile.guardian_type %}
    <dt style="background:#5f9be3;color:#fff;float:left;font-weight:bold;margin-right:10px;padding:5px;width:200px;">Parent Type</dt>
    <dd style="margin:2px 0;padding:5px 0;">{{data.profile.guardian_type}}</dd>
    {% endif %}
    <dt style="background:#5f9be3;color:#fff;float:left;font-weight:bold;margin-right:10px;padding:5px;width:200px;">Address</dt>
    <dd style="margin:2px 0;padding:5px 0;">{{data.profile.address}}</dd>
    <dt style="background:#5f9be3;color:#fff;float:left;font-weight:bold;margin-right:10px;padding:5px;width:200px;">City</dt>
    <dd style="margin:2px 0;padding:5px 0;">{{data.profile.city}}</dd>
    <dt style="background:#5f9be3;color:#fff;float:left;font-weight:bold;margin-right:10px;padding:5px;width:200px;">State</dt>
    <dd style="margin:2px 0;padding:5px 0;">{{data.profile.state}}</dd>
    <dt style="background:#5f9be3;color:#fff;float:left;font-weight:bold;margin-right:10px;padding:5px;width:200px;">Zip</dt>
    <dd style="margin:2px 0;padding:5px 0;">{{data.profile.postal_code}}</dd>
    <dt style="background:#5f9be3;color:#fff;float:left;font-weight:bold;margin-right:10px;padding:5px;width:200px;">Phone</dt>
    <dd style="margin:2px 0;padding:5px 0;">{{data.profile.phone}}</dd>
    <dt style="background:#5f9be3;color:#fff;float:left;font-weight:bold;margin-right:10px;padding:5px;width:200px;">Mobile</dt>
    <dd style="margin:2px 0;padding:5px 0;">{{data.profile.mobile|default:"&nbsp;"}}</dd>
    <dt style="background:#5f9be3;color:#fff;float:left;font-weight:bold;margin-right:10px;padding:5px;width:200px;">Gender</dt>
    <dd style="margin:2px 0;padding:5px 0;">{{data.profile.gender}}</dd>
  </dl>
  {% if not data.short %}
  <h2>Educational Background and Plans</h2>
  <dl style="margin-bottom:50px;">
    <dt style="background:#5f9be3;color:#fff;float:left;font-weight:bold;margin-right:10px;padding:5px;width:200px;">High School</dt>
    <dd style="margin:2px 0;padding:5px 0;">{{data.profile.high_school}}</dd>
    <dt style="background:#5f9be3;color:#fff;float:left;font-weight:bold;margin-right:10px;padding:5px;width:200px;">City</dt>
    <dd style="margin:2px 0;padding:5px 0;">{{data.profile.hs_city}}</dd>
    <dt style="background:#5f9be3;color:#fff;float:left;font-weight:bold;margin-right:10px;padding:5px;width:200px;">State</dt>
    <dd style="margin:2px 0;padding:5px 0;">{{data.profile.hs_state}}</dd>
    <dt style="background:#5f9be3;color:#fff;float:left;font-weight:bold;margin-right:10px;padding:5px;width:200px;">Graduation Year</dt>
    <dd style="margin:2px 0;padding:5px 0;">{{data.profile.hs_grad_year}}</dd>
    <dt style="background:#5f9be3;color:#fff;float:left;font-weight:bold;margin-right:10px;padding:5px;width:200px;">Entering as a</dt>
    <dd style="margin:2px 0;padding:5px 0;">{{data.profile.entry_as}}</dd>
    {% if data.profile.entry_as == "Transfer" %}
    <dt style="background:#5f9be3;color:#fff;float:left;font-weight:bold;margin-right:10px;padding:5px;width:200px;">Transfer School</dt>
    <dd style="margin:2px 0;padding:5px 0;">{{data.profile.transfer}}</dd>
    {% endif %}
    <dt style="background:#5f9be3;color:#fff;float:left;font-weight:bold;margin-right:10px;padding:5px;width:200px;">Entry Year</dt>
    <dd style="margin:2px 0;padding:5px 0;">{{data.profile.entry_year}}</dd>
    <dt style="background:#5f9be3;color:#fff;float:left;font-weight:bold;margin-right:10px;padding:5px;width:200px;">Entry Term</dt>
    <dd style="margin:2px 0;padding:5px 0;">{{data.profile.entry_term}}</dd>
  </dl>
  <h3>Academic Interests</h3>
  <p>{{data.profile.academic}}</p>
  <h3>Extracurricular Interests</h3>
  <p>{{data.profile.xtracurricular}}</p>
  <h3>Comments</h3>
  <p>{{data.profile.comments}}</p>
  {% endif %}
{% endif %}
</body>
</html>
