{% extends "admissions/base.html" %}
{% block title %}
  {{visit_day.title}} &mdash; Admissions &mdash; Carthage College
{% endblock %}
{% block extra_javascript %}
<script src="//www.carthage.edu/static/vendor/jquery/plugins/validation/jquery.validationEngine-en.js"
  type="text/javascript"></script>
<script src="//www.carthage.edu/static/vendor/jquery/plugins/validation/jquery.validationEngine.js"
  type="text/javascript"></script>
<script type="text/javascript">
$(function() {
    //$("#visit_day_form").validationEngine()
    $("#id_date").focus();
    $('#visit_day_form').submit(function (e) {
        $('#id_submit').prop('disabled', true);
        return true;
    });
});
function ValidateTransfer(){
    if($("#id_entry_as").val() =="Transfer" &&  $("#id_transfer").val() == ""){
        return false;
    }else{
        return true;
    }
}
</script>
{% endblock %}
{% block extra_style %}
{{block.super}}
<link href="//www.carthage.edu/static/vendor/jquery/plugins/validation/validationEngine.jquery.css"
    rel="stylesheet" type="text/css" />
<style type="text/css">
#visit_day_form textarea {width:460px;height:150px;}
#id_guardian_type li { display: inline-block;}
</style>
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '460010697760437'); 
fbq('track', 'PageView');
</script>
<noscript>
 <img height="1" width="1" src="https://www.facebook.com/tr?id=460010697760437&amp;ev=PageView&amp;noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
{% endblock %}
{% block left_nav %}
  {% include "admissions/left_nav.html" %}
{% endblock %}
{% block content_head %}
  <h1>{{visit_day.title}}</h1>
{% endblock %}
{% block content %}
<div class="forms-container">
  {{visit_day.description|safe}}
  {% include "includes/required_text.html" %}
  {% if form.errors %}
    <p class="error">There were errors with the data submitted, see below.</p>
  {% endif %}
  <form method="post" action="." class="form" id="visit_day_form">
    {% csrf_token %}
    <fieldset class="blockLabels">
    <legend>Yes, I plan to attend on:</legend>
    <ol>
    {% for field in form %}
      {% if field.name == "first_name" %}
        </ol></fieldset>
        <fieldset class="blockLabels">
          <legend>Personal Information</legend>
          <ol>
      {% endif %}
      {% if field.name == "high_school" %}
        </ol></fieldset>
        <fieldset class="blockLabels">
          <legend>Educational Background and Plans</legend>
          <ol>
      {% endif %}
      {% if field.name == "date_alternate" %}
        {% if visit_day.date_alternate %}
          {% include "form_field.inc.html" %}
        {% endif %}
      {% else %}{% if field.name == "time_primary" %}
        {% if visit_day.time_slots %}
          {% include "form_field.inc.html" %}
        {% endif %}
      {% else %}{% if field.name == "time_secondary" %}
        {% if visit_day.time_slots %}
          {% include "form_field.inc.html" %}
        {% endif %}
      {% else %}{% if field.name == "meeting_format" %}
        {% if visit_day.meeting_format %}
          {% include "form_field.inc.html" %}
        {% endif %}
      {% else %}{% if field.name == "meeting_request" %}
        {% if visit_day.meeting_request %}
          {% include "form_field.inc.html" %}
        {% endif %}
      {% else %}{% if field.name == "number_attend" %}
        {% if visit_day.number_attend %}
          {% include "form_field.inc.html" %}
        {% endif %}
      {% else %}{% if field.name == "spanish_rep" %}
        {% if visit_day.spanish_rep %}
          {% include "form_field.inc.html" %}
        {% endif %}
      {% else %}
        {% include "form_field.inc.html" %}
      {% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}
    {% endfor %}
    </ol>
    </fieldset>
    <fieldset class="blockLabels">
      <ol>
        <li>
          <strong>Note:</strong>
          If you are coming with a friend who is also considering
          Carthage, please sign them up separately.
        </li>
      </ol>
    </fieldset>
    {% include "form_submit.inc.html" %}
  </form>
</div>
<div class="column2 large-4 medium-6 small-12" style="padding-left: 16px;">
    {{visit_day.about|safe}}
</div>
{% endblock %}
