{% extends "admissions/visitday/form.html" %}
{% load livewhale_api %}
{% block title %}
    Schedule a Visit &mdash; Admissions &mdash;
    Carthage College
{% endblock %}
{% block content_head %}
    <h1 id="page_title">
        Schedule a Visit
        <span id="secondary-dropdown"></span>
    </h1>
{% endblock %}
{% block extra_javascript %}{% endblock %}
{% block extra_style %}{% endblock %}
{% block content %}
{% get_lw_content as content blurbs 1818 %}
{{content.body}}
{% endblock %}
