<div id="first">
<ul class="sf-vertical" id="nav"><li><a href="/study-abroad/">Study Abroad</a></li><li><a href="/study-abroad/faq/">FAQs</a></li><li><a href="/study-abroad/coordinator/">Program Coordinator</a></li><li><a href="http://carthage.edu/articles/interestform_df.cfm">Request Information</a></li><li><a href="/study-abroad/scholarships/">Scholarships</a></li><li><a href="/study-abroad/student-voices/">Student Voices</a></li><li><a href="/study-abroad/abroad/">For Students Already Abroad</a></li><li><a href="/study-abroad/resources/">Resources</a></li></ul>
</div>
