{% if wizard.form.errors %}
    <p class="error">There were errors with the data submitted, see below.</p>
{% endif %}
<form method="POST" action="." class="form" id="profile"{% block extra_form_tag %}{% endblock%}>{% csrf_token %}
    {{ wizard.management_form }}
    {% for hidden in wizard.form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    <fieldset class="blockLabels">
        <ol>
            {% for field in wizard.form.visible_fields %}
                <li class="ctrlHolder">
                <h3{% if field.field.required %} class="required"{% endif %}>{{ field.label_tag }}</h3>
                {% if field.errors %}
                    <div class="warning">
                    <span class="error-message">{{ field.errors|join:", "}}</span>
                {% else %}
                    <div>
                {% endif %}
                {% if field.help_text %}
                    <p class="help">{{field.help_text}}</p>
                {% endif %}
                {{field}}
                </div>
            </li>
            {% endfor %}
            <li class="btnHolder">
                <label for="id_submit">&nbsp;&nbsp;</label>
                {% if wizard.steps.prev %}
                <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}" class="button">First step</button>
                <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" class="button">Prev step</button>
                {% endif %}
                <input type="submit" value="Submit" class="button" />
            </li>
        </ol>
    </fieldset>
</form>
