    <ul id="global-nav">
        <li class="last"><form action="/search/" method="get" id="search-form"><input id="search-text" type="text" name="query" /></form></li>
        <li><a href="https://www.carthage.edu/directory/">Directory</a></li>
        <li><a href="http://www.carthage.edu/admissions/apply">Apply</a></li>
        <li><a href="https://my.carthage.edu/ics/">My.Carthage</a></li>
        <li><a href="http://www.carthage.edu/campus/">Bridge</a></li>
        <li class="last"><a href="https://mail.google.com/a/carthage.edu">Email</a></li>
    </ul>
