{% extends "base.html" %}
{% load honeypot %}
{% block title %}
    Homecoming &mdash; Alumni &mdash; Carthage College
{% endblock %}
{% block left_nav %}
    <h4>Alumni</h4>
    {% include "alumni/homecoming/nav.html" %}
{% endblock %}
{% block sidebar %}
    {% include "alumni/homecoming/side_bar.html" %}
{% endblock %}
{% block content_head %}
<h1 id="page_title">
    Yes! I'll be at Homecoming and the Reunion
    <span id="secondary-dropdown"></span>
</h1>
{% endblock %}
{% block content %}
<div class="forms-container">
    {% render_honeypot_field %}
    {% include "includes/generic_form.html" %}
</div>
{% endblock %}
