{% extends "lis/conferences/course_ference/attender/form.html" %}
{% block content %}
    <img data-src="https://static.squarespace.com/static/513f4dbfe4b022a7a499be3e/t/515c5d7be4b054dae3fc4dde/1365007740415/forecasting%20logo%20small.jpg" data-image="https://static.squarespace.com/static/513f4dbfe4b022a7a499be3e/t/515c5d7be4b054dae3fc4dde/1365007740415/forecasting%20logo%20small.jpg" data-image-dimensions="1200x343" data-image-focal-point="0.5,0.5" class="" src="https://static.squarespace.com/static/513f4dbfe4b022a7a499be3e/t/515c5d7be4b054dae3fc4dde/1365007740415/forecasting%20logo%20small.jpg?format=750w">
    <h1>Course-Ference Registration</h1>
    <h2>Thank you for participating.</h2>
    <p>We have received your registration for the conference. You will receive a detailed confirmation presently.</p>
{% endblock %}
