<html>
<head>
    <!-- calendar -->
    <link rel="stylesheet" type="text/css" href="http://dev.clausencenter.net/assets/no-bullets.css" />
    <link rel="stylesheet" type="text/css" href="http://dev.clausencenter.net/assets/calendar/calendar-win2k-cold-2.css" />
    <script type="text/javascript" src="http://dev.clausencenter.net/assets/calendar/calendar.js"></script>
    <!-- this is translation file - choose your language here -->
    <script type="text/javascript" src="http://dev.clausencenter.net/assets/calendar/lang/calendar-en.js"></script>
    <script type="text/javascript" src="http://dev.clausencenter.net/assets/calendar/calendar-setup.js"></script>
    <!-- /calendar -->
    <title>Equipment Reservations</title>
</head>
<body>
    <table bordercolor="#000000" border="1" width="590">
        <tbody>
            <tr>
                <td class"fifthtable">Equipment Reservations</td>
            </tr>
            <tr>
                <td>
                    <p>Click on the link below to reserve audio/visual equipment. </p>
                    
                    {% if form.errors %}
                        <h2 style="color: red;">
                            Please correct the error{{ form.errors|pluralize }} below.
                        </h2>
                    {% endif %}
                    
                    <form action="" method="post" class="nobullets">
                        <table cellspacing="0" cellpadding="4" border="0">
                            <tbody>
                                
                                <tr>
                                    <div class="field{% if form.message.errors %} errors{% endif %}">
                                        <td width="100">
                                        </td>
                                        <td>
                                            {% if form.first_name.errors %}
                                                <ul>
                                                {% for error in form.first_name.errors %}
                                                    <li><strong>{{ error }}</strong></li>
                                                {% endfor %}
                                                </ul>
                                            {% endif %}
                                            {% if form.last_name.errors %}
                                                <ul>
                                                {% for error in form.last_name.errors %}
                                                    <li><strong>{{ error }}</strong></li>
                                                {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </td>
                                </tr>
                                <tr>
                                        <td>
                                            <label for="id_first_name"><strong>Name:</strong></label>
                                            <label for="id_last_name"><strong> </label>
                                        </td>
                                        <td>
                                            {{ form.first_name }}
                                            {{ form.last_name }}
                                        </td>
                                    </div>
                                </tr>
                                
                                <tr>
                                    <td colspan="4">
                                        <p>
                                            <font color="red">***If your e-mail address is not correct, your request WILL NOT be submitted. If you do not receive an e-mail acknowledgment of your request within one full working day, please contact Media Services by phone at (262) 551-5950 or via email at av@carthage.edu.*** </font>
                                        </p>
                                    </td>
                                </tr>
                                
                                <tr>
                                    <div class="field{% if form.message.errors %} errors{% endif %}"> 
                                        <td />
                                        <td>
                                            {% if form.email.errors %}
                                                <ul>
                                                {% for error in form.email.errors %}
                                                    <li><strong>{{ error }}</strong></li>
                                                {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </td>
                                </tr>
                                <tr>
                                        <td>
                                            <label for="id_email"><strong>Your e-mail address:</strong></label>
                                        </td>
                                        <td>
                                            {{ form.email }}
                                        </td>
                                    </div>
                                </tr>
                                
                                <tr>
                                    <div class="field{% if form.message.errors %} errors{% endif %}">
                                        <td />
                                        <td>
                                            {% if form.local_phone.errors %}
                                                <ul>
                                                {% for error in form.local_phone.errors %}
                                                    <li><strong>{{ error }}</strong></li>
                                                {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </td>
                                </tr>
                                <tr>
                                        <td>
                                            <label for="id_local_phone"><strong>Local phone number:</strong></label>
                                        </td>
                                        <td>
                                            {{ form.local_phone }}
                                        </td>
                                    </div>
                                </tr>
                                
                                <tr>
                                    <div class="field{% if form.message.errors %} errors{% endif %}">
                                        <td />
                                        <td>
                                            {% if form.status.errors %}
                                                <ul>
                                                {% for error in form.status.errors %}
                                                    <li><strong>{{ error }}</strong></li>
                                                {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </td>
                                </tr>
                                <tr>
                                        <td>
                                            <label for="id_status"><strong>Status:</strong></label>
                                        </td>
                                        <td>
                                            {{ form.status }}
                                        </td>
                                    </div>
                                </tr>
                                
                                <tr>
                                    <div class="field{% if form.message.errors %} errors{% endif %}">
                                        <td />
                                        <td>
                                            {% if form.title_of_event.errors %}
                                                <ul>
                                                {% for error in form.title_of_event.errors %}
                                                    <li><strong>{{ error }}</strong></li>
                                                {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </td>
                                </tr>
                                <tr>
                                        <td>
                                            <label for="id_title_of_event"><strong>Title of event:</strong></label>
                                        </td>
                                        <td>
                                            {{ form.title_of_event }}
                                        </td>
                                    </div>
                                </tr>
                                
                                <tr>
                                    <div class="field{% if form.message.errors %} errors{% endif %}">
                                        <td />
                                        <td>
                                            {% if form.department.errors %}
                                                <ul>
                                                {% for error in form.department.errors %}
                                                    <li><strong>{{ error }}</strong></li>
                                                {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </td>
                                </tr>
                                <tr>
                                        <td>
                                            <label for="id_department"><strong>Department:</strong></label>
                                        </td>
                                        <td>
                                            {{ form.department }}
                                        </td>
                                    </div>
                                </tr>
                                
                                <tr>
                                    <div class="field{% if form.message.errors %} errors{% endif %}">
                                        <td />
                                        <td>
                                            {% if form.course_number.errors %}
                                                <ul>
                                                {% for error in form.course_number.errors %}
                                                    <li><strong>{{ error }}</strong></li>
                                                {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </td>
                                </tr>
                                <tr>
                                        <td>
                                            <label for="id_course_number"><strong>Course Number:</strong></label>
                                        </td>
                                        <td>
                                            {{ form.course_number }}
                                        </td>
                                    </div>
                                </tr>
                                
                                <tr>
                                    <div class="field{% if form.message.errors %} errors{% endif %}">
                                        <td />
                                        <td>
                                            {% if form.equipment.errors %}
                                                <ul>
                                                {% for error in form.equipment.errors %}
                                                    <li><strong>{{ error }}</strong></li>
                                                {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </td>
                                </tr>
                                <tr>
                                        <td>
                                            <label for="id_equipment"><strong>Equipment:</strong></label>
                                        </td>
                                        <td>
                                            {{ form.equipment }}
                                        </td>
                                    </div>
                                </tr>
                                
                                <tr>
                                    <div class="field{% if form.message.errors %} errors{% endif %}">
                                        <td />
                                        <td>
                                            {% if form.date.errors %}
                                                <ul>
                                                {% for error in form.date.errors %}
                                                    <li><strong>{{ error }}</strong></li>
                                                {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </td>
                                </tr>
                                <tr>
                                        <td>
                                            <label for="id_date"><strong>Date room is needed:</strong></label>
                                        </td>
                                        <td>
                                            {{ form.date }}
                                            (click to select date)
                                        </td>
                                    </div>
                                </tr>
                                
                                <tr>
                                    <td colspan="2">
                                        <center><p><font color="red">PLEASE NOTE: all reserved equipment is to be checked out and returned to the library during the hours it is open.</p> <p>To check library hours, please visit: <br /> <a href="http://www.carthage.edu/ais/library/hours.htm">http://www.carthage.edu/ais/library/hours.htm</a></p></font></center>
                                    </td>
                                </tr>
                                
                                <tr>
                                    <div class="field{% if form.message.errors %} errors{% endif %}">
                                        <td />
                                        <td>
                                            {% if form.start_time.errors %}
                                                <ul>
                                                {% for error in form.start_time.errors %}
                                                    <li><strong>{{ error }}</strong></li>
                                                {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </td>
                                </tr>
                                <tr>
                                        <td>
                                            <label for="id_start_time"><strong>Start Time:</strong></label>
                                        </td>
                                        <td>
                                            {{ form.start_time_hours }}
                                            {{ form.start_time_minutes }}
                                            {{ form.start_time_meridiem }}
                                        </td>
                                    </div>
                                </tr>
                                
                                <tr>
                                    <td>
                                        <p></p>
                                    </td>
                                    <td>
                                        <input type="submit" value="Request Equipment">
                                    </td>
                                <tr>
                            </tbody>
                        </table>
                    </form>
                    
                    <p>Submission of a request does NOT GUARANTEE your reservation.  You will receive a confirmation by email when your reservation has been entered.  Requests submitted with less than one full working day's advance notice may not be honored.<br />
					<center>If this form is inadequate to meet your reservation needs, please contact Media Services directly at av@carthage.edu or (262)551-5950.</center></p>
					<p><font size="-1">* Still digital cameras save to 3.5" floppy discs. Camcorders use miniDV tapes. Media Services does NOT provide discs or tapes for patron use.</font></p><br />
					<p><font size="-1">** For use only by authorized CDM faculty and students.</font></p><br />
                    {{form.errors}}
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>

