{% extends "base.html" %}
{% block title %}Comments &mdash; Presidential Search &mdash; Carthage College{% endblock %}
{% block columns %}<link href="http://www.carthage.edu/media/css/douglasfir/3_column.css" rel="stylesheet" type="text/css" />{% endblock %}
{% block extra_style %}
    {% include "includes/extra_form_style.html" %}
{% endblock %}
{% block left_nav %}
    {% include "president/search_left_nav.html" %}
{% endblock %}
{% block content %}
<div class="buffer">
    <h1>Comments</h1>
    <p>The search committee welcomes input from the community on the search for the 19th president of the College. This is a time for community members to reflect on the future of the College, opportunities for growth and the challenges we face.  As these institutional priorities take shape, we also welcome observations on the leadership qualities and attributes our next President should have.</p>
    <p>We invite you to submit your thoughts in the form below.</p>
    <p class="help">Fields marked with <img src="http://www.carthage.edu/assets/img/ico/silk/icons/asterisk_orange.png" /> are required.</p>
    {% include "includes/generic_form.html" %}
</div>
{% endblock %}
{% block sidebar %}
<div id="third">
    <div class="buffer">
        <h1 style="font-size:18px;">Carthage at a Glance</h1>
        
        <h2 style="font-size:15px; margin-bottom:2px; margin-top:20px;"><strong>Enrollment</strong></h2> 
        <p>2,500 full-time students<br />
        3,400 total students</p>
        
        <h2 style="font-size:15px; margin-bottom:2px; margin-top:20px;"><strong>Freshman Snapshot</strong></h2>
        <p>Average high school GPA: 3.31<br />
        Average midrange ACT score: 22-27</p>
        <p>More than 1/3 of entering students are in the top 20% of their class.</p>
        
        <h2 style="font-size:15px; margin-bottom:2px; margin-top:20px;"><strong>Academics</strong></h2>
        <p>More than <a href="/academics/">50 areas of study</a><br />
        Average class size: 17<br />
        Student to faculty ratio: 14:1</p>
        
        <h2 style="font-size:15px; margin-bottom:2px; margin-top:20px;"><strong>Campus</strong></h2>
        <p>100-acre arboretum situated on the shore of Lake Michigan in Kenosha, midway between Milwaukee and Chicago.</p>
        <p>$130 million invested in campus development during the last decade.</p>
    </div>
    
    <div class="buffer">
        <img style="width:235px;" title="The Class of 2011 was Carthage's largest graduating class in its 164-year history." src="http://www.carthage.edu/assets/photologue/photos/cache/Commencement2011-LineUp3-530_20110523T222017_display.jpg">
    </div>
</div>
{% endblock %}
