{% extends "base.html" %}
{% load get_api %}
{% block title %}Comments &mdash; Presidential Search &mdash; Carthage College{% endblock %}
{% block columns %}<link href="http://www.carthage.edu/media/css/douglasfir/3_column.css" rel="stylesheet" type="text/css" />{% endblock %}
{% block left_nav %}
    {% include "president/search_left_nav.html" %}
{% endblock %}
{% block content %}
<div class="buffer">
<h1>Success</h1>
<p>Thank you for your comments. We appreciate your input.</p>
</div>
{% endblock %}
{% block sidebar %}
    {% include "president/search_side_bar.html" %}
{% endblock %}
