{% extends "base.html" %}
{% load get_api %}
{% block title %}Registration &mdash; Conferences &mdash; Libary and Information Services &mdash; Carthage College{% endblock %}
{% block left_nav %}
    {% include "lis/left_nav.html" %}
{% endblock %}
{% block content %}
{% get_api_object as banner cms snippet 252 code %}
{{banner}}
{% get_api_object as header cms snippet 124 code %}
{{header}}
<div class="buffer">
    <h1>Through the e-Looking Glass Registration</h1>
    <h2>Thank you for participating.</h2>
    <p>We have received your registration for the conference. You will receive a detailed confirmation of your registration shortly.</p>
</div>
{% endblock %}
{% block sidebar %}
    {% include "lis/conferences/looking_glass/side_bar.html" %}
{% endblock %}
