{% extends "base.html" %}
{% load get_api %}
{% block title %}Registration &mdash; Conferences &mdash; Libary and Information Services &mdash; Carthage College{% endblock %}
{% block columns %}<link href="https://www.carthage.edu/media/css/douglasfir/3_column.css" rel="stylesheet" type="text/css" />{% endblock %}
{% block extra_style %}
    <link href="https://www.carthage.edu/assets/css/jquery/ui/datepicker/ui.datepicker.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://www.carthage.edu/static/satchmo/css/donations.css" type="text/css" />
    <style type="text/css">
    #profile h2 {margin:7px 0 7px 0;font-size:1.6em;background-color:#cacaca;padding:3px 0 3px 5px;width:99%;}
    li.ctrlHolder div ul li {display: inherit; padding-right:3px;}
    #id_cc-security_code{width:35px;}
    #id_or-start_date, #id_ct-postal_code, #id_or-total {width:100px;}
    </style>
{% endblock %}
{% block left_nav %}
    {% include "lis/left_nav.html" %}
{% endblock %}
{% block content %}
{% get_api_object as banner cms snippet 252 code %}
{{banner}}
{% get_api_object as header cms snippet 124 code %}
{{header}}
<div class="buffer">
    <div id="security"><div style="margin-left:30px;">
    <a href="https://www.securitymetrics.com/site_certificate.adp?s=72%2e47%2e217%2e18&amp;i=131614" target="_blank" ><img src="https://www.securitymetrics.com/images/sm_ccsafe_wh.gif" alt="SecurityMetrics" border="0"></a>
    </div></div>
    <h1>Conference Registration</h1>
    {% if form_proc.errors or form_ord.errors or form_con.errors %}
        <p class="error">There were errors with the data submitted, see below.</p>
    {% endif %}
    <p class="help">Fields marked with <img src="https://www.carthage.edu/assets/img/ico/silk/icons/asterisk_orange.png" /> are required.</p>
    <form method="post" action="." class="form" id="profile">{% csrf_token %}
        {% for hidden in form_ord.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        <fieldset class="blockLabels">
            <h2>Contact Information</h2>
            <ol>
                {% for field in form_con.visible_fields %}
                    <li class="ctrlHolder">
                    {% if field.label %}<h3{% if field.field.required %} class="required"{% endif %}>{{ field.label_tag }}</h3>{% endif %}
                    {% if field.errors %}
                        <div class="warning">
                        <span class="error-message">{{ field.errors|join:", "}}</span>
                    {% else %}
                        <div>
                    {% endif %}
                    {% if field.help_text %}
                        <p class="help">{{field.help_text}}</p>
                    {% endif %}
                    {{field}}
                    {% if field.name == "housing" %}<span class="help">Would you like to reserve a space in our on campus housing?</span>{% endif %}
                    {% if field.name == "event" %}<p class="help">NOTE: Conference fee includes three meals and a visit to Kenosha Civil War Museum)</p>{% endif %}
                    </div>
                    </li>
                {% endfor %}
            </ol>
        </fieldset>
        <fieldset class="blockLabels">
            <ol>
                {% for field in form_ord.visible_fields %}
                    <li class="ctrlHolder">
                        <h3{% if field.field.required %} class="required"{% endif %}>{{ field.label_tag }}</h3>
                        {% if field.errors %}
                            <div class="warning">
                            <span class="error-message">{{ field.errors|join:", "}}</span>
                        {% else %}
                            <div>
                        {% endif %}
                        {% if field.help_text %}
                            <p class="help">{{field.help_text}}</p>
                        {% endif %}
                        {{field}}
                        </div>
                    </li>
                {% endfor %}
            </ol>
        </fieldset>
        <fieldset class="blockLabels">
            <h2>Billing Information</h2>
            {% if form_proc.errors %}
                <div style="padding-left:4px;">
                <p class="error">The transaction was declined{% if status == "baddata" or status == "decline" %} : <strong>{{status}}</strong>{% endif %}</p>
                </div>
            {% endif %}
            <ol>
                {% for field in form_proc %}
                    {% if field.name == "expiration_month" %}
                    <li class="ctrlHolder">
                    <h3 class="required">Expiration Date</h3>
                    <div>{{field}}
                    {% else %}{% if field.name == "expiration_year" %}&mdash;&nbsp;{{field}}</div></li>
                    {% else %}
                    <li class="ctrlHolder">
                    <h3{% if field.field.required %} class="required"{% endif %}>{{ field.label_tag }}</h3>
                    {% if field.errors %}
                        <div class="warning">
                        <span class="error-message">{{ field.errors|join:", "}}</span>
                    {% else %}
                        <div>
                    {% endif %}
                    {% if field.help_text %}
                        <p class="help">{{field.help_text}}</p>
                    {% endif %}
                    {{field}}
                    </div>
                    </li>
                    {% endif %}{% endif %}
                {% endfor %}
                <li class="btnHolder">
                    <h3>Conference Cancellation Policy</h3>
                    <p>A cancellation must be received by April 16, 2012 by emailing
                    <a href="mailto:ezitron@carthage.edu">Liz Zitron</a>. A refund will be issued.</p>
                    <p>This conference offers continuing professional undergraduate credit for an additional $50.
                    A syllabus, including post-conference assignments, is available by emailing
                    <a href="mailto:mward@carthage.edu">Marilyn Ward</a>. To sign up for this option, please call
                    Lynn Dahl, <em>Enrichment and Continuing Education Coordinator</em>, at (262) 551-5924.</p>
                    <label for="id_submit">&nbsp;&nbsp;</label>
                    <input type="submit" value="Submit" class="button" />
                </li>
            </ol>
        </fieldset>
    </form>
</div>
{% endblock %}
{% block sidebar %}
    {% include "lis/conferences/looking_glass/side_bar.html" %}
{% endblock %}
