{% extends "base.html" %}
{% block title %}LUC/Carthage MSW 10 Year Reunion &mdash; Carthage College{% endblock %}
{% block extra_javascript %}
<script src="/djassets/js/jquery/plugins/jquery.charCount.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("#id_update").charCount({
            allowed: 500,
            warning: 20,
            counterText: 'Characters left: '
        });
    });
</script>
{% endblock %}
{% block columns %}<link href="http://www.carthage.edu/media/css/douglasfir/3_column.css" rel="stylesheet" type="text/css" />{% endblock %}
{% block left_nav %}
    {% include "alumni/left_nav.html" %}
{% endblock %}
{% block content %}
<div class="buffer">
    <h1>LUC/Carthage MSW 10 Year Reunion Contact Form</h1>
    <p class="help">Fields marked with <img src="http://www.carthage.edu/assets/img/ico/silk/icons/asterisk_orange.png" /> are required.</p>
    {% include "includes/generic_form.html" %}
</div>
{% endblock %}
