{% extends "base.html" %}
{% block title %}International Poetry Festival Sign Up{% endblock %}
{% block columns %}<link href="http://www.carthage.edu/media/css/douglasfir/3_column.css" rel="stylesheet" type="text/css" />{% endblock %}
{% block extra_style %}
    {% include "includes/extra_form_style.html" %}
{% endblock %}
{% block left_nav %}
    {% include "languages/left_nav.html" %}
{% endblock %}
{% block content %}
<div class="buffer">
    <h2 class="page_title">Success</h2>
    <p>Should you have any questions, please feel free to contact <a href="mailto:scyganiak@carthage.edu">Sarah Cyganiak</a>.</p>
</div>
{% endblock %}
{% block sidebar %}
    {% include "languages/side_bar.html" %}
{% endblock %}
