{% extends "base.html" %}
{% block title %}International Poetry Festival Sign Up{% endblock %}
{% block columns %}<link href="http://www.carthage.edu/media/css/douglasfir/3_column.css" rel="stylesheet" type="text/css" />{% endblock %}
{% block extra_style %}
    {% include "includes/extra_form_style.html" %}
{% endblock %}
{% block left_nav %}
    {% include "languages/left_nav.html" %}
{% endblock %}
{% block content %}
<div class="buffer">
    <h1>International Poetry Festival Sign Up</h1>
    <p>
        The information you provide below will be used when printing the program.
        Please take the time to ensure that all the required fields are filled
        out completely and accurately.
    </p>
    <form action="." class="form" id="profile" method="post">{% csrf_token %}
        <fieldset class="blockLabels">
            <ol>
                {% for field in form %}
                <li class="ctrlHolder">
                <h3{% if field.field.required %} class="required"{% endif %}>{{ field.label_tag }}</h3>
                {% if field.errors %}
                <div class="warning">
                <span class="error-message">{{ field.errors|join:", "}}</span>
                {% else %}
                <div>
                {% endif %}
                {% if field.help_text %}
                <p class="help">{{field.help_text}}</p>
                {% endif %}
                {{field}}
                </div>
                </li>
                {% endfor %}
                <li class="btnHolder">
                <label for="id_submit">&nbsp;&nbsp;</label>
                <input type="submit" value="Submit" class="button" />
                </li>
            </ol>
        </fieldset>
    </form>
</div>
{% endblock %}
{% block sidebar %}
    {% include "languages/side_bar.html" %}
{% endblock %}
