<nav id="secondary-navigation">
    <div class="lw_widget_navigation">
    <ul>
    {% if perms.scholars.manage_presentation %}
    <li>
        <a href="{% url 'presentation_manager' %}">
            Manage Presentations
        </a>
    </li>
    <li>
        <a href="{% url 'presentation_archives_home' 'presenters' 'screen' %}">
            List Presenters
        </a>
    </li>
    {% endif %}
    {% if user.is_superuser %}
        <li>
            <a href="/forms/admin/scholars/presentation/">Administration</a>
        </li>
    {% endif %}
    {% if not perms.scholars.manage_presentation %}
        <li>
            <a href="{% url 'presentation_home' %}">
                My Presentation
            </a>
        </li>
    {% endif %}
    <li class="lw_has_subnav">
        <a href="{% url 'presentation_archives_home' 'presentation' 'screen' %}"
            class="lw_subnav_toggle">
            <span class="lw_separator_title">Archives</span>
        </a>
        <ul class="lw_subnav">
        <li>
            <a href="{% url 'presentation_archives' 'presentation' 'screen' '2018' %}">
                2018
            </a>
        </li>
        <li>
            <a href="{% url 'presentation_archives' 'presentation' 'screen' '2017' %}">
                2017
            </a>
        </li>
        <li>
            <a href="{% url 'presentation_archives' 'presentation' 'screen' '2016' %}">
                2016
            </a>
        </li>
        <li>
            <a href="{% url 'presentation_archives' 'presentation' 'screen' '2015' %}">
                2015
            </a>
        </li>
        <li>
            <a href="{% url 'presentation_archives' 'presentation' 'screen' '2014' %}">
                2014
            </a>
        </li>
        <li>
            <a href="{% url 'presentation_archives' 'presentation' 'screen' '2013' %}">
                2013
            </a>
        </li>
        </ul>
    </li>
    {% if not user.is_anonymous %}
        <li>
            <a href="{% url 'auth_logout' %}?next={% url 'presentation_archives_home' 'presentation' 'screen' %}">
                Logout
            </a>
        </li>
    {% else %}
        <li>
            <a href="{% url 'auth_login' %}?next={{request.path}}">Login</a>
        </li>
    {% endif %}
    </ul>
    </div>
</nav>
