{% load get_api %}
<div id="third">
    <div class="buffer">
        <h1 style="font-size:19px;">Archives</h1>
        <ul class="bullets">
            <li><a href="/forms/scholars/archives/presentation/screen/2013/">2013</a></li>
        </ul>
        <h1 style="font-size:19px;">Instructions</h1>
        <p style="border-bottom:2px dotted #900;margin-bottom:10px;padding-bottom:10px;">Student presentations must have a faculty sponsor.</p>
        <p>Abstracts must include a title and a description of the research, scholarship, or creative work. The description should be 150-225 words in length and constructed in a format or style appropriate for the presenter's discipline.</p>
        <p>The following points should be addressed within the selected format or style for the abstract:</p>
        <ul class="bullets" style="border-bottom:2px dotted #900;margin-bottom:10px;">
            <li>A clear statement of the problem or question you pursued, or the scholarly goal or creative theme achieved in your work.</li>
            <li>A brief comment about the significance or uniqueness of the work.</li>
            <li>A clear description of the methods used to achieve the purpose or goals for the work.</li>
            <li>A statement of the conclusions, results, outcomes, or recommendations, or if the work is still in progress, the results you expect to report at the event.</li>
        </ul>
        <p>Boards for displaying posters will be provided for all presentations.</p>
        <p style="border-bottom:2px dotted #900;margin-bottom:10px;padding-bottom:10px;">Please indicate if a presentation requires a small table for displaying physical objects, if a presentation requires a video display, or has other requirements.</p>
        <p style="border-bottom:2px dotted #900;margin-bottom:10px;padding-bottom:10px;">Presenter photographs should be head and shoulder shots comparable to passport photos.</p>
        <p style="border-bottom:2px dotted #900;margin-bottom:10px;padding-bottom:10px;">Presentations must be submitted by March 17, 2014.</p>
        <h2>Additional Information</h2>
        <p>More information is available at <a href="http://www.carthage.edu/celebration-scholars/">carthage.edu/celebration-scholars/</a>. The following are members of the Research, Scholarship, and Creativity Committee who are eager to listen to ideas and answer questions:</p>
        <ul class="bullets">
            <li><a href="http://faculty.carthage.edu/lhuaracha/">Laura Huaracha</a> (Fine Arts)</li>
            <li><a href="http://www.carthage.edu/live/profiles/117-brent-mcclintock">Brent McClintock</a> (Social Sciences)</li>
            <li><a href="http://faculty.carthage.edu/smitchell/">Stephanie Mitchell</a> (Humanities)</li>
            <li><a href="http://faculty.carthage.edu/dmunk/">Dennis Munk</a> (Education)</li>
            <li><a href="http://faculty.carthage.edu/bschwartz/">Brian Schwartz</a> (Interdisciplinary Studies/Natural Sciences)</li>
            <li><a href="http://faculty.carthage.edu/dtobiason/">Deb Tobiason</a> (Natural Sciences)</li>
            <li><a href="http://faculty.carthage.edu/jwall/">Joe Wall</a> (Business Division)</li>
        </ul>
    </div>
</div>
