html, body {font:11px verdana;margin:0;padding:0;border:0 none;}
h1, h2, h3, h4, h5, h6 {font: Verdana;}
h1 {margin-bottom:0.6em;font-size:3em;line-height:1.2em;}
h2 {margin-bottom:0.9em;font-size:2em;line-height:1.8em;}
h3 {font-size:1.6em;line-height:2.0em;}
h4 {font-size:1.4em;line-height:1.2857em;}
h5 {font-size:1.3em;font-weight:bold;line-height:1.3846em;}
h6 {font-size:1.3em;font-style:italic;line-height:1.3846em;}
h1 img, h2 img, h3 img,h4 img, h5 img, h6 img {margin:0;}
p {margin-bottom:1em;font-size:1.3em;line-height:1.3846em;}
blockquote {margin:1.8em;color:#666;font-style:italic;}
strong {font-weight:bold;}
em, dfn {font-style:italic;}
dfn {font-weight:bold;}
.hide {display:none;}
.bold {font-weight:bold;}
.quiet {color:#666;}
.loud {color:#000;}
.highlight {font-weight:bold;background-color:#FFC;}
.added {background:#060;color:#fff;}
.removed {background:#900;color:#fff;}
.first {margin-left:0;padding-left:0;}
.last {margin-right:0;padding-right:0;}
.top {margin-top:0;padding-top:0;}
.bottom {margin-bottom:0;padding-bottom:0;}
.form input.button {background-color:#e5e5e5;color:#224466;border-top-color:#80b5d0;border-right-color:#80b5d0;border-bottom-color:#80b5d0;border-left-color:#80b5d0;padding:3px 5px;border-width:1px;border-style:solid;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;cursor:pointer;text-decoration:none;}
.form input.button:hover {border-top-color:#328ab2;border-right-color:#328ab2;border-bottom-color:#328ab2;border-left-color:#328ab2;color:#0000ff;}
#id_app_details{
width:880px;
}

dl.job-detail{
    width:720px;
    font-size:1.3em;
}

dl.job-detail .job-header{
    float:left;
    width: 400px;
    font-weight: bold;
    color: #8F5050;
    margin-bottom:5px;
}
dl.job-detail .job-data{
    width: 300px;
    margin-bottom:5px;
    float:left;
}

dl.job-detail .student-header {
    float:left;
    width: 200px;
    font-weight: bold;
    color: #224F28;
    margin-bottom:5px;
}

dl.job-detail .photo-header {
    float:left;
    width: 100px;
    margin-bottom:10px;
}

dl.job-detail .photo-data {
    width: 600px;
    margin-bottom:10px;
    float:left;
}

.description p {
    font-weight:normal;font-size:1em;
}

table.display { font-size:1.2em; line-height: 20px; }

table.display td { margin:1px; border: 2px #E5DCC1 solid; padding: 5px; }
table.display thead th { padding: 3px 18px 3px 10px; font-weight: bold; background-color: #C09D6A; }

tr.odd {background-color: #CFC4B5;}
tr.even {background-color: #fff;}
tr.new-request {background-color: goldenrod;}
tr.new-request td {font-weight: bold;}
