{% extends "base.html" %}
{% load get_api %}
{% block title %}Choral Ensemble Tryout &mdash; Music &mdash; Carthage College{% endblock %}
{% block columns %}<link href="http://www.carthage.edu/media/css/douglasfir/3_column.css" rel="stylesheet" type="text/css" />{% endblock %}
{% block left_nav %}
    {% include "music/left_nav.html" %}
{% endblock %}
{% block content %}
{% get_api_object as header cms snippet 834 code %}
{{header}}
{% get_api_object as title cms snippet 706 code %}
{{title}}
<div class="buffer">
    <h1>Choral Ensemble Tryout</h1>
    <p>Complete the form below to sign up for a Choral tryout session.</p>
    <h2>Time Slots</h2>
    <p>There two tryout sessions from which to choose a 10 minute slot:</p>
    <ul class="bullets">
        <li>Monday, September 2: 4:00pm&mdash;8:00pm</li>
        <li>Tuesday, September 3: 9:00am&mdash;8:00pm</li>
    </ul>
    <h3>Freshman and Transfer Students</h3>
    <p>Make certain that you check your orientation schedule.</p>
    <h3>Returning Students</h3>
    <p>You are encouraged to sign up <strong>Monday 2-4pm</strong> or <strong>Tuesday 9-12pm</strong>.</p>
    {% include "includes/generic_form.html" %}
</div>
{% endblock %}
{% block sidebar %}
    {% include "music/ensembles/side_bar.html" %}
{% endblock %}

