{% extends "base.html" %}
{% load get_api %}
{% block title %}Homecoming Attendance &mdash; Alumni &mdash; Carthage College{% endblock %}
{% block columns %}<link href="http://www.carthage.edu/media/css/douglasfir/3_column.css" rel="stylesheet" type="text/css" />{% endblock %}
{% block left_nav %}
    {% include "alumni/left_nav.html" %}
{% endblock %}
{% block content %}
{% get_api_object as header cms snippet 702 code %}
{{header}}
{% get_api_object as title cms snippet 606 code %}
{{title}}
<div class="buffer">
    <h1>Homecoming Attendees</h1>
    {% for attendee in attendees %}
    <div style="padding-bottom:10px;margin-bottom:10px; border-bottom: 1px #000 solid;">
    <dl>
        <dt>Name</dt>
        <dd>{{attendee.first_name}} {{attendee.last_name}} {% if attendee.maiden_name %}(née {{attendee.maiden_name}}){% endif %}</dd>
        <dt>City</dt>
        <dd>{{attendee.city}}</dd>
        <dt>State</dt>
        <dd>{{attendee.state}}</dd>
        <dt>Class</dt>
        <dd>{{attendee.grad_class}}</dd>
    </dl>
    </div>
    {% endfor %}
</div>
{% endblock %}
{% block sidebar %}
    {% include "alumni/side_bar.html" %}
{% endblock %}
