{% extends "giving/donation_form.html" %}
{% block content_head %}
    <h1 id="page_title">
        {{campaign.title}}
    </h1>
{% endblock %}
{% block designation %}
<li class="ctrlHolder">
    <h3><label for="id_or-comments">Designation</label></h3>
    {% if or_form.comments.errors %}
    <div class="required warning">
      <span class="error-message">
        {{ or_form.comments.errors|join:", "}}
      </span>
    {% else %}
    <div class="required">
    {% endif %}
      <select name="or-comments">
        <option value="">----Select----</option>
        <option value="Biology"{% if or_form.comments.value == 'Biology' %} selected{% endif %}>
          Biology
        </option>
        <option value="Chemistry"{% if or_form.comments.value == 'Chemistry' %} selected{% endif %}>
          Chemistry
        </option>
        <option value="Computer Science"{% if or_form.comments.value == 'Computer Science' %} selected{% endif %}>
          Computer Science
        </option>
        <option value="Criminal Justice"{% if or_form.comments.value == 'Criminal Justice' %} selected{% endif %}>
          Criminal Justice
        </option>
        <option value="Economics"{% if or_form.comments.value == 'Economics' %} selected{% endif %}>
          Economics
        </option>
        <option value="Environmental Science"{% if or_form.comments.value == 'Environmental Science' %} selected{% endif %}>
          Environmental Science
        </option>
        <option value="International Political Economy"{% if or_form.comments.value == 'International Political Economy' %} selected{% endif %}>
          International Political Economy
        </option>
        <option value="Geospatial Science"{% if or_form.comments.value == 'Geospatial Science' %} selected{% endif %}>
          Geospatial Science
        </option>
        <option value="Mathematics"{% if or_form.comments.value == 'Mathematics' %} selected{% endif %}>
          Mathematics
        </option>
        <option value="Neuroscience"{% if or_form.comments.value == 'Neuroscience' %} selected{% endif %}>
          Neuroscience
        </option>
        <option value="Physics and Astronomy"{% if or_form.comments.value == 'Physics and Astronomy' %} selected{% endif %}>
          Physics and Astronomy
        </option>
        <option value="Political Science"{% if or_form.comments.value == 'Political Science' %} selected{% endif %}>
          Political Science
        </option>
        <option value="Psychology"{% if or_form.comments.value == 'Psychology' %} selected{% endif %}>
          Psychology
        </option>
        <option value="Sociology"{% if or_form.comments.value == 'Sociology' %} selected{% endif %}>
          Sociology
        </option>
        <option value="Other"{% if or_form.comments.value == 'Other' %} selected{% endif %}>
          Other
        </option>
      </select>
      <p class="help">
        Please choose a designation.
      </p>
    </div>
    <div id="designation-other" style="display:none;">
      <h3><label for="id_or-comments_other">Other designation</label></h3>
      <div>
          <input type="text" name="or-comments_other" maxlength="254" id="id_or-comments_other" value="{{or_form.comments_other.value|default:''}}">
      </div>
      <p class="help">
        If you have choosen "Other" for designation, please include the name of the scholarship fund.
      </p>
    </div>
</li>
{% endblock %}
