{% extends "base.html" %}
{% block title %}Student Video Contest Entry Form &mdash; Carthage College{% endblock %}
{% block css %}
<style type="text/css" media="screen, projection">
/* <![CDATA[ */
    @import url("http://www.carthage.edu/media/css/douglasfir/global.css");
/* ]]> */
</style>
<!--[if IE]>
    <style type="text/css">#footer {zoom: 1;} #first li {font-size:.9em;}</style>
<![endif]-->
<!--[if IE 6]>
    <style type="text/css">div#first {width:150px;margin-left:7px;}     div#fourth {margin-right:-1px;}</style>
<![endif]-->
{% endblock %}
{% block columns %}<link href="http://www.carthage.edu/media/css/douglasfir/3_column.css" rel="stylesheet" type="text/css" />{% endblock %}
{% block extra_style %}
    {% include "includes/extra_form_style.html" %}
{% endblock %}
{% block left_nav %}
    {% include "video/left_nav.html" %}
{% endblock %}
{% block content %}
<div class="buffer">
    <h1>Student Video Contest Entry Form</h1>
    <h3>How to enter:</h3>
    <ol>
    <li>Create a one- to five-minute video about an aspect of student life at Carthage.</li>
    <li>Upload your video to YouTube and submit this entry form by Wednesday, May 4, 2011.</li>
    </ol>
    <p>Deadline: May 4, 2011.</p>
    <p class="help">Fields marked with <img src="http://www.carthage.edu/assets/img/ico/silk/icons/asterisk_orange.png" /> are required.</p>
    {% include "includes/generic_form.html" %}
</div>
{% endblock %}
{% block sidebar %}
<div id="third">
    <div class="buffer">
        <ul class="links"><li><p style="font-size: 16px; margin-bottom: 3px;"><a href="/videos/">Contest Overview</a></p></li><li><p style="font-size: 16px; margin-bottom: 3px;"><a href="/videos/why/">Why?</a></p></li><li><p style="font-size: 16px; margin-bottom: 3px;"><a href="/videos/guidelines/">Contest Guidelines</a></p></li><li><p style="font-size: 16px; margin-bottom: 3px;"><a href="/videos/ideas/">Video Format Ideas</a></p></li><li><p style="font-size: 16px; margin-bottom: 3px;"><a href="http://www.carthage.edu/videos/entry">Contest Entry Form</a></p></li></ul>
    </div>
</div>
{% endblock %}
