{% extends "base.html" %}
{% block title %}Distinguished Teaching Award &mdash; Faculty &mdash; Academics &mdash; Carthage College{% endblock %}
{% block columns %}<link href="http://www.carthage.edu/media/css/douglasfir/3_column.css" rel="stylesheet" type="text/css" />{% endblock %}
{% block left_nav %}
    {% include "academics/left_nav.html" %}
{% endblock %}
{% block content %}
<div id="sitetitle">2011 Distinguished Teaching Award</div>
<div class="buffer">
<h1>Success</h1>
<p>Thanks for submitting your nomination!</p>
</div>
{% endblock %}
{% block sidebar %}
    {% include "academics/side_bar.html" %}
{% endblock %}
