{% extends "base.html" %}
{% load get_api %}
{% block title %}Schedule an admissions and scholarship interview in China &mdash; Admissions &mdash; Carthage College{% endblock %}
{% block columns %}<link href="http://www.carthage.edu/media/css/douglasfir/3_column.css" rel="stylesheet" type="text/css" />{% endblock %}
{% block extra_style %}
<style type="text/css" media="screen, projection">
.form .blockLabels label {display: inherit;}

ul.data-row { clear:both; float:none; display: block; }
</style>
{% endblock %}
{% block extra_javascript %}
<script type="text/javascript">
( function($) {
    //$("#id_undergrad_0").closest("ul").addClass("col");
    //$("#id_undergrad_0").parent().next("ul").addClass("col");
    //$("#id_undergrad_0").closest('li').find('ul').addClass("col");
    /*
    var size = 4,
    $ul  = $("ul"),
    $lis = $ul.children().filter(':gt(' + (size - 1) + ')'),
    loop = Math.ceil($lis.length / size),
    i    = 0;
    $ul.css('float', 'left').wrap("<div style='overflow: hidden'></div>");
    for (; i < loop; i = i + 1) {
        $ul = $("<ul />").css('float', 'left').append($lis.slice(i * size, (i * size) + 4)).insertAfter($ul);
    }
    */
})(jQuery);
</script>
{% endblock %}
{% block left_nav %}
    {% include "admissions/left_nav.html" %}
{% endblock %}
{% block content %}
{% get_api_object as title cms snippet 1153 code %}
{{title}}
<div class="buffer">
    <h1>Schedule an admissions and scholarship interview in China</h1>
    {% if form.errors %}
        <p class="error">There were errors with the data submitted, see below.</p>
    {% endif %}
    <form method="post" action="." class="form" id="profile">{% csrf_token %}
        <fieldset class="blockLabels">
            <ol>
                {% for field in form.visible_fields %}
                    {% include "form_field.inc.html" %}
                {% endfor %}
            </ol>
        </fieldset>
        <fieldset class="blockLabels">
            <ol>
                <li class="btnHolder">
                    <label for="id_submit">&nbsp;&nbsp;</label>
                    <input type="submit" value="Submit" class="button" />
                </li>
            </ol>
        </fieldset>
    </form>
</div>
{% endblock %}
{% block sidebar %}
<div id="third">
    <div class="buffer" style="color:#000;">
    <p><strong>E-mail:</strong><br /><a href="mailto:admissions@carthage.edu">admissions@carthage.edu</a></p>
    <p><strong>Call:</strong><br /> 800-351-4058 <br /> 262-551-6000 </p>
    <p><strong>Fax:</strong> 262-551-5762</p>
    <p><strong>Write:</strong><br />
        Office of Admissions <br />
        Carthage College <br />
        2001 Alford Park Drive <br />
        Kenosha, WI 53140-1994
    </p>
    </div>
</div>
{% endblock %}

