{% extends "giving/donation_form.html" %}
{% load livewhale_api %}
{% block title %}
    {{campaign.title|default:"Giving to Carthage"}}
    Form &mdash; Giving &mdash; Carthage College
{% endblock %}
{% block extra_javascript %}
    {% include "giving/donation_form.inc.js" %}
{% endblock %}
{% block extra_style %}
    <link href="//www.carthage.edu/static/vendor/jquery/ui/datepicker/css/smoothness/jquery-ui-1.10.4.custom.min.css"
        rel="stylesheet" type="text/css" />
    <style type="text/css">
    #profile h2 {margin:7px 0 7px 0;font-size:1.6em;background-color:#cacaca;
    padding:3px 0 3px 5px;width:99%;}
    #id_security_code, #id_expiration_month,
    #id_expiration_year {width:70px;}
    #id_or-start_date, #id_ct-postal_code, #id_or-total, #pledge_total {width:100px;}
    li.ctrlHolder div ul li {display: inherit; padding-right:3px;}
    .cost, #pledge_total_help { font-weight:bold; color:green; }
    #pledge_total_help { margin-left:9px; }
    #page-content-wrap #pledge-payments p { color:green;font-weight:bold;
      margin-bottom:5px; }
    .generic-subpage #page-content-wrap { margin-top: 0; }
    .generic-subpage #secondary-navigation-wrap { padding: 25px 0 0 45px;}
    .generic-subpage #page-content-wrap .generic-background {
    background: #e9e8e5; position: absolute; top: 0;
    height: 20px; width: 100%; z-index: 0;
    }
    .generic-subpage #page-sidebar { margin-top: 20px; }
    .generic-subpage #header-background { opacity: 1 !important;}
    #djforms.generic-subpage #main-content { padding-top: 20px; }
    .generic-subpage #page-sidebar #sidebar-buttons { margin: 0 0 35px 0; }
    .generic-subpage #page-content-wrap { margin-top: 0; }
    </style>
{% endblock %}
{% block hero %}
<div id="page-hero-wrap">
  <div class="lw_widget lw_widget_images">
  <ul class="lw_widget_results lw_widget_results_images">
    <li class="lw_item_1 lw_has_image">
      <a href="//www.carthage.edu/live/image/gid/168/width/650/11690_red_and_ready-web-header1.jpg" class="lw_preview_image lw_disable_preview">
        <img src="//www.carthage.edu/live/image/gid/168/11690_red_and_ready-web-header1.jpg" alt="A banner image for the Giving Day website." class="lw_image lw_image11690" width="1400" height="502" data-max-w="1400" data-max-h="502">
      </a>
    </li>
  </ul>
  </div>
  <div id="page-title-wrap" class="site-width cf">
    <h1 id="section_title" class="large-8 medium-7 small-12">
         Giving Day
    </h1>
  </div>
</div>
{% endblock %}
{% block group_name %}<a href="/giving-day/"> Giving Day</a>{% endblock %}
{% block left_nav %}
    {% get_lw_content as nav blurbs 2472 %}
    {{nav.body}}
{% endblock %}
{% block sidebar %}
    <div id="sidebar-buttons">
      <div id="sidebar-buttons">
        <div class="cc-tab cc-tab-red-large">
          <div class="content-wrap">
            <div class="border"></div>
            <p>
              <a href="https://www.carthage.edu/forms/giving/donation/giving-day/">
                Make a Gift</a>
            </p>
          </div>
          <div class="arrow-wrap">
            <div class="arrow"></div>
            <div class="border"></div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
{% block content_head %}
    <h1 id="page_title">
        {{campaign.title|default:"Your Giving Matters"}}
    </h1>
{% endblock %}
{% block content %}
<div class="forms-container{% if campaign.about %}
    large-8 medium-10 small-12"{% endif %}">
    {# include "includes/security_metrics.html" #}
    <div>
        <br>
        {% if campaign.description %}
            {{campaign.description}}
        {% endif %}
    </div>
    <br />
    <p>
        Fields marked with an asterisk
        <img src="/static/forms/img/icons/red_asterisk.png" alt="asterisk" />
        are required.
    </p>
    {% if form_proc.errors or or_form.errors or ct_form.errors %}
        <p class="error">
            There were errors with the data submitted, see below.
        </p>
    {% endif %}
    <form method="post" action="." class="form" id="profile">
        {% csrf_token %}
        {% for hidden in or_form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        <h2>Donation Information</h2>
        <fieldset class="blockLabels">
            <ol>
                <li class="ctrlHolder">
                    <h3><label for="id_or-total">Amount</label></h3>
                        {% if or_form.total.errors %}
                            <div class="required warning">
                            <span class="error-message">
                                {{ or_form.total.errors|join:", "}}
                            </span>
                        {% else %}
                            <div class="required">
                        {% endif %}
                        <input type="text" placeholder="$"
                            name="or-total" id="id_or-total" class="required"
                            value="{{or_form.total.value|default:""}}">
                    </div>
                </li>
                <li class="ctrlHolder">
                    <div class="fleft">
                        <input type="checkbox" name="pledge" id="pledge">
                    </div>
                    <h3>
                        <label for="pledge">
                            Make my gift recurring
                        </label>
                    </h3>
                    <div class="clear" id="pledge-payments">
                    {% get_lw_content as recurring_warning blurbs 2294 %}
                    {{recurring_warning.body}}
                    </div>
                </li>
                <li class="ctrlHolder">
                    <h3><label for="id_or-comments">Designation</label></h3>
                    <div>
                      <input type="text" name="or-comments" id="id_or-comments"
                        value="{{or_form.comments.value|default:""}}">
                      <p class="help">
                        Please indicate if you would like your gift to be
                        directed to a specific area. If this space is
                        left blank, gifts will be directed to the
                        <a href="/give/carthage-fund/">Carthage Fund</a>.
                      </p>
                    </div>
                </li>
            </ol>
        </fieldset>
        <h2>Contact Information</h2>
        <fieldset class="blockLabels">
            <ol>
                {% for field in ct_form %}
                    <li class="ctrlHolder">
                    {% if field.name == "matching_company" or field.name == "opt_in" %}
                    {{field}} {{field.label_tag}}<br />
                    {% else %}{% if field.name == "anonymous" %}{% else %}
                        {% if field.name == "address2" %}
                        <label for="id_ct-address2" style="display:none;">{{ field.name }}</label>
                        {% else %}
                        <h3>{{ field.label_tag }}</h3>
                        {% endif %}
                        {% if field.errors %}
                            <div class="required warning">
                            <span class="error-message">
                                {{ field.errors|join:", "}}
                            </span>
                        {% else %}
                            <div{% if field.field.required %}
                                class="required"{% endif %}>
                        {% endif %}
                        {{field}}
                        {% if field.help_text %}
                            <p class="help">{{field.help_text}}</p>
                        {% endif %}
                        </div>
                    {% endif %}{% endif %}
                    </li>
                {% endfor %}
            </ol>
        </fieldset>
        <h2>Billing Information</h2>
        <fieldset class="blockLabels">
            {% if form_proc.errors and status %}
                <div style="padding-left:4px;">
                <p class="error">The transaction failed. Error: <strong>{{status}}</strong></p>
                </div>
            {% endif %}
            <ol>
                {% include "form_field_credit_card.inc.html" %}
            </ol>
        </fieldset>
        <fieldset class="blockLabels">
            <ol>
                <li class="ctrlHolder">
                    <input type="checkbox" name="ct-anonymous"
                        {% if ct_form.anonymous.value %}checked{% endif %}
                        id="id_ct-anonymous">
                    <label for="id_ct-anonymous">
                    I would like my gift to remain anonymous,
                    and not be published on any donor list or
                    in the annual report.</label>
                </li>
            </ol>
        </fieldset>
        {% include "form_submit.inc.html" %}
    </form>
</div>
{% if campaign.about %}
<div class="forms-sidebar large-4 medium-6 small-12">
    {{campaign.about}}
</div>
{% endif %}
{% endblock %}
