{% extends "giving/donation_form.html" %}
{% load livewhale_api %}
{% block extra_style %}
  {{block.super}}
  <link href="//www.carthage.edu/static/vendor/jquery/ui/datepicker/css/smoothness/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<div class="forms-container">
    {% if campaign.description %}
      {{campaign.description|safe}}
    {% endif %}
    <p>
      If you prefer to make your gift by phone, call
      <a href="tel:262-551-2300">262-551-2300</a>.
    </p>
    <p>
      Fields marked with an asterisk
      <img src="/static/forms/img/icons/red_asterisk.png" alt="asterisk" />
      are required.
    </p>
    {% if form_proc.errors or or_form.errors or ct_form.errors %}
      <p class="error">
        There were errors with the data submitted, see below.
      </p>
    {% endif %}
    <form method="post" action="." class="form">
        {% csrf_token %}
        {% for hidden in or_form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        <h2>Donation Information</h2>
        <fieldset class="blockLabels">
            <ol>
                <li class="ctrlHolder">
                    <h3><label for="id_or-total">Amount</label></h3>
                        {% if or_form.total.errors %}
                            <div class="required warning">
                            <span class="error-message">
                                {{ or_form.total.errors|join:", "}}
                            </span>
                        {% else %}
                            <div class="required">
                        {% endif %}
                        <input type="text" placeholder="$"
                            name="or-total" id="id_or-total" class="required"
                            value="{{or_form.total.value|default:""}}">
                    </div>
                </li>
                <li class="ctrlHolder">
                    <div class="fleft">
                        <input type="checkbox" name="pledge" id="pledge">
                    </div>
                    <h3>
                        <label for="pledge">
                            Make my gift recurring
                        </label>
                    </h3>
                    <div class="clear" id="pledge-payments">
                    {% get_lw_content as recurring_warning blurbs 2294 %}
                    {{recurring_warning.body}}
                    </div>
                </li>
                <li class="ctrlHolder">
                    <h3><label for="id_or-comments">Designation</label></h3>
                    <div>
                      <input type="text" name="or-comments" id="id_or-comments"
                        value="{{or_form.comments.value|default:"Student Emergency Assistance Fund"}}">
                      <p class="help">
                        Please indicate if you would like your gift to be
                        directed to a specific area. If this space is
                        left blank, gifts will be directed to the
                        <a href="/give/carthage-fund/">Carthage Fund</a>.
                      </p>
                    </div>
                </li>
            </ol>
        </fieldset>
        <h2>Contact Information</h2>
        <fieldset class="blockLabels">
            <ol>
                {% for field in ct_form %}
                    <li class="ctrlHolder">
                    {% if field.name == "matching_company" or field.name == "anonymous" %}
                    {{field}} {{field.label_tag}}<br />
                    {% else %}{% if field.name == "opt_in" %}{% else %}
                        {% if field.name == "address2" %}
                        <label for="id_ct-address2" style="display:none;">{{ field.name }}</label>
                        {% else %}
                        <h3>{{ field.label_tag }}</h3>
                        {% endif %}
                        {% if field.errors %}
                            <div class="required warning">
                            <span class="error-message">
                                {{ field.errors|join:", "}}
                            </span>
                        {% else %}
                            <div{% if field.field.required %}
                                class="required"{% endif %}>
                        {% endif %}
                        {{field}}
                        {% if field.help_text %}
                            <p class="help">{{field.help_text}}</p>
                        {% endif %}
                        </div>
                    {% endif %}{% endif %}
                    </li>
                {% endfor %}
            </ol>
        </fieldset>
        <h2>Billing Information</h2>
        <fieldset class="blockLabels">
            {% if form_proc.errors and status %}
                <div style="padding-left:4px;">
                <p class="error">The transaction failed. Error: <strong>{{status}}</strong></p>
                </div>
            {% endif %}
            <ol>
                {% include "form_field_credit_card.inc.html" %}
            </ol>
        </fieldset>
        {% include "form_submit.inc.html" %}
    </form>
</div>
{% if campaign.about %}
<div class="forms-sidebar large-4 medium-6 small-12">
    {{campaign.about}}
</div>
{% endif %}
{% endblock %}
