{% extends "base.html" %}
{% block title %}Maintenance Request Form{% endblock %}
{% block columns %}<link href="http://www.carthage.edu/media/css/douglasfir/2_column.css" rel="stylesheet" type="text/css" />{% endblock %}
{% block left_nav %}
    {% include "maintenance/left_nav.html" %}
{% endblock %}
{% block content %}
<div class="buffer">
    <h1>Maintenance Request Form</h1>
    <p>
        Complete the form below to submit a maintenance request to the EVS department.
        Please allow a minimum of 48 hours to address the situation.
    </p>
    <p>
        For emergencies, please contact the Dean of Students Office at: <strong>551-5800</strong>
    </p>
    <form method="POST" action="." class="form" id="profile">{% csrf_token %}
        <fieldset class="blockLabels">
            <ol>
                {% for field in form %}
                <li class="ctrlHolder">
                <h3>{{ field.label_tag }}</h3>
                {% if field.errors %}
                <div class="required warning">
                <span class="error-message">{{ field.errors|join:", "}}</span>
                {% else %}
                <div{% if field.field.required %} class="required"{% endif %}>
                {% endif %}
                {{field}}
                {% if field.help_text %}
                <p class="help">{{field.help_text}}</p>
                {% endif %}
                </div>
                </li>
                {% endfor %}
                {% if not request.user.get_profile.phone %}
                <li class="ctrlHolder">
                <h3>{{profile_form.phone.label_tag}}</h3>
                {% if profile_form.phone.errors %}
                <div class="warning">
                <span class="error-message">{{ profile_form.phone.errors|join:", "}}</span>
                {% else %}
                <div>
                {% endif %}
                {{profile_form.phone}}
                {% if profile_form.phone.help_text %}
                <p class="help">{{profile_form.phone.help_text}}</p>
                {% endif %}
                </div>
                </li>
                {% else %}
                <li><input type="hidden" name="profile-phone" value="{{request.user.get_profile.phone}}" /></li>
                {% endif %}
                <li class="btnHolder">
                <label for="id_submit">&nbsp;&nbsp;</label>
                <input type="submit" value="Submit Request" class="button" />
                </li>
            </ol>
        </fieldset>
    </form>
</div>
{% endblock %}
