{% extends "base.html" %}
{% block title %}Success{% endblock %}
{% block left_nav %}
    {% include "maintenance/left_nav.html" %}
{% endblock %}
{% block sidebar %}{% endblock %}
{% block content_head %}
    <h1 id="page_title">
        Data submitted
        <span id="secondary-dropdown"></span>
    </h1>
{% endblock %}
{% block content %}
    <p class="description" style="color: green">
        Your maintenance request has been submited successfully.
    </p>
{% endblock %}
