{% extends "maintenance/form.html" %}
{% block title %}Maintenance Request Detail{% endblock %}
{% block content_head %}
    <h1 id="page_title">
        Maintenance Request Detail
        <span id="secondary-dropdown"></span>
    </h1>
{% endblock %}
{% block content %}
    {% if auth %}
        <dl class="data-detail">
            <dt>Date created:</dt>
            <dd>{{ mr.date_created|date:"F j, Y" }}</dd>
            <dt>Status:</dt>
            <dd>{{ mr.status }}</dd>
            <dt>Date completed:</dt>
            <dd>{{ mr.date_completed|date:"F j, Y"|default:"&nbsp;" }}</dd>
            <dt>Damage charge:</dt>
            <dd>{{ mr.damage_charge }}</dd>
            <dt>Building name:</dt>
            <dd>{{ mr.building.name }}</dd>
            <dt>Room number:</dt>
            <dd>{{ mr.room_number }}</dd>
            <dt>Type of request:</dt>
            <dd>{{ mr.type_of_request }}</dd>
            <dt>First name:</dt>
            <dd>{{ mr.user.first_name }}</dd>
            <dt>Last name:</dt>
            <dd>{{ mr.user.last_name }}</dd>
            <dt>Phone:</dt>
            <dd>{{ mr.user.get_profile.phone }}</dd>
            <dt>Email:</dt>
            <dd>
                <a href="mailto:{{ mr.user.email }}">{{ mr.user.email }}</a>
            </dd>
            <dt>Description:</dt>
            <dd class="clear"></dd>
            <dd class="description">{{ mr.description }}</dd>
        </dl>
    {% else %}
        <p>You do not have permission to view this maintenance request.</p>
    {% endif %}
{% endblock %}
