{% extends "base.html" %}
{% load get_api %}
{% block title %}Presenters Archives &mdash; Celebration of Scholars &mdash; Carthage College{% endblock %}
{% block columns %}<link href="http://www.carthage.edu/media/css/douglasfir/3_column.css" rel="stylesheet" type="text/css" />{% endblock %}
{% block extra_style %}
<style>
table.tablesorter {
    width: 100%;
}
</style>
{% endblock %}
{% block extra_javascript %}
<script src="http://www.carthage.edu/assets/js/jquery/plugins/jquery.tablesorter.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $(function() {
        $("#presentation_list_table").tablesorter({widgets: ['zebra'],headers:{3:{sorter:false}}});
    });
</script>
{% endblock %}
{% block left_nav %}
    {% include "scholars/left_nav.html" %}
{% endblock %}
{% block content %}
{% get_api_object as title cms snippet 1014 code %}
{{title}}
<div class="buffer">
    <h1>Celebration of Scholars {{year}}</h1>
    <table id="presentation_list_table" class="tablesorter">
        <thead>
        <tr>
            <th style="width:365px;">Name</th>
            <th style="width:200px;">Type</th>
            <th style="width:100px;">Shirt</th>
        </tr>
        </thead>
        <tbody>
        {% for p in prez %}
        <tr class="{% cycle 'odd' 'even' %}">
            <td>{{p.last_name}}, {{p.first_name}}</td>
            <td>{{p.prez_type}}</td>
            <td>{{p.shirt}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block sidebar %}
    {% include "scholars/side_bar.html" %}
{% endblock %}
