<!DOCTYPE html>
<html>
<head>
    <title>Celebration of Scholars Print Shirts</title>
    <link href="https://psc.carthage.edu/scholars/assets/css/pdf.css" rel="stylesheet" />
</head>
<body>
    <div id="container">
        <h1>Celebration of Scholars T-Shirts</h1>
        <h2>Student Presenters</h2>
        {% for s in students %}
            {% if s.name %}
                <span style="width:25px;">{{s.shirt}}</span>|<span>{{s.name}}</span><br />
            {% endif %}
        {% endfor %}
        <h2>Faculty Presenters</h2>
        {% for f in faculty %}
            {% if f.name %}
                <span style="width:25px;">{{f.shirt}}</span>|<span>{{f.name}}</span><br />
            {% endif %}
        {% endfor %}
    </div>
</body>
</html>
