{% extends "athletics/base.html" %}
{% load livewhale_api %}
{% block title %}
Soccer Camp Registration Balance Payment Form &mdash;
Athletics &mdash;
Carthage College
{% endblock %}
{% block extra_style %}
<style type="text/css" media="screen, projection">
#id_reg_fee {color:#800;font-weight:bold;}
{% if form_reg.data.payment_method == "Credit Card" %}
#payment-details { display:inherit; }
{% else %}
#payment-details { display:none; }
{% endif %}
#session-info > ol li {display:block;margin-bottom:5px;}
#id_security_code, #id_reg_fee {width:100px;}
#id_card_number {width:150px;}
#id_postal_code, #id_home_phone, #id_work_phone,
#id_dob, #id_age, #id_expiration_month, #id_expiration_year {width:120px;}
#security {color:#000099;float:right;padding:5px;}
li.ctrlHolder div ul li {display:inline; padding-right:3px;}
.forms-container, .forms-container label {font-weight:bold;}
</style>
{% endblock %}
{% block banner %}{% endblock %}
{% block topnav %}{% endblock %}
{% block content %}
<div class="buffer forms-container" style="background-color:#fff;">
  <h2>Registration Balance Payment Form</h2>
  {% include "includes/required_text.html" %}
  {% if form_proc.errors or form_ord.errors or form_bal.errors %}
    <p class="error">
      There were errors with the data submitted, see below.
    </p>
  {% endif %}
  <form method="post" action="." class="form" id="profile">{% csrf_token %}
        <fieldset class="blockLabels">
        <legend>Registration Information</legend>
        <ol>
        {% for field in form_bal %}
          {% include "form_field.inc.html" %}
        {% endfor %}
        <li class="form-group ctrlHolder">
          <h3><label for="id_total">Balance to pay:</label></h3>
          {% if form_ord.total.errors %}
          <div class="required warning">
            <span class="error-message">{{ form_ord.total.errors|join:", "}}</span>
          {% else %}
          <div{% if field.field.required %} class="required"{% endif %}>
          {% endif %}
            <input type="text" name="total" id="id_total" maxlength="100"
              value="{{form_ord.total.value|default_if_none:''}}" class="required">
            <p class="help">
            The balance due is displayed above in the field above, but if that
            amount is incorrect or you are paying a different amount,
            please provide the amount you will be paying at this time.
            </p>
          </div>
        </li>
        <li class="form-group ctrlHolder">
          <h3>
            <label for="id_total">Please provide any relevant details:</label>
          </h3>
          <div>
          {{form_ord.comments}}
          </div>
        </li>
        </ol>
        </fieldset>
        <fieldset class="blockLabels">
          <legend>Credit Card Details</legend>
          {% if form_proc.errors %}
            <div style="padding-left:4px;">
              <p class="notice">
                The transaction failed.
                {% if status == "baddata" or status == "decline" %}
                  Error: <strong>{{status}}</strong>
                {% endif %}
              </p>
             </div>
          {% endif %}
          <ol>
            {% include "form_field_credit_card.inc.html" %}
          </ol>
        </fieldset>
        {% include "form_submit.inc.html" %}
        <fieldset class="blockLabels">
          <legend>Questions?</legend>
          <ol>
            <li><strong>Call Steve Domin at (262) 551-5930</strong></li>
          <ol>
        </fieldset>
  </form>
</div>
{% endblock %}
