{% extends "athletics/base.html" %}
{% load livewhale_api %}
{% block title %}
  Soccer Camp Registration Form &mdash; Athletics &mdash; Carthage College
{% endblock %}
{% block extra_javascript %}
    {{ block.super }}
    <script type="text/javascript">
        $(function() {
            var {% if form_reg.data.session == "Boys & Girls day camp|195" or form_reg.data.session == "Boys & Girls Jr. Kickers Session I|100" or form_reg.data.session == "Boys & Girls Jr. Kickers Session II|100" %}deposit = 50;{% else %}deposit = 200;{% endif %}
            var reg_fee = {{form_reg.data.reg_fee|default:0}};
            {% if form_reg.data.session %}
                $('label[for="id_amount_0"]:odd').append(': $' + deposit);
            {% endif %}
            {% if form_reg.data.reg_fee %}
                $('label[for="id_amount_1"]').append(': $' + {{form_reg.data.reg_fee}});
            {% endif %}
            $('#id_reg_fee').attr('readonly', true);
            $('#id_payment_method_0').click(function() {
                $('#payment-details').show();
            });
            $('#id_payment_method_1').click(function() {
                $('#payment-details').hide();
            });
            $('#id_payment_method_2').click(function() {
                $('#payment-details').hide();
            });
            $('#id_football_0').click(function() {
                reg_fee += 30;
                football = true;
                $('#id_reg_fee').attr('value', reg_fee);
                $('label[for="id_amount_1"]').html('<input type="radio" id="id_amount_1" value="Full amount" name="amount" /> Full amount: $' + reg_fee);
            });
            $('#id_football_1').click(function() {
                if (football == true) {
                    reg_fee -= 30;
                    $('#id_reg_fee').attr('value', reg_fee);
                    $('label[for="id_amount_1"]').html('<input type="radio" id="id_amount_1" value="Full amount" name="amount" /> Full amount: $' + reg_fee);
                }
            });
            $('input[id^="id_session_"]').click(function() {
                reg_fee = parseInt($(this).attr('value').split('|')[1]);
                if (reg_fee == 100 || reg_fee == 195) {
                    deposit = 50;
                } else {
                    deposit = 200;
                }
                if ($('#id_football_0:checked').val()) {
                    reg_fee += 30;
                }
                $('#id_reg_fee').attr('value', reg_fee);
                $('label[for="id_amount_0"]:odd').html('<input type="radio" id="id_amount_0" value="Deposit" name="amount" /> Deposit: $' + deposit);
                $('label[for="id_amount_1"]').html('<input type="radio" id="id_amount_1" value="Full amount" name="amount" /> Full amount: $' + reg_fee);
            });
            // disable submit button after users clicks it
            //$('form#profile').bind('submit', function (e) {
            //    $('form#profile input[type=submit]').prop('disabled', true);
            //    return true;
            //});
        });
    </script>
{% endblock %}
{% block extra_style %}
{{ block.super }}
<style type="text/css" media="screen, projection">
#id_reg_fee {color:#800;font-weight:bold;}
{% if form_reg.data.payment_method == "Credit Card" %}
#payment-details { display:inherit; }
{% else %}
#payment-details { display:none; }
{% endif %}
#session-info > ol li {display:block;margin-bottom:5px;}
#id_security_code, #id_reg_fee {width:100px;}
#id_card_number {width:150px;}
#id_postal_code, #id_home_phone, #id_work_phone,
#id_dob, #id_age, #id_expiration_month, #id_expiration_year {width:120px;}
#security {color:#000099;float:right;padding:5px;}
li.ctrlHolder div ul li {display:inline; padding-right:3px;}
.forms-container, .forms-container label {font-weight:bold;}
</style>
{% endblock %}
{% block content %}
<div class="forms-container" style="background-color:#fff;">
  <h2>Soccer Camp Registration Form</h2>
  {% get_lw_content as how_to blurbs 2145 %}
  {{how_to.body|safe}}
  {% include "includes/required_text.html" %}
  {% if form_proc.errors or form_reg.errors %}
    <p class="error">There were errors with the data submitted, see below.</p>
  {% endif %}
  <form method="post" action="." class="form">
    {% csrf_token %}
    {% for field in form_reg %}
        {% if field.name == "first_name" %}
            <fieldset class="blockLabels">
            <legend>Contact Information</legend>
            <ol>
        {% endif %}
        {% if field.name == "gender" %}
            </ol>
            </fieldset>
            <fieldset class="blockLabels">
            <legend>Personal Information</legend>
            <ol>
        {% endif %}
        {% if field.name == "roommate" %}
            </ol>
            </fieldset>
            <fieldset class="blockLabels">
            <legend>Housing Information</legend>
            <ol>
        {% endif %}
        {% if field.name == "session" %}
            </ol>
            </fieldset>
            <fieldset class="blockLabels" id="session-info">
            <legend>Session Information</legend>
            <ol>
        {% endif %}
        {% if field.name == "reg_fee" %}
            </ol>
            </fieldset>
            <fieldset class="blockLabels">
            <legend>Method of Payment</legend>
            <ol>
        {% endif %}
        {% include "form_field.inc.html" %}
    {% endfor %}
    </ol>
    </fieldset>
    <fieldset class="blockLabels" id="payment-details">
      <legend>Credit Card Details</legend>
            {% if form_proc.errors and status %}
                <div style="padding-left:4px;">
                    <p class="notice">
                        The transaction failed.
                        {% if status == "baddata" or status == "decline" %}
                            Error: <strong>{{status}}</strong>
                        {% endif %}
                    </p>
                </div>
            {% endif %}
            <ol>
            {% include "form_field_credit_card.inc.html" %}
            </ol>
    </fieldset>
    <fieldset class="blockLabels">
      <legend>Payment Information</legend>
            <ol>
                <li class="btnHolder">
                    {% get_lw_content as payments blurbs 2146 %}
                    {{payments.body|safe}}
                </li>
            </ol>
    </fieldset>
    {% include "form_submit.inc.html" %}
    <fieldset class="blockLabels">
      <legend>Questions?</legend>
      <strong>Call Steve Domin at (262) 551-5930</strong></p>
    </fieldset>
  </form>
</div>
{% endblock %}
