{% extends "base.html" %}
{% load livewhale_api %}
{% block content_head %}
<h1 id="page_title">
    Carthage College Soccer Camp
    <span id="secondary-dropdown"></span>
</h1>
{% endblock %}
{% block left_nav %}
<h4>
    Carthage College Soccer Camp
</h4>
{% get_lw_content as nav blurbs 1920 %}
{{nav.body}}
{% endblock %}
{% block content %}
<div id="first">
    <div class="buffer" style="background-color:#fff;">
        <h2>Success</h2>
        <p>Thank you for submitting your insurance card.</p>
    </div>
</div>
{% endblock %}
