{% extends "base.html" %}
{% block title %}Event Request Form &mdash; Catering &mdash; Carthage College{% endblock %}
{% block columns %}<link href="http://www.carthage.edu/media/css/douglasfir/3_column.css" rel="stylesheet" type="text/css" />{% endblock %}
{% block left_nav %}
    {% include "catering/left_nav.html" %}
{% endblock %}
{% block content %}
<div class="buffer">
<h1>Success</h1>
<p>Thank you for submitting your event request. Someone from Catering Services will be in contact with you.</p>
</div>
{% endblock %}
{% block sidebar %}
    {% include "catering/side_bar.html" %}
{% endblock %}
