{% extends "catering/event_base.html" %}
{% block extra_javascript %}
<script type="text/javascript">
$(function() {
    $('#print-link h2').prepend('<a href="#print">Print</a>');
    $('#print-link h2 a').click(function() {
        window.print();
        return false;
    });
});
</script>
{% endblock %}
{% block columns %}<link href="http://www.carthage.edu/media/css/douglasfir/2_column.css" rel="stylesheet" type="text/css" />{% endblock %}
{% block left_nav %}
    {% include "catering/left_nav.html" %}
{% endblock %}
{% block content %}
<div class="buffer">
    <div id="print-link"><h2></h2></div>
    {% include "catering/event_email.html" %}
</div>
{% endblock %}
{% block sidebar %}{% endblock %}
