{% extends "base.html" %}
{% block title %}404 Page Not Found eh{% endblock %}
{% block columns %}<link href="http://www.carthage.edu/media/css/douglasfir/3_column.css" rel="stylesheet" type="text/css" />{% endblock %}
{% block content %}
    <div class="error404">
    <p>&nbsp;</p>
    </div>
    <div class="buffer">
    <ul style="list-style-type:disc;">
    <li>Hit the &#8220;back&#8221; button on your browser. It&#8217;s perfect for situations like this!</li>
    <li>Head on over to the <a href="http://www.carthage.edu/?ext" title="Go to the home page.">home Page</a></li>
    <li><a href="http://www.carthage.edu/sitemap/" title="View the complete site map">Site Map</a></li>
    <li>Punt.</li>
    </ul>
    </div>
{% endblock %}
