{% extends "base.html" %}
{% block title %}500 Server Error{% endblock %}
{% block content %}
<img src="http://www.carthage.edu/assets/img/system/hamster.jpg" width="500" height="375" border="0" alt="Hamster" title="Hamster" />
<div class="buffer">
<p>Our hamster powered servers are overloaded. They are begging for a minutes rest.</p>
<p><strong>In the meantime, please try one of the following pages:</strong></p>
<p>
    <ul>
        <li><a href="/" title="Go to the home page.">Home Page</a></li>
        <li><a href="/sitemap/" title="View the complete site map">Site Map</a></li>
    </ul>
</p>
</div>
{% endblock %}
