<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
{% autoescape off %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% block metatags %}
    <meta http-equiv="Content-Language" content="en-us" />
    <meta name="description" content="" />
    <meta name="keywords" content="Home Page" />
    <meta name="MSSmartTagsPreventParsing" content="true" />
    {% endblock %}
    {% block javascript %}
    <script type="text/javascript" src="http://www.carthage.edu/media/js/douglasfir/jquery126min.js"></script>
    <script type="text/javascript" src="http://www.carthage.edu/media/js/douglasfir/globalnav.js"></script>
    <script type="text/javascript" src="http://www.carthage.edu/media/js/douglasfir/superfish/superfish.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('ul.sf-vertical').superfish({autoArrows:false});
        });
    </script>
    {% endblock %}
    {% block css %}
    <style type="text/css" media="screen, projection">
    /* <![CDATA[ */
        @import url("http://www.carthage.edu/media/css/douglasfir/global.css");
        @import url("http://www.carthage.edu/assets/current/css/core/grid-960.css");
        @import url("http://eua.carthage.edu/assets/forms.css");
    /* ]]> */
    </style>
    <link href="http://www.carthage.edu/media/css/douglasfir/2_column.css" rel="stylesheet" type="text/css" />
    <!--[if IE]>
        <style type="text/css">#footer {zoom: 1;} #first li {font-size:.9em;}</style>
    <![endif]-->
    <!--[if IE 6]>
        <style type="text/css">div#first {width:150px;margin-left:7px;}     div#fourth {margin-right:-1px;}</style>
    <![endif]-->
    {% endblock %}
    {% block extra_javascript %}{% endblock %}
    {% block extra_style %}{% endblock %}
</head>
{% block body %}
<body id="Home" class="home">
    <div id="wrapper" class="container">
        <div id="Header">
            <div id="topnav">
                <h1><a href="http://www.carthage.edu/?ext"><img src="/assets/current/img/ui/3flame_top_sm.gif" alt="Carthage" /></a></h1>
            </div>
        </div>
        {% block left_nav %}
        <div id="first">
            <ul id="about">
                <li><a href="http://www.carthage.edu/finaid/">Financial Aid Home</a></li>
                {% if not user.is_anonymous %}
                    <li><a href="/forms/accounts/logout/">Logout</a></li>
                {% else %}
                    <li>
                        <a href="/forms/accounts/login/">Login</a>
                    </li>
                {% endif %}
                {% if user.is_superuser %}
                    <li><a href="/forms/admin/">Administration</a></li>
                {% endif %}
            </ul>
            <ul id="nav">
                <li><a href="/forms/job/">Available Jobs</a></li>
                <li><a href="/forms/job/search/">Search for Jobs</a></li>
                <li><a href="/forms/job/departments/">Jobs by Department</a></li>
                {% if user.is_staff %}
                <li><a href="/forms/job/createpost/">Create a Job Post</a></li>
                <li><a href="/forms/job/user-post-list/">Your Posts</a></li>
                {% endif %}
                {% if perms.jobpost.can_manage %}
                <li><a href="/forms/job/post-manage-list/">Manage Job Posts</a></li>
                {% endif %}
            </ul>
        </div>
        {% endblock %}
        <div id="second">
        {% block content %}{% endblock %}
        </div>
        <div id="footer">
            <p>Carthage College<br />
            2001 Alford Park Drive<br />
            Kenosha, WI 53140</p>
            <p>262-551-8500<br />
            <a href="mailto:webmaster@carthage.edu">webmaster@carthage.edu</a><br />
            <a href="https://www.carthage.edu/df_directory/directions.cfm">Maps and directions</a>
            </p>
            <p class="last">
                <br />
                Users:
                <br />
                {% if not user.is_anonymous %}
                    <a href="/forms/accounts/logout/">Logout</a>
                {% else %}
                    <a href="/forms/accounts/login/?next=/forms/job/createpost/">Login</a>
                {% endif %}
            </p>
            <div style="clear:both;"></div>
            <div id="tagline"><img alt="Truth, Strength, Service. Together." src="/assets/current/img/ui/tagline.gif" border="0" /></div>
        </div><!-- end footer -->
    </div>
</body>
{% endblock %}
</html>
{% endautoescape %}
