<html>
<head>
    <title>Reservation Request submitted!</title>
</head>
<body>
    <table bordercolor="#000000" border="1" width="590">
        <tbody>
            <tr>
                <td class"fifthtable">Reservation Request submitted!</td>
            </tr>
            <tr>
                <td>
                    <p>Your request has been submited.  You should recieve a copy of the request via e-mail</p>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>

