{% extends "base.html" %}
{% block title %}Character Quest Application Form{% endblock %}
{% block extra_style %}
<style>
.form textarea {
    width:600px;
    height:150px;
}
</style>
{% endblock %}
{% block left_nav %}
    {% include "characterquest/left_nav.html" %}
{% endblock %}
{% block content_head %}
    <h1 id="page_title">
        Character Quest Application Form
        <span id="secondary-dropdown"></span>
    </h1>
{% endblock %}
{% block content %}
<div class="forms-container">
    {% if not expired %}
        {% load livewhale_api %}
        {% get_lw_content as header blurbs 1979 %}
        {{header.body}}
        <form action="." class="form" method="post">
        {% csrf_token %}
            <fieldset class="blockLabels">
                <ol>
                    {% for field in profile_form %}
                        {% include "form_field.inc.html" %}
                    {% endfor %}
                    {% for field in form %}
                        {% include "form_field.inc.html" %}
                    {% endfor %}
                    <li class="btnHolder">
                    <label for="id_submit">&nbsp;&nbsp;</label>
                    <input type="submit" value="Submit" class="button" />
                    </li>
                </ol>
            </fieldset>
        </form>
    {% else %}
        <p>We are no longer accepting applications.</p>
    {% endif %}
</div>
{% endblock %}
