{% extends "base.html" %}
{% load get_api %}
{% block title %}Phage Hunters Application &mdash; Genomics &mdash; Biology &mdash; Carthage College{% endblock %}
{% block columns %}<link href="http://www.carthage.edu/media/css/douglasfir/3_column.css" rel="stylesheet" type="text/css" />{% endblock %}
{% block left_nav %}
    {% include "biology/left_nav.html" %}
{% endblock %}
{% block content %}
{% get_api_object as banner cms snippet 503 code %}
{{banner}}
{% get_api_object as header cms snippet 112 code %}
{{header}}
<div class="buffer">
    <h1>Phage Hunters Application Form</h1>
    <p>Carthage offers a Phage Hunters biology course for freshmen.
    Students must apply for acceptance into the two-semester course.
    Fill out the application below, or
    <a href="/biology/phage-hunters/">click here to learn more</a>.</p>
    {% include "includes/generic_form.html" %}
</div>
{% endblock %}
{% block sidebar %}
    {% include "biology/side_bar.html" %}
{% endblock %}