<pre style="font-size:1.5em;">
First Name.................. {{data.first_name}}
Last Name................... {{data.last_name}}
Address..................... {{data.address}}
City........................ {{data.city}}
State....................... {{data.state}}
Zip......................... {{data.postal_code}}
Email....................... {{data.email}}
Phone....................... {{data.phone}}

High School................. {{data.high_school}}
GPA......................... {{data.gpa}}
ACT Composite............... {{data.act_comp}}
ACT Math.................... {{data.act_math}}
ACT Science................. {{data.act_science}}
SAT Composite............... {{data.sat_comp}}
SAT Math.................... {{data.sat_math}}
SAT Critical Reading........ {{data.sat_read}}

<a href="{{data.get_absolute_url}}">Full Profile</a>
</pre>
