{% extends "base.html" %}
{% block title %}
    Phage Hunters Application &mdash; Genomics &mdash;
    Biology &mdash; Carthage College
{% endblock %}
{% block group_name %}Biology{% endblock %}
{% block left_nav %}
    {% include "biology/left_nav.html" %}
{% endblock %}
{% block sidebar %}
    {% include "biology/side_bar.html" %}
{% endblock %}
{% block content_head %}
    <h1 id="page_title">
        Phage Hunters Application Form
    </h1>
{% endblock %}
{% block content %}
<div class="forms-container">
    <p>
        Carthage offers a Phage Hunters biology course for freshmen.
        Students must apply for acceptance into the two-semester course.
        Fill out the application below, or
        <a href="/biology/phage-hunters/">click here to learn more</a>.
    </p>
    {% include "includes/generic_form.html" %}
</div>
{% endblock %}
