{% extends "biology/genomics/phage_hunter_form.html" %}
{% block extra_style %}
<style type="text/css" media="screen, projection">
/*DL, DT, DD TAGS LIST DATA*/
dl { margin-bottom:20px; }
dl dt { background:#5f9be3; color:#fff; float:left; font-weight:bold;
margin-right:10px; padding:5px; width:200px; }
dl dd { margin:2px 0; padding:5px 0; }
</style>
{% endblock %}
{% block content_head %}
<h1 id="page_title">
    Phage Hunters Applicants
</h1>
{% endblock %}
{% block content %}
    {% for applicant in applicants %}
    <div class="fright">
        <h2><a href="{{applicant.get_absolute_url}}">View Profile</a></h2>
    </div>
    <dl>
        <dt>Name</dt>
        <dd>{{applicant.first_name}} {{applicant.last_name}}</dd>
        <dt>email</dt>
        <dd>{{applicant.email}}</dd>
        <dt>Address</dt>
        <dd>{{applicant.address}}</dd>
        <dt>City</dt>
        <dd>{{applicant.city}}</dd>
        <dt>State</dt>
        <dd>{{applicant.state}}</dd>
        <dt>Zip</dt>
        <dd>{{applicant.postal_code}}</dd>
        <dt>Phone</dt>
        <dd>{{applicant.phone}}</dd>
        <dt>High School</dt>
        <dd>{{applicant.high_school}}</dd>
        <dt>GPA</dt>
        <dd>{{applicant.gpa}}</dd>
        <dt>ACT Composite</dt>
        <dd>{{applicant.act_comp|default:"&nbsp;"}}</dd>
        <dt>ACT Math</dt>
        <dd>{{applicant.act_math|default:"&nbsp;"}}</dd>
        <dt>ACT Science</dt>
        <dd>{{applicant.act_science|default:"&nbsp;"}}</dd>
        <dt>SAT Composite</dt>
        <dd>{{applicant.sat_comp|default:"&nbsp;"}}</dd>
        <dt>SAT Math</dt>
        <dd>{{applicant.sat_math|default:"&nbsp;"}}</dd>
        <dt>SAT Critical Reading</dt>
        <dd>{{applicant.sat_read|default:"&nbsp;"}}</dd>
    </dl>
    {% endfor %}
{% endblock %}
