{% extends "biology/genomics/phage_hunter_form.html" %}
{% block extra_javascript %}
<script type="text/javascript">
$(document).ready(function() {
    $('#print-link h2').prepend('<a href="#print">Print</a>');
    $('#print-link h2 a').click(function() {
        window.print();
        return false;
    });
});
</script>
{% endblock %}
{% block content_head %}
<h1 id="page_title">
    Vital Stats
    <span id="secondary-dropdown"></span>
</h1>
{% endblock %}
{% block content %}
<div id="print-link"><h2></h2></div>
<pre style="font-size:1.5em;">
First Name.................. {{applicant.first_name}}
Last Name................... {{applicant.last_name}}
Address..................... {{applicant.address}}
City........................ {{applicant.city}}
State....................... {{applicant.state}}
Zip......................... {{applicant.postal_code}}
Email....................... {{applicant.email}}
Phone....................... {{applicant.phone}}

High School................. {{applicant.high_school}}
GPA......................... {{applicant.gpa}}
ACT Composite............... {{applicant.act_comp}}
ACT Math.................... {{applicant.act_math}}
ACT Science................. {{applicant.act_science}}
SAT Composite............... {{applicant.sat_comp}}
SAT Math.................... {{applicant.sat_math}}
SAT Critical Reading........ {{applicant.sat_read}}

</pre>
<h4>Intended Majors</h4>
<p>{{applicant.intended_majors}}</p>

<h4>High School Science</h4>
<pre>{{applicant.high_school_science}}</pre>
<br />

<h4>Biology/Chemistry Courses</h4>
<p>{{applicant.biology_chemistry_courses}}

<h4>Research Experience</h4>
<p>{{applicant.research_experience}}</p>

<h4>Why are you interested in the program?</h4>
<p>{{applicant.program_interest}}</p>

<h4>Lab work?</h4>
<p>{{applicant.lab_work}}</p>
{% endblock %}
