{% extends "biology/genomics/phage_hunter_form.html" %}
{% block content_head %}
    <h1 id="page_title">
        Success
        <span id="secondary-dropdown"></span>
    </h1>
{% endblock %}
{% block content %}
    <p>
        Thank you for your interest in the Phage Hunters
        course at Carthage. You will receive an email with
        the information you have provided to us.
    </p>
    <p>
        Students will be notified by July 15 regarding their
        placement in the course.
    </p>
{% endblock %}
