{% load livewhale_api %}
{% get_lw_content as confirmation blurbs 2657 %}
{{confirmation.body}}
<p>
    Thank you registering for the <em>IICE Conference.</em>.
</p>
<p>
    This email is your registration confirmation and may be used as a receipt
    for expense purposes.
</p>
<p>
    If you have any questions, please do not hesitate to
    <a href="mailto:dusinger@carthage.edu">contact us</a>.
</p>
<dl style="margin-bottom:30px;">
    <dt style="background:#5f9be3; color:#fff; float:left; font-weight:bold;
        margin-right:10px; padding:5px; width:200px;">
        First name
    </dt>
    <dd style="margin:2px 0; padding:5px 0;">
        {{data.contact.first_name}}
    </dd>
    <dt style="background:#5f9be3; color:#fff; float:left; font-weight:bold;
        margin-right:10px; padding:5px; width:200px;">
        Last name
    </dt>
    <dd style="margin:2px 0; padding:5px 0;">
        {{data.contact.last_name}}
    </dd>
    <dt style="background:#5f9be3; color:#fff; float:left; font-weight:bold;
        margin-right:10px; padding:5px; width:200px;">
        Institution
    </dt>
    <dd style="margin:2px 0; padding:5px 0;">
        {{data.contact.institution}}
    </dd>
    <dt style="background:#5f9be3; color:#fff; float:left; font-weight:bold;
        margin-right:10px; padding:5px; width:200px;">
        Email
    </dt>
    <dd style="margin:2px 0; padding:5px 0;">
        {{data.contact.email}}
    </dd>
    <dt style="background:#5f9be3; color:#fff; float:left; font-weight:bold;
        margin-right:10px; padding:5px; width:200px;">
        Address
    </dt>
    <dd style="margin:2px 0; padding:5px 0;">
        {{data.contact.address1}}
        {% if data.contact.address2 %}, {{data.contact.address2}}{% endif %}
    </dd>
    <dt style="background:#5f9be3; color:#fff; float:left; font-weight:bold;
        margin-right:10px; padding:5px; width:200px;">
        City
    </dt>
    <dd style="margin:2px 0; padding:5px 0;">
        {{data.contact.city}}
    </dd>
    <dt style="background:#5f9be3; color:#fff; float:left; font-weight:bold;
        margin-right:10px; padding:5px; width:200px;">
        State
    </dt>
    <dd style="margin:2px 0; padding:5px 0;">
        {{data.contact.state}}
    </dd>
    <dt style="background:#5f9be3; color:#fff; float:left; font-weight:bold;
        margin-right:10px; padding:5px; width:200px;">
        Postal code
    </dt>
    <dd style="margin:2px 0; padding:5px 0;">
        {{data.contact.postal_code|default:"&nbsp;"}}
    </dd>
    <dt style="background:#5f9be3; color:#fff; float:left; margin-right:10px;
        padding:5px; width:200px;">
        Phone
    </dt>
    <dd style="margin:2px 0; padding:5px 0;">
        {{data.contact.phone}}
    </dd>
    <dt style="background:#5f9be3; color:#fff; float:left; margin-right:10px;
        padding:5px; width:200px;">
        Do you wish to serve as...?
    </dt>
    <dd style="margin:2px 0; padding:5px 0;">
        {{data.contact.serve_as|default:"&nbsp;"}}
    </dd>
    {% if data.contact.serve_as %}
    <dt style="background:#5f9be3; color:#fff; float:left; margin-right:10px;
        padding:5px; width:200px;">
        Discipline
    </dt>
    <dd style="margin:2px 0; padding:5px 0;">
        {{data.contact.discipline|default:"&nbsp;"}}
    </dd>
    <dt style="background:#5f9be3; color:#fff; float:left; margin-right:10px;
        padding:5px; width:200px;">
        Specialty
    </dt>
    <dd style="margin:2px 0; padding:5px 0;">
        {{data.contact.specialty|default:"&nbsp;"}}
    </dd>
    {% endif %}
    <dt style="background:#5f9be3; color:#fff; float:left; font-weight:bold;
        margin-right:10px; padding:5px; width:200px;">
        Registration type
    </dt>
    <dd style="margin:2px 0; padding:5px 0;">
        {{data.contact.registration_fee}}
    </dd>
    <dt style="background:#5f9be3; color:#fff; float:left; font-weight:bold;
        margin-right:10px; padding:5px; width:200px;">
        KAO Member
    </dt>
    <dd style="margin:2px 0; padding:5px 0;">
        {{data.contact.kao_member}}
        {% if data.contact.kao_member == "Yes"%}($50 discount){% endif %}
    </dd>
    <dt style="background:#5f9be3; color:#fff; float:left; font-weight:bold;
        margin-right:10px; padding:5px; width:200px;">
        Registration fee total
    </dt>
    <dd style="margin:2px 0; padding:5px 0;">
        ${{data.total}} (Includes 3% service fee)
    </dd>
    <dt style="background:#5f9be3; color:#fff; float:left; margin-right:10px;
        padding:5px; width:200px;">
        Payment method
    </dt>
    <dd style="margin:2px 0; padding:5px 0;">
        {{data.reg.payment_method}}
    </dd>
    {% if data.transid %}
    <dt style="background:#5f9be3; color:#fff; float:left; margin-right:10px;
        padding:5px; width:200px;">
        Name on Card
    </dt>
    <dd style="margin:2px 0; padding:5px 0;">
        {{data.cc_name}}
    </dd>
    <dt style="background:#5f9be3; color:#fff; float:left; margin-right:10px;
        padding:5px; width:200px;">
        Card ending with:
    </dt>
    <dd style="margin:2px 0; padding:5px 0;">
        x{{data.cc_4_digits}}
    </dd>
    <dt style="background:#5f9be3; color:#fff; float:left; font-weight:bold;
        margin-right:10px; padding:5px; width:200px;">Transaction ID</dt>
    <dd style="margin:2px 0; padding:5px 0;">
        {{data.transid}}
    </dd>
    {% endif %}
</dl>
