{% extends "base.html" %}
{% load livewhale_api %}
{% block title %}
IEA International Interdisciplinary
Conference on the Environment
&mdash; Political Science
&mdash; Carthage College
{% endblock %}
{% block extra_javascript %}
    {{ block.super }}
    <script type="text/javascript">
        $(function() {
            // late fee date
            var dueDate = new Date("2018-05-31");
            var today = new Date();
            var late_fee = 0;
            {% if form_con.data.payment_method == "Credit Card" %}
            var service_charge = true;
            {% else %}
            var service_charge = false;
            {% endif %}
            var $reg_fee = {{form_ord.data.total|default:0}};
            //if (dueDate < today) {
                //$('#id_registration_fee_0').closest('li').remove();
            //}
            $('#id_payment_method_0').click(function() {
                if ($reg_fee > 0 && service_charge == false) {
                  $reg_fee += ($reg_fee * .03);
                  $('#id_total').attr('value', $reg_fee);
                }
                service_charge = true;
                $('#check-details').slideUp(200);
                $('#creditcard-details').slideDown(200);
            });
            $('#id_payment_method_1').click(function() {
                // remove service charge if need be
                if ($reg_fee > 0 && service_charge == true) {
                  $reg_fee -= $reg_fee - ($reg_fee / 1.03);
                  $('#id_total').attr('value', $reg_fee);
                }
                service_charge = false;
                $('#creditcard-details').slideUp(200);
                $('#check-details').slideDown(200);
            });
            // set total field to readonly so we can update it accordingly
            $('#id_total').attr('readonly', true);
            // manage the registration price
            var kao = false;
            if ( $('#id_kao_member_0').is(':checked') ) {
                kao = true;
            }
            $('input[id^="id_registration_fee_"]').click(function() {
                $reg_fee = parseInt($(this).attr('value').split('|')[1]);
                // after deadline late fee for some folks
                if (dueDate < today) {
                    if ( $(this).attr('id') == 'id_registration_fee_4' || $(this).attr('id') == 'id_registration_fee_5' ) {
                      late_fee = 75;
                      $reg_fee += late_fee;
                    }
                }
                // kao discount
                if ( kao == true ) {
                  $reg_fee -= 50;
                }
                // add the service charge if paying by credit card
                if (service_charge == true) {
                  $reg_fee += ($reg_fee * .03);
                }
                $('#id_total').attr('value', $reg_fee);
            });
            $('#id_kao_member_0').click(function() {
                if ($reg_fee > 0) {
                    if (service_charge == true) {
                      // remove service charge
                      $reg_fee -= $reg_fee - ($reg_fee / 1.03);
                    }
                    // kao discount
                    $reg_fee -= 50;
                    if (service_charge == true) {
                      // add service charge
                      $reg_fee += ($reg_fee * .03);
                    }
                    $('#id_total').attr('value', $reg_fee);
                }
                kao = true;
            });
            $('#id_kao_member_1').click(function() {
                if (kao == true) {
                    if ($reg_fee > 0) {
                        if (service_charge == true) {
                          // remove service charge
                          $reg_fee -= $reg_fee - ($reg_fee / 1.03);
                        }
                        // remove kao discount
                        $reg_fee += 50;
                        if (service_charge == true) {
                           // add service charge
                          $reg_fee += ($reg_fee * .03);
                        }
                        $('#id_total').attr('value', $reg_fee);
                    }
                }
                kao = false;
            });
            // disable submit button after users clicks it
            $('form#profile').bind('submit', function (e) {
                $('form#profile input[type=submit]').prop('disabled', true);
                return true;
            });
        });

    </script>
{% endblock %}
{% block extra_style %}
    <style type="text/css">
    #id_postal_code, #id_total,
    #id_expiration_month,#id_expiration_year {width:100px;}
    {% if form_con.data.payment_method == "Credit Card" %}
    #check-details { display:none; }
    #creditcard-details { display:inherit; }
    {% else %}
    {% if form_con.data.payment_method == "Check" %}
    #check-details { display:inherit; }
    #creditcard-details { display:none; }
    {% else %}
    #check-details { display:none; }
    #creditcard-details { display:none; }
    {% endif %}{% endif %}
    #id_kao_member li,#id_payment_method li {display:inline;padding-right:3px;}
    </style>
{% endblock %}
{% block group_name %}IEA Conference{% endblock %}
{% block left_nav %}{% endblock %}
{% block content_head %}
    <h1 id="page_title">
        International Interdisciplinary
        Conference on the Environment
    </h1>
{% endblock %}
{% block content %}
<div class="forms-container">
    {% if form_proc.errors or form_ord.errors or form_con.errors %}
      <p class="error">
        There were errors with the data submitted, see below.
      </p>
    {% endif %}
    <form method="post" action="." class="form"
        id="profile" enctype="multipart/form-data">
        {% csrf_token %}
        {% for hidden in form_ord.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        <fieldset class="blockLabels">
          <h2>Contact Information</h2>
          <ol>
            {% for field in form_con.visible_fields %}
              {% if field.name == "payment_method" %}
                <li class="form-group ctrlHolder">
                  <h5>Registration Fee Notes</h5>
                    {% get_lw_content as pay_check blurbs 2397 %}
                    {{pay_check.body}}
                </li>
                {% for field in form_ord.visible_fields %}
                  {% include "form_field.inc.html" %}
                {% endfor %}
              {% endif %}
              {% include "form_field.inc.html" %}
            {% endfor %}
          </ol>
        </fieldset>
        <fieldset class="blockLabels" id="creditcard-details">
          <h2>Billing Information</h2>
          {% if form_proc.errors %}
            <div style="padding-left:4px;">
              <p class="notice">
                The transaction failed.
                {% if status == "baddata" or status == "decline" %}
                  Error: <strong>{{status}}</strong>
                {% endif %}
              </p>
            </div>
          {% endif %}
          <ol>
            {% for field in form_proc %}
                {% if field.name != "captcha" %}
                {% if field.name == "expiration_month" %}
                <li class="ctrlHolder">
                <h3>
                  <label for="id_expiration_month">Expiration Date</label>
                </h3>
                <div class="required">{{field}}
                {% else %}
                    {% if field.name == "expiration_year" %}
                    <label for="id_expiration_year" style="display:none;">
                        Expiration Year
                    </label>
                    &mdash;&nbsp;{{field}}
                </div>
                </li>
                {% else %}
                <li class="ctrlHolder">
                <h3>{{ field.label_tag }}</h3>
                {% if field.errors %}
                    <div class="required warning">
                    <span class="error-message">
                      {{ field.errors|join:", "}}
                    </span>
                {% else %}
                    <div{% if field.field.required %} class="required"{% endif %}>
                {% endif %}
                {{field}}
                {% if field.help_text %}
                    <p class="help">{{field.help_text}}</p>
                {% endif %}
                </div>
                </li>
                {% endif %}{% endif %}{% endif %}
            {% endfor %}
          </ol>
        </fieldset>
        <fieldset class="blockLabels" id="check-details">
          <ol>
            <li class="btnHolder">
              {% get_lw_content as pay_check blurbs 2396 %}
              {{pay_check.body}}
            </li>
          </ol>
        </fieldset>
        <fieldset class="blockLabels">
            {{form_proc.captcha}}
        </fieldset>
        {% include "form_submit.inc.html" %}
    </form>
</div>
{% endblock %}
