{% extends "base.html" %}
{% block title %}
    Night Report Form &mdash; Griffin Observatory &mdash;
    Carthage Institute of Astronomy &mdash; Carthage College
{% endblock %}
{% block extra_javascript %}
    <script src="http://www.carthage.edu/assets/js/jquery/ui/ui.datepicker.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        $(function() {
            $("#id_date").datepicker({firstDay:0,appendText:"(format yyyy-mm-dd)",changeFirstDay:false,dateFormat:"yy-mm-dd",showOn:"both",buttonImage: "http://www.carthage.edu/assets/img/ico/calendar.gif",buttonImageOnly:true});
        });
    </script>
{% endblock %}
{% block extra_style %}
    <link href="http://www.carthage.edu/assets/css/jquery/ui/datepicker/ui.datepicker.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block left_nav %}
    <h4>Astronomy</h4>
    {% include "astronomy/left_nav.html" %}
{% endblock %}
{% block sidebar %}
    {% include "astronomy/side_bar.html" %}
{% endblock %}
{% block content_head %}
    <h1 id="page_title">
        Griffin Observatory Night Report Form
        <span id="secondary-dropdown"></span>
    </h1>
{% endblock %}
{% block content %}
<div class="forms-container">
    {% include "includes/generic_form.html" %}
</div>
{% endblock %}
