{% extends "base.html" %}
{% block title %}
    Night Report Form &mdash; Griffin Observatory &mdash;
    Carthage Institute of Astronomy &mdash; Carthage College
{% endblock %}
{% block extra_javascript %}
    <script src="//www.carthage.edu/static/vendor/jquery/ui/datepicker/js/jquery-ui-1.10.4.custom.min.js"
        type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        $(function() {
            $("#id_date").datepicker({
                firstDay:1,appendText:"(format yyyy-mm-dd)",
                changeFirstDay:false,dateFormat:"yy-mm-dd",
                showOn:"both",
                buttonImage:"//www.carthage.edu/themes/shared/img/ico/calendar.gif",
                buttonImageOnly:true
            });
        });
    </script>
{% endblock %}
{% block extra_style %}
    <link href="//www.carthage.edu/static/vendor/jquery/ui/datepicker/css/smoothness/jquery-ui-1.10.4.custom.min.css"
        rel="stylesheet" type="text/css" />
{% endblock %}
{% block left_nav %}
    {% include "astronomy/left_nav.html" %}
{% endblock %}
{% block sidebar %}
    {% include "astronomy/side_bar.html" %}
{% endblock %}
{% block content_head %}
    <h1 id="page_title">
        Griffin Observatory Night Report
        <span id="secondary-dropdown"></span>
    </h1>
{% endblock %}
{% block content %}
<div class="forms-container">
    {% include "includes/generic_form.html" %}
</div>
{% endblock %}
