{% extends "base.html" %}
{% load oembed_tags %}
{% block title %}Student Video Contest Archives &mdash; Carthage College{% endblock %}
{% block columns %}<link href="http://www.carthage.edu/media/css/douglasfir/3_column.css" rel="stylesheet" type="text/css" />{% endblock %}
{% block left_nav %}
    {% include "video/left_nav.html" %}
{% endblock %}
{% block content %}
<div class="buffer">
    <h1>Student Video Contest Archives</h1>
    {% for video in videos %}
    <h3>{{video.title}}</h3>
    <h5>By {{video.user.first_name}} {{video.user.last_name}}, {{video.year}}</h5>
    <p>
    {% oembed 500x350 %}{{video.url}}{% endoembed %}
    </p>
    <p>{{video.description}}</p>
    {% endfor %}
</div>
{% endblock %}
