{% extends "base.html" %}
{% block title %}Video Contest Form{% endblock %}
{% block columns %}<link href="http://www.carthage.edu/media/css/douglasfir/3_column.css" rel="stylesheet" type="text/css" />{% endblock %}
{% block left_nav %}
    {% include "video/left_nav.html" %}
{% endblock %}
{% block content %}
<div class="buffer">
<h1>Success</h1>
<p>Your information has been submited.</p>
</div>
{% endblock %}
{% block sidebar %}
    {% include "video/side_bar.html" %}
{% endblock %}
