{% extends "alumni/homecoming/attendance_form.html" %}
{% block content_head %}
<h1 id="page_title">
    Homecoming Reunion {{year}} Attendees
    <span id="secondary-dropdown"></span>
</h1>
{% endblock %}
{% block content %}
    {{title}}
    <table class="data" width="100%" border="0" cellspacing="3" cellpadding="3">
    <tr>
        <th>Name</th>
        <th>City</th>
        <th>State</th>
        <th>Class</th>
    </tr>
    {% for attendee in attendees %}
        <tr>
            <td>
                {{attendee.first_name}} {{attendee.last_name}}
                {% if attendee.maiden_name %}
                    (née {{attendee.maiden_name}})
                {% endif %}
            </td>
            <td>{{attendee.city}}</td>
            <td>{{attendee.state}}</td>
            <td>{{attendee.grad_class}}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
