{% extends "base.html" %}
{% load honeypot %}
{% block title %}
    Homecoming &mdash; Alumni &mdash; Carthage College
{% endblock %}
{% block group_name %}Alumni{% endblock %}
{% block left_nav %}
    {% include "alumni/left_nav.html" %}
{% endblock %}
{% block sidebar %}{% endblock %}
{% block content_head %}
<h1 id="page_title">
    RSVP
</h1>
{% endblock %}
{% block content %}
<div class="forms-container">
    <h2>Yes! I'll be at Homecoming and the Reunion</h2>
    {% render_honeypot_field %}
    {% include "includes/generic_form.html" %}
</div>
{% endblock %}
