{% extends "base.html" %}
{% block title %}
    Presentation Archives {{year}} &mdash;
    Celebration of Scholars &mdash;
    Carthage College
{% endblock %}
{% block group_name %}
    <a href="/undergraduate-research/">Undergraduate Research</a>
{% endblock %}
{% block left_nav %}
    {% include "scholars/left_nav.html" %}
{% endblock %}
{% block extra_javascript %}
<script src="//www.carthage.edu/static/vendor/jquery/plugins/tablesorter/jquery.tablesorter.min.js"
    type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $(function() {
        $("#presentation_list_table").tablesorter(
            {widgets: ['zebra'],headers:{3:{sorter:false}}}
        );
    });
</script>
{% endblock %}
{% block extra_style %}
<link href="//www.carthage.edu/static/vendor/jquery/plugins/tablesorter/style.css"
    type="text/css" rel="stylesheet" />
<style>
    table.tablesorter { width: 100%; }
    td, th {padding:5px;vertical-align:top;}
    table.tablesorter tbody tr.odd td { background-color: #efefef; }
</style>
{% endblock %}
{% block content_head %}
    <h1 id="page_title">
        Celebration of Scholars
    </h1>
{% endblock %}
{% block content %}
    <h2>{{year}}</h2>
    <table id="presentation_list_table" class="tablesorter">
    <thead>
    <tr>
        <th style="width:20px;">&nbsp;</th>
        <th width="350">Title</th>
        <th width="150">Lead Presenter</th>
    </tr>
    </thead>
    {% for p in prez %}
        <tr class="{% cycle 'odd' 'even' %}">
            <td>{{forloop.counter}}</td>
            <td><a href="{{p.get_absolute_url}}">{{p.title}}</a></td>
            <td>{{p.leader.last_name}}, {{p.leader.first_name}}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
{% block sidebar %}
    {% include "scholars/side_bar.html" %}
{% endblock %}
