{% extends "base.html" %}
{% block title %}
    {{p.title}} &mdash;
    Presentation Detail &mdash;
    Celebration of Scholars &mdash;
    Carthage College
{% endblock %}
{% block extra_javascript %}
<script type="text/javascript">
$(function() {
    $('#print h2').prepend('<a href="#print">Print</a>');
    $('#print h2 a').click(function() {
        window.print();
        return false;
    });
});
</script>
{% endblock %}
{% block extra_style %}
    <style type="text/css">
        {% include "scholars/presentation/screen.css" %}
    </style>
{% endblock %}
{% block group_name %}Undergraduate Research{% endblock %}
{% block left_nav %}
    {% include "scholars/left_nav.html" %}
{% endblock %}
{% block content_head %}
    <h1 id="page_title">
        Celebration of Scholars
    </h1>
{% endblock %}
{% block content %}
    {% if manager %}
        {% include "scholars/presentation/action_form.inc.html" %}
    {% endif %}
    {% include "scholars/presentation/detail_data.inc.html" %}
{% endblock %}
{% block sidebar %}
    {% include "scholars/side_bar.html" %}
{% endblock %}
