{% extends "scholars/presentation/home.html" %}
{% block title %}
    {{p.title}} &mdash;
    Presentation Detail &mdash;
    Celebration of Scholars &mdash;
    Carthage College
{% endblock %}
{% block extra_javascript %}
<script type="text/javascript">
{{block.super}}
$(function() {
    $('#print h2').prepend('<a href="#print">Print</a>');
    $('#print h2 a').click(function() {
        window.print();
        return false;
    });
});
</script>
{% endblock %}
{% block extra_style %}
{{block.super}}
<style type="text/css">
  {% include "scholars/presentation/screen.css" %}
</style>
{% endblock %}
{% block content %}
  {% if manager %}
    {% include "scholars/presentation/action_form.inc.html" %}
  {% endif %}
  {% include "scholars/presentation/detail_data.inc.html" %}
{% endblock %}
