{% load get_prof %}
<div class="presentation">
    <p class="title">{{p.title}}</p>
    {% for o in p.get_presenters %}
        {% if o.prez_type == "Student" %}
            {% get_prof as prof o.sponsor_email %}
            {% if not prof %}
              {% get_prof as prof p.get_sponsor.email %}
            {% endif %}
            <div class="person">
                <p>
                    {% if o.mugshot %}
                        <img class="mugshot" style="width:250px;" src="{{media_url}}{{o.mugshot}}">
                    {% endif %}
                    <strong>Name</strong>:
                    {% if not user.is_anonymous and o.leader and o.user.email %}
                    <a href="mailto:{{o.user.email}}">
                        {{o.first_name}} {{o.last_name}}
                    </a>
                    {% else %}
                        {{o.first_name}} {{o.last_name}}
                    {% endif %}
                    <br />
                    <strong>Major</strong>: {{o.major}}<br />
                    <strong>Hometown</strong>: {{o.hometown}}<br />
                    <strong>Faculty Sponsor</strong>:
                    {% if prof %}
                      <a href="{{prof.url}}">{{prof.firstname}} {{prof.lastname}}</a>
                    {% else %}
                      {% if p.get_sponsor.email %}
                        <a href="mailto:{{p.get_sponsor.email}}" class="sponsor">
                        {{p.get_sponsor.first_name}}
                        {{p.get_sponsor.last_name}}</a>
                      {% endif %}
                    {% endif %}
                    <br />
                    <strong>Other Sponsors</strong>: {{o.sponsor_other|default:'&nbsp;'}}<br />
                    <strong>Type of research: </strong>{{p.work_type}}<br />
                    {% if p.funding %}
                    <strong>Funding:</strong> {{p.funding}}<br>
                    {% endif %}
                </p>
                <div style="clear:both;"></div>
            </div>
        {% endif %}
        {% if o.prez_type == "Faculty" or o.prez_type == "Staff" %}
            <div class="person">
                <p>
                    {% if o.mugshot %}
                        <img class="mugshot" style="width:250px;" src="{{media_url}}{{o.mugshot}}">
                    {% endif %}
                    <strong>Name</strong>:
                    {% if not user.is_anonymous and o.leader and o.user.email %}
                    <a href="mailto:{{o.user.email}}">
                        {{o.first_name}} {{o.last_name}}
                    </a>
                    {% else %}
                        {{o.first_name}} {{o.last_name}}
                    {% endif %}
                    <br />
                    <strong>Department</strong>: {{o.department}}<br />
                    <strong>Type of research: </strong>{{p.work_type}}<br />
                    {% if p.funding %}
                    <strong>Funding:</strong> {{p.funding}}<br>
                    {% endif %}
                </p>
                <div style="clear:both;"></div>
            </div>
        {% endif %}
    {% endfor %}
    <div class="abstract">
        <h3>Abstract</h3>
        {{p.abstract_text|safe}}
    </div>
    {% if p.requirements %}
    <div class="requirements">
        <span>Requirements</span>
        {{p.requirements}}
    </div>
    {% endif %}
    {% if p.abstract_file %}
    <p class="abstract-file"><a href="{{media_url}}{{p.abstract_file}}">Abstract file</a></p>
    {% endif %}
    {% if p.poster_file %}
    <p class="poster-file"><a href="{{media_url}}{{p.poster_file}}">Poster file</a></p>
    {% endif %}
</div>
