{% extends "base.html" %}
{% block title %}
    Presentation Form &mdash;
    Celebration of Scholars &mdash;
    Carthage College
{% endblock %}
{% block left_nav %}
    {% include "scholars/left_nav.html" %}
{% endblock %}
{% block content_head %}
    <h1 id="page_title">
        Celebration of Scholars
        <span id="secondary-dropdown"></span>
    </h1>
{% endblock %}
{% block content %}
    <h1>Success</h1>
    <p>
        We have received your Celebration of Scholars presentation.
    </p>
    <p>
        You can access it at any time by going to
        <a href="/forms/scholars/presentation/">the submission page</a>.
        If you are not logged in at the time, you will be asked to do so.
    </p>
{% endblock %}
{% block sidebar %}
    {% include "scholars/side_bar.html" %}
{% endblock %}
