{% extends "scholars/presentation/home.html" %}
{% block title %}
  Presentation Form &mdash;
  Celebration of Scholars &mdash;
  Carthage College
{% endblock %}
{% block content %}
    <h3>Success</h3>
    <p>
        We have received your Celebration of Scholars presentation.
    </p>
    <p>
        You can access it at any time by going to
        <a href="/forms/scholars/presentation/">the submissions home page</a>.
        If you are not logged in at the time, you will be asked to do so.
    </p>
{% endblock %}
