{% extends "base.html" %}
{% block title %}
    Presentation Form &mdash;
    Celebration of Scholars &mdash;
    Carthage College
{% endblock %}
{% block extra_javascript %}
    <script src="//www.carthage.edu/static/vendor/jquery/plugins/jHtmlArea/jHtmlArea-0.8.min.js"
        type="text/javascript" charset="utf-8"></script>
    <script src="https://malsup.github.io/min/jquery.blockUI.min.js"
        type="text/javascript"></script>
    <script type="text/javascript">
        $(function() {
            $("#id_abstract_text").htmlarea({
                toolbar: [
                    "html","bold", "italic", "underline", "superscript",
                    "subscript", "|", "h1", "h2", "h3", "h4", "|", "indent",
                    "outdent", "horizontalrule", "link", "unlink", "|",
                    "orderedList", "unorderedList"
                ]
            });
            $("#id_poster_file").parent().css({
                'backgroundColor' : '#fff6bf',
                "border-color": "#ffd324",
                "border-width":"1px",
                "border-style":"solid"
            });
            var copies = {{copies}};
            // copy duplicate master for new presenter
            $("#clone").click(function () {
                copies++;
                newId = "doop_" + copies;
                $("#doopmaster").clone().attr("id",newId).appendTo("#duplicates");
                $.growlUI('Number of Presenters: ', copies);
            });
            // flag presenters that have a mugshot for upload.
            // cgi on the backend does not include empty filefields in []
            // hidden field name = "mugshoth"
            $("#duplicates").on('change', ".mugshot", function() {
                $(this).next(':hidden').val("True");
            });
            // remove presenter
            $('#duplicates').on("click", ".destroy_school", function() {
                if (copies > 0) {
                    copies--;
                    $(this).parent().remove();
                    $.growlUI('Number of Presenters: ', copies);
                }else{
                    $.growlUI('Warning', 'No presenters to delete');
                }
            });
            // switch for faculty/staff vs student
            $("#duplicates").on('change', "select[name='prez_type[]']", function () {
                if ( $(this).val()=="Student" ) {
                    $(this).parent().nextAll('.student:first').addClass("shown");
                    $(this).parent().nextAll('.facstaff:first').removeClass("shown");
                } else {
                    $(this).parent().nextAll('.facstaff:first').addClass("shown");
                    $(this).parent().nextAll('.student:first').removeClass("shown");
                }
            });
            $( "#profile" ).submit(function( event ) {
                var error = false;
                $("div[id^='doop_']").each(function() {
                    var prez_type_obj = $(this).find('select[name="prez_type[]"]');
                    var prez_type = prez_type_obj.val();
                    if (prez_type) {
                        prez_type_obj.removeClass("error");
                    }
                    if ( prez_type == "Student" ) {
                        // Students
                        $(this).find(":input").each(function () {
                            if (this.name != "department[]" && this.name != "sponsor_other[]" && this.name != "leader[]" && this.name != "mugshot[]") {
                                if (this.name == "mugshoth[]") {
                                    if ( this.value == '') {
                                        $(this).prev().addClass("error");
                                        error = true;
                                    }else{
                                        $(this).prev().removeClass("error");
                                    }
                                }else if (!this.value) {
                                    $(this).addClass("error");
                                    error = true;
                                }else{
                                    $(this).removeClass("error");
                                }
                            }
                        });
                    } else if ( prez_type == "Faculty" || prez_type == "Staff" ) {
                        // Faculty or Staff
                        $(this).find(":input").each(function () {
                            console.log(this.name, this.value);
                            if (this.name == "department[]" || this.name == "first_name[]" || this.name == "last_name[]" || this.name == "prez_type[]" || this.name == "mugshoth[]") {
                                if (this.name == "mugshoth[]") {
                                    if ( this.value == '') {
                                        $(this).prev().addClass("error");
                                        error = true;
                                    }else{
                                        $(this).prev().removeClass("error");
                                    }
                                }else if (!this.value) {
                                    $(this).addClass("error");
                                    error = true;
                                }else{
                                    $(this).removeClass("error");
                                }
                            }
                        });
                    } else {
                        prez_type_obj.addClass("error");
                        error = true;
                    }
                });
                if (error) {
                    return false;
                }
            });
        });
    </script>
{% endblock %}
{% block extra_style %}
    <link href="//www.carthage.edu/static/vendor/jquery/plugins/jHtmlArea/jHtmlArea.css"
        rel="stylesheet" type="text/css" />
    <style type="text/css">
    div.jHtmlArea .ToolBar {width: 470px !important; }
    div.jHtmlArea .ToolBar ul li a.custom_disk_button
    {
        background: url(/static/forms/css/disk.png) no-repeat;
        background-position: 0 0;
    }
    div.jHtmlArea {
        width:500px !important;border: solid 1px #ccc; background: #efefef;
    }
    iframe {
        width:500px !important;height:300px !important;background: #fff;
        border: solid 1px #ccc;
    }
    #doopmaster {display: none;}
    div.growlUI {
        background: url(/assets/img/ico/information.png) no-repeat 10px 10px;
    }
    div.growlUI h1, div.growlUI h2 {
        font-size: 1.4em; color: white; padding: 5px 5px 5px 75px;
        text-align: left;
    }
    .form input[type=text] {width: 350px;}
    .form input[type=file] {width: 200px;}
    .form input.tiny {margin:0;width:30px;vertical-align:middle;}
    .form input.small {margin:0;width:100px;vertical-align:middle;}
    .form input.medium {margin:0;width:150px;}
    .form input.large {margin:0;width:250px;}
    .form .blockLabels label {display: inline;}
    .form p {margin-bottom:0 !important;}
    .ctrlcx {float:right;width:25px;}
    .presenter {
        border: 1px solid #FFD324; border-radius: 3px 3px 3px 3px;
        box-shadow: 0 1px 0 #FFFFFF inset; margin: 0 auto 8px;
        padding: 6px 8px; background-color:#FFF6BF;
    }
    .hidden {display:none;}
    .facstaff {display:none;}
    .student {display:none;}
    .shown {display:block;}
    .mtop {margin-top:9px;}
    .fleft{width:265px;}
    dl dt { background: none;padding:0;}
    </style>
{% endblock %}
{% block group_name %}
    <a href="/undergraduate-research/">Undergraduate Research</a>
{% endblock %}
{% block left_nav %}
    {% include "scholars/left_nav.html" %}
{% endblock %}
{% block content %}
<div class="forms-container">
    {% if manager and presentation %}
        {% include "scholars/presentation/action_form.inc.html" %}
    {% endif %}
    {# if manager #}
    <h2>Presentation Form</h2>
    {% include "includes/required_text.html" %}
    {% include "includes/errors_text.html" %}
    <form method="post" action="." class="form" id="profile"
        enctype="multipart/form-data">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        <fieldset class="blockLabels">
            <ol>
                {% for field in form.visible_fields %}
                    {% if field.name == "poster_file" %}
                        {% if presentation.status %}
                            {% include "form_field.inc.html" %}
                        {% endif %}
                    {% else %}
                        {% include "form_field.inc.html" %}
                    {% endif %}
                {% endfor %}
                {% if manager %}
                <li class="ctrlHolder">
                    <h3><label>Status</label></h3>
                    <p class="help">
                    <input type="checkbox" id="id_status" name="status"
                        {% if presentation.status %} checked="checked"{% endif %} />
                    Is this presentation complete?
                    </p>
                </li>
                {% endif %}
                <li class="ctrlHolder">
                    <div id="doopmaster" class="presenter">
                        <img class="destroy_school fright"
                            src="/static/djforms/img/ico/silk/icons/delete.png"
                            title="Remove Presenter" alt="Remove Presenter">
                        {% include "scholars/presentation/presenters.inc.html" %}
                    </div>
                    <h3><label>Presenters</label></h3>
                </li>
                <li style="margin-top:10px;">
                    <p>
                        Click on the
                        <img style="margin-bottom:-3px;" src="/static/djforms/img/ico/silk/icons/add.png">
                        symbol to add more presenters. Click on the
                        <img style="margin-bottom:-3px;" src="/static/djforms/img/ico/silk/icons/delete.png">
                        icon to remove presenters.</p>
                    <p>
                        <strong>NOTE</strong>:
                        Photos must be JPEG format and must be high
                        resolution&mdash;at least 300 DPI.
                    </p>
                    <p style="float:left;">
                        <strong class="help">All fields are required.</strong>
                    </p>
                    <div class="ctrlcx">
                        <img id="clone" src="/static/djforms/img/ico/silk/icons/add.png">
                    </div>
                </li>
                <li class="ctrlHolder" id="duplicates">
                    {% for p in presenters %}
                    <div id="doop_{{forloop.counter}}" class="presenter">
                        {% if forloop.counter != 1 %}
                        <img class="destroy_school fright"
                            src="/static/djforms/img/ico/silk/icons/delete.png"
                            title="Remove Presenter" alt="Remove Presenter">
                        {% else %}
                        <div style="height:15px;width:15px;float:right;">
                            &nbsp;
                        </div>
                        {% endif %}
                        {% include "scholars/presentation/presenters.inc.html" %}
                    </div>
                    {% endfor %}
                </li>
            </ol>
        </fieldset>
        {% include "form_submit.inc.html" %}
    </form>
    {# else #}
    <!--
    <h1>Submssion Process is Closed</h1>
    <p>We are no longer accepting proposals.</p>
    -->
    {# endif #}
</div>
{% endblock %}
{% block sidebar %}
    {% include "scholars/side_bar.html" %}
{% endblock %}
