{% extends "base.html" %}
{% block title %}
  Presentation Home &mdash;
  Celebration of Scholars &mdash;
  Carthage College
{% endblock %}
{% block extra_style %}
  {{block.super}}
  <style>
    main nav ul li:before {content: inherit;}
  </style>
{% endblock %}
{% block left_nav %}
  {% include "scholars/left_nav.html" %}
{% endblock %}
{% block content_head %}
  <h1>Celebration of Scholars</h1>
{% endblock %}
{% block breadcrumb %}
    <li><a href="/academics/">Academics</a></li>
    <li><a href="/academics/experiential-learning/">Experiential Learning</a></li>
    <li><a href="/academics/experiential-learning/research/">Research at Carthage</a></li>
{% endblock %}
{% block content %}
  <h2>Your Presentations</h2>
  {% if not presentations %}
    <p>
    You do not have any presentations for this year.
    </p>
    {% else %}
    <ul>
      {% for p in presentations %}
        <li><a href="{% url 'presentation_update' p.id %}">{{p.title}}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
  <h3><a href="{% url 'presentation_form' %}">Submit a Presentation</a></h3>
{% endblock %}
{% block sidebar %}
  {% include "scholars/side_bar.html" %}
{% endblock %}
