{% extends "base.html" %}
{% block title %}
    Presentation Manager &mdash;
    Celebration of Scholars &mdash;
    Carthage College
{% endblock %}
{% block extra_style %}
<link href="//www.carthage.edu/static/vendor/jquery/plugins/tablesorter/style.css"
    type="text/css" rel="stylesheet" />
<style>
    table.tablesorter {
        width: 100%;
    }
</style>
{% endblock %}
{% block extra_javascript %}
<script src="//www.carthage.edu/static/vendor/jquery/plugins/tablesorter/jquery.tablesorter.min.js"
    type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $(function() {
        $("#presentation_list_table").tablesorter(
            {widgets: ['zebra'],headers:{3:{sorter:false}}}
        );
    });
</script>
{% endblock %}
{% block left_nav %}
    {% include "scholars/left_nav.html" %}
{% endblock %}
{% block content_head %}
    <h1 id="page_title">
        Celebration of Scholars
        <span id="secondary-dropdown"></span>
    </h1>
{% endblock %}
{% block content %}
    <form class="form" id="manager" action=".">
    <table id="presentation_list_table" class="tablesorter">
        <thead>
        <tr>
            <th style="width:20px;">&nbsp;</th>
            <th style="width:365px;">Title</th>
            <th style="width:200px;">Presenter</th>
            <th style="width:100px;">Complete</th>
            <th style="width:80px;">Update</th>
        </tr>
        </thead>
        <tbody>
        {% for p in presentations %}
        <tr class="{% cycle 'odd' 'even' %}">
            <td>{{forloop.counter}}</td>
            <td>
                <a href="{{p.get_absolute_url}}" title="{{forloop.counter}}">
                    {{p.title}}
                </a>
            </td>
            <td>
                <a href="mailto:{{p.user.email}}">
                    {{p.leader.first_name}} {{p.leader.last_name}}
                </a>
            </td>
            <td>{{p.status}}</td>
            <td class="edit center">
                <a title="Update this presentation"
                    href="{% url 'djforms.scholars.views.presentation.form' p.id %}">
                    &nbsp;
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </form>
</div>
{% endblock %}
