.presentation {margin-bottom:30px;}
.presentation .title {
    font-weight:normal;font-size:1.4em; border-bottom:1px solid #000;
}
.person {display: block;font-size: 10pt;margin-bottom:10pt;}
.mugshot {
    display:block; float:left;margin-right:7px;margin-bottom:7px;
    width:100px !important;
}
.work-type, .requirements, .funding, .abstract {margin-bottom:10px;}
.work-type p, .requirements span, .funding span, .abstract span {
    font-size:1.3em;font-weight:bold;
}
.work-type p span {font-size:.9em;font-weight:normal;}
