{% extends "base.html" %}
{% block title %}International Poetry Festival Sign Up{% endblock %}
{% block group_name %}Modern Languages{% endblock %}
{% block left_nav %}
    {% include "languages/left_nav.html" %}
{% endblock %}
{% block sidebar %}
    {% include "languages/side_bar.html" %}
{% endblock %}
{% block content_head %}
    <h1 id="page_title">
        International Poetry Festival
    </h1>
{% endblock %}
{% block content %}
<div class="forms-container">
    <h2>Sign Up</h2>
    <p>
        The information you provide below will be used when printing the
        program.  Please take the time to ensure that all the required fields
        are filled out completely and accurately.
    </p>
    {% include "includes/generic_form.html" %}
</div>
{% endblock %}
