{% extends "athletics/base.html" %}
{% block extra_style %}
<style type="text/css" media="screen, projection">
.help { padding-left: 0px; }
</style>
{% endblock %}
{% block banner %}{% endblock %}
{% block topnav %}{% endblock %}
{% block content %}
<div id="first">
    <div class="buffer" style="background-color:#fff;">
        <h1>Carthage College Soccer Camps</h1>
        <br />
        <h2>Registration Form - Thanks for signing up!</h2>
        <p>Thank you. We have received your application. You will receive a detailed confirmation of your registration via U.S. Mail within 7 to 10 business days. You will also receive an email confirmation, and an email reminder a few days before camp.</p>
        <p>If you paid using a credit card, that transaction will be reflected in the confirmation you receive via U.S. Mail. Please note: This confirmation may not reflect payments mailed to us after your initial registration.</p>
        <p>If you are sending a check or money order for your deposit or making your payment in full, please make payable to Carthage Soccer and mail to:</p>
        <p>
        Carthage Soccer Office<br />
        Attn: Steve Domin<br />
        2001 Alford Park Drive<br />
        Kenosha, WI 53141<br />
        </p>
        <p>The deposit is $200 for resident or commuter camp, $50 for day camps or junior kickers. Deposit must be paid to hold your child's space.</p>
        <p><span class="help">Please note</span>: Credit cards are only accepted through the online application form, not at check-in. If you have a balance or did not pay in full at time of application, cash or check are the only methods of payment at check-in on first day of camp.  Balances need to be in by June 10, along with the "Assumption of Risk" and "Medical History" forms.  Forms will be sent to you by U.S. Mail with your confirmation. <strong>Forms can also be found online <a href="http://www.carthage.edu/soccer/camp/letters-forms/">here</strong></a></strong>.</p>
        <p>Camp Schedules and logistics will not be posted to the camp website until a few days prior to camp. Until then, you can view last year's schedules as a sample.</p>
    </div>
</div>
{% include "athletics/side_bar.html" %}
{% endblock %}
