{% load humanize %}
<dl style="margin-bottom:5px;">

    <dt style="background:#5f9be3; color:#fff; float:left; font-weight:bold; margin-right:10px; padding:5px; width:200px;">Camper First name</dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.contact.first_name}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; font-weight:bold; margin-right:10px; padding:5px; width:200px;">Camper Last name</dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.contact.last_name}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; margin-right:10px; padding:5px; width:200px;">Address</dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.contact.address1}} {{data.contact.address2|default:"&nbsp;"}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; margin-right:10px; padding:5px; width:200px;">City</dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.contact.city}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; margin-right:10px; padding:5px; width:200px;">State</dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.contact.state}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; margin-right:10px; padding:5px; width:200px;">Zip</dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.contact.postal_code}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; margin-right:10px; padding:5px; width:200px;">Email</dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.contact.email}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; margin-right:10px; padding:5px; width:200px;">Phone</dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.contact.phone}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; margin-right:10px; padding:5px; width:200px;">Gender</dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.reg.gender}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; margin-right:10px; padding:5px; width:200px;">Date of birth</dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.reg.dob}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; margin-right:10px; padding:5px; width:200px;">Age</dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.reg.age}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; margin-right:10px; padding:5px; width:200px;">Years attended</dt>
    <dd style="margin:2px 0; padding:5px 0;">This will be your {{data.reg.years_attend|ordinal}} year.</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; margin-right:10px; padding:5px; width:200px;">Goalkeeper?</dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.reg.goalkeeper}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; margin-right:10px; padding:5px; width:200px;">Shirt size</dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.reg.shirt_size}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; margin-right:10px; padding:5px; width:200px;">Parent/guardian</dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.reg.parent_guard}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; margin-right:10px; padding:5px; width:200px;">Roommate request</dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.reg.roommate|default:"&nbsp;"}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; margin-right:10px; padding:5px; width:200px;">Reside in dorm</dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.reg.dorm|default:"&nbsp;"}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; margin-right:10px; padding:5px; width:200px;">Session</dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.reg.session}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; margin-right:10px; padding:5px; width:200px;">Soccer ball</dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.reg.football}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; margin-right:10px; padding:5px; width:200px;">Registration fee</dt>
    <dd style="margin:2px 0; padding:5px 0;">${{data.reg.reg_fee}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; margin-right:10px; padding:5px; width:200px;">Payment method</dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.reg.payment_method}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; margin-right:10px; padding:5px; width:200px;">Amount paid</dt>
    <dd style="margin:2px 0; padding:5px 0;">${{data.total}}</dd>
    {% if data.transid %}
    <dt style="background:#5f9be3; color:#fff; float:left; margin-right:10px; padding:5px; width:200px;">Name on Card</dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.cc_name}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; margin-right:10px; padding:5px; width:200px;">Card ending with:</dt>
    <dd style="margin:2px 0; padding:5px 0;">x{{data.cc_4_digits}}</dd>
    <dt style="background:#5f9be3; color:#fff; float:left; margin-right:10px; padding:5px; width:200px;">Transaction ID</dt>
    <dd style="margin:2px 0; padding:5px 0;">{{data.transid}}</dd>
    {% endif %}
</dl>
