{% extends "athletics/base.html" %}
{% block banner %}{% endblock %}
{% block topnav %}{% endblock %}
{% block content %}
<div id="first">
    <div class="buffer" style="background-color:#fff;">
        <h1>Carthage College Soccer Day Camps</h1>
        <br />
        <h2>Registration Form - Thanks for signing up</h2>
        <p>Thank you. We have received your application. Details of confirmation will be sent to you via U.S. Mail within 7 to 10 working days, as well as an e-mail confirmation.</p>
        <p>If you paid using a credit card, that transaction will be reflected in your confirmation (understanding the transaction is still being processed).</p>
        <p>If you are sending a check or money order for your deposit ($200 for resident or commuter camp, $50 for day camps or junior kickers) in order to hold your space (or making payment in full), make payable to Carthage Soccer and mail to:</p>
        <p>
        Carthage Soccer Office<br />
        Attn: Steve Domin<br />
        2001 Alford Park Drive<br />
        Kenosha, WI 53141<br />
        </p>
        <p>Please note: Credit cards are only accepted through the online application form, not at check-in. If you have a balance or did not pay in full at time of application, cash or check are the only methods of payment at check-in.</p>
    </div>
</div>
{% include "athletics/side_bar.html" %}
{% endblock %}
