{% extends "jobpost/base.html" %}
{% block title %}REQUEST FOR FEDERAL WORK-STUDY POSITION{% endblock %}
{% block extra_javascript %}
<script type="text/javascript" src="/assets/calendar/calendar.js"></script>
<script type="text/javascript" src="/assets/calendar/lang/calendar-en.js"></script>
<script type="text/javascript" src="/assets/calendar/calendar-setup.js"></script>
{% endblock %}
{% block extra_style%}
<link rel="stylesheet" type="text/css" href="/assets/no-bullets.css" />
<link rel="stylesheet" type="text/css" href="/assets/calendar/calendar-win2k-cold-2.css" />
{% endblock %}
{% block content %}
<div id="second">
    <div class="buffer">
    <h2 class="page_title">REQUEST FOR FEDERAL WORK-STUDY POSITION</h2>

    <form method="POST" action="" class="nobullets">
    <h3 style="color: green;"> 
        PLEASE FILL IN ALL APPROPRIATE FIELDS
    </h3>
    {% if form.errors %}
        <h2 style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </h2>
        {{ form.errors }}
    {% endif %}

    {% for field in form %}
        {{ field.label_tag }}{{ field }} <br /><br /><br /><br />
    {% endfor %}
    <input type="submit" value="Submit">
    </form>
    </div>
</div>
{% endblock %}
