{% extends "base.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% block extra_javascript %}
{% endblock %}
{% block extra_style%}
<link rel="stylesheet" href="/assets/current/css/core/grid-960.css" type="text/css" />
<link rel="stylesheet" href="/assets/current/css/plugins/icons.css" type="text/css" />
{% endblock %}
{% block content %}
    <div id="sitetitle">Available On-Campus Employment</div>
    <div class="span-18 prepend-1 buffer-top">
    {% if user.is_staff %}
        <h1 class="page_title">{{ post.title }}</h1>
        <dl class="job-detail">
            <dt class="job-header">Job posted on:</dt><dd class="job-data">{{ post.publish|date:"F j, Y" }}</dd>
            <dt class="job-header">Job is for:</dt><dd class="job-data">{{ post.period }}</dd>
            <dt class="job-header">Number of positions to be filled:</dt><dd class="job-data">{{ post.num_positions }}</dd>
            <dt class="job-header">Average amount of hours per week:</dt><dd class="job-data">{{ post.hours }}</dd>
            <dt class="job-header">Expected pay range:</dt><dd class="job-data">{{ post.pay_grade }}</dd>
            <dt class="job-header">Applicant should be available to work:</dt><dd class="job-data">{% for k in post.work_days.all %}{{k.name}}{% if not forloop.last%}, {% endif %}{% endfor %}</dd>
            <dt class="job-header">Department in charge of position:</dt><dd class="job-data">{{ post.hiring_department }}</dd>
            <dt class="job-header">Supervisor name:</dt><dd class="job-data">{{ post.supervisor_name }}</dd>
            <dt class="job-header">Supervisor phone:</dt><dd class="job-data">{{ post.supervisor_phone }}</dd>
            <dt class="job-header">Supervisor email:</dt><dd class="job-data"><a href="mailto:{{ post.supervisor_email }}">{{ post.supervisor_email }}</a></dd>
            <dt class="job-header">Description of the job:</dt><dd class="clear"></dd>
            <dd class="description">{{ post.description }}</dd>
            <dt class="job-header">Purpose of the job:</dt><dd class="clear"></dd>
            <dd class="description">{{ post.purpose_of_job }}</dd>
            <dt class="job-header">Duties and Responsibilities:</dt><dd class="clear"></dd>
            <dd class="description">{{ post.duties_resp }}</dd>
            <dt class="job-header">Qualifications:</dt><dd class="clear"></dd>
            <dd class="description">{{ post.qualifications }}</dd>
        </dl>
        <hr />
        {% ifequal user.username post.creator.username %}
            <form method="POST" action="." class="form">{% csrf_token %}
                {% if form.errors %}
                    <h2 style="color: red;">
                        Please correct the error{{ form.errors|pluralize }} below.
                    </h2>
                {% endif %}
                <fieldset class="blockLabels">
                    <ol>
                        {% for field in form %}
                        <span class="error-message">*** {{ field.errors|join:", "}}</span>
                            {% if not field.is_hidden %}
                                <li class="ctrlHolder">
                                <h3>{{ field.label_tag }}</h3>
                                {% if field.errors %}
                                <div class="warning">
                                <span class="error-message">*** {{ field.errors|join:", "}}</span>
                                {% else %}
                                <div>
                                {% endif %}
                                {{field}}
                                {% if field.help_text %}
                                <p class="help">{{field.help_text}}</p>
                                {% endif %}
                                </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                        <li class="btnHolder">
                        <label for="id_submit">&nbsp;&nbsp;</label>
                        <input type="submit" value="Save Changes" class="button" />
                        </li>
                    </ol>
                </fieldset>
            </form>
            <br />
            <hr />
            <h1>List of applications </h1>
            {% for jobapplyform in object_list %}
                <div>
                <dl class="job-detail">
                    <dt class="job-header">Application submitted:</dt><dd class="job-data">{{ jobapplyform.apply_date|date:"F j, Y" }}</dd><dd class="clear"></dd>
                    <dt class="job-header">Student Name:</dt><dd class="job-data">{{ jobapplyform.first_name }} {{ jobapplyform.last_name }}</dd><dd class="clear"></dd>
                    <dt class="job-header">Student Email:</dt><dd class="job-data"><a href="mailto:{{ jobapplyform.email }}">{{ jobapplyform.email }}</a></dd><dd class="clear"></dd>
                    <dt class="job-header">Student qualifications:</dt><dd class="clear"></dd>
                </dl>
                <p>{{ jobapplyform.app_details }}</p>
                <hr />
                </div>
            {% endfor %}
        {% endifequal %}
        {% if perms.jobpost.can_manage %}
            <div id="list_of_applications">
            <h1>List of applications </h1>
            {% for jobapplyform in object_list %}
                <div>
                <dl class="job-detail">
                    <dt class="job-header">Application submitted:</dt><dd class="job-data">{{ jobapplyform.apply_date|date:"F j, Y" }}</dd><dd class="clear"></dd>
                    <dt class="job-header">Student Name:</dt><dd class="job-data">{{ jobapplyform.first_name }} {{ jobapplyform.last_name }}</dd><dd class="clear"></dd>
                    <dt class="job-header">Student Email:</dt><dd class="job-data"><a href="mailto:{{ jobapplyform.email }}">{{ jobapplyform.email }}</a></dd><dd class="clear"></dd>
                    <dt class="job-header">Student qualifications:</dt><dd class="clear"></dd>
                </dl>
                <p>{{ jobapplyform.app_details }}</p>
                <hr />
                </div>
            {% endfor %}
            </div>
        {% endif %}
    {% else %}
        {% if post.active %}
            <h1 class="page_title">{{ post.title }}</h1>
            <dl class="job-detail">
                <dt class="job-header">Job posted on:</dt><dd class="job-data">{{ post.publish|date:"F j, Y" }}</dd><dd class="clear"></dd>
                <dt class="job-header">Job is for:</dt><dd class="job-data">{{ post.period }}</dd><dd class="clear"></dd>
                <dt class="job-header">Number of positions to be filled:</dt><dd class="job-data">{{ post.num_positions }}</dd><dd class="clear"></dd>
                <dt class="job-header">Average amount of hours per week:</dt><dd class="job-data">{{ post.hours }}</dd><dd class="clear"></dd>
                <dt class="job-header">Expected pay range:</dt><dd class="job-data">${{ post.pay_grade }}</dd><dd class="clear"></dd>
                <dt class="job-header">Applicant should be available to work:</dt><dd class="job-data">{% for k in post.work_days.all %}{{k.name}}{% if not forloop.last%}, {% endif %}{% endfor %}</dd><dd class="clear"></dd>
                <dt class="job-header">Department in charge of position:</dt><dd class="job-data">{{ post.hiring_department }}</dd><dd class="clear"></dd>
                <dt class="job-header">Supervisor name:</dt><dd class="job-data">{{ post.supervisor_name }}</dd><dd class="clear"></dd>
                <dt class="job-header">Supervisor phone:</dt><dd class="job-data">{{ post.supervisor_phone }}</dd><dd class="clear"></dd>
                <dt class="job-header">Supervisor email:</dt><dd class="job-data"><a href="mailto:{{ post.supervisor_email }}">{{ post.supervisor_email }}</a></dd><dd class="clear"></dd>
                <dt class="job-header">Description of the job:</dt><dd class="clear"></dd>
            </dl>
            <p>{{ post.description }}</p>
            <hr />
            <form method="POST" action="." class="form">{% csrf_token %}
                <h3 style="color: green;">
                    Complete the form below to apply for this job.
                </h3>
                {% if form.errors %}
                    <h2 style="color: red;">
                        Please correct the error{{ form.errors|pluralize }} below.
                    </h2>
                {% endif %}
                <fieldset class="blockLabels">
                    <ol>
                        {% for field in form %}
                            {% if not field.is_hidden %}
                                <li class="ctrlHolder">
                                <h3>{{ field.label_tag }}</h3>
                                {% if field.errors %}
                                <div class="warning">
                                <span class="error-message">*** {{ field.errors|join:", "}}</span>
                                {% else %}
                                <div>
                                {% endif %}
                                {{field}}
                                {% if field.help_text %}
                                <p class="help">{{field.help_text}}</p>
                                {% endif %}
                                </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                        <li class="btnHolder">
                        <label for="id_submit">&nbsp;&nbsp;</label>
                        <input type="submit" value="Send application" class="button" />
                        </li>
                    </ol>
                </fieldset>
            </form>
        {% else %}
            <h1>THIS POST IS NOT CURRENTLY AVAILABLE</h1>
        {% endif %}
    {% endif %}
    {% if is_paginated %}
    <p class="pagination">
    {% if has_next %}
    <a class="older" href="?page={{ next }}">Older Job applications</a>
    {% endif %}
    {% if has_next and has_previous %} | {% endif %}
    {% if has_previous %}
    <a class="newer" href="?page={{ previous }}">Newer Job applications</a>
    {% endif %}
    </p>
    {% endif %}
    </div>
{% endblock %}
