{% extends "base.html" %}
{% block title %}Post search{% endblock %}
{% block content %}
    <div class="buffer">
    <h2 class="page_title">Search</h2>
    <form action="." method="get" id="post_search_form">
    <p>
      <input type="text" name="q" value="{{ search_term }}" id="search">
      <input type="submit" class="button" value="Search">
    </p>
    </form>
    {% if message %}
  <p class="message">{{ message }}</p>
    {% endif %}
    
    {% if object_list %}  
    <div class="post_list">
        {% for post in object_list %}
        <div>
        <h3 class="title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
        <p class="date">Job posted on {{ post.publish|date:"F j, Y" }}</p>
        <p class="description">{{ post.description }}</p>
        <hr />
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% if is_paginated %}
    <p class="pagination">
    {% if has_next %}
    <a class="older" href="?page={{ next }}">Older Job posts</a>
    {% endif %}
    {% if has_next and has_previous %} | {% endif %}
    {% if has_previous %}
    <a class="newer" href="?page={{ previous }}">Newer Job posts</a>
    {% endif %}
    </p>
    {% endif %}
    </div>
{% endblock %}
