{% extends "jobpost/base_post.html" %}


{% block title %}{{ object.title }}{% endblock %}
{% block body_id %}post_detail{% endblock %}


{% block content %}

  <h2 class="page_title">{{ post.title }}</h2>
  <p class="date">Job posted on {{ post.publish|date:"F j, Y" }}</p>
  <p class="description">{{ post.description }}</p>
  
    <form method="POST" action="">
        <h3 style="color: green;"> 
            Fill in the info to add an item to the database.
        </h3>
        {% if form.errors %}
            <h2 style="color: red;">
                Please correct the error{{ form.errors|pluralize }} below.
            </h2>
            {{ form.errors }}
        {% endif %}
        
        {% for field in form %}
            {% if not field.is_hidden %}
                {{ field.label_tag }}:   {{ field }} <br /><br />
            {% endif %}
        {% endfor %}
        
        <input type="submit" value="Submit">
    </form>

{% endblock %}