{% extends "base.html" %}
{% block title %}Your Posts{% endblock %}
{% block content %}
    <div class="buffer">
    <h2 class="page_title">Your Posts</h2>
    {% if object_list %}  
    <div class="post_list">
        {% for post in object_list %}
            <div>
            <h3 class="title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
            <p class="date">Job posted on {{ post.publish|date:"F j, Y" }}</p>
            <p class="description">{{ post.description }}</p>
            <hr />
            </div>
        {% endfor %}
    </div>
    {% endif %}
    {% if is_paginated %}
    <p class="pagination">
    {% if has_next %}
    <a class="older" href="?page={{ next }}">Older Job posts</a>
    {% endif %}
    {% if has_next and has_previous %} | {% endif %}
    {% if has_previous %}
    <a class="newer" href="?page={{ previous }}">Newer Job posts</a>
    {% endif %}
    </p>
    {% endif %}
    </div>
{% endblock %}
