{% extends "base.html" %}
{% load honeypot %}
{% load livewhale_api %}
{% block title %}
Honorary Degree Nomination Form &mdash;
Office of the President &mdash;
Carthage College
{% endblock %}
{% block extra_javascript %}
    {{ block.super }}
    <script src="//www.carthage.edu/static/vendor/jquery/plugins/jHtmlArea/jHtmlArea-0.8.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $("textarea").htmlarea({
                toolbar: [
                    "html","bold", "italic", "underline", "superscript",
                    "subscript", "|", "h1", "h2", "h3", "h4", "|", "indent",
                    "outdent", "horizontalrule", "link", "unlink", "|",
                    "orderedList", "unorderedList"
                ]
            });
        });
    </script>
{% endblock %}
{% block extra_style %}
    <link href="//www.carthage.edu/static/vendor/jquery/plugins/jHtmlArea/jHtmlArea.css"
        rel="stylesheet" />
{% endblock %}
{% block group_name %}Office of the President{% endblock %}
{% block left_nav %}
    {% include "president/left_nav.html" %}
{% endblock %}
{% block content_head %}
<h1 id="page_title">
    Honorary Degrees
</h1>
{% endblock %}
{% block content %}
{% get_lw_content as copy blurbs 1965 %}
{{copy.body}}
<div class="forms-container">
    {% render_honeypot_field %}
    {% include "includes/generic_form_multi.html" %}
</div>
{% endblock %}
