{% extends "base.html" %}
{% block title %}Biology &mdash; Genomics &mdash; Phage Hunters Application &mdash; Carthage College{% endblock %}
{% block css %}
<style type="text/css" media="screen, projection">
/* <![CDATA[ */
    @import url("http://www.carthage.edu/media/css/douglasfir/global.css");
/* ]]> */
</style>
<!--[if IE]>
    <style type="text/css">#footer {zoom: 1;} #first li {font-size:.9em;}</style>
<![endif]-->
<!--[if IE 6]>
    <style type="text/css">div#first {width:150px;margin-left:7px;}     div#fourth {margin-right:-1px;}</style>
<![endif]-->
{% endblock %}
{% block columns %}<link href="http://www.carthage.edu/media/css/douglasfir/3_column.css" rel="stylesheet" type="text/css" />{% endblock %}
{% block extra_style %}
    {% include "includes/extra_form_style.html" %}
{% endblock %}
{% block left_nav %}
    {% include "biology/left_nav.html" %}
{% endblock %}
{% block content %}
<img src="http://www.carthage.edu/assets/mediaman/biology-images/biology2.jpg" /><div id="sitetitle"><span style="font-face:times;">Biology</span></div>
<div class="buffer">
    <h1>Phage Hunters Application Form</h1>
    <p>Carthage will offer freshmen a new Phage Hunters biology course in fall 2011. Use this form to apply for the course. <a href="/biology/phage-hunters/">Learn more</a>.</p>
    <p class="help"><strong>All fields are required.</strong></p>
    <form method="POST" action="." class="form" id="profile">{% csrf_token %}
        <fieldset class="blockLabels">
            <ol>
                {% for field in form %}
                    <li class="ctrlHolder">
                    {% if field.name == "intended_majors_other" %}
                        <div style="padding-left: 25px;">Other: {{field}}</div>
                    {% else %}
                    <h3>{{ field.label_tag }}</h3>
                    {% if field.errors %}
                        <div class="warning">
                        <span class="error-message">{{ field.errors|join:", "}}</span>
                    {% else %}
                        <div>
                    {% endif %}
                    {% if field.help_text %}
                        <p class="help">{{field.help_text}}</p>
                    {% endif %}
                    {{field}}
                    </div>
                    {% endif %}
                </li>
                {% endfor %}
                <li class="btnHolder">
                    <label for="id_submit">&nbsp;&nbsp;</label>
                    <input type="submit" value="Submit" class="button" />
                </li>
            </ol>
        </fieldset>
    </form>
</div>
{% endblock %}
{% block sidebar %}
    {% include "biology/side_bar.html" %}
{% endblock %}
