{% extends "base.html" %}
{% block title %}Phage Hunters Application &mdash; Genomics &mdash; Biology &mdash; Carthage College{% endblock %}
{% block extra_style %}
<style type="text/css" media="screen, projection">
/*DL, DT, DD TAGS LIST DATA*/
dl { margin-bottom:20px; }
dl dt { background:#5f9be3; color:#fff; float:left; font-weight:bold; margin-right:10px; padding:5px; width:100px; }
dl dd { margin:2px 0; padding:5px 0; }
</style>
{% endblock %}
{% block columns %}<link href="http://www.carthage.edu/media/css/douglasfir/3_column.css" rel="stylesheet" type="text/css" />{% endblock %}
{% block left_nav %}
    {% include "biology/left_nav.html" %}
{% endblock %}
{% block content %}
<div class="buffer">
    <h1>Phage Hunters Applicants</h1>
    {% for applicant in applicants %}
    <div style="float:right;"><h2><a href="{{applicant.get_absolute_url}}">View Profile</a></h2></div>
    <div style="padding-bottom:10px;margin-bottom:10px; border-bottom: 1px #000 solid;">
    <dl>
        <dt>Name</dt>
        <dd>{{applicant.first_name}} {{applicant.last_name}}</dd>
        <dt>email</dt>
        <dd>{{applicant.email}}</dd>
        <dt>Address</dt>
        <dd>{{applicant.address}}</dd>
        <dt>City</dt>
        <dd>{{applicant.city}}</dd>
        <dt>State</dt>
        <dd>{{applicant.state}}</dd>
        <dt>Zip</dt>
        <dd>{{applicant.postal_code}}</dd>
        <dt>Phone</dt>
        <dd>{{applicant.phone}}</dd>
        <dt>High School</dt>
        <dd>{{applicant.high_school}}</dd>
        <dt>GPA</dt>
        <dd>{{applicant.gpa}}</dd>
        <dt>ACT Composite</dt>
        <dd>{{applicant.act_comp}}</dd>
        <dt>ACT Math</dt>
        <dd>{{applicant.act_math}}</dd>
        <dt>ACT Science</dt>
        <dd>{{applicant.act_science}}</dd>
        <dt>SAT Composite</dt>
        <dd>{{applicant.sat_comp}}</dd>
        <dt>SAT Math</dt>
        <dd>{{applicant.sat_math}}</dd>
        <dt>SAT Critical Reading</dt>
        <dd>{{applicant.sat_read}}</dd>
    </dl>
    </div>
    {% endfor %}
</div>
{% endblock %}
