<pre style="font-size:1.5em;">
First Name.................. {{applicant.first_name}}
Last Name................... {{applicant.last_name}}
Address..................... {{applicant.address}}
City........................ {{applicant.city}}
State....................... {{applicant.state}}
Zip......................... {{applicant.postal_code}}
Email....................... {{applicant.email}}
Phone....................... {{applicant.phone}}
Gender...................... {{applicant.gender}}

High School................. {{applicant.high_school}}
GPA......................... {{applicant.gpa}}
ACT......................... {{applicant.act}}
ACT Math.................... {{applicant.act_math}}
ACT Science................. {{applicant.act_science}}

<a href="http://{{site_domain}}{{applicant.get_absolute_url}}">Full Profile</a>
</pre>
