{% extends "base.html" %}
{% block title %}Biology &mdash; Genomics &mdash; Phage Hunters Application &mdash; Carthage College{% endblock %}
{% block css %}
<style type="text/css" media="screen, projection">
/* <![CDATA[ */
    @import url("http://www.carthage.edu/media/css/douglasfir/global.css");
/* ]]> */
</style>
<!--[if IE]>
    <style type="text/css">#footer {zoom: 1;} #first li {font-size:.9em;}</style>
<![endif]-->
<!--[if IE 6]>
    <style type="text/css">div#first {width:150px;margin-left:7px;}     div#fourth {margin-right:-1px;}</style>
<![endif]-->
{% endblock %}
{% block columns %}<link href="http://www.carthage.edu/media/css/douglasfir/3_column.css" rel="stylesheet" type="text/css" />{% endblock %}
{% block left_nav %}
    {% include "biology/left_nav.html" %}
{% endblock %}
{% block content %}
<div class="buffer">
<h1>Success</h1>
<p>Thank you for your interest in the Phage Hunters course at Carthage. You will receive an email with the information you have provided to us.</p>
<p>Students will be notified by July 15 regarding their placement in the course.</p>
</div>
{% endblock %}
{% block sidebar %}
    {% include "biology/side_bar.html" %}
{% endblock %}
