{% extends "base.html" %}
{% block title %}Class Notes Archives &mdash; Alumni &mdash; Carthage College{% endblock %}
{% block extra_style %}
<link rel="stylesheet" href="{{media_url}}css/jquery/plugins/wowwindow.css" type="text/css" />
<link rel="stylesheet" href="{{media_url}}css/jquery/plugins/jqModal.css" type="text/css" media="screen" />
{% endblock %}
{% block extra_javascript %}
<script src="{{media_url}}js/jquery/plugins/jqModal.js" type="text/javascript" charset="utf-8"></script>
<script src="{{media_url}}js/jquery/plugins/jquery.wowwindow.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $(function() {
        $('a[rel=popupfoto]').wowwindow({
            draggable: true,
            height: 450,
            width: 800,
            videoIframe: false
        });
        {% include "javascript/jqmodal.html" %}
    });
</script>
{% endblock %}
{% block left_nav %}
    <h4>Alumni</h4>
    {% include "alumni/classnotes/side_bar.html" %}
    <h4>&nbsp;</h4>
    {% include "alumni/left_nav.html" %}
{% endblock %}
{% block sidebar %}
{% endblock %}
{% block content_head %}
<h1 id="page_title">Class Notes<span id="secondary-dropdown"></span></h1>
{% endblock %}
{% block content %}
{% spaceless %}
    <h1>Class Notes Archive &mdash; {% if year %}{{year}}'s{% endif %}{% if title %}{{title}}{% endif %}</h1>
    <p><a href="{% url 'classnotes_form' %}">Click here to submit your class note</a></p>
    <p>
    {% for n in notes %}
        {% ifchanged n.classyear %}
            {% if not forloop.first %}&nbsp;|&nbsp;{% endif %}
            <strong><a href="#{{ n.classyear }}">{{ n.classyear }}</a></strong>
        {% endifchanged %}
    {% endfor %}
    </p>
    <hr />
    {% for n in notes %}
        {% ifchanged %}
            <h2 style="color:#880;">
                <a name="{{ n.classyear }}">{{ n.classyear }}</a>
            </h2>
        {% endifchanged %}
        {% if n.picture %}
        <div style="float:right;padding-left:7px;padding-bottom:7px;">
        <a rel="popupfoto" href="/assets/{{n.picture}}" class="popupfoto">
            <img src="/assets/{{n.picture}}" width="100" />
        </a>
        {% if n.caption %}
        <div style="margin-top:2px;font-size:.8em;color:#6e6e6e;width:100px;">
            {{n.caption}}
        </div>
        {% endif %}
        </div>
        {% endif %}
        <p>
        <strong>{% if n.name %}{{n.name}}{% else %}{{n.first_name}}
        {% if n.second_name %}{{n.second_name}}{% endif %}
        {% if n.previous_name %}({{n.previous_name}}){% endif %}
        {{n.last_name}}
        {% if n.suffix %}, {{n.suffix|default:""}}{% endif %}
        {% endif %}
        {% if n.spousename %}
            &amp; {{n.spousename}}
            {% if n.spousepreviousname %}
                ({{n.spousepreviousname}})
            {% endif %}
            {% if n.spouseyear %}
                {{n.spouseyear}}
            {% endif %}
        {% endif %}
        </strong>
        &mdash;
        {% if n.hometown %}{{n.hometown}},&nbsp;{% endif %}
        {{n.classnote}}&nbsp;<br />
        <em style="color:#6e6e6e;">
            Submitted: {{n.created_at|date:"F j, Y"}}
        </em>
        {% if manager %}
        &nbsp;
        <a class="jqmodal" title="edit this note"
            href="{{n.get_edit_url}}?width=800&height=600&jqmRefresh=true">
            <i class="fa fa-pencil"></i>
        </a>
        {% endif %}
        </p>
        <div class="clear"></div>
    {% endfor %}
{% endspaceless %}
</div>
{% endblock %}
{% block modalform %}
    {% if user.is_staff %}
        {% include "modal_form.html" %}
    {% endif %}
{%endblock%}
