{% extends "base.html" %}
{% block title %}Class Notes &mdash; Alumni &mdash; Carthage College{% endblock %}
{% block extra_javascript %}{% endblock %}
{% block extra_style %}{% endblock %}
{% block left_nav %}
    <h4>Alumni</h4>
    {% include "alumni/classnotes/side_bar.html" %}
    <h4>&nbsp;</h4>
    {% include "alumni/left_nav.html" %}
{% endblock %}
{% block sidebar %}{% endblock %}
{% block content_head %}
<h1 id="page_title">Class Notes<span id="secondary-dropdown"></span></h1>
{% endblock %}
{% block content %}
<h2>Success</h2>
<p>We have received your class notes submission.</p>
<p>
    <a href="{% url 'classnotes_archives' %}">Click here</a>
    to peruse the Class Notes archives.
</p>
{% endblock %}
