{% extends "base.html" %}
{% load livewhale_api %}
{% block title %}Class Notes &mdash; Alumni &mdash; Carthage College{% endblock %}
{% block extra_javascript %}{% endblock %}
{% block extra_style %}{% endblock %}
{% block group_name %}Alumni{% endblock %}
{% block left_nav %}
    {% include "alumni/classnotes/side_bar.html" %}
    <h4>&nbsp;</h4>
    {% include "alumni/left_nav.html" %}
{% endblock %}
{% block sidebar %}{% endblock %}
{% block content_head %}
<h1 id="page_title">Class Notes</h1>
{% endblock %}
{% block content %}
    {% get_lw_content as success blurbs 2454 %}
    {{success.body}}
{% endblock %}
