{% extends "base.html" %}
{% load honeypot %}
{% block title %}
    Class Notes &mdash; Alumni &mdash; Carthage College
{% endblock %}
{% block extra_style %}
<style type="text/css">
    #id_classyear, #id_spouseyear {width:150px;}
</style>
{% endblock %}
{% block extra_javascript %}
<script src="/static/forms/apps/InFieldLabels/jquery.infieldlabel.min.js"
    type="text/javascript"></script>
<script type="text/javascript">
$(function() {
    /* simulate html5 placeholder feature for broken-ass browsers */
    jQuery.support.placeholder = false;
    test = document.createElement('input');
    // inFieldLabels plugin adds placeholder feature similar to html5.
    if('placeholder' in test) jQuery.support.placeholder = true;
    if(!$.support.placeholder) {
        $("label").inFieldLabels();
        $("input").attr("autocomplete","off");
    } else {
        $(".placeholder").hide();
    }
    $('#id_picture').change(function(){
        $('#faux_picture').val($(this).val());
    });
});
</script>
{% endblock %}
{% block group_name %}Alumni{% endblock %}
{% block left_nav %}
    {% include "alumni/classnotes/side_bar.html" %}
    <h4>&nbsp;</h4>
    {% include "alumni/left_nav.html" %}
{% endblock %}
{% block content_head %}
<h1 id="page_title">
    Class Notes
</h1>
{% endblock %}
{% block content %}
<div class="forms-container">
    <h2>Submit your Class Note</h2>
    {% include "includes/required_text.html" %}
    {% include "includes/errors_text.html" %}
    <form method="post" action="." class="form"
        id="profile" enctype="multipart/form-data">
        {% csrf_token %}
        {% render_honeypot_field %}
        <fieldset class="blockLabels">
            <ul class="inline">
                <li><h3>Contact Information</h3></li>
                <li>
                    <label for="id_salutation" class="placeholder">
                        Salutation
                    </label><br>
                    <input class="medium" id="id_salutation" name="salutation"
                        type="text" placeholder="Ms, Mr, Dr, etc." maxlength="16"
                        value="{{form.salutation.value|default_if_none:""}}">
                </li>
                <li>
                    <label for="id_first_name" class="placeholder">
                        First name
                    </label><br>
                    <input class="medium required
                        {% if form.first_name.errors %} error{% endif %}"
                        id="id_first_name" type="text" name="first_name"
                        placeholder="First name" maxlength="128"
                        value="{{form.first_name.value|default_if_none:""}}"
                        {% if not template_debug %}required {% endif %}>
                </li>
                </li>
                <li>
                    <label for="id_second_name" class="placeholder">
                        Middle name
                    </label><br>
                    <input class="medium" id="id_second_name" name="second_name"
                        placeholder="Middle name" maxlength="128" type="text"
                        value="{{form.second_name.value|default_if_none:""}}">
                </li>
            </ul>
            <ul class="inline">
                <li>
                    <label for="id_last_name" class="placeholder">
                        Last name
                    </label><br>
                    <input class="medium required
                        {% if form.last_name.errors %} error{% endif %}"
                        id="id_last_name" type="text" name="last_name"
                        placeholder="Last name" maxlength="128"
                        value="{{form.last_name.value|default_if_none:""}}"
                        {% if not template_debug %}required {% endif %}>
                </li>
                <li>
                    <label for="id_previous_name" class="placeholder">
                        Previous name
                    </label><br>
                    <input class="medium" id="id_previous_name"
                        type="text" maxlength="128"
                        name="previous_name" placeholder="Previous name"
                        value="{{form.previous_name.value|default_if_none:""}}">
                </li>
                <li>
                    <label for="id_suffix" class="placeholder">
                        Suffix
                    </label><br>
                    <input class="medium" id="id_suffix" type="text"
                        maxlength="16" name="suffix"
                        placeholder="Ph.D, MD, Jr, Sr, etc."
                        value="{{form.suffix.value|default_if_none:""}}">
                </li>
            </ul>
            <ul class="inline">
                <li>
                    <label for="id_email" class="placeholder">
                        Email
                    </label><br>
                    <input class="large
                        {% if form.email.errors %} error{% endif %}"
                        id="id_email" type="email" name="email"
                        placeholder="Email" maxlength="75"
                        value="{{form.email.value|default_if_none:""}}"
                        {% if not template_debug %}required {% endif %}>
                </li>
                <li>
                    {{form.classyear}}
                    {% if form.classyear.errors %}
                        <span class="error">Required</span>
                    {% endif %}
                </li>
            </ul>
            <ul class="inline">
                <li>
                    <label for="id_spousename" class="placeholder">
                        Spouse&#39;s name
                    </label><br>
                    <input class="medium" id="id_spousename"
                        type="text" name="spousename"
                        placeholder="Spouse&#39;s name" maxlength="128"
                        value="{{form.spousename.value|default_if_none:""}}">
                </li>
                <li>
                    <label for="id_spousepreviousname" class="placeholder">
                        Spouse&#39;s previous name
                    </label>
                    <input class="medium" id="id_spousepreviousname"
                        type="text" name="spousepreviousname" maxlength="32"
                        placeholder="Spouse&#39;s previous name"
                        value="{{form.spousepreviousname.value|default_if_none:""}}">
                </li>
                <li>
                    {{form.spouseyear}}
                </li>
            </ul>
            <ul class="inline">
                <li>
                    <label for="id_hometown" class="placeholder">
                        Home Town
                    </label><br>
                    <input class="xlarge required
                        {% if form.hometown.errors %} error{% endif%}"
                        id="id_hometown" type="text" name="hometown"
                        placeholder="Hometown" maxlength="128"
                        value="{{form.hometown.value|default_if_none:""}}"
                        {% if not template_debug %}required {% endif %}>
                    <div class="help">
                        City and state. Include country, if outside the US.
                    </div>
                </li>
            </ul>
        </fieldset>
        <br>
        <fieldset class="blockLabels">
            <ul>
                <li>
                    <h3>
                        <label for="id_classnote">
                            Your message to the Carthage community
                        </label>
                        </h3>
                    {% if form.classnote.errors %}
                        <div class="error" style="margin-right:13px;">
                            Please provide a brief bit of text.
                        </div>
                    {% endif %}
                    <textarea class="required" id="id_classnote" rows="10" cols="40" name="classnote">{{form.classnote.value|default_if_none:""}}</textarea>
                </li>
                <li>
                    <h3><label for="id_category">Category</label></h3>
                    {% if form.category.errors %}
                        <div class="error" style="margin-right:13px;">
                            Please select a category.
                        </div>
                    {% endif %}
                    {{form.category}}
                </li>
                <li>
                    <h3><label for="id_picture">Photo</label></h3>
                    <input type="text" class="file" name="file_info"
                        id="faux_picture" placeholder="Photo">
                    <div class="file_upload">
                        <input type="file" name="picture" id="id_picture"
                            placeholder="Photo" />
                    </div>
                    <div class="help clear">75 dpi and .jpg only</div>
                </li>
                <li>
                    <h3>
                        <label for="id_caption">Caption for your photo</label>
                    </h3>
                    <input id="id_caption" type="text" name="caption"
                        value="{{form.caption.value|default_if_none:""}}"
                        maxlength="255">
                </li>
                <li>
                    <h3>
                        <label for="id_captcha_1">
                            Input the text you see in the image on the left
                        </label>
                    </h3>
                    {% if form.captcha.errors %}
                        <div class="error" style="margin-right:13px;">
                            Wrong answer. Try again.
                        </div>
                    {% endif %}
                    {{form.captcha}}
                </li>
            </ul>
        </fieldset>
        {% include "form_submit.inc.html" %}
    </form>
</div>
{% endblock %}
