{% extends "base.html" %}
{% load ifusergroup %}
{% block css %}
    {% ifusergroup carthageStaffStatus carthageFacultyStatus %}
        {{block.super}}
    {% else %}
        <style type="text/css" media="screen, projection">
        body {
            background-color:#fff !important;
            font-family:verdana,arial,sans-serif; }
        #nav, #about {float: left; list-style: none outside none;
            padding-right:5px;}
        #nav li, #about li { display: inline; list-style-type: none;
            overflow: hidden;}
        #about {border-right:1px solid #800;}
        #nav {padding-left:5px;}
        </style>
        <link href="//www.carthage.edu/themes/shared/css/forms.css"
            rel="stylesheet" type="text/css" />
    {% endifusergroup %}
{% endblock %}
{% block header %}
    {% ifusergroup carthageStaffStatus carthageFacultyStatus %}
        {{block.super}}
    {% endifusergroup %}
{% endblock %}
{% block hero %}
    {% ifusergroup carthageStaffStatus carthageFacultyStatus %}
        {{block.super}}
    {% endifusergroup %}
{% endblock %}
{% block left_nav %}
    <ul>
        <li><a href="https://www.carthage.edu/forms/job/">Available Jobs</a></li>
        <!-- <li><a href="/forms/job/search/">Search for Jobs</a></li> -->
        <li><a href="https://www.carthage.edu/forms/job/departments/">Jobs by Department</a></li>
        {% ifusergroup carthageStaffStatus carthageFacultyStatus %}
        <li><a href="/forms/job/createpost/">Create a Job Post</a></li>
        <li><a href="/forms/job/user-post-list/">Your Posts</a></li>
        {% endifusergroup %}
        {% if perms.jobpost.can_manage %}
        <li><a href="/forms/job/post-manage-list/">Manage Job Posts</a></li>
        {% endif %}
        <li><a href="http://www.carthage.edu/finaid/" target="_blank">Financial Aid Home</a></li>
        {% if not user.is_anonymous %}
            <li><a href="/forms/accounts/logout/?next=/forms/job/">Logout</a></li>
        {% endif %}
        {% if user.is_superuser %}
            <li><a href="/forms/admin/">Administration</a></li>
        {% endif %}
    </ul>
{% endblock %}
{% block sidebar %}{% endblock %}
{% block content_head %}
    {% ifusergroup carthageStaffStatus carthageFacultyStatus %}
    <h1 id="page_title">
        Carthage College Jobs
        <span id="secondary-dropdown"></span>
    </h1>
    {% endifusergroup %}
{% endblock %}
{% block content %}{% endblock %}
{% block footer %}
    {% ifusergroup carthageStaffStatus carthageFacultyStatus %}
        {{block.super}}
    {% endifusergroup %}
{% endblock %}
