{% extends "jobpost/base.html" %}
{% block title %}Post Departments{% endblock %}
{% block content %}
<div class="buffer">
    <h2 class="page_title clear">Posting Departments</h2>
    <ul class="link_list">
      {% for department in object_list %}
      <li><a href="{{ department.get_absolute_url }}">{{ department }}</a></li>
      {% endfor %}
    </ul>
    {% if is_paginated %}
    <p class="pagination">
        {% if has_next %}
        <a class="older" href="?page={{ next }}">Next Deparments</a>
        {% endif %}
        {% if has_next and has_previous %} | {% endif %}
        {% if has_previous %}
        <a class="newer" href="?page={{ previous }}">Previous Deparments</a>
        {% endif %}
    </p>
    {% endif %}
</div>
{% endblock %}
