{% extends "jobpost/base.html" %}
{% block title %}Posts for the {{ department.name }} department{% endblock %}
{% block content %}
    {% if object_list %}
    <h2 class="page_title">Posts for the {{ department.name }} department</h2>
    <div class="link_list">
        {% for post in object_list %}
        <div>
        <h3 class="title">
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </h3>
        <p class="description">{{ post.description }}</p>
        <hr />
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h2 class="page_title">No Posts Found For This Department</h2>
    {% endif %}
    {% if is_paginated %}
    <p class="pagination">
    {% if has_next %}
    <a class="older" href="?page={{ next }}">
        Older Job posts in the {{ department.title }} department
    </a>
    {% endif %}
    {% if has_next and has_previous %} | {% endif %}
    {% if has_previous %}
    <a class="newer" href="?page={{ previous }}">
        Newer Job posts in the {{ department.title }} department
    </a>
    {% endif %}
    </p>
    {% endif %}
    </div>
{% endblock %}
