{% extends "jobpost/add_form.html" %}
{% load ifusergroup %}
{% block title %}{{ post.title }}{% endblock %}
{% block extra_javascript %}
{% ifusergroup Staff Faculty %}
    <script src="//www.carthage.edu/static/vendor/jquery/plugins/jHtmlArea/jHtmlArea-0.8.min.js" type="text/javascript"></script>
    <script src="//www.carthage.edu/static/vendor/jquery/ui/1.11.0/jquery-ui.min.js"
        type="text/javascript" charset="utf-8"></script>
    <script src="//www.carthage.edu/static/vendor/jquery/plugins/jquery.blockUI.js"
        type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        $(function() {
            $("#id_publish, #id_expire_date").datepicker({
                firstDay:0,appendText:"(format yyyy-mm-dd)",
                changeFirstDay:false,dateFormat:"yy-mm-dd",
                showOn:"both",
                buttonImage:"//www.carthage.edu/themes/shared/img/ico/calendar.gif",
                buttonImageOnly:true
            });
            $("textarea").htmlarea({
                toolbar: [
                    "html","bold", "italic", "underline", "superscript",
                    "subscript", "|", "h1", "h2", "h3", "h4", "|", "indent",
                    "outdent", "horizontalrule", "link", "unlink", "|",
                    "orderedList", "unorderedList"
                ]
            });
            $('#apply-form').submit(function(){
                $('input[type=submit]', this).attr('disabled', 'disabled');
            });
            $('#print-link h2').append('<a href="#" id="print">Print</a>');
            $('#print').click(function() {
                window.print();
                return false;
            });
            $( "#dialog-confirm" ).dialog({
                autoOpen: false,
                resizable: false,
                height:200,
                width:400,
                modal: true,
                buttons: {
                    "Delete all applicants": function() {
                        $.ajax ({
                            type: "POST",
                            url: "/forms/job/applicants/delete/",
                            data: {pid:{{post.id}},},
                            cache: false,
                            error:function(xhr, ajaxOptions, thrownError) {
                                $("#dialog-confirm").dialog( "close" );
                                $.blockUI({  message: "<h1>ERROR: "+ thrownError +"</h1>" });
                                $.unblockUI({ fadeOut: 2000 });
                            },
                            success: function() {
                                $("#dialog-confirm").dialog( "close" );
                                $.blockUI({ message: "<h1>Applicants deleted</h1>" });
                                $.unblockUI({ fadeOut: 2000 });
                            }
                        });
                    },
                    Cancel: function() {
                        $( this ).dialog( "close" );
                    }
                }
            });
            $('#dialog-click').click(function() {
                $('#dialog-confirm').dialog('open');
            });
        });
    </script>
{% endifusergroup %}
{% endblock %}
{% block extra_style %}
{% ifusergroup Staff Faculty %}
    <link href="//www.carthage.edu/static/vendor/jquery/ui/1.11.0/jquery-ui.min.css"
        rel="stylesheet" type="text/css" />
    <link href="//www.carthage.edu/static/vendor/jquery/ui/1.11.0/jquery-ui.theme.min.css"
        rel="stylesheet" type="text/css" />
    <link href="//www.carthage.edu/static/vendor/jquery/ui/1.11.0/jquery-ui.structure.min.css"
        rel="stylesheet" type="text/css" />
    <link href="//www.carthage.edu/static/vendor/jquery/plugins/jHtmlArea/jHtmlArea.css"
        rel="stylesheet" type="text/css" />
    <style type="text/css">
    div.growlUI { background: url(//www.carthage.edu/assets/img/ico/check48.png) no-repeat 10px 10px }
    div.growlUI h1, div.growlUI h2 {
    color: white; padding: 5px 5px 5px 75px; text-align: left;
    font-size:1.4em;}
    div.jHtmlArea .ToolBar {width: 470px !important;height:20px;}
    div.jHtmlArea .ToolBar ul li a.custom_disk_button
    {
        background: url(/static/forms/css/disk.png) no-repeat;
        background-position: 0 0;
    }
    div.jHtmlArea { width:500px !important;
        border: solid 1px #ccc; background: #efefef;}
    iframe {width:500px !important;height:300px !important;
        background: #fff;border: solid 1px #ccc;}
</style>
{% endifusergroup %}
<link href="//www.carthage.edu/static/forms/css/djforms.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
<div class="forms-container">
    {% ifusergroup Staff Faculty %}
        <div id="print-link"><h2><a href="#" id="dialog-click" title="You are about to remove all applicants for this job post.">Remove all applicants</a> | </h2></div>
        <div id="dialog-confirm" title="Remove all applicants?">
        <p>
        <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
        You are about to remove all applicants for this job post. Are you certain?
        </p>
        </div>
        <br /><br />
        <h1 class="page_title">{{ post.title }}</h1>
        <dl class="job-detail">
            <dt class="job-header">Job posted on:</dt><dd class="job-data">{{ post.publish|date:"F j, Y" }}</dd>
            <dt class="job-header">Job is for:</dt><dd class="job-data">{{ post.period }}</dd>
            <dt class="job-header">Num. of positions to be filled:</dt><dd class="job-data">{{ post.num_positions }}</dd>
            <dt class="job-header">Ave. amount of hrs per week:</dt><dd class="job-data">{{ post.hours }}</dd>
            <dt class="job-header">Expected pay range:</dt><dd class="job-data">{{ post.pay_grade }}</dd>
            <dt class="job-header">Applicant must be available:</dt><dd class="job-data">{% for k in post.work_days.all %}{{k.name}}{% if not forloop.last%}, {% endif %}{% endfor %}</dd>
            <dt class="job-header">Dept. in charge of position:</dt><dd class="job-data">{{ post.hiring_department }}</dd>
            <dt class="job-header">Supervisor name:</dt><dd class="job-data">{{ post.supervisor_name }}</dd>
            <dt class="job-header">Supervisor phone:</dt><dd class="job-data">{{ post.supervisor_phone }}</dd>
            <dt class="job-header">Supervisor email:</dt><dd class="job-data"><a href="mailto:{{ post.supervisor_email }}">{{ post.supervisor_email }}</a></dd>
            <dt class="job-header">Description of the job:</dt><dd class="clear"></dd>
            <dd class="description">{{ post.description }}</dd>
            <dt class="job-header">Purpose of the job:</dt><dd class="clear"></dd>
            <dd class="description">{{ post.purpose_of_job }}</dd>
            <dt class="job-header">Duties and Responsibilities:</dt><dd class="clear"></dd>
            <dd class="description">{{ post.duties_resp }}</dd>
            <dt class="job-header">Qualifications:</dt><dd class="clear"></dd>
            <dd class="description">{{ post.qualifications }}</dd>
        </dl>
        <hr />
        {% ifequal user.username post.creator.username %}
            {% include "includes/required_text.html" %}
            {% include "includes/errors_text.html" %}
            <form method="post" action="." class="form">{% csrf_token %}
                <fieldset class="blockLabels">
                    <ol>
                        {% for field in form %}
                        <span class="error-message">*** {{ field.errors|join:", "}}</span>
                            {% if not field.is_hidden %}
                                {% include "form_field.inc.html" %}
                            {% else %}
                                <li style="display:none;">{{field}}</li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </fieldset>
                {% include "form_submit.inc.html" %}
            </form>
            <br />
            <hr />
            <h2>List of applications </h2>
            {% for jobapplyform in object_list %}
                <div>
                <dl class="job-detail">
                    <dt class="job-header">Application submitted:</dt><dd class="job-data">{{ jobapplyform.apply_date|date:"F j, Y" }}</dd><dd class="clear"></dd>
                    <dt class="job-header">Name:</dt><dd class="job-data">{{ jobapplyform.first_name }} {{ jobapplyform.last_name }}</dd><dd class="clear"></dd>
                    <dt class="job-header">Email:</dt><dd class="job-data"><a href="mailto:{{ jobapplyform.email }}">{{ jobapplyform.email }}</a></dd><dd class="clear"></dd>
                    <dt class="job-header">Address:</dt><dd class="job-data"><pre style="font-size:1.3em;">{{ jobapplyform.address }}</pre></dd><dd class="clear"></dd>
                    <dt class="job-header">Phone:</dt><dd class="job-data">{{ jobapplyform.phone }}</dd><dd class="clear"></dd>
                    <dt class="job-header">Carthage ID:</dt><dd class="job-data">{{ jobapplyform.college_id }}</dd><dd class="clear"></dd>
                    <dt class="job-header">Year:</dt><dd class="job-data">{{ jobapplyform.college_year }}</dd><dd class="clear"></dd>
                    <dt class="job-header">Major:</dt><dd class="job-data">{{ jobapplyform.major }}</dd><dd class="clear"></dd>
                    <dt class="job-header">Hours:</dt><dd class="job-data">{{ jobapplyform.hours }}</dd><dd class="clear"></dd>
                    <dt class="job-header">R&eacute;sum&eacute;:</dt><dd class="job-data">{% if jobapplyform.cv %}<a href="{{media_url}}{{ jobapplyform.cv }}">Click here to download</a></a>{% endif %}</dd><dd class="clear"></dd>
                    <dt class="job-header">Student qualifications:</dt><dd class="clear"></dd>
                </dl>
                <p>{{ jobapplyform.app_details }}</p>
                <hr />
                </div>
            {% endfor %}
        {% endifequal %}
        {% if perms.jobpost.can_manage %}
            <div id="list_of_applications">
            <h1>List of applications </h1>
            {% for jobapplyform in object_list %}
                <div>
                <dl class="job-detail">
                    <dt class="job-header">Submitted:</dt><dd class="job-data">{{ jobapplyform.apply_date|date:"F j, Y" }}</dd><dd class="clear"></dd>
                    <dt class="job-header">Name:</dt><dd class="job-data">{{ jobapplyform.first_name }} {{ jobapplyform.last_name }}</dd><dd class="clear"></dd>
                    <dt class="job-header">Email:</dt><dd class="job-data"><a href="mailto:{{ jobapplyform.email }}">{{ jobapplyform.email }}</a></dd><dd class="clear"></dd>
                    <dt class="job-header">Address:</dt><dd class="job-data"><pre style="font-size:1.3em;">{{ jobapplyform.address }}</pre></dd><dd class="clear"></dd>
                    <dt class="job-header">Phone:</dt><dd class="job-data">{{ jobapplyform.phone }}</dd><dd class="clear"></dd>
                    <dt class="job-header">Carthage ID:</dt><dd class="job-data">{{ jobapplyform.college_id }}</dd><dd class="clear"></dd>
                    <dt class="job-header">Year:</dt><dd class="job-data">{{ jobapplyform.college_year }}</dd><dd class="clear"></dd>
                    <dt class="job-header">Major:</dt><dd class="job-data">{{ jobapplyform.major }}</dd><dd class="clear"></dd>
                    <dt class="job-header">Hours:</dt><dd class="job-data">{{ jobapplyform.hours }}</dd><dd class="clear"></dd>
                    <dt class="job-header">R&eacute;sum&eacute;:</dt><dd class="job-data">{% if jobapplyform.cv %}<a href="{{media_url}}{{ jobapplyform.cv }}">Click here to download</a></a>{% endif %}</dd><dd class="clear"></dd>
                    <dt class="job-header">Student qualifications:</dt><dd class="clear"></dd>
                </dl>
                <p>{{ jobapplyform.app_details }}</p>
                <hr />
                </div>
            {% endfor %}
            </div>
        {% endif %}
    {% else %}
        {% if post.active %}
            <h1 class="page_title">{{ post.title }}</h1>
            <dl class="job-detail">
                <dt class="job-header">Job posted on:</dt><dd class="job-data">{{ post.publish|date:"F j, Y" }}</dd><dd class="clear"></dd>
                <dt class="job-header">Job is for:</dt><dd class="job-data">{{ post.period }}</dd><dd class="clear"></dd>
                <dt class="job-header">Number of positions to be filled:</dt><dd class="job-data">{{ post.num_positions }}</dd><dd class="clear"></dd>
                <dt class="job-header">Average amount of hours per week:</dt><dd class="job-data">{{ post.hours }}</dd><dd class="clear"></dd>
                <dt class="job-header">Expected pay range:</dt><dd class="job-data">${{ post.pay_grade }}</dd><dd class="clear"></dd>
                <dt class="job-header">Applicant should be available to work:</dt><dd class="job-data">{% for k in post.work_days.all %}{{k.name}}{% if not forloop.last%}, {% endif %}{% endfor %}</dd><dd class="clear"></dd>
                <dt class="job-header">Department in charge of position:</dt><dd class="job-data">{{ post.hiring_department }}</dd><dd class="clear"></dd>
                <dt class="job-header">Supervisor name:</dt><dd class="job-data">{{ post.supervisor_name }}</dd><dd class="clear"></dd>
                <dt class="job-header">Supervisor phone:</dt><dd class="job-data">{{ post.supervisor_phone }}</dd><dd class="clear"></dd>
                <dt class="job-header">Supervisor email:</dt><dd class="job-data"><a href="mailto:{{ post.supervisor_email }}">{{ post.supervisor_email }}</a></dd><dd class="clear"></dd>
                <dt class="job-header">Description of the job:</dt><dd class="clear"></dd>
                <dd class="description">{{ post.description }}</dd>
                <dt class="job-header">Purpose of the job:</dt><dd class="clear"></dd>
                <dd class="description">{{ post.purpose_of_job }}</dd>
                <dt class="job-header">Duties and Responsibilities:</dt><dd class="clear"></dd>
                <dd class="description">{{ post.duties_resp }}</dd>
                <dt class="job-header">Qualifications:</dt><dd class="clear"></dd>
                <dd class="description">{{ post.qualifications }}</dd>
            </dl>
            <hr />
            <h3 style="color: green;">
                Complete the form below to apply for this job.
            </h3>
            {% include "includes/required_text.html" %}
            {% include "includes/errors_text.html" %}
            <form id="apply-form" method="post" action="." class="form"
                enctype="multipart/form-data">{% csrf_token %}
                <fieldset class="blockLabels">
                    <ol>
                        {% for field in form %}
                            {% include "form_field.inc.html" %}
                        {% endfor %}
                    </ol>
                </fieldset>
                {% include "form_submit.inc.html" %}
            </form>
        {% else %}
            <h1>THIS POST IS NOT CURRENTLY AVAILABLE</h1>
        {% endif %}
    {% endifusergroup %}
    {% if is_paginated %}
    <p class="pagination">
    {% if has_next %}
    <a class="older" href="?page={{ next }}">Older Job applications</a>
    {% endif %}
    {% if has_next and has_previous %} | {% endif %}
    {% if has_previous %}
    <a class="newer" href="?page={{ previous }}">Newer Job applications</a>
    {% endif %}
    </p>
    {% endif %}
</div>
{% endblock %}
