{% extends "jobpost/add_form.html" %}
{% block title %}Manage Job Posts{% endblock %}
{% block content %}
    <div class="forms-container">
        <h2 class="page_title">
            Manage Job &nbsp;&nbsp;&nbsp;
            <a href="http://www.carthage.edu/forms/job/{{original.id}}/">
                <img src="http://www.carthage.edu/assets/img/ico/silk/icons/printer.png" />
            </a>
        </h2>
        <p>
            <u>Department Information</u>
        </p>
        <p>
            Department Name: {{original.hiring_department.name}}<br />
            Department Number: {{original.hiring_department.number}}<br />
            Contact Name: {{original.hiring_department.contact_name}}<br />
            Contact phone: {{original.hiring_department.contact_phone}}
        </p>
        <h3 style="color: green;">
            Complete the form below to change the data for this job.
        </h3>
        {% include "includes/required_text.html" %}
        {% include "includes/errors_text.html" %}
        <div class="forms-container">
        <form method="post" action="." class="form">{% csrf_token %}
            <fieldset class="blockLabels">
                <ol>
                    {% for field in form %}
                        {% if not field.is_hidden %}
                            {% include "form_field.inc.html" %}
                        {% endif %}
                    {% endfor %}
                </ol>
            </fieldset>
            {% include "form_submit.inc.html" %}
        </form>
        </div>
    </div>
{% endblock %}
