<pre style="font-size:1.5em;">
First Name.................. {{contact.first_name}}
Last Name................... {{contact.last_name}}
Cohort.......................{{contact.cohort}}
Address..................... {{contact.address}}
City........................ {{contact.city}}
State....................... {{contact.state}}
Zip......................... {{contact.postal_code}}
Email....................... {{contact.email}}
Phone....................... {{contact.phone}}

Professional Update:

Current Employer............ {{contact.employer}}
Job Title................... {{contact.job_title}}

Job Duties:

{{contact.job_duties}}

Licensure:

{{contact.licensure}}

Professional Achievements:

{{contact.achievements}}

Favorite Memory about your time at LUC/Carthage:

{{contact.memory}}

Brief Update: What has happened since you graduated?

{{contact.update}}
</pre>
