{% extends "base.html" %}
{% block title %}
    Nomination &mdash; Distinguished Alumni Awards &mdash;
    Alumni &mdash; Carthage College
{% endblock %}
{% block extra_style %}
    <link href="//www.carthage.edu/static/vendor/jquery/plugins/jHtmlArea/jHtmlArea.css"
        rel="stylesheet" />
{% endblock %}
{% block extra_javascript %}
    <script src="//www.carthage.edu/static/vendor/jquery/plugins/jHtmlArea/jHtmlArea-0.8.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $("#id_nominee-description").htmlarea({
                toolbar: [
                    "html","bold", "italic", "underline", "superscript",
                    "subscript", "|", "h1", "h2", "h3", "h4", "|", "indent",
                    "outdent", "horizontalrule", "link", "unlink", "|",
                    "orderedList", "unorderedList"
                ]
            });
        });
    </script>
{% endblock %}
{% block group_name %}Alumni{% endblock %}
{% block left_nav %}
    {% include "alumni/left_nav.html" %}
{% endblock %}
{% block sidebar %}
{% endblock %}
{% block content_head %}
<h1 id="page_title">
    Distinguished Alumni Awards
</h1>
{% endblock %}
{% block content %}
<div class="forms-container">
    <h2>Nomination Form</h2>
    <p>
        We encourage and invite members of the Carthage community to nominate
        individuals for Distinguished Alumni Awards. Please do not inform
        candidates that they are being considered. The Alumni Office will
        accept applications at any time during the year; however, any
        nominations received after Jan. 15 will be carried over to the
        following year. There are a limited number of awards presented each
        year. Therefore, not everyone nominated will receive an award. If you
        have any questions, contact Mardell Fisher at (800) 551-1518 or send an
        e-mail to:
        <a href="mailto:alumnioffice@carthage.edu">alumnioffice@carthage.edu</a>.
    </p>
    <p>
        If you would like to submit a nomination, please complete the form
        below. Include any information on how the person has distinguished
        himself or herself, and all other pertinent information about the
        nominee.
    </p>
    <p>
        Be as specific as possible and provide factual statements,
        lists of offices held, hours of voluntary service, or accomplishments
        that directly benefit the individual's church, alma mater, or
        society.
    </p>
    <p>Nominations remain confidential.</p>
    <h2>Award Criteria</h2>
    <h4>
        Distinguished Alumni Achievement Award &#8212;
        Recognition of Career Achievement
    </h4>
    <p>
        Presented to individuals who have achieved and maintained extremely
        high stations in their chosen  profession. This criterion includes
        offering a service or product of meaningful value; significant
        professional publication or artistic achievement; or advancements
        in scientific research, discovery and exploration.
    </p>
    <h4>
        Distinguished Alumni Service Award &#8212;
        Recognition of outstanding Volunteer Service
    </h4>
    <p>
        Presented to individuals who have made valuable contributions to
        Carthage, their communities or church. This award recognizes alumni
        working on behalf of Carthage through alumni programs, advisory
        committees, or other efforts that advance the College. The award
        also will consider those whose church or community leadership or
        other volunteer service has benefited society significantly and
        reflected favorably on Carthage.
    </p>
    {% include "includes/required_text.html" %}
    {% if nominee_form.errors %}
        <p class="error">
            There were errors with the data submitted, see below.
        </p>
    {% endif %}
    <form method="post" action="." class="form" id="profile">{% csrf_token %}
        <fieldset class="blockLabels">
            <label><h4>Nominee Information</h4></label>
            <ol>
                {% for field in nominee_form %}
                    {% include "form_field.inc.html" %}
                {% endfor %}
            </ol>
        </fieldset>
        <fieldset class="blockLabels">
            <label><h4>Nominated By</h4></label>
            <ol>
                {% for field in nominator_form %}
                    {% include "form_field.inc.html" %}
                {% endfor %}
            </ol>
        </fieldset>
        <fieldset class="blockLabels">
            <ol>
                <li class="btnHolder">
                    <label for="id_submit">&nbsp;&nbsp;</label>
                    <input type="submit" value="Submit Request" class="button" />
                </li>
            </ol>
        </fieldset>
    </form>
</div>
{% endblock %}
