{% extends "admin/base.html" %}
{% load i18n %}
{% block extrabody %}
    <script type="text/javascript" src="{% url jsi18n %}"></script>
    {{ form.media }}
{% endblock %}
{% block content %}
    <form id="contact" method="post" action="">
        {% for field in form %}
            {{ field.label_tag }}:   {{ field }} <br /><br />
        {% endfor %}
        {% for user in users %}
            <p>o {{user.username}}</p>
        {% endfor %}
        <button type="submit" class="submit">{% trans "send" %}</button>
    </form>
{% endblock %}
