{% extends "communications/printrequest/form.html" %}
{% block content %}
    <h2>Thank you! Your submission has been received.</h2>
    <p>
    We have received your request for a print project. You will receive
    a detailed confirmation by email. If you have any questions, please
    do not hesitate to contact the Office of Communications.
    </p>
    <p>
    As a reminder, if you need a mailing list for your project, you must
    contact the Office of Institutional Advancement and coordinate your
    request within their established guidelines and procedures. Advancement
    requires two weeks lead time to produce a mail file. Requests can be
    submitted via the
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSexcu_M5TMphO4KpoKXNdchSzaeYWrjSHBoAKrL15M6YdtUGA/viewform">
        Advancement Office List Request Form
    </a>.
    If the Office of Communications coordinates your mailing list with a mail
    house, we need your mailing list at least one week before the mail date.
    </p>
{% endblock %}
