<pre style="font-size:1.1em;">
Name........................ {{data.user.first_name}} {{data.user.last_name}}
Groups...................... {% for group in data.user.groups.all %}{% if group.name == "Staff" or group.name == "Faculty" or group.name == "Students" %}{{ group.name}}{% if not forloop.last %}, {% endif %}{% endif %}{% endfor %}
Email....................... {{data.user.email}}
Department.................. {{data.department}}
Phone....................... {{data.phone}}
</pre>

<h4>What is the name of your project?</h4>
<p>{{data.project_name}}</p>

<h4>Briefly describe the purpose of your request:</h4>
<p>{{data.project_purpose}}</p>


{% if data.file_1 %}
<h4 style="clear:both;">
    <a href="https://www.carthage.edu/assets/{{data.file_1}}">File 1</a>
</h4>
{% endif %}
{% if data.file_2 %}
<h4>
    <a href="https://www.carthage.edu/assets/{{data.file_2}}">File 2</a>
</h4>
{% endif %}
{% if data.file_3 %}
<h4>
    <a href="https://www.carthage.edu/assets/{{data.file_3}}">File 3</a>
</h4>
{% endif %}
{% if data.file_4 %}
<h4>
    <a href="https://www.carthage.edu/assets/{{data.file_4}}">File 4</a>
</h4>
{% endif %}
