<pre style="font-size:1.1em;">
Date........................ {{data.date_created}}
Name........................ {{data.user.first_name}} {{data.user.last_name}}
Groups...................... {% for group in data.user.groups.all %}{% if group.name == "Staff" or group.name == "Faculty" or group.name == "Students" %}{{ group.name}}{% if not forloop.last %}, {% endif %}{% endif %}{% endfor %}
Email....................... {{data.user.email}}
Department.................. {{data.department}}
Account #................... {{data.account}}
Phone....................... {{data.phone}}
Require Estimate?........... {{data.estimate}}
Delivery date............... {{data.delivery_date}}
</pre>

<h4>Project name</h4>
<p>{{data.project_name}}</p>

<h4>Briefly describe the purpose of your request</h4>
<p>{{data.project_purpose}}</p>

<h4>Target audience</h4>
<p>{{data.target_audience}}</p>

<h4>Secondary audience</h4>
<p>{{data.secondary_audience}}</p>

<h4>Print format</h4>
<p>{{data.print_format}}</p>
{% if data.print_format_other %}
<h4>If "Other" print format, what kind?</h4>
<p>{{data.print_format_other}}</p>
{% endif %}
<h4>What is the quantity for each format?</h4>
<p>{{data.format_quantity}}</p>

<h4>Special instructions</h4>
<p>{{data.special_instructions}}</p>

<h4>
    If the Office of Communications coordinates your mailing
    with a mail house, we need your mailing list at least
    one week before the mail date. It is your responsibility
    to coordinate the request from Institutional Advancement
    within their established guidelines and procedures.
</h4>
<p>{{data.consent}}</p>

<h4>Is this project being mailed?</h4>
<p>{{data.is_mailing}}</p>
{% if data.is_mailing == "Yes" %}
<h4>Who is mailing?</h4>
<p>{{data.who_mailing}}</p>

<h4>How is this being mailed?</h4>
<p>{{data.how_mailing}}</p>

<h4>How is your piece to be mailed?</h4>
<p>{{data.speed_mailing}}</p>
{% endif %}

<h4>Are you submitting any files with this print request?</h4>
<p>{{data.attachments}}</p>

{% if data.file_1 %}
<h4 style="clear:both;">
    File: 1
    <a href="https://www.carthage.edu/assets/{{data.file_1}}">
    {{data.file_1}}
    </a>
</h4>
{% endif %}
{% if data.file_2 %}
<h4>
    File: 2
    <a href="https://www.carthage.edu/assets/{{data.file_2}}">
    {{data.file_2}}
    </a>
</h4>
{% endif %}
{% if data.file_3 %}
<h4>
    File: 3
    <a href="https://www.carthage.edu/assets/{{data.file_3}}">
    {{data.file_3}}
    </a>
</h4>
{% endif %}
{% if data.file_4 %}
<h4>
    File: 4
    <a href="https://www.carthage.edu/assets/{{data.file_4}}">
    {{data.file_4}}
    </a>
</h4>
{% endif %}
