{% extends "base.html" %}
{% block title %}
    Print Request Form
{% endblock %}
{% block extra_style %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"
    rel="stylesheet">
<link href="//www.carthage.edu/static/vendor/bootstrap-select/bootstrap-select.min.css"
    rel="stylesheet" type="text/css" />
<link href="//www.carthage.edu/static/vendor/jquery/ui/datepicker/css/smoothness/jquery-ui-1.10.4.custom.min.css"
    rel="stylesheet" type="text/css" />
{% endblock %}
{% block extra_javascript %}
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//www.carthage.edu/static/vendor/jquery/ui/datepicker/js/jquery-ui-1.10.4.custom.min.js"
    type="text/javascript" charset="utf-8"></script>
<script src="//www.carthage.edu/static/vendor/bootstrap-select/bootstrap-select.min.js"></script>
<script type="text/javascript" charset="utf-8">
$(function() {
    // multiple select picker
    $('#id_print_format').selectpicker();
    // date picker
    $("#id_delivery_date").datepicker({
        firstDay:1,
        changeFirstDay:false,dateFormat:"yy-mm-dd",
        showOn:"both",
        buttonImage:"//www.carthage.edu/themes/shared/img/ico/calendar.gif",
        buttonImageOnly:true
    });
});
</script>
{% endblock %}
{% block left_nav %}
    {% include "communications/left_nav.html" %}
{% endblock %}
{% block content_head %}
    <h1 id="page_title">
        Print request form
        <span id="secondary-dropdown"></span>
    </h1>
    <style type="text/css">
        .hidden {
            display:none;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function(){
            if ($("#id_is_mailing").val() == 'Yes')
            {
                $("#toggle-hide").removeClass("hidden");
            }
           $("#id_is_mailing").change(function(){
                var value = this.value;
                value == "Yes" ? $("#toggle-hide").removeClass("hidden") : $("#toggle-hide").addClass("hidden");
           });
        });
    </script>
{% endblock %}
{% block content %}
<div class="forms-container large-8 medium-10 small-12">
    {% include "includes/required_text.html" %}
    {% include "includes/errors_text.html" %}
    <form method="post" action="." class="form"
        id="profile" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="blockLabels">
            <h2>Account Information</h2>
            <ol>
                <li>
                    &nbsp;<strong>Your name:</strong>
                    {{request.user.first_name}} {{request.user.last_name}}
                </li>
                {% for field in form.visible_fields %}
                    {% if field.name == 'name' or field.name == 'department' or field.name == 'phone' or field.name == 'email' or field.name == 'account' %}
                        {% include "form_field.inc.html" %}
                    {% endif %}
                {% endfor %}
            </ol>
        </fieldset>
        <hr>
        <fieldset class="blockLabels">
            <h2>Project Information</h2>
            <ol>
                {% for field in form.visible_fields %}
                    {% if field.name == 'estimate' or field.name == 'project_name' or field.name == 'project_purpose' or field.name == 'target_audience' or field.name == 'secondary_audience'%}
                        {% include "form_field.inc.html" %}
                    {% endif %}
                {% endfor %}
            </ol>
        </fieldset>
        <hr>
        <fieldset class="blockLabels">
            <h2>Expediting Information</h2>
            <ol>
                {% for field in form.visible_fields %}
                    {% if field.name == 'print_format' or field.name == 'format_quantity' or field.name == 'special_instructions' or field.name == 'delivery_date' or field.name == 'delivery_location' or field.name == 'delivery_instructions' or field.name == 'consent' or field.name == 'is_mailing'%}
                        {% include "form_field.inc.html" %}
                    {% endif %}
                {% endfor %}
                <div id="toggle-hide" class="hidden">
                    {% for field in form.visible_fields %}
                        {% if field.name == 'who_mailing' or field.name == 'how_mailing' or field.name == 'speed_mailing'%}
                            {% include "form_field.inc.html" %}
                        {% endif %}
                    {% endfor %}
                </div>
            </ol>
        </fieldset>
        <hr>
        <fieldset>
            <h2>File Uploads</h2>
            <p>
                You may upload up to four files. If you have more than four,
                please send them to
                <a href="mailto:communications@carthage.edu">
                    the communications office.
                </a>
            </p>
            <ol>
                {% for field in form.visible_fields %}
                    {% if field.name == 'file_1' or field.name == 'file_2' or field.name == 'file_3' or field.name == 'file_4'%}
                        {{ field.label }}
                        {{ field }}<br />
                    {% endif %}
                {% endfor %}
            </ol>
        </fieldset>
        I am responsible for fact-checking the spelling of names and titles,
        dates, times, locations, URLs, etc. I will provide adequate lead-time
        for each project and submit final and approved concepts, copy, and assets
        by the set deadlines. I understand that missing deadlines or making
        changes that result in more than two proofs will result in a delay of project completion date.
        {% include "form_submit.inc.html" %}
    </form>
</div>
<div class="column2 large-4 medium-6 small-12">
    {% include "communications/side_bar.html" %}
</div>
{% endblock %}
