{% extends "djbootmin/base.html" %}
{% block extra_style %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    rel="stylesheet">
<link href="https://www.carthage.edu/themes/shared/css/tables.css"
    rel="stylesheet" type="text/css">
<!-- print CSS -->
<link href="https://www.carthage.edu/themes/shared/css/print.css"
    rel="stylesheet">
<style type="text/css">
.bg-boot{background-color:#563d7c;}
#page-wrapper{margin:0;padding:0;}
.panel-primary > .panel-heading { color: inherit; }
.btn {padding: .1rem .2rem;font-size:inherit;}
.card-body { padding: .5rem; }
.card-body select { width: 100%; }
.card-header { font-size:1.2em; padding: .25rem .5rem;}
.card-footer { padding: .25rem .5rem;}
.card {min-height: 160px;}
.content-wrapper { margin-top:60px; }
nav a {color: #cbbde2;}
nav a:hover {color:#fff;}
nav .input-group-btn {font-size:1.3em;}
.navbar-toggler-icon {color:yellow;}
.dropdown-menu {padding: 5px; background-color:#563d7c;}
.dropdown, .dropup { padding: 3px; }
.success a { color: #007bff; }
.panel-primary > .panel-heading {color: inherit;}
.btn {padding: .1rem .2rem;font-size:inherit;}
dt, dd {line-height:.85em;}
dt {overflow: hidden; white-space: nowrap;}
dd {overflow: hidden;white-space: nowrap;}
dt:after {
  content: " ..................................................................................";
  color: #cacaca;
}
pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
/* Overrides for BS form classes */
.form-group.required .control-label:after {
  content:"*";
  color:red;
}
.form-group .control-label { font-weight:700; }
</style>
{% endblock %}
{% block extra_javascript %}
<script>
$(function() {
  $("body").toggleClass("sidenav-toggled");
});
</script>
{% endblock %}
{% block body_tag %}{% endblock %}
{% block content %}{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block footer %}{% endblock %}
{% block logout %}{% endblock %}
