{% extends "base.html" %}
{% block title %}Forms Home{% endblock %}
{% block left_nav %}
    <ul>
        {% if not user.is_anonymous %}
            <li><a href="/forms/accounts/logout/?next={{request.path}}">Logout</a></li>
        {% else %}
            <li>
                <a href="/forms/accounts/login/?next={{request.path}}">Login</a>
            </li>
        {% endif %}
        {% if user.is_superuser %}
            <li><a href="/forms/admin/">Administration</a></li>
        {% endif %}
    </ul>
{% endblock %}
{% block content_head %}
<h1 id="page_title">Choose from the following options</h1>
{% endblock %}
{% block content %}
    <ul>
        <li><a href="/forms/job/">Jobs Application</a></li>
    </ul>
{% endblock %}
