{% extends "adulted/home.html" %}
{% block title %}Admissions Form &mdash; Adult Education &mdash; Carthage College{% endblock %}
{% block jquery %}<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>{% endblock %}
{% block extra_javascript %}
<script src="/static/forms/apps/InFieldLabels/jquery.infieldlabel.min.js" type="text/javascript"></script>
<script type="text/javascript">
    var doop = {{doop}};
    $(function() {
    {% if education_goals_form.data.session7 %}
        $('input[name=session14]:radio').attr('disabled', 'disabled');
    {% endif %}
    {% if education_goals_form.data.session14 %}
        $('input[name=session7]:radio').attr('disabled', 'disabled');
    {% endif %}
    {% if education_goals_form.data.program == "7" %}
        $('#id_program_1').attr('disabled', 'disabled');
    {% endif %}
    {% if education_goals_form.data.program == "14" %}
        $('#id_program_0').attr('disabled', 'disabled');
    {% endif %}
    });
</script>
<script src="/static/forms/js/adulted/admissions.js" type="text/javascript"></script>
{% endblock %}
{% block extra_style %}
<style type="text/css">
/* app specific css */
#second {width:745px;padding-right:0px;}
#fourth {float:left;overflow:hidden;padding-top:20px;180px; }
#second ol { list-style-type: decimal;}
#second ul { margin: 0; }
#second .form ol {margin:0; list-style: none outside none;}
#second .form ol li {margin-left: 0;}
#second h2 { color: #000000; font-size: 1.4em; font-weight: normal; }
#second h1 { margin-top: 1em; }
#second p { line-height: 1.4; }
#id_state {border: 2px solid #f0dddd !important;background:#faf5f5;}
#id_state:hover {border: 2px solid #d7d0a0 !important;}
#id_state:focus {border: 2px solid #6caf2a !important;}
#doop_master {display: none;}
{% if fee_form.data.payment_type == "Credit Card" %}#payment-details { display:inherit; }{% else %}#payment-details { display:none; }{% endif %}
</style>
<link href="/static/forms/css/djforms.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
<div id="second">
<div class="buffer">
    {% if personal_form.errors or contact_form.errors or employment_form.errors or education_goals_form.errors or payment_form.errors %}
        <p class="error">There were errors with the data submitted, see below.</p>
    {% endif %}
    <h1>Admissions Form</h1>
    <p style="padding-bottom:10px;"><span class="required">Highlighted fields</span> are required.</p>
    <form method="post" action="." class="form" id="profile">{% csrf_token %}
        <fieldset class="blockLabels">
            <div class="dotholder">
                <div class="dot active">1</div>
                <div class="dot">2</div>
                <div class="dot">3</div>
                <div class="dot">4</div>
                <div class="dot">5</div>
                <div class="dot">6</div>
            </div>
            <h2>Contact Information</h2>
            <h3>Name</h3>
            <ul class="inline">
                <li><label for="id_first_name" class="placeholder">First name</label><br />
                <input class="medium required{% if contact_form.first_name.errors %} error{% endif %}" id="id_first_name" type="text" name="first_name" placeholder="First name" maxlength="100" value="{{contact_form.data.first_name}}" {% if not template_debug %}required {% endif %}/></li>
                <li><label for="id_middle_name" class="placeholder">Middle name</label><br />
                <input class="medium" id="id_middle_name" type="text" name="middle_name" placeholder="Middle name" maxlength="100" value="{{contact_form.data.middle_name}}" /></li>
                <li><label for="id_last_name" class="placeholder">Last name</label><br />
                <input class="medium required{% if contact_form.last_name.errors %} error{% endif %}" id="id_last_name" type="text" name="last_name" placeholder="Last name" maxlength="100" value="{{contact_form.data.last_name}}" {% if not template_debug %}required {% endif %}/></li>
                <li><label for="id_previous_last_name" class="placeholder">Previous last name</label><br />
                <input class="medium" id="id_previous_last_name" type="text" name="previous_last_name" placeholder="Previous last name" maxlength="100" value="{{contact_form.data.previous_last_name}}" /></li>
            </ul>
            <h3>Address</h3>
            <ul class="inline">
                <li><label for="id_address1" class="placeholder">Address</label><br />
                <input class="large required{% if contact_form.address1.errors %} error{% endif %}" id="id_address1" type="text" name="address1" placeholder="Address" maxlength="255" value="{{contact_form.data.address1}}" {% if not template_debug %}required {% endif %}/></li>
                <li><label for="id_address2" class="placeholder">Address 2</label><br />
                <input class="large" id="id_address2" type="text" name="address2" placeholder="Address 2" maxlength="255" value="{{contact_form.data.address2}}" /></li>
            </ul>
            <ul class="inline">
                <li><label for="id_city" class="placeholder">City</label><br />
                <input class="small required{% if contact_form.city.errors %} error{% endif %}" id="id_city" type="text" name="city" placeholder="City" maxlength="255" value="{{contact_form.data.city}}" /></li>
                <li>{{contact_form.state}} {% if contact_form.state.errors %} <span class="error">State Required</span>{% endif %}</li>
                <li><label for="id_postal_code" class="placeholder">Zip</label><br />
                <input class="small required{% if contact_form.postal_code.errors %} error{% endif %}" id="id_postal_code" type="text" name="postal_code" placeholder="Zip" maxlength="10" value="{{contact_form.data.postal_code}}" {% if not template_debug %}required {% endif %}/> {% if contact_form.postal_code.errors %}<span class="error">Format: XXXXX</span>{% endif %}</li>
            </ul>
            <ul class="inline">
                <li><label for="id_email" class="placeholder">Email</label><br />
                <input class="large required{% if contact_form.email.errors %} error{% endif %}" id="id_email" type="email" name="email" placeholder="Email" maxlength="255" value="{{contact_form.data.email}}" {% if not template_debug %}required {% endif %}/></li>
                <li><label for="id_phone" class="placeholder">Phone: xxx-xxx-xxxx</label><br />
                <input class="large required{% if contact_form.phone.errors %} error{% endif %}" id="id_phone" type="text" name="phone" placeholder="Phone: xxx-xxx-xxxx" maxlength="255" value="{{contact_form.data.phone}}" {% if not template_debug %}required {% endif %}/> {% if contact_form.phone.errors %}<span class="error">Format: XXX-XXX-XXXX</span>{% endif %}</li>
            </ul>
        </fieldset>
        <fieldset class="blockLabels top40">
            <div class="dotholder">
                <div class="dot active">1</div>
                <div class="dot active">2</div>
                <div class="dot">3</div>
                <div class="dot">4</div>
                <div class="dot">5</div>
                <div class="dot">6</div>
            </div>
            <h2>Personal Information</h2>
            <h3 class="required">Gender</h3>
            <ul class="radin">
                <li><label for="id_gender_0"><input class="required" {% if personal_form.data.gender == "Male" %}checked="checked" {% endif %}type="radio" id="id_gender_0" value="Male" name="gender" /> Male</label></li>
                <li><label for="id_gender_1"><input class="required" {% if personal_form.data.gender == "Female" %}checked="checked" {% endif %}type="radio" id="id_gender_1" value="Female" name="gender" /> Female</label></li>
                <li><label for="id_gender_2"><input class="required" {% if personal_form.data.gender == "Decline to state" %}checked="checked" {% endif %}type="radio" id="id_gender_2" value="Decline to state" name="gender" /> Decline to State</label></li>
                {% if personal_form.gender.errors %}<li><span class="error">Choose one</span></li>{% endif %}
            </ul>
            <ul class="inline">
                <li><label for="id_ss_num" class="placeholder">Social security number</label><br />
                <input class="required{% if personal_form.ss_num.errors %} error{% endif %}" style="width:180px;" type="text" name="ss_num" id="id_ss_num" placeholder="Social security number" maxlength="11" value="{{personal_form.data.ss_num}}" {% if not template_debug %}required {% endif %}/>{% if personal_form.ss_num.errors %} <span class="error">xxx-xx-xxxx</span>{% endif %}</li>
                <li><label for="id_dob" class="placeholder">Date of birth: dd/mm/yyyy</label><br />
                <input class="required{% if personal_form.dob.errors %} error{% endif %}" style="width:200px;" type="text" name="dob" id="id_dob" placeholder="Date of birth: dd/mm/yyyy" maxlength="10" value="{{personal_form.data.dob}}" {% if not template_debug %}required {% endif %}/>{% if personal_form.dob.errors %} <span class="error">dd/mm/yyyy</span>{% endif %}</li>
            </ul>
            <ul class="inline">
                <li><label for="id_pob" class="placeholder">Place of birth: city, state, zip, country</label><br />
                <input class="required{% if personal_form.pob.errors %} error{% endif %}" type="text" name="pob" id="id_pob" placeholder="Place of birth: city, state, zip, country" maxlength="255" value="{{personal_form.data.pob}}" {% if not template_debug %}required {% endif %}/></li>
            </ul>
        </fieldset>
        <fieldset class="blockLabels top40">
            <div class="dotholder">
                <div class="dot active">1</div>
                <div class="dot active">2</div>
                <div class="dot active">3</div>
                <div class="dot">4</div>
                <div class="dot">5</div>
                <div class="dot">6</div>
            </div>
            <h2>Employment</h2>
            <ul class="inline">
            <li><label for="id_employer" class="placeholder">Employer</label><br />
            <input class="large" id="id_employer" type="text" name="employer" placeholder="Employer" maxlength="128" value="{{employment_form.data.employer}}" /></li>
            <li><label for="id_position" class="placeholder">Position</label><br />
            <input class="large" id="id_position" type="text" name="position" placeholder="Position" maxlength="128" value="{{employment_form.data.position}}" /></li>
            </ul>
            <h3 class="required" style="margin-top:7px;">Does your employer offer tuition reimbursement?</h3>
            <ul class="radin">
                <li><label for="id_tuition_reimburse_0"><input {% if employment_form.data.tuition_reimburse == "Yes" %}checked="checked" {% endif %}type="radio" id="id_tuition_reimburse_0" value="Yes" name="tuition_reimburse" /> Yes</label></li>
                <li><label for="id_tuition_reimburse_1"><input {% if employment_form.data.tuition_reimburse == "No" %}checked="checked" {% endif %}type="radio" id="id_tuition_reimburse_1" value="No" name="tuition_reimburse" /> No</label></li>
                {% if employment_form.tuition_reimburse.errors %}<li><span class="error">Choose one</span></li>{% endif %}
            </ul>
        </fieldset>
        <fieldset class="blockLabels top40">
            <div class="dotholder">
                <div class="dot active">1</div>
                <div class="dot active">2</div>
                <div class="dot active">3</div>
                <div class="dot active">4</div>
                <div class="dot">5</div>
                <div class="dot">6</div>
            </div>
            <h2>Educational Plans</h2>
            {% if education_goals_form.educationalgoal.errors %}
                <h3 class="error" style="margin:9px 0;">Choose a degree option</h3>
            {% else %}
                <h3 class="required">What degree are you intending to pursue?</h3>
            {% endif %}
            <ul>
                <li><label for="id_educationalgoal_0">
                <input type="radio" id="id_educationalgoal_0" value="1" name="educationalgoal" {% if education_goals_form.data.educationalgoal == "1" %}checked="checked" {% endif %}/>
                I would like to earn my first bachelor&#39;s degree.</label></li>
                <li><label for="id_educationalgoal_1">
                <input type="radio" id="id_educationalgoal_1" value="6" name="educationalgoal" {% if education_goals_form.data.educationalgoal == "6" %}checked="checked" {% endif %}/>
                I already have a bachelor&#39;s degree and now would like to complete an additional major.</label></li>
                <li><label for="id_educationalgoal_2">
                <input type="radio" id="id_educationalgoal_2" value="7" name="educationalgoal" {% if education_goals_form.data.educationalgoal == "7" %}checked="checked" {% endif %}/>
                I would like to take classes for my own personal interest.</label></li>
            </ul>
            <p class="notice">The following programs are only offered in the 14-week format</p>
            <ul>
                <li><label for="id_educationalgoal_3">
                <input type="radio" id="id_educationalgoal_3" value="2" name="educationalgoal" {% if education_goals_form.data.educationalgoal == "2" %}checked="checked" {% endif %}/>
                I would like to earn my first bachelor&#39;s degree and also become certified to teach.</label></li>
                <li><label for="id_educationalgoal_4">
                <input type="radio" id="id_educationalgoal_4" value="3" name="educationalgoal" {% if education_goals_form.data.educationalgoal == "3" %}checked="checked" {% endif %}/>
                I would like to apply to the Master of Education program.</label></li>
                <li><label for="id_educationalgoal_5">
                <input type="radio" id="id_educationalgoal_5" value="4" name="educationalgoal" {% if education_goals_form.data.educationalgoal == "4" %}checked="checked" {% endif %}/>
                I would like to apply to the Accelerated Certification for Teachers program.</label></li>
                <li><label for="id_educationalgoal_6">
                <input type="radio" id="id_educationalgoal_6" value="5" name="educationalgoal" {% if education_goals_form.data.educationalgoal == "5" %}checked="checked" {% endif %}/>
                I already have a bachelor&#39;s degree and now would like to earn certification to teach.</label></li>
            </ul>
            {% if education_goals_form.program.errors %}
                <h3 class="error" style="margin:9px 0;">Choose 7 or 14 week format</h3>
            {% else %}
                <h3 class="required">Choose the scheduling format</h3>
            {% endif %}
            <ul>
                <li><label for="id_program_0">
                <input type="radio" id="id_program_0" value="7" name="program" {% if education_goals_form.data.program == "7" %}checked="checked" {% endif %} />
                7 week format</label></li>
                <li><label for="id_program_1">
                <input type="radio" id="id_program_1" value="14" name="program" {% if education_goals_form.data.program == "14" %}checked="checked" {% endif %} />
                14 week Undergraduate or Graduate</label></li>
            </ul>
            <ol>
            <li>
                {% if education_goals_form.session7.errors %}
                    <h3 class="error" style="margin:9px 0;">{{ education_goals_form.session7.errors|join:", "}}</h3>
                {% else %}
                    <h3 class="required">Choose a Session</h3>
                {% endif %}
            </li>
            <li class="ctrlHolder">
                <h3>Upcoming 7 Week Sessions</h3>
                <div>{{education_goals_form.session7}}</div>
            </li>
            <li class="ctrlHolder">
                <h3>Upcoming 14 Week Sessions</h3>
                <div>{{education_goals_form.session14}}</div>
            </li>
            </ol>
            <h3><label for="id_intended_major">Intended major</label></h3>
            <div>
                <input id="id_intended_major" type="text" name="intended_major" maxlength="128" value="{{education_goals_form.data.intended_major}}" />
            </div>
            <h3><label for="id_intended_minor">Intended minor</label></h3>
            <div>
                <input id="id_intended_minor" type="text" name="intended_minor" maxlength="128" value="{{education_goals_form.data.intended_minor}}" />
            </div>
            <h3><label for="id_certificiation">Intended certification</label></h3>
            <div>
                <input id="id_certificiation" type="text" name="certificiation" maxlength="128" value="{{education_goals_form.data.certificiation}}" />
            </div>
        </fieldset>
        <fieldset class="blockLabels top40">
            <div class="dotholder">
                <div class="dot active">1</div>
                <div class="dot active">2</div>
                <div class="dot active">3</div>
                <div class="dot active">4</div>
                <div class="dot active">5</div>
                <div class="dot">6</div>
            </div>
            <h2>Schools you have attended</h2>
            <div id="doop_master" class="notice">
                {% include "adulted/school_doop.html" %}
            </div>
            <div id="selected_schools">
                <div id="selected_schools_introtext">
                    <p class="notice">Please choose your school(s) from the selections below. Please make sure to click the "ADD" button once you have found your school and entered the appropriate dates. Once you have added a school, it will appear in this box. If a school does not appear in this box, it has not been added to your application. You can list as many schools as necessary.</p>
                    {% if schools %}
                        {% for s in schools %}
                            <div id="doop_master_{{forloop.counter}}" class="notice">
                            {% include "adulted/school_doop.html" %}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div id="selectschool" style="height:200px">
            <h3 style="margin-top:10px;">Please select the state and then city to find your school.</h3>
            <div id="picker">
                <div class="fleft">
                <select name="states" id="states" size="10">
                {% for state in states %}
                <option value="{{state.0}}" >{{state.0}}</option>
                {% endfor %}
                </select>
                </div>
                <div class="fleft">
                    <select name="cities" id="cities" size="10" style="width:250px;"></select>
                </div>
                <div class="fleft">
                    <select name="schools" id="schools" size="10" style="width:250px;"></select>
                </div>
                <div style="clear:both;"></div>
                <input type="hidden" name="school" id="school" value="" />
            </div>
            </div>
            <div id="manualschool" style="display:none;height:200px;">
                <h3 style="margin-top:10px;">Please enter the name of the school and its city and state.</h3>
                <div>
                    <label for="man_school" class="labelpad">School:</label>
                    <input type="text" name="man_school" id="man_school" value="" />
                </div>
                <div>
                    <label for="man_city" class="labelpad">City:</label>
                    <input type="text" name="man_city" id="man_city" value="" />
                </div>
                <div>
                    <label for="man_state" class="labelpad">State:</label>
                    <select name="man_state" id="man_state" size="1">
                        {% for state in states %}
                        <option value="{{state.0}}" >{{state.0}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div style="padding-top:9px;padding-bottom:9px;">
                <input type="button" name="toggle_schools" id="toggle_schools" class="button" value="Click here if your school is not listed" />
            </div>
            <div>
                <label for="from_month_orig" class="labelpad">Attended from:</label>
                <select name="from_month_orig" id="from_month_orig">
                    <option value="0"></option>
                    {% for m,n in months.items %}
                    <option value="{{m}}">{{n}}</option>
                    {% endfor %}
                </select>
                <select name="from_year_orig" id="from_year_orig">
                    <option value="0"></option>
                    {% for year in years1 %}
                        <option value="{{year}}">{{year}}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="to_month_orig" class="labelpad">Attended to:</label>
                <select name="to_month_orig" id="to_month_orig">
                    <option value="0"></option>
                    {% for m,n in months.items %}
                    <option value="{{m}}">{{n}}</option>
                    {% endfor %}
                </select>
                <select name="to_year_orig" id="to_year_orig">
                    <option value="0"></option>
                    {% for year in years2 %}
                        <option value="{{year}}">{{year}}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="grad_month_orig" class="labelpad">Date of graduation:</label>
                <select name="grad_month_orig" id="grad_month_orig">
                    <option value="0"></option>
                    {% for m,n in months.items %}
                    <option value="{{m}}">{{n}}</option>
                    {% endfor %}                   
                </select>
                <select name="grad_year_orig" id="grad_year_orig">
                    <option value="0"></option>
                    {% for year in years2 %}
                        <option value="{{year}}">{{year}}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <input type="button" name="add_school" id="add_school" class="button" value=" ADD " />
            </div>
        </fieldset>
        <fieldset class="blockLabels top40">
            <div class="dotholder">
                <div class="dot active">1</div>
                <div class="dot active">2</div>
                <div class="dot active">3</div>
                <div class="dot active">4</div>
                <div class="dot active">5</div>
                <div class="dot active">6</div>
            </div>
            <h2>Method of Payment</h2>
            <p class="notice">NOTE: The Carthage web site supports secure credit card transactions.</p>
            <h3><label for="id_amount">Application Fee: $10.00</label></h3>
            <input type="hidden" id="id_amount" value="10.00" name="amount" />
            <ul class="radin">
                <li><label for="id_payment_type_0">
                <input type="radio" name="payment_type" value="Credit Card" id="id_payment_type_0" {% if fee_form.data.payment_type == "Credit Card" %}checked="checked" {% endif %}/> Credit Card
                </label></li>
                <li><label for="id_payment_type_1">
                <input type="radio" name="payment_type" value="Check" id="id_payment_type_1" {% if fee_form.data.payment_type == "Check" %}checked="checked" {% endif %}/> Check
                </label></li>
                <li><label for="id_payment_type_2">
                <input type="radio" name="payment_type" value="Cash/Money Order" id="id_payment_type_2" {% if fee_form.data.payment_type == "Cash/Money Order" %}checked="checked" {% endif %}/> Cash/Money Order
                </label></li>
                {% if fee_form.payment_type.errors %}<li><span class="error">Choose a payment type</span></li>{% endif %}
            </ul>
            {% if payment_form.errors and payment_form.non_field_errors and order %}
                <div class="error">{{payment_form.non_field_errors}}</div>
            {% endif %}
            <div id="payment-details">
                <ul class="inline">
                    <li><label for="id_billing_name" class="placeholder">Name on credit card</label><br />
                    <input class="medium required{% if payment_form.billing_name.errors %} error{% endif %}" id="id_billing_name" type="text" name="billing_name" placeholder="Name on credit card" maxlength="100" value="{{payment_form.data.billing_name}}" {% if not template_debug %}required {% endif %}/></li>
                    <li><label for="id_billing_name" class="placeholder">Credit card number</label><br />
                    <input class="medium required{% if payment_form.card_number.errors %} error{% endif %}" id="id_card_number" type="text" name="card_number" placeholder="Credit card number" maxlength="100" value="{{payment_form.data.card_number}}" {% if not template_debug %}required {% endif %}/></li>
                    <li><label for="id_security_code" class="placeholder">3 or 4 digit security code</label><br />
                    <input class="medium required{% if payment_form.security_code.errors %} error{% endif %}" id="id_security_code" type="text" name="security_code" max_length="4" placeholder="3 or 4 digit security code" maxlength="100" value="{{payment_form.data.security_code}}" {% if not template_debug %}required {% endif %}/><span class="help"> (See back of card)</span></li>
                </ul>
                <p>Expiration date</p>
                <div>
                {{payment_form.expiration_month}} {{payment_form.expiration_year}}
                {% if payment_form.expiration_month.errors or payment_form.expiration_year.errors %}
                    <p class="error">Invalid expiration date</p>
                {% endif %}
                </div>
            </div>
        </fieldset>
        <fieldset class="blockLabels">
            <ol>
                <li class="btnHolder">
                    <input type="submit" value="Submit" class="button" />
                </li>
            </ol>
        </fieldset>
    </form>
</div>
</div>
<div id="fourth">
    {% include "adulted/fourth_col.html" %}
</div>
{% endblock %}
