    <input type="button" value="Remove This School" style="margin-top:9px;" class="destroy_school button fright" />
    <input type="hidden" value="college" name="school_type[]">
    <input type="hidden" value="{{s.school_code}}" class="school_code" name="school_code[]">
    <dl class="fleft">
    <dt>Name</dt>
    <dd><input type="text" value="{{s.school_name}}" class="large school_name" name="school_name[]" /></dd>
    <dt>City</dt>
    <dd><input type="text" value="{{s.school_city}}" class="large school_city" name="school_city[]"></dd>
    <dt>State</dt>
    <dd><input type="text" value="{{s.school_state}}" class="large school_state" name="school_state[]"></dd>
    </dl>
    <dl class="fright" style="margin-top:30px;">
        <div>
            <label for="from_month" class="labelpad">Attended from:</label>
            <select name="from_month[]" class="from_month">
                <option value="0"></option>
                {% for m,n in months.items %}
                <option value="{{m}}"{% if s.from_month|add:"0" == m %} selected="selected"{% endif %}>{{n}}</option>
                {% endfor %}
            </select>
            <select name="from_year[]" class="from_year">
                <option value=""></option>
                {% for year in years1 %}
                    <option value="{{year}}"{% if s.from_year|add:"0" == year %} selected="selected"{% endif %}>{{year}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="to_month" class="labelpad">Attended to:</label>
            <select name="to_month[]" class="to_month">
                <option value="0"></option>
                {% for m,n in months.items %}
                <option value="{{m}}"{% if s.to_month|add:"0" == m %} selected="selected"{% endif %}>{{n}}</option>
                {% endfor %}
            </select>
            <select name="to_year[]" class="to_year">
                <option value=""></option>
                {% for year in years2 %}
                    <option value="{{year}}"{% if s.to_year|add:"0" == year %} selected="selected"{% endif %}>{{year}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="grad_month" class="labelpad">Date of graduation:</label>
            <select name="grad_month[]" class="grad_month">
                <option value="0"></option>
                {% for m,n in months.items %}
                <option value="{{m}}"{% if s.grad_month|add:"0" == m %} selected="selected"{% endif %}>{{n}}</option>
                {% endfor %}
            </select>
            <select name="grad_year[]" class="grad_year">
                <option value=""></option>
                {% for year in years2 %}
                    <option value="{{year}}"{% if s.grad_year|add:"0" == year %} selected="selected"{% endif %}>{{year}}</option>
                {% endfor %}
            </select>
        </div>
    </dl>
    <div style="clear:both;"></div>
