{% extends "giving/donation_form.html" %}
{% block content_head %}
    <h1 id="page_title">
        {{campaign.title}}
    </h1>
{% endblock %}
{% block designation %}
<li class="ctrlHolder">
    <h3><label for="id_or-comments">Designation</label></h3>
    <div>
      <select name="or-comments">
        <option>----Select----</option>
        <option value="Nursing Program"{% if or_form.comments.value == 'Nursing Program' %} selected{% endif %}>Nursing Program</option>
        <option value="Nursing Scholarship"{% if or_form.comments.value == 'Nursing Scholarship' %} selected{% endif %}>Nursing Scholarship</option>
      </select>
      <p class="help">
        Please choose a designation.
      </p>
    </div>
</li>
{% endblock %}
