{% load get_api %}
<div id="first">
  <ul id="nav">
    <li>
      <a href="/biology/" title="Biology at Carthage">Biology at Carthage</a>
    </li>
    <li>
      <a href="/biology/news/" title="Department News">Department News</a>
    </li>
    <li>
      <a href="/biology/faculty/" title="Faculty">Faculty</a>
    </li>
    <li>
      <a href="/biology/courses/" title="Courses">Courses</a>
    </li>
    <li class="last-featured">
      <a href="/biology/requirements/" title="Major / Minor Requirements">Major / Minor Requirements</a>
    </li>
    <li>
      <a href="/biology/special-programs/" title="Special Programs">Special Programs</a>
    </li>
    <li>
      <a href="/biology/student-organizations/" title="Dive Into Biology">Dive Into Biology</a>
    </li>
    <li>
      <a href="/biology/student-voices/" title="Meet Our Students">Meet Our Students</a>
    </li>
    <li>
      <a href="/biology/alumni/" title="Meet Our Alumni">Meet Our Alumni</a>
    </li>
    <li>
      <a href="/biology/careers/" title="Your Future in Biology">Your Future in Biology</a>
    </li>
    <li class="last-featured">
      <a href="/biology/videos/" title="Explore in Video">Explore in Video</a>
    </li>
    <li>
      <a href="/biology/paleontology/" title="Paleontology at Carthage">Paleontology at Carthage</a>
    </li>
    <li>
      <a href="/biology/occupational-therapy/" title="Occupational Therapy">Occupational Therapy</a>
    </li>
  </ul>
</div>
