{% extends "base.html" %}
{% load livewhale_api %}
{% block title %}
    {{campaign.title|default:"Giving to Carthage"}}
    Form &mdash; Giving &mdash; Carthage College
{% endblock %}
{% block extra_javascript %}
    {% include "giving/donation_form.inc.js" %}
{% endblock %}
{% block extra_style %}
    <style type="text/css">
    #profile h2 {margin:7px 0 7px 0;font-size:1.6em;background-color:#cacaca;
    padding:3px 0 3px 5px;width:99%;}
    #id_security_code, #id_expiration_month,
    #id_expiration_year {width:70px;}
    #id_or-start_date, #id_ct-postal_code, #id_or-total, #pledge_total {width:100px;}
    li.ctrlHolder div ul li {display: inherit; padding-right:3px;}
    .cost, #pledge_total_help { font-weight:bold; color:green; }
    #pledge_total_help { margin-left:9px; }
    #page-content-wrap #pledge-payments p { color:green;font-weight:bold;
      margin-bottom:5px; }
    </style>
{% endblock %}
{% block group_name %}Giving{% endblock %}
{% block left_nav %}
    {% include "giving/left_nav.html" %}
{% endblock %}
{% block sidebar %}
    {% include "giving/side_bar.html" %}
{% endblock %}
{% block content_head %}
    <h1 id="page_title">
        Cash or Check Donation
    </h1>
{% endblock %}
{% block content %}
<div class="forms-container{% if campaign.about %}
    large-8 medium-10 small-12"{% endif %}">
    <br />
    <p>
        Fields marked with an asterisk
        <img src="/static/forms/img/icons/red_asterisk.png" alt="asterisk" />
        are required.
    </p>
    {% if or_form.errors or ct_form.errors %}
        <p class="error">
            There were errors with the data submitted, see below.
        </p>
    {% endif %}
    <form method="post" action="." class="form" id="profile">
        {% csrf_token %}
        <h2>Donation Information</h2>
        <fieldset class="blockLabels">
            <ol>
                {% for field in or_form.visible_fields %}
                    {% include 'form_field.inc.html' %}
                {% endfor %}
                {% for field in ct_form %}
                    <li class="ctrlHolder">
                    {% if field.name == "matching_company" or field.name == "opt_in" %}
                    {{field}} {{field.label_tag}}<br />
                    {% else %}{% if field.name = "anonymous" %}{% else %}
                        {% if field.name == "address2" %}
                        <label for="id_ct-address2" style="display:none;">{{ field.name }}</label>
                        {% else %}
                        <h3>{{ field.label_tag }}</h3>
                        {% endif %}
                        {% if field.errors %}
                            <div class="required warning">
                            <span class="error-message">
                                {{ field.errors|join:", "}}
                            </span>
                        {% else %}
                            <div{% if field.field.required %}
                                class="required"{% endif %}>
                        {% endif %}
                        {{field}}
                        {% if field.help_text %}
                            <p class="help">{{field.help_text}}</p>
                        {% endif %}
                        </div>
                        {% if field.name == "postal_code" %}
                        <h3 style="margin-top:9px;">Matching Funds</h3>
                        {% endif %}
                    {% endif %}{% endif %}
                    </li>
                {% endfor %}
            </ol>
        </fieldset>
        {% include "form_submit.inc.html" %}
    </form>
</div>
{% if campaign.about %}
<div class="forms-sidebar large-4 medium-6 small-12">
    {{campaign.about}}
</div>
{% endif %}
{% endblock %}
