{% extends "giving/donation_form.html" %}
{% block content_head %}
    <h1 id="page_title">
        {{campaign.title}}
    </h1>
{% endblock %}
{% block designation %}
<li class="ctrlHolder">
    <h3><label for="id_or-comments">Designation</label></h3>
    <div>
      <select name="or-comments">
        <option>----Select----</option>
        <option value="Computer Science Innovation Fund"{% if or_form.comments.value == 'Computer Science Innovation Fund' %} selected{% endif %}>
        Computer Science Innovation Fund
        </option>
        <option value="Hobbs-Burke Scholarship"{% if or_form.comments.value == 'Hobbs-Burke Scholarship' %} selected{% endif %}>
        Hobbs-Burke Scholarship
        </option>
      </select>
      <p class="help">
        Please choose a designation.
      </p>
    </div>
</li>
{% endblock %}
