<div class="fright">
    <form action="{% url presentation_action %}" method="post" class="form">{% csrf_token %}
    <input type="hidden" name="pid" value="{% if p.id %}{{p.id}}{% else %}{{pid}}{% endif %}" />
    <select name="action">
        <option value="">---Select an action---</option>
        <option value="update">Update presentation</option>
        <option value="email">Email presenter &amp; sponsor</option>
        <option value="reject">Rejection Email</option>
    </select>
    <input type="submit" class="button" value="Go" />
    </form>
</div>
