{% extends "base.html" %}
{% load get_api %}
{% block title %}Presentation Archives {{year}} &mdash; Celebration of Scholars &mdash; Carthage College{% endblock %}
{% block columns %}<link href="http://www.carthage.edu/media/css/douglasfir/3_column.css" rel="stylesheet" type="text/css" />{% endblock %}
{% block left_nav %}
    {% include "scholars/left_nav.html" %}
{% endblock %}
{% block content %}
{% get_api_object as title cms snippet 1014 code %}
{{title}}
<div class="buffer">
    <h1>Celebration of Scholars {{year}}</h1>
    <table width="500">
    <tr>
        <th width="350">Title</th>
        <th width="150">Lead Presenter</th>
    </tr>
    {% for p in prez %}
        <tr class="{% cycle odd,even %}">
            <td><a href="{{p.get_absolute_url}}">{{p.title}}</a></td>
            <td>{{p.leader.first_name}} {{p.leader.last_name}}</td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}
{% block sidebar %}
    {% include "scholars/side_bar.html" %}
{% endblock %}
