
<pre style="font-size:1.5em;">
Title....................... {{data.presentation.title}}
First name.................. {{data.presentation.user.first_name}}
Last name................... {{data.presentation.user.last_name}}
Email....................... {{data.presentation.user.email}}
Work type................... {{data.presentation.work_type}}
Shared...................... {{data.presentation.shared}}
Status...................... {{data.presentation.status}}
</pre>
Funding..................... {{data.presentation.status}}

<p><a href="http://{{server_url}}/forms/scholars/presentation/{{data.presentation.id}}/update/"> Update Link</a></p>

