<div class="fleft">
    <dl style="margin-bottom:9px;">
    <dt>First name</dt>
    <dd><input class="medium" type="text" name="first_name[]" value="{% if forloop.counter != 1 %}{{p.first_name}}{% else %}{% if not manager %}{{user.first_name}}{% else %}{{p.first_name}}{% endif %}{% endif %}" /></dd>
    <dt>Last name</dt>
    <dd><input class="medium" type="text" name="last_name[]" value="{% if forloop.counter != 1 %}{{p.last_name}}{% else %}{% if not manager %}{{user.last_name}}{% else %}{{p.last_name}}{% endif %}{% endif %}" /></dd>
    </dl>
    <input type="hidden" name="leader[]" value="{% if forloop.counter == 1 %}True{% endif %}" />
</div>
<div class="span-5">
    <dl>
        <dt>Photo</dt>
        <dd>
            <input type="file" name="mugshot[]" class="mugshot">
            {% if p.mugshot and pid %}
                <input type="hidden" name="mugshoth[]" class="mugshoth" value="{{pid}}" />
                <p style="margin-top:5px;">
                    <a href="{{media_url}}{{p.mugshot}}">Current photo</a>
                </p>
            {% else %}
                <input type="hidden" name="mugshoth[]" class="mugshoth" value="" />
            {% endif %}
        </dd>
    </dl>
    <p><strong>Type</strong></p>
    <select name="prez_type[]">
    {% for n,v in types %}
        <option value="{{n}}"{% if p.prez_type == n %} selected="selected"{% endif %}>{{v}}</option>
    {% endfor %}
    </select>
</div>
<div class="clear"></div>
<div class="facstaff{% if p.prez_type == 'Faculty' or p.prez_type == 'Staff' %} shown{% endif %}">
    <div class="mtop">
        <p>
            <strong>Department</strong>
        </p>
        <select name="department[]">
            <option value="">----select----</option>
            {% for d in depts %}
                <option value="{{d.name}}"{% if p.department|slugify == d|slugify %} selected="selected"{% endif %}>{{d.name}}</option>
            {% endfor %}
        </select>
    </div>
</div>
<div class="student{% if p.prez_type == 'Student' %} shown{% endif %}">
    <div class="fleft mtop">
        <p><strong>College Year</strong></p>
        <p>
            <select name="college_year[]">
            {% for n,v in cyears %}
                <option value="{{n}}"{% if p.college_year == n %} selected="selected"{% endif %}>{{v}}</option>
            {% endfor %}
            </select>
        </p>
        <p><strong>Major</strong></p>
        <p><input type="text" value="{{p.major}}" name="major[]" class="medium" maxlength="128" /></p>
        <p><strong>Hometown</strong></p>
        <p><input type="text" value="{{p.hometown}}" name="hometown[]" class="medium" maxlength="128" /></p>
    </div>
    <div class="mtop span-5">
        <p><strong>Primary Sponsor</strong></p>
        <select name="sponsor[]">
            <option value="">---select---</option>
            {% for f in faculty %}
            <option value="{{f.email}}"{% if p.sponsor == f.email %} selected="selected"{% endif %}>{{f.last_name}}, {{f.first_name}}</option>
            {% endfor %}
        </select>
        <p><strong>Other sponsor(s)</strong></p>
        <p><input type="text" value="{{p.sponsor_other}}" name="sponsor_other[]" class="medium" maxlength="128" /></p>
    </div>
</div>
<div class="clear"></div>
